---
tags:
  - energy
  - geothermal
  - solar
  - wind
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-18 15:41:42 -0700
categories: []
Solar:
  hub:
    name: Utah UREZ Phase 1 Solar Zones
    item_id: d1bf59d975014f63ab4fd469324d5475
  updates:
    - Unknown
Geothermal:
  hub:
    name: Utah UREZ Phase 2 Geothermal
    item_id: 302bb67128104bf6a8c38f85fd36bd42
  updates:
    - Unknown
WindEnergy:
  hub:
    name: Utah UREZ Phase 1 Wind Zones
    item_id: 0330e2f84e614783adc560a91926e0a8
  updates:
    - Unknown
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/Renewableenergy.png %}" alt="Renewable Energy" />
  <figcaption class="caption__text">Renewable Energy</figcaption>
</figure>
{% include abstract.html
name="Renewable Energy"
stewards="AGRC & UREZ"
abstract="These datasets contain Utah Renewable Energy Zone (UREZ) locations and areas with renewable energy potential for wind, solar and geothermal resources. View the <a href='https://geology.utah.gov/docs/emp/UREZphase2.pdf'>UREZ II final report</a>." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Geothermal">Geothermal</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/GeothermalSM.png %}" alt="Geothermal" />
    <p>This dataset depicts renewable geothermal resources identified by the Utah Renewable Energy Zone (UREZ) task force. There are no constraints or warranties with regard to the use of this dataset.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://geology.utah.gov/resources/energy/geothermal/">USGS Geothermal Information</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-urez-phase-1-geothermal-zones">UREZ Phase 1 Geothermal Zones</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Geothermal"
  info=page.Geothermal %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Solar">Solar</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/SolarSM.png %}" alt="Solar" />
    <p>This dataset depicts renewable solar resources identified by the Utah Renewable Energy Zone (UREZ) task force.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-urez-phase-1-transmission">UREZ Phase1 Transmission Lines</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-urez-phase-2-conceptual-transmission">UREZ Phaze2 Conceptual Transmission Lines</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-urez-phase-2-zone-boundaries">UREZ Phaze2 Zone Boundaries</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Solar"
  info=page.Solar %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="WindEnergy">Wind Energy</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/WindSM.png %}" alt="Wind" />
    <p>This dataset depicts renewable wind resources identified by the Utah Renewable Energy Zone (UREZ) task force and contains the site name, wind potential, location comments and more.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-urez-phase-1-transmission">UREZ Phase1 Transmission Lines</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-urez-phase-2-conceptual-transmission">UREZ Phaze2 Conceptual Transmission Lines</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-urez-phase-2-zone-boundaries">UREZ Phaze2 Zone Boundaries</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-urez-phase-1-wind-drainage">UREZ Phase 1 Wind Drainage</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="WindEnergy"
  info=page.WindEnergy %}
</div>
