---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'vars';
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300");

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "menu",
        "header",
        "button",
        "caption",
        "grid",
        "section",
        "images",
        "extras",
        "tables",
        "package",
        "syntax-highlighting",
        "search",
        "utah_compliance",
        "application",
        "flex",
        "mailchimp"
;
