---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'vars';

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "menu",
        "header",
        "syntax-highlighting",
        "button",
        "caption",
        "grid",
        "section",
        "images",
        "extras",
        "icons",
        "tables"
;
