---
author:
  display_name: UGRC Staff
  email: ugrc@utah.gov
tags:
  - data
  - telephone
  - utilities
categories: []
date: 2012-05-22 17:58:01 -0600
Telecom:
  hub:
    name: Utah Telecom Boundaries
    item_id: 3dee591783a14252b8252fe27332eaef
  updates:
    - January 2024
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/RuralTelcom.png %}" alt="TelecomBoundaries"
    loading="lazy" />
  <figcaption class="caption__text">Telecom Boundaries</figcaption>
</figure>
{% include abstract.html
name="Telephone Infrastructure and Rural Telecom Boundaries"
abstract="This dataset represents the service territories of rural telephone providers and local urban exchange carriers in Utah.
Telecom boundaries were provided by the Utah Rural Telecom Association URTA and the Federal Communication Commission FCC. These areas are regulated by
the Public Service Commission." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Telcom">Utah Telecom Boundaries</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>The <code>PROVIDER</code> field contains the provider name.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://urta.org/">Utah Rural Telecom Commission URTA</a>
      <li><a href="https://www.fcc.gov/reports-research/maps/study-area-boundaries/">Federal Communication Commission FCC</a>
      <li><a href="https://psc.utah.gov/">Public Service Commission</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="TelecomBoundaries"
  info=page.TelecomBoundaries %}
</div>
