---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import Section from '@components/page/Section.astro';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'Coordinate system and accuracy',
  pillar: Pillar.DOCUMENTATION,
  section: stripeSections([
    { title: `Discover's coordinate system` },
    { title: 'Aerial imagery horizontal position accuracy' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <Section {...page.section[0]}>
    <p>
      The Discover services' native coordinate system is Web Mercator with a WGS 1984 datum (EPSG 3857). Many users work
      in coordinate systems with a different datum (for example, EPSG 3566: Utah Central with NAD 1983). Users who need
      the highest locational precision must use the appropriate <a href="/blog/2021-06-23-choosing-right-transformation"
        >geographic transformation</a
      > to remedy the roughly one meter difference between the WGS84 and NAD83 datums' “realization points.”
    </p>
    <p>
      UGRC uses the <code>NAD_1983_To_WGS_1984_5</code> transformation when creating base map tiles and web applications,
      but <strong>there may be more accurate transformations based on the data and area you are working with</strong>.
      The default (no transformation specified) will likely introduce several feet of horizontal positional error. More
      information about these transformations can be found on ESRI's <ExternalLink
        href="https://support.esri.com/en-us/knowledge-base/determine-which-nad-1983-to-wgs-1984-transformation-to--000005929"
        >NAD 1983 To WGS 1984 How-To</ExternalLink
      >.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <div class="space-y-1">
      <h3>Google</h3>
      <p class="pl-4">
        Google's stated horizontal accuracy is expected to achieve or exceed one meter (CE90) in most areas without
        significant vertical relief. You can generally expect higher precision in urban areas where existing
        supplemental ground control was more abundant.
      </p>
      <h3>Hexagon</h3>
      <p class="pl-4">The Hexagon imagery has a stated horizontal accuracy of 1.07meters (CE90).</p>
      <h3>NAIP</h3>
      <p class="pl-4">
        The pre-2018 NAIP layers have a stated horizontal positional accuracy of 5 meters, while the 2018 and later NAIP
        products have a horizontal positional accuracy of 4 meters.
      </p>
    </div>
  </Section>
</Layout>
