---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah Airports',
  pageDescription: `Airport locations across the state.`,
  stewards: ['UGRC'],
  type: ProductType.POINT,
  category: SgidCategory.TRANSPORTATION,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`April 2014`],
  hub: {
    ...dataPages['Utah Airports'],
  },
};
---

<Layout {...page} pageTitle="Utah Airport Locations" subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>Airport and heliport locations across the state.</p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      Point information about airports and heliports across the state, including some specific facility information from
      the FAA. You can filter out heliports using the <code>lan_fa_ty</code> field.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="FAA" href="https://www.faa.gov/"
        >Federal Aviation Administration homepage.</CardWithPopularLink
      >
      <CardWithPopularLink title="Visit Utah" href="https://www.visitutah.com/plan-your-trip/getting-to-utah/Airports"
        >Salt Lake City International and Utah airports information.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Airport Runways" href="/products/sgid/transportation/airport-runways" style="secondary"
        >Line work of runways and taxiways.</CardWithSmallLink
      >
      <CardWithSmallLink title="Roads" href="/products/sgid/transportation/road-centerlines" style="secondary"
        >Authoritative statewide collection of road centerlines.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
