---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import Contacts from '@components/page/Contacts.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import BulletedList from '@components/page/BulletedList.astro';
import DefinitionListItem from '@components/page/DefinitionListItem.astro';
import { dataPages } from '@data/downloadMetadata';

import { Image } from 'astro:assets';

import rampNumberingPhoto from '@images/sgid/udot_ramp_numbering.png';

export const metadata: IMetadata = {
  pageTitle: 'Utah UDOT Routes ALRS',
  pageDescription: `Primary routes from UDOT's Roads and Highways advanced linear referencing system (ALRS).`,
  stewards: ['Utah Department of Transportation (UDOT)'],
  type: ProductType.POLYLINE,
  category: SgidCategory.TRANSPORTATION,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`Weekly`],
  hub: {
    ...dataPages[metadata.pageTitle],
  },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      The UDOT Routes ALRS layer is a polylineM dataset wherein each state and federal route is a single feature whose
      vertices include a milepoint measure coordinate.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      Major routes (shown in the ROUTE_ID field) are named using UDOT’s naming convention (ex. 0089PM is US-89, a
      mainline route in the positive direction). Ramps and collectors are also included and have 11 character
      identifiers (ex. 0015NR31703 is at exit 317 on I-15).
    </p>
    <Image
      src={rampNumberingPhoto}
      alt="UDOT ramp numbering"
      class="w-full max-w-[400px] self-center rounded-lg border"
    />
    <h3>Fields worth noting</h3>
    <dl>
      <DefinitionListItem term="ROUTE_ID">
        <BulletedList>
          <li>P represents Positive direction (increasing milepoint values)</li>
          <li>N represents Negative direction (for divided routes only)</li>
          <li>M represents Mainline</li>
          <li>R represents Ramp</li>
          <li>C represents Collector</li>
          <li>X represents Other</li>
        </BulletedList>
      </DefinitionListItem>
      <DefinitionListItem term="CARTO_CODE">
        <BulletedList>
          <li>1 - Interstate highways</li>
          <li>2 - US highways</li>
          <li>3 - State highways</li>
          <li>5 - Miscellaneous routes associated with interchanges</li>
          <li>6 - Ramps, Interstates</li>
          <li>7 - Ramps, US Highways</li>
          <li>8 - Ramps, State highways</li>
          <li>9 - Local routes, federal aid</li>
          <li>I - Institutional roads designated as state highways</li>
        </BulletedList>
      </DefinitionListItem>
    </dl>
    <p>
      Please reach out to <Contacts contactKey="udot" subject="gis.utah.gov mile reference post layer inquiry" inline />
      with questions about this data layer.
    </p>
  </Fragment>

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink
        title="LRS changes"
        href="https://drive.google.com/file/d/14QFEDCvicSNsO13fBolRjpuYgs9RGZv_/view"
        >Read more about the changes coming to the LRS</CardWithPopularLink
      >
      <CardWithPopularLink
        title="Metadata for LRS"
        href="https://drive.google.com/file/d/11rV2361WtRyN2LSGcSyGpMKPysFDXBgD/view"
        >Read more about the LRS field values</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="UDOT's UPlan" href="https://uplan.maps.arcgis.com/home/index.html"
        >UDOT's home for GIS data and applications.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="UDOT's speed limits map"
        href="https://uplan.maps.arcgis.com/home/webmap/viewer.html?webmap=815ead7b87bb4d09872707495205445c"
      >
        This map depicts the Utah State Routes speed limits as polylines.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
