---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah Railroad Mileposts',
  pageDescription: `A linear referencing system for the railroad lines in the state of Utah.`,
  stewards: ['UGRC'],
  type: ProductType.POINT,
  category: SgidCategory.TRANSPORTATION,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`October 2017`],
  hub: {
    ...dataPages[metadata.pageTitle],
  },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>A linear referencing system for the railroad lines in the state of Utah.</p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      Railroad mileposts are used to reference locations along railroads by the closest quarter milepost number and
      railroad division name. The points are intended to improve dispatch of emergency services along mainline
      railroads.
    </p>
    <p>
      The statewide roads dataset is maintained by UGRC and created from distances along Utah Railroads in combination
      with railroad mileposts provided by the Federal Railway Administration.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Utah Railroads" href="/products/sgid/transportation/railroads"
        >Railroad lines across the state.</CardWithPopularLink
      >
      <CardWithPopularLink title="Federal Railroad Administration" href="https://railroads.dot.gov/"
        >The main US DOT organization for rail transportation.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Roads" href="/products/sgid/transportation/road-centerlines"
        >Authoritative statewide collection of road centerlines.</CardWithSmallLink
      >
      <CardWithSmallLink title="Highway Mileposts" href="/products/sgid/transportation/mile-reference-posts"
        >Mileposts along Utah's highways.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
