---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah UTA Commuter Rail Routes',
  pageDescription: `Utah Transit Authority (UTA) Commuter Rail (FrontRunner) Route.`,
  stewards: ['Utah Transit Authority (UTA)', 'UGRC'],
  type: ProductType.POLYLINE,
  category: SgidCategory.TRANSPORTATION,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`May 2019`, `December 2018`, `May 2013`],
  hub: {
    ...dataPages[metadata.pageTitle],
  },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>Centerlines of Utah Transit Authority (UTA) commuter rail (FrontRunner) routes.</p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <UpdateHistory slot="update-history" updates={page.updateHistory} />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="UTA FrontRunner" href="https://www.rideuta.com/Services/FrontRunner"
        >All the information you need to travel with FrontRunner.</CardWithPopularLink
      >
      <CardWithPopularLink title="UDOT public transit" href="https://www.udot.utah.gov/connect/public/public-transit/"
        >Links to help travelers find public transit details from each agency, including fares, routes and schedules.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Frontrunner Stops" href="/products/sgid/transportation/uta-commuter-rail-stations"
        >UTA commuter rail stations.</CardWithSmallLink
      >
      <CardWithSmallLink title="UTA Routes" href="/products/sgid/transportation/uta-routes"
        >All bus, TRAX, and Frontrunner routes.</CardWithSmallLink
      >
      <CardWithSmallLink title="UTA Stops" href="/products/sgid/transportation/uta-stops"
        >All bus, TRAX, and Frontrunner stops.</CardWithSmallLink
      >
      <CardWithSmallLink title="TRAX Routes" href="/products/sgid/transportation/uta-light-rail-routes"
        >UTA light rail routes.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
