---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah UTA Light Rail Stations',
  pageDescription: `Point locations of Utah Transit Authority (UTA) light rail (TRAX) stations.`,
  stewards: ['Utah Transit Authority (UTA)', 'UGRC'],
  type: ProductType.POINT,
  category: SgidCategory.TRANSPORTATION,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`July 2022`, `December 2013`, `September 2013`],

  hub: {
    ...dataPages[metadata.pageTitle],
  },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>Point locations of Utah Transit Authority (UTA) light rail (TRAX) Red, Green, Blue, and S-line stations.</p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="UTA" href="https://www.rideuta.com/Services/TRAX"
        >Utah Transit Authority light rail (TRAX) schedules and ticketing information.</CardWithPopularLink
      >
      <CardWithPopularLink title="UDOT" href="https://www.udot.utah.gov/connect/public/public-transit/"
        >Utah Department of Transportation public transit links and other information.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="UTA Routes" href="/products/sgid/transportation/uta-routes" style="secondary"
        >All bus, TRAX, and Frontrunner routes and ridership values.</CardWithSmallLink
      >
      <CardWithSmallLink title="UTA Stops" href="/products/sgid/transportation/uta-stops" style="secondary"
        >All bus, TRAX, and Frontrunner stops and ridership values.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="Frontrunner Routes"
        href="/products/sgid/transportation/uta-commuter-rail-routes"
        style="secondary">UTA commuter rail routes.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="Frontrunner Stops"
        href="/products/sgid/transportation/uta-commuter-rail-stops"
        style="secondary">UTA commuter rail stops.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
