---
tags:
  - energy
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-18 15:43:48 -0700
title: Energy Generation
categories: []
PowerPlants:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mb3RuWnF3T2VZc1E
      label: Power Plants
  updates:
    - July 2008
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{{ "/images/PowerPlants.png" | prepend: site.baseurl }}" alt="Power Plants" />
  <figcaption class="caption__text">Power Plants (CO2)</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mb3RuWnF3T2VZc1E"
name="Power Plants (C02)"
abstract="This dataset contains Power Plant locations from the CO2 project for the State of Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="PowerPlants">
      <a href="#PowerPlants" class="anchor--link">Power Plants (C02)</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>This dataset contains the ORIS Code, name, type, CO2 Annual Tons and fuel code for the plants. There are no constraints or warranties with regard to the use of this dataset.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.ENERGY.PowerPlants_CO2.xml">FGDC Metadata</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="PowerPlants"
  info=page.PowerPlants %}
</div>
