---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import CardForStatute from '@components/page/CardForStatute.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import Section from '@components/page/Section.astro';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'UGRC in law',
  pillar: Pillar.ABOUT,
  section: stripeSections([
    {
      title: 'Statutes and Administrative Rules',
      subTitle: 'State of Utah statute and administrative rules pertaining to Geographic Information Systems & Mapping',
    },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <Section {...page.section[0]}>
    <GridForPopularResources>
      <CardForStatute
        title="UGRC: Utah Geospatial Resource Center"
        href="https://le.utah.gov/xcode/Title63A/Chapter16/63A-16-S505.html"
        code="UCA 63A-16-505"
      >
        <p>
          Enabling code for UGRC. Includes position within DTS, responsibilities for SGID; provision of services to
          state, local, federal, &amp; private orgs; assistance with boundary data; surveyor position; cadastral &amp;
          parcel database.
        </p>
      </CardForStatute>
      <CardForStatute
        title="SGID: State Geographic Information Database"
        href="https://le.utah.gov/xcode/Title63A/Chapter16/63A-16-S506.html"
        code="UCA 63A-16-506"
      >
        <p>
          UGRC manages SGID GIS data, standards, &amp; clearinghouse. State agencies directed to provide all geospatial
          data classified as public to be included in the SGID.
        </p>
      </CardForStatute>
      <CardForStatute
        title="TURN GPS: The Utah Reference Network"
        href="https://le.utah.gov/xcode/Title63A/Chapter16/63A-16-S508.html"
        code="UCA 63A-16-508"
      >
        <p>High precision statewide GPS base station reference network.</p>
      </CardForStatute>
      <CardForStatute
        title="Survey Monument Replacement and Restoration Committee"
        href="https://le.utah.gov/xcode/Title63A/Chapter16/63A-16-S509.html"
        code="UCA 63A-16-509"
      >
        <p>
          Creates the Monument Replacement and Restoration Committee and provides for the committee's membership, terms,
          and responsibility for administration and reporting for a grant program to counties.
        </p>
      </CardForStatute>
      <CardForStatute
        title="Utah Coordinate System And Datum Standards"
        href="https://le.utah.gov/xcode/Title57/Chapter10/57-10.html"
        code="UCA 57-10"
      >
        <p>Establishes state plane coordinate systems and use of the 1983 datum after Jan 1, 2002.</p>
      </CardForStatute>
      <CardForStatute
        title="Funding For UGRC E911 Digital Mapping Standards"
        href="https://le.utah.gov/xcode/Title63H/Chapter7A/63H-7a-S304.html"
        code="63H-7-S306"
      >
        <p>
          An amount equal to one cent per month levy on telecommunications service under Section <a
            href="https://le.utah.gov/xcode/Title69/Chapter2/69-2-S5.6.html">69-2-5.6</a
          > to enhance and upgrade digital mapping standards for unified statewide 911 emergency service as required by the
          committee.
        </p>
      </CardForStatute>
      <CardForStatute
        title="Boundary Change Notification"
        href="https://le.utah.gov/xcode/Title67/Chapter1A/67-1a-S6.5.html"
        code="UCA 67-1a-6.5"
      >
        <p>
          Boundary change notification requirements (to Lt. Gov, UGRC and other offices) are covered in several statutes
          including: <a href="https://le.utah.gov/xcode/Title67/Chapter1A/67-1a-S6.5.html">67-1a-6.5</a>: Lt. Gov
          certification; <a href="https://le.utah.gov/xcode/Title20A/Chapter14/20A-14-S201.html">20A-14-201</a>: School
          Dists; <a href="https://le.utah.gov/xcode/Title17C/Chapter2/17C-2-S109.html">17C-2-109</a>, <a
            href="https://le.utah.gov/xcode/Title17C/Chapter3/17C-3-S108.html">17C-3-108</a
          >, <a href="https://le.utah.gov/xcode/Title17C/Chapter4/17C-4-S107.html">17-4-107</a>: RDA projects
        </p>
      </CardForStatute>
      <CardForStatute
        title="Municipal Planning, Regional & Capital Facilities Notification"
        href="https://le.utah.gov/xcode/Title10/Chapter9A/10-9a-S203.html"
        code="UCA 10-9a-203"
      >
        <p>
          Several statutes require notification of UGRC prior to beginning or amending general plans or in cases of
          planned regional facility infrastructure. These include: <a
            href="https://le.utah.gov/xcode/Title10/Chapter9A/10-9a-S203.html">10-9a-203</a
          >, <a href="https://le.utah.gov/xcode/Title17/Chapter27a/17-27a-S203.html">17-27a-203</a>, <a
            href="https://le.utah.gov/xcode/Title17B/Chapter1/17B-1-S106.html">17B-1-106</a
          >, <a href="https://le.utah.gov/xcode/Title53G/Chapter3/53G-3-S204.html">53G-3-204</a>, <a
            href="https://le.utah.gov/xcode/Title54/Chapter3/54-3-S28.html">54-3-28</a
          >
        </p>
      </CardForStatute>
      <CardForStatute
        title="Voting Precincts Filed with UGRC"
        href="https://le.utah.gov/xcode/Title20A/Chapter5/20A-5-S303.html"
        code="UCA 20A-5-303"
      >
        <p>
          In HB131 (2002, Rep. Pace) UGRC is directed to work with counties and the Lt. Gov’s office to maintain current
          voter precinct and other boundaries in the SGID.
        </p>
      </CardForStatute>
      <CardForStatute
        title="Broadband Mapping"
        href="https://le.utah.gov/xcode/Title63N/Chapter17/63N-17-S202.html"
        code="UCA 63N-17-202"
      >
        <p>
          UGRC may be called upon to partner with the GOEO's Utah Broadband Center to provide map-related support to
          inventorying and communicating Utah's broadband service landscape.
        </p>
      </CardForStatute>
      <CardForStatute
        title="RS2477 and Cadastral Grants Committee"
        href="https://le.utah.gov/xcode/Title63A/Chapter16/63A-16-S507.html"
        code="UCA 63A-16-507"
      >
        <p>
          This committee was originally set up to administer RS2477 grants but evolved to also administer cadastral
          grants. Through '08, the committee has distributed about $5,000,000 in grants with UGRC doing all contract
          administration, QA, &amp; SGID Integration.
        </p>
      </CardForStatute>
      <CardForStatute
        title="UGRC Role in RS2477 Records"
        href="https://le.utah.gov/xcode/Title72/Chapter5/72-5-S309.html"
        code="UCA 72-5-309"
      >
        <p>In 2005, UGRC was further required to provide access to recorded documents for RS2477.</p>
      </CardForStatute>
      <CardForStatute
        title="UGRC Support for RS2477 Mapping"
        href="https://le.utah.gov/xcode/Title72/Chapter5/72-5-S304.html"
        code="UCA 72-5-304"
      >
        <p>
          In approximately 1997, legislation was passed that required UGRC to complete and maintain a database for
          RS2477.
        </p>
      </CardForStatute>
      <CardForStatute
        title="Utah Government Records Access and Management Act"
        href="https://le.utah.gov/xcode/Title63G/Chapter2/63G-2.html"
        code="UCA 63G-2"
      >
        <p>Utah's open records law and description of protected, private, and controlled records.</p>
      </CardForStatute>
      <CardForStatute
        title="IT Plans Data Creation And Acquisition Included"
        href="https://le.utah.gov/xcode/Title63A/Chapter16/63A-16-S205.html"
        code="UCA 63A-16-205"
      >
        <p>
          HB109 created additional responsibilities for UGRC as HB109 directed that "data" be included in IT planning
          efforts. UGRC now reviews IT Plans and consults with agencies on geospatial technology activities including
          data creation and acquisition.
        </p>
      </CardForStatute>
      <CardForStatute
        title="GIS Advisory Committee Administrative Rule"
        href="https://rules.utah.gov/publicat/code/r895/r895-009.htm"
        code="R895-9"
      >
        <p>
          Summary: The purpose of this rule is to establish an advisory council to coordinate statewide GIS data efforts
          for collection, creation, and access, and to mutual collaboration by state entities.
        </p>
      </CardForStatute>
    </GridForPopularResources>
  </Section>
</Layout>
