---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import Metadata from '@components/data/Metadata.astro';

import CardForParcel from '@components/data/CardForParcel.astro';
import Disclaimer from '@components/data/Disclaimer.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';
import Alert from '@components/page/Alert.astro';
import CardForStatute from '@components/page/CardForStatute.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import Contacts from '@components/page/Contacts.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';
import download from '@downloads/product-sgid/cadastre/ExpandedParcelDataSharingImplementationGuidelinesDRAFT.pdf?url';
import recommendationDocument from '@downloads/product-sgid/cadastre/Working Group Recommendations 5.19.16.docx?url';

export const metadata: IMetadata = {
  pageTitle: 'Utah Parcels',
  pageDescription: `Parcel boundary and Land Information Records (LIR) for counties in Utah.`,
  stewards: ['UGRC', 'Local government'],
  type: ProductType.POLYGON,
  category: SgidCategory.CADASTRE,
  secondaryCategory: SgidCategory.BOUNDARIES,
};

const page: IPageMetadata = {
  ...metadata,
  application: 'https://parcels.utah.gov',
  updateHistory: [
    `November 2024 - Carbon, Duchesne, Sevier, Utah, Washington`,
    `October 2024 - Box Elder, Davis, Grand, Iron, Utah, Washington, Weber`,
    `September 2024 - Davis, Salt Lake, Utah, Washington, Weber`,
    `August 2024 - Davis, Salt Lake, Tooele, Utah, Washington, Weber`,
    `July 2024 - Davis, Kane, Rich, Salt Lake, Utah, Wasatch, Washington, Weber`,
    `June 2024 - Beaver, Davis, Emery, Morgan, Utah, Washington`,
    `May 2024 - Davis, Millard, Salt Lake, Tooele, Utah, Washington, Weber`,
    `April 2024 - Grand, Piute, Salt Lake, Sevier, Utah, Wasatch, Washington`,
    `March 2024 - Garfield, Iron, Utah, Washington, Weber`,
    `February 2024 - Carbon, Davis, Kane, Tooele, Utah, Wasatch, Washington, Weber`,
    `January 2024 - Davis, Grand, Utah, Washington, Weber`,
    `December 2023 - Davis, Morgan, Salt Lake, Utah, Washington, Weber`,
    `November 2023 - Davis, Grand, Kane, Salt Lake, Sevier, Tooele, Utah, Washington, Weber`,
    `October 2023 - Box Elder, Carbon, Davis, Utah, Washington`,
    `September 2023 - Davis, Cache, Iron, Kane, Salt Lake, Utah, Washington, Weber`,
    `August 2023 - Davis, Salt Lake, Tooele, Utah, Washington, Weber`,
    `July 2023 - Box Elder, Davis, Summit, Utah, Washington, Weber`,
    `June 2023 - Beaver, Davis, Emery, Kane, Salt Lake, Utah, Washington, Weber`,
    `May 2023 - Cache, Davis, Juab, Kane, Morgan, Salt Lake, Tooele, Utah, Wasatch, Washington, Weber`,
    `April 2023 - Carbon, Davis, Piute, Salt Lake, Utah, Washington`,
    `March 2023 - Box Elder, Davis, Iron, Kane, Utah, Washington`,
    `February 2023 - Cache, Davis, Tooele, Utah, Washington, Weber`,
    `January 2023 - Carbon, Davis, Kane, Utah, Wasatch, Washington, Weber`,
    `December 2022 - Davis, Grand, Morgan, Salt Lake, Tooele, Utah, Washington, Weber`,
    `November 2022 - Davis, Utah, Washington, Weber`,
    `October 2022 - Carbon, Davis, Garfield, Iron, Salt Lake, Utah, Washington, Weber`,
    `September 2022 - Box Elder, Davis, Kane, Morgan, Salt Lake, Utah, Washington, Weber`,
    `August 2022 - Cache, Davis, Millard, Summit, Tooele, Utah, Washington, Weber`,
    `July 2022 - Box Elder, Carbon, Davis, Iron, Kane, Salt Lake, Utah, Washington, Weber`,
    `June 2022 - Beaver, Davis, Emery, Salt Lake, Tooele, Utah, Wasatch, Washington`,
    `May 2022 - Davis, Morgan, Utah, Washington, Weber`,
    `April 2022 - Davis, Salt Lake, Utah, Wasatch, Washington, Weber`,
    `March 2022 - Box Elder, Davis, Garfield, Iron, Kane, Uintah, Utah, Washington, Weber`,
    `February 2022 - Davis, Grand, Kane, Summit, Utah, Wasatch, Washington, Weber`,
    `January 2022 - Davis, Utah, Washington, Weber`,
  ],
};

const countyMetadata = [
  {
    county: 'Beaver',
    sgid: 'utah-beaver-county-parcels',
    lastUpdate: 'June 2024',
    lastUpdateLir: '2024',
    website: 'https://beaver.utah.gov/',
    app: '',
  },
  {
    county: 'Box Elder',
    sgid: 'utah-box-elder-county-parcels',
    lastUpdate: 'October 2024',
    lastUpdateLir: '2020',
    website: 'https://gis.boxeldercounty.org/',
    app: 'https://gis.boxeldercounty.org/portal/apps/webappviewer/index.html?id=fa8b578f049e469dba77bf46f4cf6561',
  },
  {
    county: 'Cache',
    sgid: 'utah-cache-county-parcels',
    lastUpdate: 'September 2023',
    lastUpdateLir: '2024',
    website: 'https://www.cachecounty.gov/gis/',
    app: 'https://gis.cachecounty.gov/Websites/Parcel%20and%20Zoning%20Viewer/',
  },
  {
    county: 'Carbon',
    sgid: 'utah-carbon-county-parcels',
    lastUpdate: 'November 2024',
    lastUpdateLir: '2024',
    website: 'https://www.carbon.utah.gov/department/gis/',
    app: 'https://maps.carbon.utah.gov/ccgeneral/',
  },
  {
    county: 'Daggett',
    sgid: 'utah-daggett-county-parcels',
    lastUpdate: 'June 2021',
    lastUpdateLir: '2024',
    website: 'https://www.daggettcounty.org/19/GIS-Information',
    app: 'https://daggettutah.maps.arcgis.com/apps/webappviewer/index.html?id=29791ce279974618857a9a1ebf97f6f2',
  },
  {
    county: 'Davis',
    sgid: 'utah-davis-county-parcels',
    lastUpdate: 'October 2024',
    lastUpdateLir: '2024',
    website: 'https://www.daviscountyutah.gov/property-search',
    app: 'https://webportal.daviscountyutah.gov/App/PropertySearch/esri/map',
  },
  {
    county: 'Duchesne',
    sgid: 'utah-duchesne-county-parcels',
    lastUpdate: 'November 2024',
    lastUpdateLir: '2024',
    website: 'https://duchesne.utah.gov/gov/dept/information-systems/gis-maps/',
    app: 'https://portal.duchesnecountygis.org/arcgis/apps/webappviewer/index.html?id=551cc5dc2c73470693d47f77f3030aea',
  },
  {
    county: 'Emery',
    sgid: 'utah-emery-county-parcels',
    lastUpdate: 'June 2024',
    lastUpdateLir: '2024',
    website: 'https://emerycounty.com/home/department-directory/is-gis/',
    app: '',
  },
  {
    county: 'Garfield',
    sgid: 'utah-garfield-county-parcels',
    lastUpdate: 'March 2024',
    lastUpdateLir: '2024',
    website: 'https:///garfield.utah.gov/',
    app: 'https://www.arcgis.com/home/webmap/viewer.html?webmap=d9bf299799844b45adaf2651c2ab3992',
  },
  {
    county: 'Grand',
    sgid: 'utah-grand-county-parcels',
    lastUpdate: 'October 2024',
    lastUpdateLir: '2024',
    website: 'https://www.grandcountyutah.net/1096/GIS-Data',
    app: 'https://grandcountyutah.maps.arcgis.com/apps/webappviewer/index.html?id=87df401f39fb4d45b3f35743ecec5a7c',
  },
  {
    county: 'Iron',
    sgid: 'utah-iron-county-parcels',
    lastUpdate: 'October 2024',
    lastUpdateLir: '2024',
    website: 'https://ironcounty.net/departments/it/gis',
    app: 'https://irongis.maps.arcgis.com/apps/webappviewer/index.html?id=4b8e40e3c17d45d282a2b1515fbdd160',
  },
  {
    county: 'Juab',
    sgid: 'utah-juab-county-parcels',
    lastUpdate: 'May 2023',
    lastUpdateLir: '2024',
    website: 'https://juabcounty.gov/residents/gis/',
    app: '',
  },
  {
    county: 'Kane',
    sgid: 'utah-kane-county-parcels',
    lastUpdate: 'July 2024',
    lastUpdateLir: '2024',
    website: 'https://kane.utah.gov/gov/dept/public-lands/gis/',
    app: 'https:///eagleweb.kane.utah.gov/eaglesoftware/web/login.jsp',
  },
  {
    county: 'Millard',
    sgid: 'utah-millard-county-parcels',
    lastUpdate: 'May 2024',
    lastUpdateLir: '2024',
    website: 'https://millardcounty.org/your-government/county-departments/gis/',
    app: 'https://millardgis.maps.arcgis.com/apps/webappviewer/index.html?id=a6349d390b9041a1aeae35e29a398035',
  },
  {
    county: 'Morgan',
    sgid: 'utah-morgan-county-parcels',
    lastUpdate: 'June 2024',
    lastUpdateLir: '2024',
    website: 'https://www.morgancountyutah.gov/maps',
    app: '',
  },
  {
    county: 'Piute',
    sgid: 'utah-piute-county-parcels',
    lastUpdate: 'April 2024',
    lastUpdateLir: '2024',
    website: '',
    app: 'https://arcg.is/10zeuv0',
  },
  {
    county: 'Rich',
    sgid: 'utah-rich-county-parcels',
    lastUpdate: 'July 2024',
    lastUpdateLir: '2024',
    website: 'https:///www.richcountyut.org/',
    app: '',
  },
  {
    county: 'Salt Lake',
    sgid: 'utah-salt-lake-county-parcels',
    lastUpdate: 'September 2024',
    lastUpdateLir: '2024',
    website: 'https://slco.org/assessor/departments/gis/',
    app: 'https://slco.org/assessor/new/ParcelViewer/index.html',
  },
  {
    county: 'San Juan',
    sgid: 'utah-san-juan-county-parcels',
    lastUpdate: 'May 2014',
    lastUpdateLir: '2024',
    website: 'https://www.sanjuancounty.org/',
    app: '',
  },
  {
    county: 'Sanpete',
    sgid: 'utah-sanpete-county-parcels',
    lastUpdate: 'October 2015',
    lastUpdateLir: '2024',
    website: 'https:///sanpete.com/',
    app: '',
  },
  {
    county: 'Sevier',
    sgid: 'utah-sevier-county-parcels',
    lastUpdate: 'November 2024',
    lastUpdateLir: '2024',
    website: 'https://maps-sevierut.hub.arcgis.com/',
    app: 'https://maps-sevierut.hub.arcgis.com/apps/e7d8ff4fbb4948b1b244f28d52866828',
  },
  {
    county: 'Summit',
    sgid: 'utah-summit-county-parcels',
    lastUpdate: 'July 2023',
    lastUpdateLir: '2022',
    website: 'https://www.summitcounty.org/234/Summit-County-GIS',
    app: 'https://summitcounty.maps.arcgis.com/apps/webappviewer/index.html?id=85c6c55514ae4d4f9218202e364fec73',
  },
  {
    county: 'Tooele',
    sgid: 'utah-tooele-county-parcels',
    lastUpdate: 'August 2024',
    lastUpdateLir: '2024',
    website: 'https://tooeleco.gov/departments/departments/gis_.php',
    app: 'https://tooelecountygis.maps.arcgis.com/apps/webappviewer/index.html?id=c43e0f457ef547358a85c54d327c0342',
  },
  {
    county: 'Uintah',
    sgid: 'utah-uintah-county-parcels',
    lastUpdate: 'March 2022',
    lastUpdateLir: '2024',
    website: 'https://www.uintah.gov/departments/f_-_p_departments/gis/index.php',
    app: 'https://www.uintah.gov/departments/a_-_e_departments/community_development/interactive_map/index.php',
  },
  {
    county: 'Utah',
    sgid: 'utah-utah-county-parcels',
    lastUpdate: 'November 2024',
    lastUpdateLir: '2024',
    website: 'https://utah-county-data-sharing-hub-utahcounty.hub.arcgis.com/',
    app: 'https://maps.utahcounty.gov/ParcelMap/ParcelMap.html',
  },
  {
    county: 'Wasatch',
    sgid: 'utah-wasatch-county-parcels',
    lastUpdate: 'July 2024',
    lastUpdateLir: '2024',
    website: 'https://wasatch.utah.gov/IS',
    app: 'https://wasatch.maps.arcgis.com/apps/webappviewer/index.html?id=02c20118f66f40b98662c4356c741e6e',
  },
  {
    county: 'Washington',
    sgid: 'utah-washington-county-parcels',
    lastUpdate: 'November 2024',
    lastUpdateLir: '2024',
    website: 'https://www.washco.utah.gov/departments/gis/',
    app: 'https://geoprodvm.washco.utah.gov/Html5Viewer/?viewer=WashingtonCounty',
  },
  {
    county: 'Wayne',
    sgid: 'utah-wayne-county-parcels',
    lastUpdate: 'July 2010',
    lastUpdateLir: '2024',
    website: 'https:///www.waynecountyutah.org/',
    app: '',
  },
  {
    county: 'Weber',
    sgid: 'utah-weber-county-parcels',
    lastUpdate: 'October 2024',
    lastUpdateLir: '2023',
    website: 'https://www.webercountyutah.gov/GIS/',
    app: 'https://www3.co.weber.ut.us/psearch/',
  },
];
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <div class="grid lg:grid-cols-2 lg:gap-10">
      <p>
        The SGID contains parcel boundaries for each of the 29 counties in Utah and is updated as new data is provided
        from the data steward in each county. Some counties are more complete than others. The SGID also contains parcel
        boundaries with additional Land Information Records (LIR) with county tax roll attributes for most counties.
      </p>
      <div class="justify-center self-center">
        <Alert title="Tip">
          While addresses are provided with the parcel boundaries the authoritative dataset for addresses from UGRC is
          the <ExternalLink href="/products/sgid/location/address-points/">address points</ExternalLink>.
        </Alert>
      </div>
    </div>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <QuickLinks
      slot="quick-links"
      links={countyMetadata.map((item) => {
        return { ...item, title: item.county };
      })}
    />
    {countyMetadata.map((item) => <CardForParcel {...item} />)}
  </Section>

  <Fragment slot="description">
    <p>
      In 2005, HB113 was passed requiring the UGRC Cadastral Surveyor to work with local government to create a parcel
      database for the State.
    </p>
    <CardForStatute
      href="https://le.utah.gov/xcode/Title63A/Chapter16/63A-16-S505.html"
      code="63A-16-505.(3)(vi)"
      title="Utah Geospatial Resource Center"
    >
      Coordinate with county recorders and surveyors to create a statewide parcel layer in the State Geographic
      Information Database containing parcel boundary, parcel identifier, parcel address, owner type, and county
      recorder contact information
    </CardForStatute>
    <h4>Basic Parcel Attributes</h4>
    <div class="grid lg:grid-cols-2 lg:gap-10">
      <p>
        Parcel polygons contain attributes unique to each parcel such as a unique parcel number (PARCEL_ID), address for
        the parcel (PARCEL_ADD, PARCEL_CITY, PARCEL_ZIP), update information (ParcelsCur, ParcelsRec, ParcelsPub,
        ParcelYear, ParcelNotes), a generalized land ownership designation (OWN_TYPE), and the phone number for the
        county recorders office (RECORDER).
      </p>
      <div class="justify-center self-center">
        <Alert title="Info">
          The owner type field OWN_TYPE in the Basic Parcels is a generalized ownership type (Federal, Private, State,
          Tribal) and is populated with the value of the OWNER field where the parcel's centroid intersects the <a
            href="/products/sgid/cadastre/land-ownership/">Land Ownership</a
          >.
        </Alert>
      </div>
    </div>

    <h4>LIR Parcel Attributes</h4>
    <p>
      In addition to the polygon geometry the attributes <code>COUNTY_NAME</code>, <code>COUNTY_ID</code>, <code
        >ASSESSOR_SRC</code
      >, <code>BOUNDARY_SRC</code>, <code>DISCLAIMER</code>,
      <code>CURRENT_ASOF</code>, <code>PARCEL_ID</code>, <code>SERIAL_NUM</code>, <code>PARCEL_ADD</code>, <code
        >PARCEL_CITY</code
      >, <code>TAXEXEMPT_TYPE</code>, <code>TAX_DISTRICT</code>, <code>TOTAL_MKT_VALUE</code>,
      <code>LAND_MKT_VALUE</code>, <code>PARCEL_ACRES</code>, <code>PROP_CLASS</code>, <code>PRIMARY_RES</code>, <code
        >HOUSE_CNT</code
      >, <code>SUBDIV_NAME</code>, <code>BLDG_SQFT</code>, <code>BLDG_SQFT_INFO</code>,
      <code>FLOORS_CNT</code>, <code>FLOORS_INFO</code>, <code>BUILT_YR</code>, <code>EFFBUILT_YR</code>, <code
        >CONST_MATERIAL</code
      > are maintained in the Land Information Record Parcels dataset when available. Since each county has its own database
      and process for maintaining tax year assessment information, users should expect some variability in each County's
      LIR dataset.
    </p>
    <p>
      The Land Information Records (LIR) work group organized by the Governor's Office of Management and Budget has
      facilitated a voluntary sharing of tax roll parcel data from County Assessors to support public safety, economic
      development, transportation, planning and the provisions of public services. In May of 2016, the Land Information
      Records work group released its
      <a href={recommendationDocument}>Land Use Information Records Recommendations </a> and
      <a href={download}>Expanded Parcel Data Sharing Implementation Guidelines</a>.
    </p>
    <h4>Updates</h4>
    <p>
      We aim to update the basic parcels for Davis, Salt Lake, Utah, Washington, and Weber, also known as the Big 5,
      every month. The rest of the rural counties are on a rotating schedule ranging from quarterly to annually.
    </p>
    <p>LIR parcels are updated annually with county year end tax roll information when provided.</p>
    <Contacts contactKey="parcels" subject="Utah Parcels" />
  </Fragment>

  <Disclaimer slot="disclaimer">
    <p>
      There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute
      content to: State of Utah, SGID.
    </p>
  </Disclaimer>

  <UpdateHistory title="Update history (basic parcels)" slot="update-history" updates={page.updateHistory} />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink
        title="Statewide parcel feature service"
        href="https://opendata.gis.utah.gov/datasets/utah-statewide-parcels/explore"
        >A single feature service of all county parcels.</CardWithPopularLink
      >
      <CardWithPopularLink
        title="Statewide parcel vector tile service"
        href="https://opendata.gis.utah.gov/maps/utah-statewide-parcels-vector-tiles/explore"
        >Vector tile service.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Address points" href="/products/sgid/location/address-points/"
        >Address Points
      </CardWithSmallLink>
      <CardWithSmallLink
        title="LIR parcel archive"
        href="https://drive.google.com/drive/folders/1ne7HkZI1L_NrnbszMraIIUGPV7cDCMtH"
      >
        Parcels with land information record information from previous year.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
