---
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
tags:
  - data
date: 2011-09-19 09:35:26 -0600
title: Conservation Districts and Zones
categories: []
ConservationDistricts:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mMnExMS1UdjNwNDQ&export=download
      label: 'Conservation Districts: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mTlRGOVV3V3BpbzA&export=download
      label: 'Conservation Districts: Shapefile'
  updates:
    - 2000
ConservationZones:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mNzRZV1VlR2ZZSDA&export=download
      label: 'Conservation Districts: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mV3ZTV2RBTk5UUHc&export=download
      label: 'Conservation Districts: Shapefile'
  updates:
    - 2000
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/conservation_soils.jpg %}" alt="conservation_soils" />
  <figcaption class="caption__text">Conservation Districts and Zones</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7maEVPT1p3R1ZwSEE"
name="Conservation Districts and Zones"
stewards="AGRC & USDA-NRCS"
abstract="This dataset contains GIS mapping data pertaining to the soil conservation district and zone boundaries created by the US Department of Agriculture, National Resource Conservation Service." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="ConservationDistricts">Conservation Districts</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/conservation_soil-districts.jpg %}" alt="Conservation Districts" />
    <p>This dataset shows the Conservation District (formerly Soil Conservation District) boundaries in the state of Utah. This dataset was created to update district and zone boundaries to conform to the boundary descriptions as approved by the Utah Soil Conservation Commission.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). The dataset is maintained by the AGRC in cooperation with US Department of Agriculture, National Resource Conservation Service.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="ConservationDistricts"
  info=page.ConservationDistricts %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="ConservationZones">Conservation Zones</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/conservation_soil-zones.jpg %}" alt="Conservation Zones" />
    <p>This dataset shows the Conservation District (formerly Soil Conservation District) zone boundaries in the state of Utah. This dataset was created to update district and zone boundaries to conform to the boundary descriptions as approved by the Utah Soil Conservation Commission.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah. The dataset is maintained by the AGRC in cooperation with US Department of Agriculture, National Resource Conservation Service.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="ConservationZones"
  info=page.ConservationZones %}
</div>
