---
import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import Layout from '@layouts/DataPage.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import DirectDownloads from '@components/data/DirectDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import { getGithubReleases } from '@utils/github';

import { YouTube } from '@astro-community/astro-embed-youtube';
import Alert from '@components/page/Alert.astro';

const dateFormatter = Intl.DateTimeFormat('en-US', { dateStyle: 'full' });

let releaseMetadata = await getGithubReleases('api-client');

export const metadata: IMetadata = {
  title: 'UGRC API Client',
  description: `
    The UGRC API Client is a cross-platform, stand-alone desktop geocoding tool designed
    to carefully guide you step-by-step through your address geocoding workflows.
  `,
  stewards: ['UGRC'],
  type: ProductType.DESKTOP_APPLICATION,
  category: SgidCategory.ADDRESS,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [
    releaseMetadata?.published_at ?? false
      ? dateFormatter.format(new Date(releaseMetadata.published_at ?? ''))
      : `<a href="http://github.com/agrc/api-client/releases">GitHub Release History</a>`,
  ],
  links: [
    {
      title: 'UGRC API Client for Windows',
      url:
        releaseMetadata.assets.find((asset) => asset.name.includes('win32-setup.exe'))?.browser_download_url ??
        'unknown',
    },
    {
      title: 'UGRC API Client for MacOS',
      url: releaseMetadata.assets.find((asset) => asset.name.includes('x64.dmg'))?.browser_download_url ?? 'unknown',
    },
  ],
};
---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category}>
  <Metadata slot="metadata" {...page} />

  <Section title="Get the app" titlePosition="center" slot="downloads">
    <div class="flex justify-between gap-10">
      <DirectDownloads title="Install links" links={page.links!} />
      <Alert title="Tip"
        >This application is evergreen - meaning it auto updates to the newest version. There is no need to download new
        versions.</Alert
      >
    </div>
  </Section>

  <Fragment slot="summary">
    <p>
      The UGRC API Client is a cross-platform, stand-alone desktop geocoding tool designed to carefully guide you
      step-by-step through your geocoding tasks. This app is our most user friendly geocoding client for geocoding <code
        >*.csv</code
      > files. It does not require a license or subscription to use and automatically downloads updates as soon as they are
      available to stay current and add new features.
    </p>
  </Fragment>

  <Fragment slot="description">
    <p>
      The API Client is a great tool for users who are not familiar with the programming languages to interact with the
      API directly and want a user friendly interface to geocode their files.
    </p>

    <h2 id="a-few-highlights-we-are-proud-of">A few highlights we are proud of</h2>
    <ul class="list-disc pl-4">
      <li>No license is needed to use the client! It is download and go.</li>
      <li>The client is cross-platform. It works on MacOS and Windows.</li>
      <li>
        The client is evergreen. The app will automatically download updates as soon as they are available. Every time
        the application restarts, it will be the best, most recent version.
      </li>
      <li>
        You only need to create one API key ever. Did your IP address change? No problem! Your access will not be
        interrupted.
      </li>
      <li>
        API keys are validated before the geocoding task starts. The create a key, try to geocode, fail, read the error
        message, create a new key, succeed loop is broken!
      </li>
    </ul>

    <h2>Getting started</h2>

    <div class="mx-auto w-full max-w-4xl">
      <YouTube
        class="aspect-video max-w-full rounded-lg border-2 border-black shadow-xl"
        id="BSmQ_9E0cVE"
        playlabel="Listen to Jake Adams explain how to use the UGRC API Client."
      />
    </div>

    <p>
      Download the API Client now for the operating system that you are running below! Once you have downloaded the
      application, you will be instructed to create an account on the <ExternalLink
        href="https://developer.mapserv.utah.gov">API self service website]</ExternalLink
      >. Be sure to verify the email address you sign up with! Once you have created an account, you will be able to
      generate an API key that you will use to authenticate with the API Client. You are now ready to geocode your <code
        >*.csv</code
      > files. The API Client will guide you through the process of geocoding your file and will creating a report of the
      results that you can join back to your data.
    </p>
  </Fragment>

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="UGRC API Explorer" href="https://api.mapserv.utah.gov">
        The landing page for the UGRC API. You can explore the API endpoints live in the browser.
      </CardWithPopularLink>
      <CardWithPopularLink title="UGRC Self Service Website" href="https://developer.mapserv.utah.gov">
        The self service website to create keys for calling the API endpoints and view analytics for the keys.
      </CardWithPopularLink>
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Roads" href="/products/sgid/transportation/roads" style="secondary">
        The roads dataset that is used for geocoding
      </CardWithSmallLink>
      <CardWithSmallLink title="Address Points" href="/products/sgid/address/address-points" style="secondary">
        The address point dataset that is used for geocoding
      </CardWithSmallLink>
      <CardWithSmallLink title="UGRC API GitHub" href="https://github.com/agrc/api-client" style="secondary">
        The open source GitHub repository for the API Client. You may submit issues or enhancements on this website.
      </CardWithSmallLink>
      <CardWithSmallLink title="Atlas" href="https://atlas.utah.gov" style="secondary">
        This web app is an example of using the UGRC API in a web application
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
