---
import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import Layout from '@layouts/DataPage.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import Metadata from '@components/data/Metadata.astro';

import ExternalLink from '@components/page/ExternalLink.astro';
import ApiDescription from '@partials/ApiDescription.astro';

export const metadata: IMetadata = {
  title: 'UGRC API',
  description: `
    The UGRC API is a web accessible service with endpoints for the geocoding and reverse geocoding of addresses and mileposts.
  `,
  stewards: ['UGRC'],
  type: ProductType.WEB_SERVICE,
  category: SgidCategory.ADDRESS,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`<a href="http://github.com/agrc/api.mapserv.utah.gov/releases">GitHub Release History</a>`],
};
---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category}>
  <Metadata slot="metadata" {...page} />

  <Section title="Use the service" titlePosition="center" slot="downloads">
    <ul class="md:row-gap-10 list-none md:grid md:grid-cols-2 md:gap-8">
      <li>
        <div class="flex">
          <div class="flex-shrink-0 md:self-center">
            <div
              class="te xt-3xl flex size-12 items-center justify-center rounded-md border border-secondary bg-secondary/75 font-black text-white drop-shadow-lg md:size-20 md:text-7xl dark:border-white/80 dark:bg-white/20"
            >
              1
            </div>
          </div>
          <div class="ml-4">
            <h5 class="text-zinc-600 dark:text-zinc-50">
              Create a complimentary account<p class="text-base font-normal text-zinc-700 dark:text-zinc-200">
                Manage and view analytics for all of your API keys in the <ExternalLink
                  href="https://developer.mapserv.uath.gov">self service website</ExternalLink
                >.
              </p>
            </h5>
          </div>
        </div>
      </li>
      <li class="mt-10 md:mt-0">
        <div class="flex">
          <div class="flex-shrink-0 md:self-center">
            <div
              class="te xt-3xl flex size-12 items-center justify-center rounded-md border border-secondary bg-secondary/75 font-black text-white drop-shadow-lg md:size-20 md:text-7xl dark:border-white/80 dark:bg-white/20"
            >
              2
            </div>
          </div>
          <div class="ml-4">
            <h5 class="text-zinc-600 dark:text-zinc-50">
              Confirm your email<p class="text-base font-normal text-zinc-700 dark:text-zinc-200">
                Confirm ownership and control spam and bots.
              </p>
            </h5>
          </div>
        </div>
      </li>
      <li class="mt-10 md:mt-0">
        <div class="flex">
          <div class="flex-shrink-0 md:self-center">
            <div
              class="te xt-3xl flex size-12 items-center justify-center rounded-md border border-secondary bg-secondary/75 font-black text-white drop-shadow-lg md:size-20 md:text-7xl dark:border-white/80 dark:bg-white/20"
            >
              3
            </div>
          </div>
          <div class="ml-4">
            <h5 class="text-zinc-600 dark:text-zinc-50">
              Generate an API key<p class="text-base font-normal text-zinc-700 dark:text-zinc-200">
                Keep track of usage analytics and authorize requests.
              </p>
            </h5>
          </div>
        </div>
      </li>
      <li class="mt-10 md:mt-0">
        <div class="flex">
          <div class="flex-shrink-0 md:self-center">
            <div
              class="te xt-3xl flex size-12 items-center justify-center rounded-md border border-secondary bg-secondary/75 font-black text-white drop-shadow-lg md:size-20 md:text-7xl dark:border-white/80 dark:bg-white/20"
            >
              4
            </div>
          </div>
          <div class="ml-4">
            <h5 class="text-zinc-600 dark:text-zinc-50">
              Make a request<p class="text-base font-normal text-zinc-700 dark:text-zinc-200">
                Use your favorite programming language or an UGRC tool. Maybe the <a
                  href="/products/sgid/address/api-client">API Client</a
                >?
              </p>
            </h5>
          </div>
        </div>
      </li>
    </ul>
  </Section>

  <Fragment slot="summary">
    <p>
      The UGRC creates, maintains, and stores geospatial data in the State Geographic Information Datasource (SGID), a
      one-stop shop to hundreds of data layers developed, aggregated, or acquired by state government. The UGRC API is a
      free service that allows you to geocode and search SGID data. To use the API, you need to have an account and
      create API keys. These key are used to authenticate requests and to give you usage analytics. Click the link below
      to get started.
    </p>
  </Fragment>

  <Fragment slot="description">
    <ApiDescription />
  </Fragment>

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="UGRC API Explorer" href="https://api.mapserv.utah.gov">
        The landing page for the UGRC API. You can explore the API endpoints live in the browser.
      </CardWithPopularLink>
      <CardWithPopularLink title="UGRC Self Service Website" href="https://developer.mapserv.utah.gov">
        The self service website to create keys for calling the API endpoints and view analytics for the keys.
      </CardWithPopularLink>
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Roads" href="/products/sgid/transportation/roads" style="secondary">
        The roads dataset that is used for geocoding
      </CardWithSmallLink>
      <CardWithSmallLink title="Address Points" href="/products/sgid/address/address-points" style="secondary">
        The address point dataset that is used for geocoding
      </CardWithSmallLink>
      <CardWithSmallLink title="UGRC API GitHub" href="https://github.com/agrc/api.mapserv.utah.gov" style="secondary">
        The open source GitHub repository for the API. You may submit issues or enhancements on this website.
      </CardWithSmallLink>
      <CardWithSmallLink title="UGRC API Client" href="/products/sgid/address/api-client" style="secondary">
        A desktop application to carefully guide you through your geocoding tasks.
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
