---
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - bioscience
  - habitat
  - wildlife
date: 2011-11-18 10:09:30 -0700
title: Habitat Areas
categories: []
GameHabitat:
  downloads:
    - url: http://dwrcdc.nr.utah.gov/ucdc/DownloadGIS/disclaim.htm
      label: Utah Division of Wildlife Resources - data download page
  updates:
    - These datasets have a varied update schedule or are updated as needed.
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/gallery/sgid/habitatbig.png %}" alt="Habitat" />
  <figcaption class="caption__text">Snowshoe Hare Habitat Sample</figcaption>
</figure>
{% include abstract.html
  download="http://dwrcdc.nr.utah.gov/ucdc/DownloadGIS/disclaim.htm"
  type="External Agency Website"
  name="Habitat Areas"
  stewards="DNR, Division of Wildlife Resources"
  abstract="Wildlife habitats created by the Utah Division of Wildlife Resources. Many of these habitats were created or confirmed by field biologists. Most habitat datasets contain a Crucial/Substantial value system." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GameHabitat">Game Habitat</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/gallery/sgid/habitatsmall.png %}" alt="Game Habitat" />
    <p>Habitat areas for the following species in Utah: bandtailed pigeon, bison, black bear, blue grouse, bonetailed chub,
    california big horn sheep, california quail, chuckar, desert bighorn sheep, gambles quail, greater sage grouse, gunnison sage grouse, hungarian partridge, moose, mountain goat, mule deer, pronghorn, razorback sucker, ringnecked pheasant, rocky mountain
    bighorn sheep, rocky mountain elk, ruffed grouse, sharp tailed grouse, snowshoe hare, white tailed ptarmigan, and wild turkey. There are no use limitations, but the Utah Division of Wildlife Resources provides no warranty nor accepts any responsibility
    or liability for any inaccurate or incomplete data associated with this file.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://wildlife.utah.gov/dwr/">Utah Division of Wildlife Resources</a></li>
    </ul>
  </div>
  {% include packagedata.html name="GameHabitat"
     info=page.GameHabitat %}
</div>
