---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForPopularResources from '@components/page/GridForPopularResources.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import policyPhoto from '@images/documentation/policy.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'Policies, procedures, and guidelines',
  pillar: Pillar.DOCUMENTATION,
  section: stripeSections([
    {},
    { title: 'Data license and attribution' },
    { title: 'Database policies' },
    { title: 'Privacy policies' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      src={policyPhoto}
      slot="image"
      loading="eager"
      alt="A person agreeing to a terms of service agreement on a screen"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC documents its policies and procedures in the following documents. These documents act as a guide for UGRC
      staff and partners to ensure that UGRC is operating in a consistent and transparent manner. Please read and
      familiarize yourself with the policies and guidelines that are relevant to your work with UGRC.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <GridForPopularResources>
      <CardWithSmallLink title="UGRC data license and disclaimer" href="/documentation/policy/license">
        UGRC's data license, disclaimer, and attribution information.
      </CardWithSmallLink>
      <CardWithSmallLink title="Data sharing agreement" href="/documentation/policy/data-sharing-agreement">
        The agreement between UGRC and data stewards for data shared through the SGID.
      </CardWithSmallLink>
      <CardWithSmallLink
        title="Licensed high-resolution imagery citation"
        href="/documentation/discover/licensed-imagery#citation-and-logos"
      >
        The citation requirements for high-resolution imagery licensed from Google and Hexagon.
      </CardWithSmallLink>
    </GridForPopularResources>
  </Section>
  <Section {...page.section[2]}>
    <GridForPopularResources>
      <CardWithSmallLink title="SGID policies" href="/documentation/policy/sgid" style="secondary">
        UGRC's policy for creating, editing, maintaining, and removing data in the SGID database.
      </CardWithSmallLink>
      <CardWithSmallLink title="Open SGID terms of use" href="/documentation/policy/open-sgid" style="secondary">
        The guidelines for using the Open SGID database.
      </CardWithSmallLink>
      <CardWithSmallLink title="Basic metadata guidelines" href="/documentation/policy/metadata" style="secondary">
        The metadata guidelines for data in the SGID database.
      </CardWithSmallLink>
    </GridForPopularResources>
  </Section>
  <Section {...page.section[3]}>
    <GridForPopularResources>
      <CardWithSmallLink
        title="UGRC API privacy policy"
        href="https://github.com/agrc/api.mapserv.utah.gov/blob/master/readme.md#privacy-policy"
      >
        UGRC's privacy policy about requests coming to the UGRC API.
      </CardWithSmallLink>
      <CardWithSmallLink title="State of Utah privacy POlicy" href="https://www.utah.gov/support/privacypolicy.html">
        To inform those accessing State Web sites about the collection and use of the personally identifiable
        information of its users.
      </CardWithSmallLink>
      <CardWithSmallLink
        title="UGRC record series"
        href="https://secured.utah.gov/ut-archives/Forms/Page/ut-archives/orp/1"
      >
        UGRC's record series which define data retention and acceptable use.
      </CardWithSmallLink>
    </GridForPopularResources>
  </Section>
</Layout>
