---
status: publish
layout: page
tags:
  - aquifers
  - deq
  - geoscience
  - water
author:
  display_name: AGRC Staff
  email: agrc@utah.gov
published: true
date: 2012-06-18 12:25:39 -0600
title: Aquifers
categories: []
RechargeDischargeAreas:
  downloads:
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mb0xLZHpFNEZqcWs&export=download"
      label: "Recharge Discharge Areas: File Geodatabase"
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mRXg2ODRwazIzQm8&export=download"
      label: "Recharge Discharge Areas: Shapefile"
  updates:
    - May 2016
BasinFillBoundary:
  downloads:
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7majNHMktSMDZjZEE&export=download"
      label: "Basin Fill Boundary: File Geodatabase"
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mbW5qeFVtZUE0YlE&export=download"
      label: "Basin Fill Boundary: Shapefile"
  updates:
    - August 2011
---
<div class="caption">
  <img src="{{ "/images/AquifersLarge.png" | prepend: site.baseurl }}" alt="Aquifers" />
  <p class="caption-text">Aquifers</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mVmZudmFKS0hIUFE"
name="Aquifers"
stewards="AGRC, USGS, and DEQ"
abstract="The Aquifers data package contains the Recharge Discharge Areas and the Basin Fill Boundaries along the Wasatch Front and adjacent areas." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="RechargeDischargeAreas">
      <a href="#RechargeDischargeAreas" class="anchor--link">Recharge Discharge Areas</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/AquifersSmall.png" | prepend: site.baseurl }}" alt="Aquifers" />
    <p>Geoscience.Aquifer_RechargeDischargeAreas contains the recharge and discharge areas of the principal aquifers along the Wasatch Front and adjacent areas.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://ut.water.usgs.gov/">USGS - Utah Water Science Center</a></li>
      <li><a href="http://www.waterquality.utah.gov/">Utah DEQ - Division of Water Quality</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.aquifers %}</p>
  </div>
  {% include packagedata.html name="RechargeDischargeAreas"
  info=page.RechargeDischargeAreas %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="BasinFillBoundary">
      <a href="#BasinFillBoundary" class="anchor--link">Basin Fill Boundary</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/AquiferBasinFill.png" | prepend: site.baseurl }}" alt="AquiferBasinFill" />
    <p>Geoscience.Aquifer_BasinFillBoundary contains the approximate boundaries of basin fill in ground-water recharge and discharge areas of the principal aquifers along the Wasatch Front and adjacent areas.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://ut.water.usgs.gov/">USGS - Utah Water Science Center</a></li>
      <li><a href="http://www.waterquality.utah.gov/">Utah DEQ - Division of Water Quality</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.aquifers %}</p>
  </div>
  {% include packagedata.html name="BasinFillBoundary"
  info=page.BasinFillBoundary %}
</div>
