---
tags:
  - aquifers
  - deq
  - geoscience
  - water
author:
  display_name: AGRC Staff
  email: agrc@utah.gov
date: 2012-06-18 12:25:39 -0600
categories: []
RechargeDischargeAreas:
  hub:
    name: Utah Aquifer Recharge Discharge Areas
    item_id: 6c3c9b1d4a0a45f0ae851e92b01940c3
  updates:
    - May 2016
BasinFillBoundary:
  hub:
    name: Utah Aquifer Basin Fill Boundary
    item_id: ad928a732ddb4a8db1579a0a8bb8abfe
  updates:
    - August 2011
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/AquifersLarge.png %}" alt="Aquifers" />
  <figcaption class="caption__text">Aquifers</figcaption>
</figure>
{% include abstract.html
name="Aquifers"
stewards="AGRC, USGS, and DEQ"
abstract="The Aquifers data contains the Recharge Discharge Areas and the Basin Fill Boundaries along the Wasatch Front and adjacent areas." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="RechargeDischargeAreas">Recharge Discharge Areas</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/AquifersSmall.png %}" alt="Aquifers" />
    <p>Aquifer Recharge Discharge Areas contains the recharge and discharge areas of the principal aquifers along the Wasatch Front and adjacent areas.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://ut.water.usgs.gov/">USGS - Utah Water Science Center</a></li>
      <li><a href="https://deq.utah.gov/division-water-quality/">Utah DEQ - Division of Water Quality</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.aquifers %}</p>
  </div>
  {% include packagedata.html name="RechargeDischargeAreas"
  info=page.RechargeDischargeAreas %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="BasinFillBoundary">Basin Fill Boundary</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/AquiferBasinFill.png %}" alt="AquiferBasinFill" />
    <p>Aquifer Basin Fill Boundary contains the approximate boundaries of basin fill in ground-water recharge and discharge areas of the principal aquifers along the Wasatch Front and adjacent areas.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://ut.water.usgs.gov/">USGS - Utah Water Science Center</a></li>
      <li><a href="https://deq.utah.gov/division-water-quality/">Utah DEQ - Division of Water Quality</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.aquifers %}</p>
  </div>
  {% include packagedata.html name="BasinFillBoundary"
  info=page.BasinFillBoundary %}
</div>
