---
import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import Section from '@components/page/Section.astro';
import Layout from '@layouts/FullWidth.astro';
import { Pillar, type IStandardPageMetadata } from '@models/types';
import { stripeSections } from '@utils/page';
import { getCollection } from 'astro:content';

const allEpisodes = await getCollection('podcast');
const audioEpisodes = allEpisodes
  .filter((episode) => episode.data.published !== false)
  .sort((a, b) => b.data.episode - a.data.episode);

const page: IStandardPageMetadata = {
  pageTitle: 'UGRC Geospatial Podcast',
  pageDescription: 'The UGRC podcast.',
  pillar: Pillar.COLLABORATION,
  section: stripeSections([
    {
      title: `The UGRC Geospatial Podcast`,
    },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <Section {...page.section[0]}>
    <ul class="space-y-4">
      {
        audioEpisodes.map((ep) => (
          <li class="grid grid-cols-1 items-start gap-4 border-b border-gray-300 pb-4 md:grid-cols-2 dark:border-black">
            <div>
              <div>
                <p>{ep.data.title}.</p>
                <div class="mt-3 flex flex-col justify-between gap-0 px-4 sm:flex-row sm:gap-4">
                  <p class="font-medium">
                    <span>Recorded </span>
                    <span>
                      {ep.data.date.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' })}
                    </span>
                  </p>
                  <p>
                    <a
                      href={`/collaboration/knowledge/podcast/${ep.id.replace('_episode-', 'episode-').replace('.md', '')}`}
                      class="text-primary-700 dark:text-primary-500 hover:underline"
                    >
                      Episode transcript
                    </a>
                  </p>
                </div>
              </div>
              <audio controls controlslist="nodownload" preload="metadata" class="mt-5 w-full">
                <source src={ep.data.audio} type="audio/mpeg" />
                Your browser does not support the audio element.
              </audio>
              <div class="mt-4 flex items-center gap-1" />
            </div>
            <div>
              <div class="text-sm text-gray-500 dark:text-gray-300">{ep.data.description}</div>
            </div>
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>
