---
title: Water Rights Regions
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - water
  - water rights
categories: []
date: 2011-11-22 18:22:38 -0700
WaterRights:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mOEdNZ0NONDNSSFU
      label: Water Right Regions
  updates:
    - Unknown
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{{ "/images/WaterRights.png" | prepend: site.baseurl }}" alt="Water Rights Regions" />
  <figcaption class="caption__text">Water Rights Regions</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mOEdNZ0NONDNSSFU"
name="Water Rights Regions"
stewards="AGRC and DNR"
abstract="Water.WaterRightsRegions represents the water rights regions in Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="WaterRights">
      <a href="#WaterRights" class="anchor--link">Water Rights</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p><code>BOOK_NAME</code> contains the name of the region</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://waterrights.utah.gov/" title="WaterRights">Utah Division of Water Rights</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="WaterRights"
  info=page.WaterRights %}
</div>
