---
tags:
  - congress
  - house
  - political districts
  - senate
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-18 10:41:06 -0700
categories: []
House:
  hub:
    name: Utah House Districts 2002
    item_id: ba4f05befe24410a8c76cf2cb0a0df5a
  updates:
    - This dataset was last updated in 2002.
StateSenateDistricts:
  hub:
    name: Utah Senate Districts 2002
    item_id: afff53a1c2fa42ffbc0f1fa3a3a9b2b3
  updates:
    - This dataset was last updated in 2002.
UnitedStatesCongressionalDistricts:
  hub:
    name: Utah US Congress Districts 2002
    item_id: 62580d50881f48489f2813358cad791d
  updates:
    - This dataset was last updated in 2002.
---
<p><b>Note:</b> New political boundaries were used for the first time during the Fall 2012 election. Elected officials representing the <a title="2012 – 2021 House, Senate and Congressional Districts" href="{% link data/political/2012-2021-house-senate-congressional-districts/index.html %}">new 2012 districts</a> took office in January 2013.</p>
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/SenateDistricts2002_Large_Color4.png %}" alt="SenateLargeColor" loading="lazy" />
  <figcaption class="caption__text">2002-2011 House, Senate, and Congressional Political Districts</figcaption>
</figure>
{% include abstract.html
  name="2002 - 2011 House, Senate and Congressional Districts"
  stewards="AGRC and the Lieutenant Governor's Office"
  abstract="These political districts were used for election purposes from January 1, 2002 through December 31, 2011 and for purposes of elected representation and other purposes through Dec 31, 2012. This dataset includes the political districts used for the Utah State Legislature (state senate districts and state house districts); and U.S congressional districts."
%}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="House">State House Districts</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/HouseDistricts2002_Small_Color4.png %}" alt="StateHouse2002" loading="lazy" />
    <p>The Utah House of Representatives is comprised of 75 men and women elected to two-year terms. Utah House Districts 2002 show the house districts that these elected officials represented in 2002. The <code>DIST</code> field contains the House district number.</p>
    <p>The <code>COLOR4</code> field is for use in coloring districts using only 4 colors with no adjacent districts displayed with the same color.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://le.utah.gov/">Utah State Legislature</a></li>
      <li><a href="https://le.utah.gov/house2/index.html">State of Utah House of Representatives</a></li>
    </ul>
  </div>
  {% include packagedata.html
    name="House"
    info=page.House
  %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="StateSenateDistricts">State Senate Districts</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/SenateDistricts2002_Small_Color4.png %}" alt="StateSenate2002" loading="lazy" />
    <p>The Utah State Senate is comprised of 29 men and women elected to four-year terms. Utah Senate Districts 2002 shows the senate districts that these elected officials represented in 2002. The <code>DIST</code> field contains the Senate district number.</p>
    <p>The <code>COLOR4</code> field is for use in coloring districts using only 4 colors with no adjacent districts displayed with the same color.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>Statewide Political District Boundaries are drawn by the Utah Legislature and adopted into state law.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://le.utah.gov/">Utah State Legislature</a></li>
      <li><a href="http://www.utahsenate.org/">Utah State Senate</a></li>
    </ul>
  </div>
  {% include packagedata.html
    name="StateSenateDistricts"
    info=page.StateSenateDistricts
  %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UnitedStatesCongressionalDistricts">United States Congressional Districts</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/USCongressionalDistricts2002_Small.png %}" alt="Congress2002" loading="lazy" />
    <p>U.S. congressional house districts determine the districts that elect a representative to send to the U.S. Congress. Utah currently had three congressional house districts until 2012 when it was increased to four. U.S. Congress Districts 2002 shows the three congressional districts. The <code>DIST</code> field contains the Congressional district number.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>Statewide Political District Boundaries are drawn by the Utah Legislature and adopted into state law.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://www.house.gov/">United States House of Representatives</a></li>
    </ul>
  </div>
  {% include packagedata.html
    name="UnitedStatesCongressionalDistricts"
    info=page.UnitedStatesCongressionalDistricts
  %}
</div>
