---
tags:
  - daq
  - data
  - deq
  - environment
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-12-08 14:24:01 -0700
categories: []
AirEmissions:
  hub:
    name: Utah DAQ Air Emissions Inventory
    item_id: 57a8775a05a04166ba6c808451457583
  updates:
    - 2008
---
<figure class="caption caption--right">
  <img class="caption__image" alt="map" src="{% link images/EnviroAIR.png %}" />
  <figcaption class="caption__text">DAQ Air Emissions Inventory</figcaption>
</figure>
{% include abstract.html name="DAQ Air-Related Contaminant and Cleanup Sites"
  stewards="Utah Department of Environmental Quality"
  webapp="https://enviro.deq.utah.gov/"
  abstract="Utah DAQ Air Emissions Inventory depicts facility locations and annual emissions. Annual emissions (in tons) are included for ammonia, pm10, carbon monoxide, sulfer dioxide, volatile organic compounds, and oxides of nitogen for Utah. To view all DEQ geographic data online, see the <a href='https://enviro.deq.utah.gov/'>DEQ Interactive Map Viewer</a>." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="AirEmissions">Air Emissions Inventory</h3>
  </div>
  <div class="grid__col grid__col-12-of-12 package-content">
    <p>Usage: No usage tips available at this time.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.air_quality %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://enviro.deq.utah.gov/">Utah Environmental Interactive Map</a>
      <li><a href="https://deq.utah.gov/division-air-quality/">Utah Department of Environmental Quality: Division of Air Quality</a>
    </ul>
  </div>
  {% include packagedata.html name="AirEmissions" info=page.AirEmissions %}
</div>
