---
status: publish
layout: page
title: USGS Scanned Topographic Maps
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
tags:
  - 100k
  - 24k
  - 250k
  - 500k
  - drg
  - geotiff
  - quads
  - topo
  - usgs
  - overview
categories: []
published: true
date: 2011-08-15 18:16:39 -0600
24K:
  downloads:
    - url: "ftp://ftp.agrc.utah.gov/DRG/24k/Countywide"
      label: "GeoTIFF county wide mosaics of USGS Scanned Topographic Maps"
    - url: "ftp://ftp.agrc.utah.gov/DRG/24k/Collared"
      label: "GeoTIFFs of USGS Scanned Topographic Maps quads with collars"
    - url: "http://raster.utah.gov/?cat=24K%20GeoPDF"
      label: "GeoPDFs of USGS Topographic Maps by interactive map"
  updates:
    - March 5, 2008
500K:
  downloads:
    - url: "ftp://ftp.agrc.utah.gov/DRG/500k/Collared/state_DRG500K_NAD27.zip"
      label: "Statewide NAD27 JPG"
Vintage:
  downloads:
    - url: "ftp://ftp.agrc.utah.gov/Imagery/DRG_Vintage/"
      label: "Vintage Topographic Maps"
---
{% include abstract.html
  name="USGS Scanned Topographic Maps"
  type="Imagery"
  webapp="http://raster.utah.gov/?catGroup=24K%20GeoPDF,24K%20DRG,100K%20DRG,250K%20DRG&title=USGS%20Topo%20Maps"
  abstract="The SGID contains complete statewide coverage of scanned standard series USGS topographic maps, also known as digital raster graphics (DRGs). AGRC has modified these DRGs so that they are collarless and are georeferenced to the surface of the earth using the UTM Zone 12 North, NAD83 projected coordinate system (except where noted). Every product on this page should be downloadable from <a href='https://raster.utah.gov'>raster.utah.gov</a>." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="24K">
      <a href="#24K" class="anchor--link">1 to 24,000</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" title="1:24K" src="{{ '/images/front-page/90x90_usgs_scanned_maps.png' | prepend: site.baseurl }}" alt="USGS Scanned Topo Map" />
    <p>1:24K Resolution products from the USGS modified by AGRC.</p>
    <p>The Collarless GeoTIFF Scanned USGS Topographic maps have been <a href="{{ '/data/usgs-scanned-topographic-maps/1-to-24000/' | prepend: site.baseurl }}">organized into a table</a> to help you quickly find the quad you are interested in.
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://raster.utah.gov/?catGroup=24K%20GeoPDF,24K%20DRG&title=USGS%2024K%20Topo%20Maps">By Interactive Map</a>
      <li><a href="ftp://ftp.agrc.utah.gov/DRG/24k/Collarless/24KQuadIndex(sm).pdf">PDF Map of Utah 1:24K USGS Scanned Topographic Map with Quad Names</a>
      <li><a href="ftp://ftp.agrc.utah.gov/DRG/24k/Collarless/Find_a_DRG.txt">Alphabetical list of Utah 1:24K USGS Scanned Topographic Map with 'Q Numbers'</a>
    </ul>
  </div>
  {% include packagedata.html name="24K"
  info=page.24K %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="100K">
      <a href="#100K" class="anchor--link">1 to 100,000</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" title="1:100K" src="{{ '/images/front-page/90x90_usgs_scanned_maps.png' | prepend: site.baseurl }}" alt="USGS Scanned Topo Map" />
    <p>1:100K Resolution products from the USGS modified by AGRC.</p>
    <p>The Collarless GeoTIFF Scanned USGS Topographic maps have been <a href="{{ '/data/usgs-scanned-topographic-maps/1-to-100000/' | prepend: site.baseurl }}">organized into a table</a> to help you quickly find the quad you are interested in.
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://raster.utah.gov/?cat=100K%20DRG">By Interactive Map (1:100,000)</a>
    <ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="250K">
      <a href="#250K" class="anchor--link">1 to 250,000</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" title="1:250K" src="{{ '/images/front-page/90x90_usgs_scanned_maps.png' | prepend: site.baseurl }}" alt="USGS Scanned Topo Map" />
    <p>1:250K Resolution products from the USGS modified by AGRC.</p>
    <p>The Collarless GeoTIFF Scanned USGS Topographic maps have been <a href="{{ '/data/usgs-scanned-topographic-maps/1-to-250000' | prepend: site.baseurl }}">organized into a table</a> to help you quickly find the quad you are interested in.
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://raster.utah.gov/?cat=250K%20DRG">By Interactive Map (1:100,000)</a>
    <ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="500K">
      <a href="#500K" class="anchor--link">1 to 500,000</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" title="1:500K" src="{{ '/images/front-page/90x90_usgs_scanned_maps.png' | prepend: site.baseurl }}" alt="USGS Scanned Topo Map" />
    <p>1:500K Resolution products from the USGS modified by AGRC.</p>
  </div>
  {% include packagedata.html name="500K"
  info=page.500K %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Vintage">
      <a href="#Vintage" class="anchor--link">Vintage</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" title="Vintage Topo Example" src="{{ '/images/Vintage_DRG.png' | prepend: site.baseurl }}" alt="Vintage Topo Sample" />
    <p>The Utah Geological Survey created digital 15- and 30-minute vintage U.S. Geological Survey topographic quadrangle maps (1900-1966) by scanning original paper maps at a resolution of 500 dots per inch (dpi). These digital scans were enhanced in Adobe Photoshop as needed. Subsequent 16 point spline georeferencing was done in ArcMap. The resulting TIFF files are served on the AGRC ImageServer with on-the-fly collar clipping, producing a seamless map where adjacent quadrangle maps are available.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://raster.utah.gov/?cat=Vintage%20Topographic%20Map">Vintage Topographic Maps via Interactive Map</a></li>
    </ul>
  </div>
</div>
