---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import Contacts from '@components/page/Contacts.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah DEQ Enforceable Written Assurances',
  description: 'Locations of potential Enforceable Written Assurance sites.',
  stewards: ['DEQ DERR'],
  type: ProductType.POINT,
  category: SgidCategory.ENVIRONMENT,
};

const page: IPageMetadata = {
  ...metadata,
  application: 'https://enviro.deq.utah.gov',
  updateHistory: ['Nightly'],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      Enforceable Written Assurances (EWA) will generally ensure to property owners or prospective property owners that
      there is no unacceptable risk to human health or the environment. EWA locations are based on coordinates derived
      from maps and GPS data. These locations represent sites, not contaminated areas.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <Contacts contactKey="ewa" />
  </Fragment>

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="DERR" href="https://deq.utah.gov/division-environmental-response-remediation/"
        >Division of Environmental Response and Remediation</CardWithPopularLink
      >
      <CardWithPopularLink
        title="UT Hazardous Substances Mitigation Act"
        href="https://rules.utah.gov/publicat/code/r311/r311-600.htm"
        >Enforceable Written Assurances</CardWithPopularLink
      >
      <CardWithPopularLink title="DEQ" href="https://deq.utah.gov"
        >Utah Department of Environmental Quality</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Atlas" href="https://atlas.utah.gov" style="secondary"
        >Web application showing off SGID services & data</CardWithSmallLink
      >
      <CardWithSmallLink title="Environment" href="/products/sgid/environment" style="secondary"
        >SGID Environment category</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
