---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import BulletedList from '@components/page/BulletedList.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import DefinitionListItem from '@components/page/DefinitionListItem.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah Housing Unit Inventory',
  pageDescription: `A best-effort inventory of housing units in Utah's most populous counties using parcel, LIR, and county assessor data.`,
  stewards: ['UGRC', 'WFRC', 'MAG'],
  type: ProductType.POLYGON,
  category: SgidCategory.PLANNING,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [
    `January 2024 - Initial load for Washington County`,
    `May 2022 - Initial load for Salt Lake, Davis, and Weber Counties`,
  ],
  hub: {
    ...dataPages[metadata.pageTitle],
  },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      The Housing Unit Inventory (HUI) is a derivative dataset that, per <ExternalLink
        href="https://le.utah.gov/xcode/Title63A/Chapter16/63A-16-S506.html">UCA 63A-16-S506(4)</ExternalLink
      >, adds additional housing characteristics to the County Assessors' tax parcel data for Utah's most urban
      counties. It is not a substitute for the excellent datasets maintained by the Assessors but instead presents
      additional, standardized information about the type and number of housing units, associated grounds and common
      areas, and related short-term and long-term trends. The HUI is a best-effort product of a resource-limited
      analysis — users are encouraged to do their own quality assessment, share their findings, and cite this metadata
      describing how the HUI was produced.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      WFRC, MAG, and UGRC are creating this dataset from the <a href="/products/sgid/cadastre/parcels"
        >Land Information Record (LIR)</a
      > parcel datasets published by UGRC. The LIR datasets are made possible by the county assessors voluntary sharing their
      annual tax assessment data. The tax roll data are frozen as of midnight Jan 1st for the specified year, finalized in
      late May, and typically loaded into the SGID later that summer.
    </p>
    <p>
      WFRC, the metropolitan planning organization for the urban portions of Salt Lake County, Davis County, and Weber
      county, prepared the initial 2020 Housing Inventory dataset for their counties and defined the inventory process
      laid out below. MAG will be providing data for their counties, and UGRC is working with other counties to create
      inventories as requested.
    </p>
    <BulletedList>
      <li>
        The inventory applies apartment unit counts to multi-family rental properties that do not have
        individually-owned and platted units (traditional apartment buildings, quadplexes, triplexes, mixed use
        buildings etc). These unit counts come from the <a href="/products/sgid/address">address point</a> data layer, with
        some counts being assigned manually using information from recent aerial photography and other sources.
      </li>
      <li>
        For cases where individual condos, townhomes, and single family homes have associated common areas, the
        inventory aggregates and combines the geometries and attributes of the individual units and common areas into a
        single composite parcel feature called an "owned unit grouping". This sums, averages, and counts the appropriate
        attributes of the contributing parcels to better characterize the density of these residential land uses
        (dwelling units per acre or DUA).
      </li>
      <li>
        Every county uses a slightly different set of designations when defining residential parcel types. The inventory
        attempts to standardize all the different classifications into the following categories:
      </li>
      <BulletedList>
        <li class="list-[circle] pl-4">Townhouse</li>
        <li class="list-[circle] pl-4">Condo</li>
        <li class="list-[circle] pl-4">Apartment</li>
        <li class="list-[circle] pl-4">Single family</li>
        <li class="list-[circle] pl-4">
          Single family with Accessory Dwelling Units (ADUs, currently only for Salt Lake County)
        </li>
        <li class="list-[circle] pl-4">Duplex</li>
        <li class="list-[circle] pl-4">Mixed use (commercial and residential)</li>
        <li class="list-[circle] pl-4">Mobile home</li>
        <li class="list-[circle] pl-4">Pud (mixed)</li>
        <li class="list-[circle] pl-4">Group quarters</li>
      </BulletedList>
      <li>The inventory doesn't include the following types of residential properties:</li>
      <BulletedList>
        <li class="list-[circle] pl-4">Nursing, rehabilitation, or assisted living centers</li>
        <li class="list-[circle] pl-4">Extended stay hotels</li>
        <li class="list-[circle] pl-4">Incarceration facilities</li>
        <li class="list-[circle] pl-4">Student housing or dormitories</li>
        <li class="list-[circle] pl-4">ADUs outside Salt Lake County</li>
      </BulletedList>
    </BulletedList>
    <p>The inventory uses the following fields to provide data on each parcel or owned unit grouping:</p>
    <dl>
      <DefinitionListItem term="TYPE">General housing type, single- or multi-family</DefinitionListItem>
      <DefinitionListItem term="SUBTYPE">More detailed housing type classification</DefinitionListItem>
      <DefinitionListItem term="IS_OUG"
        >1 or Yes for features that are owned unit groupings (as opposed to a single-parcel home or apartment)
      </DefinitionListItem>
      <DefinitionListItem term="UNIT_COUNT"
        >The number of dwelling units, based on address point data</DefinitionListItem
      >
      <DefinitionListItem term="DUA">Density in dwelling units per acre</DefinitionListItem>
      <DefinitionListItem term="ACRES">Total acreage</DefinitionListItem>
      <DefinitionListItem term="TOT_BD_FT2">Total building(s) square footage</DefinitionListItem>
      <DefinitionListItem term="TOT_VALUE">Total market value</DefinitionListItem>
      <DefinitionListItem term="APX_BLT_YR">Approximate year built</DefinitionListItem>
      <DefinitionListItem term="BLT_DECADE">The decade the structure(s) were built</DefinitionListItem>
      <DefinitionListItem term="CITY"
        >The features' city based on the SGID's <a href="/products/sgid/boundaries/municipal">municipal boundaries</a> data
      </DefinitionListItem>
      <DefinitionListItem term="COUNTY">The features' county</DefinitionListItem>
      <DefinitionListItem term="SUBCOUNTY"
        >If provided in the analysis, this groups the features into predefined areas for later grouping and analysis
      </DefinitionListItem>
    </dl>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Parcel Data" href="/products/sgid/cadastre/parcels"
        >Statewide parcel info by county.</CardWithPopularLink
      >
      <CardWithPopularLink title="Land Information Record (LIR) Data" href="/products/sgid/cadastre/parcels"
        >Parcel info enhanced with additional data.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink
        title="WFRC's Housing Inventory Explorer"
        href="https://wfrc.org/housing-inventory-explorer/?geom=pt&x=-12455945&y=4979633&zoom=14&op=And"
        style="secondary">WFRC's interactive housing inventory map</CardWithSmallLink
      >
      <CardWithSmallLink
        title="UGRC's Code Repo"
        href="https://github.com/agrc/housing-unit-inventory/tree/dev"
        style="secondary">UGRC's code for creating the Washington County data</CardWithSmallLink
      >
      <CardWithSmallLink
        title="WFRC's Code Repo"
        href="https://github.com/WFRCAnalytics/Housing-Unit-Inventory"
        style="secondary">WFRC's code for the initial process</CardWithSmallLink
      >
      <CardWithSmallLink
        title="MAG Community Profiles"
        href="https://mountainland.org/community-profiles"
        style="secondary">MAG's Community Profiles tool</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
