---
import type { ProductType } from '@models/types';

import RightArrow from '@components/page/RightArrow.astro';

import { convertProductType } from '@utils/data';

interface Props {
  title: string;
  href: string;
  type: ProductType;
  stewards: string[];
}
const { href, title, type, stewards } = Astro.props;
---

<a
  href={href}
  class="custom-style flex rounded-lg border border-zinc-400/60 bg-zinc-50 px-6 py-3 transition-colors duration-200 ease-in-out hover:cursor-pointer hover:bg-zinc-300 dark:border-white/20 dark:bg-zinc-600 dark:hover:bg-zinc-800"
>
  <div class="flex grow flex-col">
    <div class="inline-flex items-center justify-between">
      <h4 class="uppercase text-primary dark:text-accent">{title}</h4>
      <p class="text-sm font-semibold uppercase text-primary dark:text-zinc-50">{convertProductType(type)}</p>
    </div>
    <div class="primary-background px-2 py-2 dark:text-white">
      <slot />
    </div>
    <div>
      <span class="text-sm font-semibold text-primary dark:text-white"
        >{stewards?.length === 1 ? 'Steward' : 'Stewards'}:{' '}</span
      ><span>{stewards?.join(' & ')}</span>
    </div>
  </div>
  <div class="-mr-4 self-center justify-self-end text-2xl text-primary dark:text-accent"><RightArrow /></div>
</a>
