---
import type { IDownloadLink } from '@models/products/sgid/types';

import ExternalLink from '@components/page/ExternalLink.astro';

interface Props {
  links: IDownloadLink[];
  title?: string;
}

const { links, title } = Astro.props;
---

<div class="flex flex-col gap-2">
  <h2>{title || 'Download'}</h2>
  <ul>
    {
      links.map(({ title, url }) => (
        <li>
          <ExternalLink href={url}>{title}</ExternalLink>
        </li>
      ))
    }
  </ul>
</div>
