---
import { ProductType, type SgidCategory } from '@models/types';
import { convertProductType } from '@utils/data';
import capitalize from 'lodash.capitalize';
interface Props {
  category: SgidCategory;
  type: ProductType;
  stewards: string[];
}

const { category, type, stewards } = Astro.props;
---

<div class="flex flex-col gap-x-2 border-t border-primary/30 pt-6 text-sm font-medium md:flex-row dark:border-white/30">
  <span class="whitespace-nowrap">
    <span class="font-semibold text-primary dark:text-white">Category:</span>{' '}<span
      >{capitalize(category.replaceAll('-', ' '))}</span
    >
  </span>
  <span class="whitespace-nowrap">
    <span class="font-semibold text-primary dark:text-white">Data Type:</span>{' '}<span
      >{convertProductType(type)}</span
    >
  </span>
  <span>
    <span class="font-semibold text-primary dark:text-white"
      >{stewards?.length === 1 ? 'Steward' : 'Stewards'}:{' '}</span
    ><span>{stewards?.join(' & ')}</span>
  </span>
</div>
