---
author:
  display_name: M Heagin
  email: mheagin@utah.gov
tags:
  - boundaries
  - cities
  - counties
  - data
date: 2011-09-07 23:56:02 -0600
categories: []
MetroTownships:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mTXh2ejVpZGY1VGc&export=download
      label: 'Metro Townships: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mZ2ltajhJTGNtbE0&export=download
      label: 'Metro Townships: Shapefile'
  updates:
    - Update to Magna Metro Township October 2018
    - Updates to this dataset are published as needed.
StateBoundary:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mdDJVbzN3cWdBZzA&export=download
      label: 'Utah State Boundary: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mRkJJaDBSZm9YSXc&export=download
      label: 'Utah State Boundary: Shapefile'
  updates:
    - July 2014 Adjusted to newest CadNSDI v2 PLSS-GCDB; biggest shift along Wyoming
      &amp; Summit County line (47 ft)
    - November 2011
    - March 2011
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/MunicipalBoundaries_Large.png %}" alt="Municipal Boundaries" />
  <figcaption class="caption__text">Municipal boundaries sample</figcaption>
</figure>
{% include abstract.html
name="City, County, and State Boundaries"
stewards="AGRC, State and Local Government Partners"
webapp="https://www.arcgis.com/home/webmap/viewer.html?webmap=e2e0430f97114c3aa958262fa5e3e6ed"
abstract="This dataset contains mapping data representing the state, county, municipal, and metro township boundaries for Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="MunicipalBoundaries">
      <a href="#MunicipalBoundaries" class="anchor--link">Municipal Boundaries</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/MunicipalitiesStateSmall.png %}" alt="MunicipalBoundaries" />
    <p>Boundaries.Municipalities is a multi-purpose statewide dataset of municipal boundaries for cartography and approximate boundary identification.</p>
    <p>Boundaries.Municipalities boundaries are maintained by AGRC with the help of many state, county, and local entities. Changes and updates are through certification by the Lt. Governor’s Office sent in by City and County Recorders offices. All features are adjusted to the current Geographic Coordinate Database (GCDB) points.</p>
    <p>Data developed with coordinate geometry (COGO) from legal descriptions were used. When necessary the data was adjusted to conform to known physical features. This dataset does not represent exact legal boundaries, but, rather a set of boundaries used for the administrative purposes that conforms to logical &amp; administrative rules (e.g. no two cities or redevelopment areas may cover the same geographic extent).</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision).</p>
    <p>There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah, SGID.</p>
    <p>The municipal boundary dataset is maintained by AGRC in partnership with state and local government.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://municert.utah.gov/">Lieutenant Governor Municipal Certifications website</a></li>
      <li><a href="https://www.arcgis.com/home/webmap/viewer.html?webmap=e2e0430f97114c3aa958262fa5e3e6ed">Utah Municipalities and Metro Townships Boundaries Map</a></li>
      <li><a href="https://www.arcgis.com/home/webmap/viewer.html?webmap=c5ab7e0fcd514f1a9db6b8dad55bba63">Utah Municipality Modifications Map</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.boundaries %}</p>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel">
      <i class="fas fa-pull-right fa-download fa-2x" data-fa-transform="down-2"></i>
      <h5 id="MunicipalBoundaries-downloads">Downloads</h5>
    </div>
    <div class="panel-content">
      <ul class="dotless no-padding">
      {% include downloads.html name="Utah Municipal Boundaries" item_id="543fa1f073714198a3dbf8a292bdf30c" %}
      </ul>
    </div>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel update">
      <i class="fas fa-pull-right fa-calendar fa-2x" data-fa-transform="down-2"></i>
      <h5 id="MunicipalBoundaries-updates">Updates</h5>
    </div>
    <div class="panel-content">
      <p>Updates to this dataset are published at a monthly interval or as needed.</p>
      <ul class="dotless no-padding">
        <li><a href="{% link _posts/2019-10-24-municipal-boundaries-update-for-third-quarter-2019-calendar-year.md %}">October 25, 2019</a>
        <li><a href="{% link _posts/2019-07-03-municipal-boundaries-update-for-second-quarter-2019-calendar-year.md %}">July 3, 2019</a>
        <li><a href="{% link _posts/2019-01-31-municipal-boundaries-final-update-for-calendar-year-2018.md %}">January 31, 2019</a>
        <li><a href="{% link _posts/2018-09-04-newest-city-added-to-state-and-municipal-boundary-updates-for-third-quarter-2018.md %}">September 4, 2018</a>
        <li><a href="{% link _posts/2018-07-06-municipal-boundaries-update-for-second-quarter-2018-calendar-year.md %}">July 6, 2018</a>
        <li><a href="{% link _posts/2018-01-10-municipal-boundaries-update-for-fourth-quarter-2017-calendar-year.md %}">December 28, 2017</a>
        <li><a href="{% link _posts/2017-09-05-municipal-boundaries-update-for-third-quarter-2017-calendar-year.md %}">September 5, 2017</a>
        <li><a href="{% link _posts/2017-06-29-municipal-boundaries-update-for-second-quarter-2017-calendar-year.md %}">June 29, 2017</a>
        <li><a href="{% link _posts/2017-03-29-municipal-boundaries-update-for-first-quarter-calendar-year.md %}">March 29, 2017</a>
      </ul>
    </div>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="MetroTownships">
      <a href="#MetroTownships" class="anchor--link">Metro Townships</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/MetroTownshipSmall.png %}" alt="MetroTownships" />
    <p>Boundaries.MetroTownships is a multi-purpose statewide dataset of metro townships boundaries for cartography and approximate boundary identification.</p>
    <p>Boundaries.MetroTownships boundaries represent unincorporated locations where the residents don't want to be part of an incorporated municipality but do want some say in how they are governed. They are maintained by AGRC with the help of many state, county, and local entities. Changes and updates are through certification by the Lt. Governor’s Office sent in by City and County Recorders offices. All features are adjusted to the current Geographic Coordinate Database (GCDB) points.</p>
    <p>Data developed with coordinate geometry (COGO) from legal descriptions were used. When necessary the data was adjusted to conform to known physical features. This dataset does not represent exact legal boundaries, but, rather a set of boundaries used for the administrative purposes that conforms to logical &amp; administrative rules (e.g. no two cities or township areas may cover the same geographic extent).</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah, SGID. The metro townships boundary dataset is maintained by AGRC in partnership with state and local government.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://municert.utah.gov/">Lieutenant Governor Municipal Certifications website</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.boundaries %}</p>
  </div>
  {% include packagedata.html name="MetroTownships"
  info=page.MetroTownships %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="CountyBoundaries">
      <a href="#CountyBoundaries" class="anchor--link">County Boundaries</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/CountyBoundaries_Small.png %}" alt="County Boundaries" />
    <p>Boundaries.Counties is a multi-purpose statewide dataset of county boundaries for cartography and approximate boundary identification. Includes July 2012 major update of Millard and Juab counties.</p>
    <p>Boundaries.Counties boundaries are maintained by AGRC with the help of many state, county, and local entities. Changes and updates are through certification by the Lt. Governor’s Office sent in by City and County Recorders offices.</p>
    <p>Data developed with coordinate geometry (COGO) from legal descriptions were used. When necessary the data was adjusted to conform to known physical features. This dataset does not represent exact legal boundaries, but, rather a set of boundaries used for the administrative purposes that conforms to logical &amp; administrative rules.</p>
    <p>There is also a county boundaries dataset the has been adjusted to the updated Geographic Coordinate Database SGID10.BOUNDARIES.Counties_GCDB</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). The county boundary dataset is is maintained by AGRC in partnership with state and local government.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://municert.utah.gov/">Lieutenant Governor Municipal Certifications website</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.boundaries %}</p>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel">
      <i class="fas fa-pull-right fa-download fa-2x"></i>
      <h5 id="CountyBoundaries-downloads">Downloads</h5>
    </div>
    <div class="panel-content">
      <ul class="dotless no-padding">
      {% include downloads.html name="Utah County Boundaries" item_id="90431cac2f9f49f4bcf1505419583753" %}
      </ul>
    </div>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel update">
      <i class="fas fa-pull-right fa-calendar fa-2x"></i>
      <h5 id="CountyBoundaries-updates">Updates</h5>
    </div>
    <div class="panel-content">
      <ul class="dotless no-padding">
        <li>July 2014 Adjusted to newest CadNSDI v2 PLSS-GCDB; minor adjustments 10 ft to 40 ft all in non-populated areas.
        <li><a href="{% link _posts/2012-07-25-june-2012-juab-millard-county-boundary-adjustment.md %}" title="Juab and Millard Counties Adjust Shared Boundary">
        <li>July 2012 (Juab and Millard counties)</a>
        <li>November 2011
        <li>March 2011
    </div>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="StateBoundary">
      <a href="#StateBoundary" class="anchor--link">State Boundary</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/UtahBoundary.png %}" alt="Utah" />
    <p>Boundaries.Utah is a dataset of the Utah state boundary.</p>
    <p>Boundaries.Utah boundary is maintained by AGRC with the help of many state, county, and local entities. Changes and updates are through certification by the Lt. Governor’s Office sent in by City and County Recorders offices. All features are adjusted to the current Geographic Coordinate Database (GCDB) points.</p>
    <p>Data developed with coordinate geometry (COGO) from legal descriptions were used. When necessary the data were adjusted to conform to known physical features. This dataset does not represent exact legal boundaries, but, rather a set of boundaries used for the administrative purposes that conforms to logical &amp; administrative rules.</p>
    <p>In addition to the boundary of the state of Utah this dataset contains another larger boundary around the state that can be used for cartographic purposes to mask other data layers that extend past the boundary of the state. The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). The state boundary dataset is is maintained by AGRC in partnership with state and local government.</p>
  </div>
  {% include packagedata.html name="StateBoundary" info=page.StateBoundary %}
</div>
