---
status: publish
layout: page
author:
  display_name: DevTeam
  email: agrc@utah.gov
tags:
  - address
  - data
  - locator
  - geocoding
published: true
date: 2017-08-29 16:08:29 -0600
title: Address Locators
categories: []

RoadsAddressLocatorPackage:
  downloads:
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7meXU3X0toSGVNbzA&export=download"
      label: "Roads Address Locator Package"
  updates:
    - "Updates coincide with the Transportation.Roads update schedule. Updates to the Roads dataset are published every month with apporximately 5 counties receiving detailed review during each update cycle."

AddressPointLocatorPackage:
  downloads:
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mdTMzQ2xnLXd4M2s&export=download"
      label: "Address Points Address Locator Package"
  updates:
    - "Updates coincide with the Location.AddressPoints update schedule. Updates the the Address points are published every month."

CompositeLocatorPackage:
  downloads:
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mZTJxTUc5LUFSX1U&export=download"
      label: "Composite Address Locator Package"
  updates:
    - "Updates to this composite coincide with Roads and Address Points Address Locators."
---
<div class="caption">
  <img src="{{ "/images/AddPointsGC2.png" | prepend: site.baseurl }}" alt="Address Locator"/>
  <p class="caption-text">Concept of an Address Locator</p>
</div>

<p><a id="package--download" href="https://drive.google.com/a/utah.gov/uc?id=0B_Y2d5UmL8_zUUdDVzdBaTJIQ2c&export=download" class="button medium white">
  <span class="button-text">Download Address Locators</span></a></p>

<h4 class="package--header">Web API Address Locators</h4>
<ul class="dotless no-padding">
  <li><strong>Data Type:</strong> Address Locator Service
  <li><strong>Steward(s):</strong> AGRC
  <li><strong>Web Application:</strong> <a href="https://api.mapserv.utah.gov">https://api.mapserv.utah.gov</a>
  <li><strong>Abstract:</strong> AGRC offers a geocoding web service API to return geographic coordinates for Utah addresses using the SGID Transportation.Roads and Location.AddressPoints feature classes as reference data. This API can be accessed over http programmatically (with standard HTTP get request) without the use of GIS-specific software - such as a web application. This geocoding API uses 'front end' logic to resolve several common address standardization issues above and beyond what out-of-the-box geocoders handle. The downloadable ArcGIS Locator Packages described below are copies of the 'back end' services that are used directly by the geocoding API.
  <li><strong>Using the API Locators:</strong> </br> For geocoding within a programming environment, it is recommended that you use the <a href='{{ site.baseurl }}{% post_url 2013-04-02-using-the-mapserv-utah-gov-api-to-geocode-address %}' title='geocoding API web service'>geocoding API web service</a>. </br> Within ArcGIS, the geocoding API can be accessed using our <a href='{{ site.baseurl }}{% post_url 2014-01-17-new-utah-geocoding-toolbox-for-arcgis-desktop-2 %}' title='custom geoprocessing tool'</a>custom geoprocessing tool</a>. </br> Additionally, we offer a <a href="https://chrome.google.com/webstore/detail/utah-address-locator/nepmlneiknaeojhadbeodpaefenhjkek?utm_source=permalink"> Google Sheets Add-on (via Chrome browser)</a> that provides geocoding directly within a spreadsheet. This can be used by anyone with a utah.gov email address.
</ul>

<h4 class="package--header">ArcGIS Desktop Locators</h4>
<ul class="dotless no-padding">
  <li><strong>Data Type:</strong> ArcGIS Locator Package (.gcpk)
  <li><strong>Steward(s):</strong> AGRC
  <li><strong>Abstract:</strong> AGRC also offers traditional ArcGIS Desktop address locators built using the SGID Transportation.Roads and Location.AddressPoints feature classes as reference data. These are the 'back end' locators for the Web API address locators described above - made available for download. We offer a roads locator and an address point locator, plus a composite. They are rebuilt monthly based on the current statewide roads <a href="{{
  "/data/transportation/roads-system/" | prepend: site.baseurl }}">update schedule</a>.
  <li><strong>Using the Desktop Locators:</strong> </br>
  AGRC's locators are available for download via 'Locator Packages' (Locator Packages are not supported in ArcGIS 10.0 or earlier). These are portable files that do not require you to download the reference data: the data is packaged. Once downloaded, you simply 'Unpack' and it is ready for use. You can 'Unpack' the Locator Package in ArcCatalog by right-clicking on the package. Unpacking will always place the unpacked locator in your user profile ('..\My Documents\ArcGIS\Packages'). Alternatly, you can use ESRI's 'Extract Package' geoprocessing tool and specify an output location. You can also drag the .gcpk file into ArcMap and it will unpack.
</ul>

<h4 class="package--header">Package Contents</h4>
<p>The following data is available for download:</p>

<script>
  document.getElementById('package--download').addEventListener('click', function() {
    ga('send', {
      hitType: 'event',
      eventCategory: 'Data',
      eventAction: 'PackageDownload',
      eventLabel: 'Address Locators',
      transport: 'beacon'
    });
  });
</script>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="RoadsAddressLocatorPackage">
      <a href="#RoadsAddressLocatorPackage" class="anchor--link">Roads Address Locator</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="productImage-Thumb" src="{{ "/images/CompZip90x90.png" | prepend: site.baseurl }}" alt="Address Locator" />
    <p>AGRC_RoadsLocator is an ArcGIS 10 address locator that references the statewide Transportation.Roads feature class and uses the right and left zip code fields and/or the right and left address systems fields for zone. This address locator has four levels of street name aliasing to include alternate street names and address grid coordinate system names. For example, Redwood Road is aliased as both Highway 68 and 1700 West.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li>View <a href="{{"/data/transportation/roads-system/" | prepend: site.baseurl }}">recent updates</a> to the SGID Statewide Roads dataset.
    </ul>
    <p>Questions can be directed to <a href="mailto:gbunce@utah.gov">Greg Bunce</a> (801.538.3665) at AGRC.</p>
  </div>
  {% include packagedata.html name="RoadsAddressLocatorPackage"
  info=page.RoadsAddressLocatorPackage %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="AddressPointLocatorPackage">
      <a href="#AddressPointLocatorPackage" class="anchor--link">Address Points Address Locator</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="productImage-Thumb" src="{{ "/images/CompZone90x90.png" | prepend: site.baseurl }}" alt="Address Locator" />
    <p>AGRC_AddressPointLocator is an ArcGIS 10 address locator that references the statewide Location.AddressPoints feature class and uses zip code or address system for zone. This address locator has four levels of street name aliasing to include alternate street names and address grid coordinate system names. For example, Redwood Road is aliased as both Highway 68 and 1700 West. By using the address quadrant system for zone, applications and users will be able to match addresses even if the city or zip code supplied is close but not exact or when a location is at or near the border of two zones.</p>
    <p>Questions can be directed to <a href="mailto:gbunce@utah.gov">Greg Bunce</a> (801.538.3665) at AGRC.</p>
  </div>
    {% include packagedata.html name="AddressPointLocatorPackage"
    info=page.AddressPointLocatorPackage %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="CompositeLocatorPackage">
      <a href="#CompositeLocatorPackage" class="anchor--link">Composite Address Locator</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="productImage-Thumb" src="{{ "/images/CompZip90x90.png" | prepend: site.baseurl }}" alt="Address Locator" />
    <p>AGRC_CompositeLocator is an ArcGIS 10 composite address locator that references the Transportation.Roads and Location.AddressPoints feature classes and uses zip code or address system for zone.</p>
    <p>Questions can be directed to <a href="mailto:gbunce@utah.gov">Greg Bunce</a> (801.538.3665) at AGRC.</p>
  </div>
  {% include packagedata.html name="CompositeLocatorPackage"
  info=page.CompositeLocatorPackage %}
</div>
