---
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - alcohol
  - data
  - liquor
  - utah department of alcoholic beverage control
  - wine
categories: []
date: 2012-06-19 12:39:39 -0600
LiquorStores:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mRkNtU2ladDVtVW8
      label: Liquor Stores
  updates:
    - 3/15/2017
  endpoints:
    - url: https://utah.maps.arcgis.com/home/item.html?id=61b7f10c194b4ec69d02e169db1da09a
      label: ArcGIS Online Feature Layer
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/LiquorStores.png %}" alt="Liquor stores" />
  <figcaption class="caption__text">Liquor Stores and Package Agencies in Utah</figcaption>
</figure>
{% include abstract.html
name="Liquor Stores"
stewards="AGRC & DABC"
webapp="https://abc.utah.gov/stores/index.html"
abstract="Society.LiquorStores contains information and locations for liquor stores and package agencies controlled by the Department of Alcoholic Beverage Control of Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="LiquorStores">Liquor Stores</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>LiquorStores contains information and locations for liquor stores and package agencies controlled by the Department of Alcoholic Beverage Control of Utah. The source of this dataset is the Utah Department of Alcoholic Beverage Control's <a href="https://abc.utah.gov/stores/index.html">online map</a>.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://abc.utah.gov/">Department of Alcoholic Beverage Control</a>
    </ul>
  </div>
  {% include packagedata.html
    name="LiquorStores"
    info=page.LiquorStores
  %}
</div>
