---
author:
  display_name: Greg Bunce
  email: agrc@utah.gov
tags:
  - address
  - alignment
  - data
  - freeway
  - highway
  - roads
  - transportation
categories: []
date: 2022-03-18 11:12:40 -0600
HighwayLinearReferencingSystemRoutes:
  hub:
    name: UDOT Routes ALRS
    alias: Utah Advanced LRS Routes (UDOT)
    item_id: 7e53a418e78b464bbf8cc9e209c4109d
    org: uplan
  updates:
    - Updates to this dataset are published periodically to refine route representation,
      add additional routes, and in response to route realignment.
MilepostPoints:
  hub:
    name: Utah UDOT Mile Reference Posts
    item_id: 1680c84cd7fb426194505eec5fead902
    skip_fgdb: true
  updates:
    - 2021
FreewayExitPoints:
  hub:
    name: Utah Roads Freeway Exits
    item_id: ead23cdea2184a45a92007261675457e
  updates:
    - Updates to this dataset are published infrequently.
ShieldLabelingLines:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mMFFPbFIxZkt6am8&export=download
      label: 'Shield Labeling Lines: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mOVNuSlBGU1k5aUU&export=download
      label: 'Shield Labeling Lines: Shapefile'
  updates:
    - Updates to this dataset are published infrequently.
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/utah-sgid-gis-roads-and-highways-sample.png %}"
    alt="Roads and Highways" loading="lazy" />
  <figcaption class="caption__text">Roads and Highway System</figcaption>
</figure>
{% include abstract.html
name="Roads and Highway System"
stewards="UGRC, Local Government partners"
abstract="This dataset contains GIS mapping data representing the statewide roads centerline dataset for Utah and other
road and highway related data such as milepost locations, exit numbers and names, polylineM highway linear referencing
system (LRS) routes, and label lines for dynamic rendering of highway shields." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="RoadCenterlines">Road Centerlines</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/utah-gis-streets-roads.png %}" alt="streets and roads"
      loading="lazy" />
    <p>Transportation.Roads is a multi-purpose statewide roads dataset for cartography, routing, and range based-address
      location. This dataset is also used as the base geometry for deriving the GIS-representation of UDOT’s highway
      linear referencing system (LRS) as well as UGRC's <a
        href="{% link data/transportation/street-network-analysis/index.html %}">network analysis datasets</a>.</p>
    <p>This layer also plays an important role in <a
        href="{% link data/transportation/street-network-analysis/index.html %}#MultimodalNetwork">active transportation
        planning</a> in Utah. Recent collaborative efforts between UGRC, <a
        href="https://www.udot.utah.gov/connect/">UDOT</a>, and <a href="https://wfrc.org/">WFRC</a> have led to <a
        href="{% link _posts/2020-05-27-bike-related-gis-data-resources.md %}">significant enhancements</a> in the bike
      and pedestrian data in both the Roads and <a
        href="{% link data/recreation/trails/index.html %}">Trails-and-Pathways</a> layers. These efforts have focused
      on <a href="{% link _posts/2020-06-26-enhancements-to-sgid-utah-trails-dataset.md %}">better connectivity</a>
      between the layers (<a href="{% link _posts/2018-11-07-multi-modal-travel-shed-analysis-project.md %}">along the
        Wasatch Front</a>), as well as improvements in the <a
        href="{% link _posts/2021-01-08-statewide-bike-data.md %}">statewide bike data</a>. You can contribute to the
      on-street bike data by <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSd6F4_7P6Fa2GMZ6SzUL67bPd6CDoO0n26vuoNiEbI0yU5OwQ/viewform">letting
        us know</a> where we have gaps or inaccurate information.</p>
    <p>Transportation.Roads utilizes a data model based on Next-Generation 911 standards and the Federal Highway
      Administration's All Roads Network Of Linear-referenced Data (ARNOLD) reporting requirements for state DOTs. UGRC
      <a href="{% link _posts/2017-08-15-major-updates-coming-to-roads-data-model.md %}">adopted</a> this data model on
      September 13th, 2017.
    </p>
    <p>To see specific information about the data model including field names and descriptions, data types, coded value
      domains, and data model updates, see the <a
        href="https://docs.google.com/spreadsheets/d/1jQ_JuRIEtzxj60F0FAGmdu5JrFpfYBbSt3YzzCjxpfI/edit#gid=811360546">data
        model spreadsheet</a> and the corresponding tabs for update notes and coded value domains. The color-coded
      section titled <code>Addressing</code> is primarily maintained by the local stewards, where as the section titled
      <code>DOT/FHWA</code> is primarily maintained by UDOT. UGRC spatially assigns fields in the section titled
      <code>Placename/Area</code>, based on current SGID polygon boundaries. UGRC also generates the
      <code>UNIQUE_ID</code> field based on the segment's location in the US National Grid, with the street name then
      tacked on. The <code>UNIQUE_ID</code> field is static and is UGRC's current, ad hoc solution to a persistent
      global id.
    </p>
    <p>This data model is meant to suggest 'best practices'. It is not the intent that all stewards will change their
      current data management process to match this standard, but rather that stewards will evaluate their current
      practices to see how well their data 'maps' to this schema for data sharing and Next Generation 911 preparedness.
    </p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.roads %}</p>
    <p>We are currently working with US Forest Service to improve the Forest Service roads in this dataset, however, for
      the most current and complete set of USFS roads, please visit the <a
        href="https://data.fs.usda.gov/geodata/edw/datasets.php?dsetCategory=transportation">FSGeodata
        Clearinghouse</a>.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). The
      statewide roads dataset is maintained by UGRC in partnership with local government, the Utah 911 Committee, and
      UDOT.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a
          href="https://docs.google.com/spreadsheets/d/1jQ_JuRIEtzxj60F0FAGmdu5JrFpfYBbSt3YzzCjxpfI/edit#gid=811360546">Road
          Centerlines: Data Model</a>
      <li><a href="https://drive.google.com/file/d/1Oi24SLBBFLr-H_pIIjQDTMP31jel5bET/view?usp=sharing">Road Centerlines
          Schema-Only: File Geodatabase</a>
    </ul>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel">
      {% include fa_icon.html download=true lower=true class="svg-inline--fa fa-w-16 fa-pull-right fa-2x" %}
      <h5 id="RoadCenterlines-downloads">Downloads and Web Services</h5>
    </div>
    <div class="panel-content" id="RoadCenterlines-list">
      <ul class="dotless no-padding">
        {% include downloads.html name="Utah Roads" item_id="478fbef62481427f95a3510a4707b24a" %}
      </ul>
    </div>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel update">
      {% include fa_icon.html calendar=true class="svg-inline--fa fa-w-16 fa-pull-right fa-2x" %}
      <h5 id="RoadCenterlines-updates">Updates</h5>
    </div>
    <div class="panel-content">
      <p>Updates to this dataset are published every month, with approximately nine counties receiving detailed review.
      </p>
      <ul class="dotless no-padding">
        <li><a href="{% link _posts/2022-03-10-utah-sgid-statewide-roads-data-layer-updates-03102022.md %}">March 10,
            2022</a>        
        <li><a href="{% link _posts/2022-02-10-utah-sgid-statewide-roads-data-layer-updates-02102022.md %}">February 10,
            2022</a>        
        <li><a href="{% link _posts/2022-01-12-utah-sgid-statewide-roads-data-layer-updates-01122022.md %}">January 12,
            2022</a>
        <li><a href="{% link _posts/2021-12-13-utah-sgid-statewide-roads-data-layer-updates-12132021.md %}">December 13,
            2021</a> 
        <li><a href="{% link _posts/2021-11-09-utah-sgid-statewide-roads-data-layer-updates-11092021.md %}">November 09,
            2021</a> 
        <li><a href="{% link _posts/2021-09-03-utah-sgid-statewide-roads-data-layer-updates-09032021.md %}">September 03,
            2021</a>            
        <li><a href="{% link _posts/2021-08-06-utah-sgid-statewide-roads-data-layer-updates-08062021.md %}">August 06,
            2021</a>        
        <li><a href="{% link _posts/2021-07-14-utah-sgid-statewide-roads-data-layer-updates-07142021.md %}">July 14,
            2021</a>        
        <li><a href="{% link _posts/2021-06-04-utah-sgid-statewide-roads-data-layer-updates-06042021.md %}">June 04,
            2021</a>
        <li><a href="{% link _posts/2021-05-07-utah-sgid-statewide-roads-data-layer-updates-05072021.md %}">May 07,
            2021</a>
        <li><a href="{% link _posts/2021-04-13-utah-sgid-statewide-roads-data-layer-updates-04132021.md %}">April 13,
            2021</a>
        <li><a href="{% link _posts/2021-03-05-utah-sgid-statewide-roads-data-layer-updates-03052021.md %}">March 05,
            2021</a>
        <li><a href="{% link _posts/2021-02-05-utah-sgid-statewide-roads-data-layer-updates-02052021.md %}">February 05,
            2021</a>
      </ul>
    </div>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="HighwayLinearReferencingSystemRoutes">Highway Linear Referencing System Routes</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/utah-gis-highway-lrs-udot.png %}"
      alt="utah-gis-highway-lrs-udot" loading="lazy" />
    <p>The UDOT Routes ALRS layer is a polylineM dataset wherein each state and federal route is a single feature whose
      vertices include a milepoint measure coordinate.</p>
    <p>Major routes (shown in the <code>ROUTE_ID</code> field) are named using UDOT’s naming convention (ex. 0089PM is
      US-89, a mainline route in the positive direction). Ramps and collectors are also included and have 11 character
      identifiers (ex. 0015NR31703 is at exit 317 on I-15).</p>
    <img class="center" src="{% link images/udot_ramp_numbering.png %}" alt="UDOT Ramp Codes Diagram" loading="lazy" />
    <p><code>ROUTE_ID</code> field codes:</p>
    <ul>
      <li><code>P</code> represents Positive direction (increasing milepoint values)
      <li><code>N</code> represents Negative direction (for divided routes only)
      <li><code>M</code> represents Mainline
      <li><code>R</code> represents Ramp
      <li><code>C</code> represents Collector
      <li><code>X</code> represents Other
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83. The GIS dataset representing the UDOT ALRS
      is stewarded by UDOT with assistance from DTS, UGRC and local government.</p>
    <p>The <code>CARTO_CODE</code> field can be used to query subsets or classify different types of UDOT routes:</p>
    <ul>
      <li>1 - Interstate highways
      <li>2 - US highways
      <li>3 - State highways
      <li>5 - Miscellaneous routes associated with interchanges
      <li>6 - Ramps, Interstates
      <li>7 - Ramps, US Highways
      <li>8 - Ramps, State highways
      <li>9 - Local routes, federal aid
      <li>I - Institutional roads designated as state highways
    </ul>
    <h5>Related Resource</h5>
    <ul class="dotless">
      <li><a href="http://data.udot.utah.gov">data.udot.utah.gov</a>
      <li><a href="https://drive.google.com/file/d/14QFEDCvicSNsO13fBolRjpuYgs9RGZv_/view?usp=sharing">Read about the changes coming
          to the LRS</a>
      <li><a href="https://drive.google.com/file/d/11rV2361WtRyN2LSGcSyGpMKPysFDXBgD/view?usp=sharing">Metadata for LRS
          Routes</a>
    </ul>
  </div>
  {% include packagedata.html name="HighwayLinearReferencingSystemRoutes" info=page.HighwayLinearReferencingSystemRoutes
  %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="MilepostPoints">Mile Reference Posts</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/utah-sgid-highway-milepost.png %}"
      alt="utah-sgid-highway-milepost" loading="lazy" />
    <p>The Mile Reference Posts dataset contains the location of milepost signs as they are located along the roads. This collection 
        technique is different from milepost locations that are <a href="https://data-uplan.opendata.arcgis.com/datasets/linear-measure-lm-tenth-opendata/explore">derived from a linear reference system </a>
         (LRS). The advantage of this collection method is that the mile reference posts stay in roughly the same place over time and do not change when other sections of the road, or LRS, are realigned.</p>
    <p>Mile reference post locations are derived from images captured by <a href="https://www.mandli.com/"">Mandli Communications</a>, using on-the-ground asset collection technology. These locations were then aligned to UDOT’s linear referencing system.</p>
    <p>Mandli Communications will update this data every 2 years under the current contract. The data served on this page was captured in 2021 and reflects what was on the ground at that time.</p>
    <p><code>FIELDS worth noting</code></p>
    <ul>
      <li><code>Legend</code> - Milepost number on sign
      <li><code>Measure</code> - Location of the milepost along the LRS
      <li><code>Station Label</code> - Highway name + direction of route along LRS (P = positive, milepost numbers increasing; N = negative, milepost numbers decreasing) + milepost number. For example the value 0015PM_271 translates to mile marker 217 on Interstate-15 on the north bound (P) side.
    </ul>
    <p>The Mile Reference Posts is an <a href="https://www.esri.com/en-us/arcgis/products/arcgis-roads-highways/overview">ESRI Roads and Highways Event</a> layer and supports the <a href="https://maps.udot.utah.gov/wadocuments/Apps/Stationing/">RP Stationing App</a>.</p>
    <h5>Mile Reference Posts vs Linear Measures</h5>
      <ul class="dotless">
        <li><p>Mile Reference Posts are signs located in physical locations. They are helpful for navigation but
may not reflect the linear referencing measurement.</p>
        <li><p>Linear referencing system mile point measures (linear measures) are calculated based on
geometric lengths of data and are spatially accurate. They may or may
not align with actual Mile Reference Posts and are updated every time a
change is made in the spatial data to reflect updates in the physical
location and length of the roadway.</p>
      <li><p>For more information on the difference between mile reference posts and linear measures, please refer to <a href="https://lrs-hub.udot.utah.gov/pages/alrs-additional-information">UDOT’s webpage</a> addressing this topic or their <a href="https://drive.google.com/file/d/14QFEDCvicSNsO13fBolRjpuYgs9RGZv_/view?usp=sharing">Reference Post vs Linear Measure</a> informational document.</p>
      </ul>
    <h5>Related Resource</h5>
    <ul class="dotless">
      <li><a href="https://data-uplan.opendata.arcgis.com/datasets/linear-measure-lm-tenth-opendata/explore">Linear-measure based mileposts</a> (derived from UDOT’s linear referencing system and contains tenth-mile points)
      <li><a href="https://api.mapserv.utah.gov/#geocoding">UGRC Milepost and Reverse Milepost Geocoding Web API</a>
    </ul>
  </div>
  {% include packagedata.html name="MilepostPoints" info=page.MilepostPoints %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="FreewayExitPoints">Freeway Exit Points</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/utah-gis-freeway-exits.png %}"
      alt="utah-gis-freeway-exits" loading="lazy" />
    <p>Transportation.Roads_FreewayExits contains point locations for each freeway and limited access highway exit along
      with the exit number, name, associated route, and connected streets/routes.</p>
    <p>The EXITNAME field provides the primary route name and exit number plus the connecting route number or street
      name and place name carried by the exit sign. Route number and exit number are also carried in separate fields.
    </p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). This
      dataset was assembled by UGRC from resources provided by UDOT, as a resource for 911 dispatch and for general map
      reference.</p>
  </div>
  {% include packagedata.html name="FreewayExitPoints" info=page.FreewayExitPoints %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="ShieldLabelingLines">Shield Labeling Lines</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" title="utah gis highway freeway shield lines"
      src="{% link images/utah-gis-highway-freeway-shield-lines.png %}" alt="freeway shield lines" loading="lazy" />
    <p>Transportation.RoadsShieldLines consists of highway route lines edited to best enable non-redundant, dynamic
      label rendering of highway shields for freeways, US highways, and state highways.</p>
    <p>In ArcMap, define a label class for each CLASS field value. 1 is for freeways, 2 for US highways, and 3 is for
      state highways. Each label class should use a SQL expression to define the class and the default class should be
      disabled or deleted.</p>
    <p>When defined labeling properties are defined properly, the minimum number of freeway and highway shields should
      be displayed without introducing ambiguity.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). This
      dataset was assembled by UGRC for general purpose cartography.</p>
  </div>
  {% include packagedata.html name="ShieldLabelingLines" info=page.ShieldLabelingLines %}
</div>
