---
title: 'Roads and Highway System '
author:
  display_name: Bert Granberg
  email: agrc@utah.gov
tags:
  - address
  - alignment
  - data
  - freeway
  - highway
  - roads
  - transportation
categories: []
date: 2011-08-25 23:12:40 -0600
HighwayLinearReferencingSystemRoutes:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mSURhZHpJMDFnM1U&export=download
      label: 'UDOT LRS Routes: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mV2VRNTduVXNyMjg&export=download
      label: 'UDOT LRS Routes: Shapefile'
  updates:
    - Updates to this dataset are published periodically to refine route representation,
      add additional routes, and in response to route realignment.
MilepostPoints:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mb1BJT01oVEdOekU&export=download
      label: 'Milepost Points: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mNFlDenZWTnNwekE&export=download
      label: 'Milepost Points: Shapefile'
  updates:
    - Updates to this dataset are published periodically.
TenthMileReferencePoints:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mTGhJNkxNcE9hVk0&export=download
      label: 'Tenth of a Mile: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mbVZ3bmVmLV9yemM&export=download
      label: 'Tenth of a Mile: Shapefile'
  updates:
    - Updates to this dataset are published periodically.
FreewayExitPoints:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mNm1LNGN0eDNBLUE&export=download
      label: 'Freeway Exit Points: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mRjZpRFpkbng5ak0&export=download
      label: 'Freeway Exit Points: Shapefile'
  updates:
    - Updates to this dataset are published infrequently.
ShieldLabelingLines:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mMFFPbFIxZkt6am8&export=download
      label: 'Shield Labeling Lines: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mOVNuSlBGU1k5aUU&export=download
      label: 'Shield Labeling Lines: Shapefile'
  updates:
    - Updates to this dataset are published infrequently.
---
<div class="caption">
  <img src="{{ "/images/gallery/sgid/utah-sgid-gis-roads-and-highways-sample.png" | prepend: site.baseurl }}" alt="Roads and Highways" />
  <p class="caption-text">Roads and Highway System</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mN1NtTlRucTZleHc"
name="Roads and Highway System"
stewards="AGRC, Local Government partners"
abstract="This dataset contains GIS mapping data representing the statewide roads centerline dataset for Utah and other road and highway related data such as milepost locations, exit numbers and names, polylineM highway linear referencing system (LRS) routes, and label lines for dynamic rendering of highway shields." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="RoadCenterlines">
      <a href="#RoadCenterlines" class="anchor--link">Road Centerlines</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/utah-gis-streets-roads.png" | prepend: site.baseurl }}" alt="streets and roads" />
    <p>Transportation.Roads is a multi-purpose statewide roads dataset for cartography and range based-address location. This dataset is also used as the base geometry for deriving the GIS-representation of UDOT's highway linear referencing system (LRS). A network analysis dataset for route-finding can also be derived from this dataset.</p>
    <p>Transportation.Roads utilizes a data model based on Next-Generation 911 standards and the Federal Highway Administration's All Roads Network Of Linear-referenced Data (ARNOLD) reporting requirements for state DOTs. AGRC <a href="{{site.baseurl}}{% post_url 2017-08-15-major-updates-coming-to-roads-data-model %}">adopted</a> this data model on September 13th, 2017.</p>
    <p>To see specific information about the data model including field names and descriptions, data types, coded value domains, and data model updates, see the <a href="https://docs.google.com/spreadsheets/d/1jQ_JuRIEtzxj60F0FAGmdu5JrFpfYBbSt3YzzCjxpfI/edit#gid=811360546">data model spreadsheet</a> and the corresponding tabs for update notes and coded value domains. The color-coded section titled <code>Addressing</code> is primarily maintained by the local stewards, where as the section titled <code>DOT/FHWA</code> is primarily maintained by UDOT. AGRC spatially assigns fields in the section titled <code>Placename/Area</code>, based on current SGID polygon boundaries. AGRC also generates the <code>UNIQUE_ID</code> field based on the segment's location in the US National Grid, with the street name then tacked on. The <code>UNIQUE_ID</code> field is static and is AGRC's current, ad hoc solution to a persistent global id.</p>
    <p>This data model is meant to suggest 'best practices'. It is not the intent that all stewards will change their current data management process to match this standard, but rather that stewards will evaluate their current practices to see how well their data 'maps' to this schema for data sharing and Next Generation 911 preparedness.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.roads %}</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). The statewide roads dataset is maintained by AGRC in partnership with local government, the Utah 911 Committee, and UDOT.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://docs.google.com/spreadsheets/d/1jQ_JuRIEtzxj60F0FAGmdu5JrFpfYBbSt3YzzCjxpfI/edit#gid=811360546">Road Centerlines: Data Model</a>
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.Roads.xml">Road Centerlines: FGDC Metadata</a>
    </ul>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel">
      <i class="fas fa-pull-right fa-download fa-2x" data-fa-transform="down-2"></i>
      <h5 id="RoadCenterlines-downloads">Downloads</h5>
    </div>
    <div class="panel-content" id="RoadCenterlines-list">
      <ul class="dotless no-padding">
        <li><a href="https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mcTQ0OG9oNThtWE0&export=download">Road Centerlines: File Geodatabase</a>
        <li><a href="https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mU1M2VVIwU0tZVWs&export=download">Road Centerlines: Shapefile</a>
        <li><a href="https://drive.google.com/uc?export=download&id=0ByStJjVZ7c7mMXdRSWk0SWhncXc">Road Centerlines Schema-Only: File Geodatabase</a>
      </ul>
      <h5><a href="{{site.baseurl}}{% post_url 2017-08-15-major-updates-coming-to-roads-data-model %}">Deprecated Data Model: Last Update is March 16, 2018</a></h5>
      <ul class="dotless">
          <li><a href="https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mcDJ4eVhqUllibk0&export=download">Road Centerlines Deprecated Data Model: File Geodatabase</a>
          <li><a href="https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mU05HZkxvZzlfbms&export=download">Road Centerlines Deprecated Data Model: Shapefile</a>
          <li><a href="https://docs.google.com/document/d/1ojjqCa1Z6IG6Wj0oAbZatoYsmbKzO9XwdD88-kqm-zQ/edit?usp=sharing">Deprecated Data Model</a>
          <li><a href="https://docs.google.com/open?id=0Bz18jufMWioiU25icDNoQWlJa2M">Deprecated Schema</a>
      </ul>
    </div>
    <script>
      document.getElementById('RoadCenterlines-dlist').addEventListener('click', function() {
        if (evt.target.tagName.toLowerCase() === 'a') {
          ga('send', {
            hitType: 'event',
            eventCategory: 'data',
            eventAction: 'specific-download',
            eventLabel: 'specific-download-road-centerlines',
            transport: 'beacon'
          });
        }
      });
    </script>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel update">
      <i class="fas fa-pull-right fa-calendar fa-2x" data-fa-transform="down-2"></i>
      <h5 id="RoadCenterlines-updates">Updates</h5>
    </div>
  <div class="panel-content">
    <p>Updates to this dataset are published every month, with approximately nine counties receiving detailed review.</p>
    <ul class="dotless no-padding">
      <li><a href="{{site.baseurl}}{% post_url 2018-03-16-utah-sgid-statewide-roads-data-layer-updates-03162018 %}">March 16, 2018</a>      
      <li><a href="{{site.baseurl}}{% post_url 2018-02-15-utah-sgid-statewide-roads-data-layer-updates-02152018 %}">February 15, 2018</a>       
      <li><a href="{{site.baseurl}}{% post_url 2018-01-18-utah-sgid-statewide-roads-data-layer-updates-01182018 %}">January 19, 2018</a>      
      <li><a href="{{site.baseurl}}{% post_url 2018-01-04-utah-sgid-statewide-roads-data-layer-updates-01042018 %}">January 04, 2018</a>      
      <li><a href="{{site.baseurl}}{% post_url 2017-11-30-utah-sgid-statewide-roads-data-layer-updates-11302017 %}">November 30, 2017</a>
      <li><a href="{{site.baseurl}}{% post_url 2017-10-27-utah-sgid-statewide-roads-data-layer-updates-10272017 %}">October 27, 2017</a>
      <li><a href="{{site.baseurl}}{% post_url 2017-09-29-utah-sgid-statewide-roads-data-layer-updates-09292017 %}">September 28, 2017</a>
      <li><a href="{{site.baseurl}}{% post_url 2017-08-15-utah-sgid-statewide-roads-data-layer-updates-08152017 %}">August 15, 2017</a>
      <li><a href="{{site.baseurl}}{% post_url 2017-07-18-utah-sgid-statewide-roads-data-layer-updates-07182017 %}">July 18, 2017</a>
      <li><a href="{{site.baseurl}}{% post_url 2017-06-19-utah-sgid-statewide-roads-data-layer-updates-06192017 %}">June 19, 2017</a>
      <li><a href="{{site.baseurl}}{% post_url 2017-05-17-utah-sgid-statewide-roads-data-layer-updates-05172017 %}">May 17, 2017</a>
      <li><a href="{{site.baseurl}}{% post_url 2017-04-06-utah-sgid-statewide-roads-data-layer-updates-04062017 %}">April 06, 2017</a>
      <li><a href="{{site.baseurl}}{% post_url 2017-03-09-utah-sgid-statewide-roads-data-layer-updates-03092017 %}">March 09, 2017</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="HighwayLinearReferencingSystemRoutes">
      <a href="#HighwayLinearReferencingSystemRoutes" class="anchor--link">Highway Linear Referencing System Routes</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/utah-gis-highway-lrs-udot.png" | prepend: site.baseurl }}" alt="utah-gis-highway-lrs-udot" />
    <p>Transportation.UDOTRoutes_LRS is a polylineM dataset wherein each state and federal route is a single feature whose vertices include a milepost measure coordinate.</p>
    <p>Major routes are named using UDOT’s 5 character convention (ex. 0089P is US 89 in the positive direction). Ramps and collectors are also included and have 11 character identifiers (ex. 0080PR18501 is the east bound off ramp at exit 185 on I-80). ‘P’ direction routes are those in the direction of increasing milepost values. ‘N’ direction routes for the Utah’s 5 freeways (0015, 0070, 0080, 0084, 0215) should be ignored (use ‘X’ instead) except when working with UDOT-specific LRS event features.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter x,y coordinate precision; 0.001 mile m coordinate precision). The GIS dataset representing the UDOT LRS is stewarded by UDOT with assistance from DTS, AGRC and local government.</p>
    <h5>Related Resource</h5>
    <ul class="dotless">
      <li><a href="http://data.udot.utah.gov">data.udot.utah.gov</a>
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.UDOTRoutes_LRS.xml">FGDC format metadata</a>
    </ul>
  </div>
  {% include packagedata.html name="HighwayLinearReferencingSystemRoutes"
  info=page.HighwayLinearReferencingSystemRoutes %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="MilepostPoints">
      <a href="#MilepostPoints" class="anchor--link">Milepost Points</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/utah-sgid-highway-milepost.png" | prepend: site.baseurl }}" alt="utah-sgid-highway-milepost" />
    <p>Transportation.UDOTMileposts represents the approximate location of state and federal highway mileposts as a single point. This dataset is derived directly from SGID10.Transportation.UDOTRoutes_LRS.</p>
    <p>Major routes are named using UDOT’s 5 character convention (ex. 0089P is US 89 in the positive direction).  ‘P’ direction routes are those in the direction of increasing milepost values. ‘N’ direction routes for the Utah’s 5 freeways (0015, 0070, 0080, 0084, 0215) should be ignored (use ‘X’ instead) except when working with UDOT-specific LRS event features.</p>
    <p>Per UDOT policy the actual location of mileposts can vary up to 50 feet, from the measured position where intersections and physical infrastructure make a more 'true' psoitioning impractical or undesirable.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). The GIS dataset representing the UDOT LRS is stewarded by UDOT with assistance from DTS, AGRC and local government.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.UDOTMileposts.xml">FGDC format metadata</a>
    </ul>
  </div>
  {% include packagedata.html name="MilepostPoints"
  info=page.MilepostPoints %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="TenthMileReferencePoints">
      <a href="#TenthMileReferencePoints" class="anchor--link">Tenth Mile Reference Points</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" title="utah gis highway freeway shield lines" src="{{ "/images/utah-gis-highway-freeway-shield-lines.png" | prepend: site.baseurl }}" alt="Tenth Mile References" />
    <p>Transportation.UDOTTenthMileRefPoints represents the approximate location of state and federal highway tenth of a mile locations as a single point. This dataset is derived directly from SGID10.Transportation.UDOTRoutes_LRS.</p>
    <p>Major routes are named using UDOT’s 5 character convention (ex. 0089P is US 89 in the positive direction).  ‘P’ direction routes are those in the direction of increasing milepost values. ‘N’ direction routes for the Utah’s 5 freeways (0015, 0070, 0080, 0084, 0215) should be ignored (use ‘X’ instead) except when working with UDOT-specific LRS event features.</p>
    <p>Per UDOT policy the actual location of tenth of mile locations can vary up to 50 feet, from the measured position where intersections and physical infrastructure make a more ‘true’ psoitioning impractical or undesirable.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). This dataset was assembled by UDOT for general purpose cartography.</p>
  </div>
  {% include packagedata.html name="TenthMileReferencePoints"
  info=page.TenthMileReferencePoints %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="FreewayExitPoints">
      <a href="#FreewayExitPoints" class="anchor--link">Freeway Exit Points</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/utah-gis-freeway-exits.png" | prepend: site.baseurl }}" alt="utah-gis-freeway-exits" />
    <p>Transportation.Roads_FreewayExits contains point locations for each freeway and limited access highway exit along with the exit number, name, associated route, and connected streets/routes.</p>
    <p>The EXITNAME field provides the primary route name and exit number plus the connecting route number or street name and place name carried by the exit sign. Route number and exit number are also carried in separate fields.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). This dataset was assembled by AGRC from resources provided by UDOT, as a resource for 911 dispatch and for general map reference.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.Roads.xml">FGDC format metadata</a>
    </ul>
  </div>
  {% include packagedata.html name="FreewayExitPoints"
  info=page.FreewayExitPoints %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="ShieldLabelingLines">
      <a href="#ShieldLabelingLines" class="anchor--link">Shield Labeling Lines</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" title="utah gis highway freeway shield lines" src="{{ "/images/utah-gis-highway-freeway-shield-lines.png" | prepend: site.baseurl }}" alt="freeway shield lines" />
    <p>Transportation.RoadsShieldLines consists of highway route lines edited to best enable non-redundant, dynamic label rendering of highway shields for freeways, US highways, and state highways.</p>
    <p>In ArcMap, define a label class for each CLASS field value. 1 is for freeways, 2 for US highways, and 3 is for state highways. Each label class should use a SQL expression to define the class and the default class should be disabled or deleted.</p>
    <p>When defined labeling properties are defined properly, the minimum number of freeway and highway shields should be displayed without introducing ambiguity.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). This dataset was assembled by AGRC for general purpose cartography.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.RoadsShieldLines.xml">FGDC format metadata</a>
    </ul>
  </div>
  {% include packagedata.html name="ShieldLabelingLines"
  info=page.ShieldLabelingLines %}
</div>
