---
status: publish
layout: page
tags:
  - data
  - placenames
author:
  display_name: Jessie Pechmann
  email: jpechmann@utah.gov
published: true
date: 2011-11-23 09:22:52 -0700
title: GNIS
categories: []
---
<div class="caption">
  <img class="size-full wp-image-4794" src="{{ "/images/GNISLarge.png" | prepend: site.baseurl }}" alt="UTGNIS" />
  <p class="caption-text">GNIS Points in Utah</p>
</div>
{% include abstract.html
   download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mQ05IaFVQNmEyY0k"
   name="GNIS Locations"
   type="GIS Data Layer"
   stewards="USGS"
   abstract="The Geographic Names Information System (GNIS) was developed by the U.S. Geological Survey in cooperation with the U.S. Board on Geographic Names (BGN), local governments and other interested organizations. The GNIS contains information about physical and cultural geographic features in the United States and associated areas, both current and historical, but not including roads and highways. The goal of GNIS is to meet major national needs regarding geographic names and their standardization and dissemination."
%}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GNIS2010">
      <a href="#GNIS2010" class="anchor--link">GNIS2010</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="productImage-Thumb" src="{{ "/images/GNISsmall.png" | prepend: site.baseurl }}" alt="GNIS" />
    <p>Location.PlaceNamesGNIS2010 contains the latest release of the GNIS dataset for the state of Utah. The dataset consists of point locations with corresponding feature names. All point entities are categorized by feature type.</p>
    <p>This dataset is updated and released every <strong>ten</strong> years. There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>General Utah GIS data inquiries: <a href="mailto:agrc@utah.gov">agrc@utah.gov</a></p>
    <h5>Other Links</h5>
    <ul class="dotless">
      <li><a href="http://geonames.usgs.gov/">U.S. Board on Geographic Names</a>
    </ul>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel">
      <i class="fa fa-pull-right fa-download fa-2x"></i>
      <h5 id="GNIS2010-downloads">Downloads</h5>
    </div>
    <div class="panel-content">
      <p>Use the link at the top of the page for the most recent data.</p> To download historical GNIS versions use the links below:
        <ul class="dotless no-padding">
          <li><a href="https://drive.google.com/drive/folders/0ByStJjVZ7c7mMjZiZ3pOUWRPdWM">GNIS 2000</a>
          <li><a href="https://drive.google.com/drive/folders/0ByStJjVZ7c7mVlZZMExWNjF6Rm8">GNIS 1990</a>
        </ul>
    </div>
  </div>
  {% include updates.html
    name="GNIS2010"
    updates="January 23, 2012"
  %}
</div>
