---
tags:
  - data
  - deq
  - environment
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-12-08 14:21:24 -0700
categories: []
BFTARGETED:
  hub:
    name: Utah DEQ Brownfields Targeted
    item_id: 630351c0db444fe7933a08eab40e573e
  updates:
    - Nightly
BFNONTARGETED:
  hub:
    name: Utah DEQ Brownfields Other
    item_id: 5fd65304423d40b38b4d93e50698db70
  updates:
    - Nightly
DWMRCHazWasteUsedOilFacilities:
  hub:
    name: Utah DWMRC Hazardous Waste and Used Oil Facilities
    item_id: 8e9e6310622043bca68ffc2298959126
  updates:
    - Nightly
DWMRCLLRWUMillFacilities:
  hub:
    name: Utah DWMRC Low Level Waste Disposal and Uranium Mill Facilities
    item_id: 2c81695cbc644afdba7687e0340b5763
  updates:
    - Nightly
SolidWasteLandfills:
  hub:
    name: Utah DWMRC Solid Waste Facilities
    item_id: 1ce0d598a0e440558c63535661dc2399
  updates:
    - Nightly
FormerlyUsedDefenseSites:
  hub:
    name: Utah DEQ Formerly Used Defense
    item_id: dbcdc13c51614d109102f1251fe9530b
  updates:
    - Nighyly
MilitaryMunitionsResponseProgram:
  hub:
    name: Utah DEQ Military Munition Response Program
    item_id: c77c53794aeb4c448e1307b31c581909
  updates:
    - Nightly
EnforceableWrittenAssurances:
  hub:
    name: Utah DEQ Enforceable Written Assurances
    item_id: 7299aa0fdc80426ca0e42c42f59e1518
  updates:
    - Nightly
NationalPrioritiesList:
  hub:
    name: Utah DEQ CERCLA National Priorities List
    item_id: f9c01f05050c40d7b86dade7dd877cf9
  updates:
    - Nightly
SuperfundSites:
  hub:
    name: Utah DEQ CERCLA CERCLIS List
    item_id: 929a2e7a8d5347b8b3248a450cc42e33
  updates:
    - Nightly
InstitutionalControlBufferZones:
  hub:
    name: Utah DEQ Environmental Covenant Buffer Zones
    item_id: d8ea2ca541724277b01726d98197da32
  updates:
    - Nightly
UtahToxicReleaseInventoryTierII:
  hub:
    name: Utah DEQ TIER2
    item_id: 2f725ff758e24dc496b17f87b7301ed8
  updates:
    - Nightly
ToxicReleaseInventory:
  hub:
    name: Utah DEQ Toxic Release Inventory
    item_id: 132ac94ba71d4e9b9bcffa57b07feb54
  updates:
    - Nightly
VoluntaryCleanupProgram:
  hub:
    name: Utah DEQ Voluntary Cleanup Program
    item_id: e0316bc7899d4e4896e88fe3a46aafa8
  updates:
    - Nightly
FacilityUST:
  hub:
    name: Utah DEQ Underground Storage Tanks
    item_id: bcda8a679c524ac59983ed36a0b087f1
  updates:
    - Nightly
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/envirolandmain.png %}" alt="Land Locations" />
  <figcaption class="caption__text">DEQ Land Locations</figcaption>
</figure>
{% include abstract.html name="DEQ Land-Related Contaminant and Cleanup Data"
  stewards="Utah Department of Environmental Quality"
  webapp="https://enviro.deq.utah.gov/"
  abstract="US EPA and State designated hazardous materials storage sites and contamination clean up program sites including CERLA, National Priority List, Underground Storage Tanks (UST), Brownfields, Voluntary Cleanup (VCP), Tier 2, Toxic Release Inventory (TRI), User Oil Permitted Facilities, Formerly Used Defense (FUD), RCRA Large &amp; Small Quantity Hazardous Waste Generators, Solid Waste Facilities, and Enforceable Written Assurance sites. To view all DEQ geographic data online, see the <a href='https://enviro.deq.utah.gov/'>DEQ Interactive Map Viewer</a>." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="BFTARGETED">Brownfields Targeted for Cleanup</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirolargegenerators.png %}" alt="brownfields targeted map" />
    <p>Environment.BFTARGETED contains the coordinates of Brownfields Projects targeted for cleanup. These locations were derived from maps and GPS data and represent sites, not contaminated areas. Brownfields are real property, the expansion, redevelopment, or reuse of which may be complicated by the presence or potential presence of a hazardous substance, pollutant, or contaminant.  Cleaning up and reinvesting in these properties takes development pressures off of undeveloped open land, and both improves and protects the environment. For more information see: <a href="https://www.epa.gov/brownfields/">https://www.epa.gov/brownfields/</a>.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.brownfields %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="BFTARGETED"
     info=page.BFTARGETED %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="BFNONTARGETED">Brownfields Not Targeted For Cleanup</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirosmallgenerators.png %}" alt="brownfields not for cleanup" />
    <p>Environment.BFNONTARGETED contains the coordinates of Brownfields Projects <strong>not</strong> targeted for cleanup. These locations represent sites, not contaminated areas, and were derived from maps and GPS data. For more information see:  https://www.epa.gov/brownfields/</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.brownfields %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="BFNONTARGETED"
     info=page.BFNONTARGETED %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="DWMRCHazWasteUsedOilFacilities">Hazardous Waste and Used Oil Facilities</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirousedoil.png %}" alt="UsedOil" />
    <p>Environment.DWMRCHazWasteUsedOilFacilities contains sites that generate hazardous waste; that treat, store, or dispose of hazardous waste; and sites that transport, market, or recycle used oil.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.waste %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-waste-management-radiation-control/">Utah Department of Environmental Quality: Division of Solid & Hazardous Waste</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://deq.utah.gov/division-waste-management-radiation-control/gismeta/used%20oil%20permitted%20facilities.htm">Environment.DSHWPermittedUsedOilFacilities Metadata</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="DWMRCHazWasteUsedOilFacilities"
     info=page.DWMRCHazWasteUsedOilFacilities %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="DWMRCLLRWUMillFacilities">Low Level Waste Disposal and Uranium Mills</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirollwaste.png %}" alt="Low Level Waste" />
    <p>Environment.DWMRCLLRWUMillFacilities contains sites that treat or dispose of radioactive waste or process uranium ore.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.waste %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-waste-management-radiation-control/">Utah Department of Environmental Quality: Division of Solid & Hazardous Waste</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="DWMRCLLRWUMillFacilities"
     info=page.DWMRCLLRWUMillFacilities %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="SolidWasteLandfills">Solid Waste Landfills</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirosolidwaste.png %}" alt="SolidWaste" />
    <p>Environment.DWMRSolidWasteFacilities contains locations for open and closed Solid Waste Landfills in Utah.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.waste %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="SolidWasteLandfills"
        info=page.SolidWasteLandfills %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="FormerlyUsedDefenseSites">Formerly Used Defense Sites (FUDS)</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirofuds.png %}" alt="SolidWaste" />
    <p>Environment.FUD contains locations of potential Formerly Used Defense sites. The Department of Defense (DoD) is responsible for environmental restoration of FUDS. FUD locations are based on coordinates derived from maps and GPS data.  These locations represent sites, not contaminated areas.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.military %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="http://www.usace.army.mil/Missions/Environmental/Formerly-Used-Defense-Sites/">US Army Corps of Engineers Environmental Cop: FUDS</a>
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/gismeta/Formerly%20Used%20Defense.htm">Environment.FUD Metadata</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="FormerlyUsedDefenseSites"
          info=page.FormerlyUsedDefenseSites %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="MilitaryMunitionsResponseProgram">Military Munitions Response Program (MMRP)</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirommrps.png %}" alt="MMRP" />
    <p>Environment.MMRP contains locations of Military Munitions Response Program sites. MMRP manages the environmental, health and safety issues presented by unexploded ordnances (UXO), discarded military munitions (DMM) and munitions constituents (MC). Locations are based on coordinates derived from maps and GPS data. These locations represent sites, not contaminated areas.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.military %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="http://aec.army.mil/index.php/restore/MMRP">Military Munitions Response Program (MMRP)</a>
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/gismeta/Military%20Munitions%20Response%20Program.htm">Environment.MMRP Metadata</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="MilitaryMunitionsResponseProgram"
          info=page.MilitaryMunitionsResponseProgram %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="EnforceableWrittenAssurances">Enforceable Written Assurances (EWA)</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/enviroewa.png %}" alt="MMRP" />
    <p>Environment.EWA contains locations of potential Enforceable Written Assurance sites. EWAs will generally ensure to property owners or prospective property owners that there is no unacceptable risk to human health or the environment. EWA locations are based on coordinates derived from maps and GPS data. These locations represent sites, not contaminated areas.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.ewa %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://rules.utah.gov/publicat/code/r311/r311-600.htm">UT Hazardous Substances Mitigation Act: Enforeceable Written Assurances</a>
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/gismeta/Enforceable%20Written%20Assurances.htm">Environment.EWA Metadata</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="EnforceableWrittenAssurances"
          info=page.EnforceableWrittenAssurances %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="NationalPrioritiesList">National Priorities List (NPL)</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/environpl.png %}" alt="NPL" />
    <p>Environment.NPL contains locations of Utah National Priorities List Sites. The NPL is the list of national priorities among the known releases or threatened releases of hazardous substances, pollutants, or contaminants throughout the United States. Locations are based on coordinates derived from maps and GPS data. These locations represent sites, not contaminated areas.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.npl %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://www.epa.gov/superfund/sites/npl/">National Priorities List</a>
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/gismeta/CERCLA%20-%20National%20Priorities%20List.htm">Environment.NPL Metadata</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="NationalPrioritiesList"
          info=page.NationalPrioritiesList %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
      <h3 id="SuperfundSites">Superfund Sites</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirositerem.png %}" alt="NPL" />
    <p>Environment.SITEREM contains locations of potential EPA Superfund sites. The Comprehensive Environmental Response, Compensation, and Liability Act (CERCLA), commonly known as Superfund, imposes a tax on the chemical and petroleum industries and provides Federal authority to respond directly to releases or threatened releases of hazardous substances that may endanger public health or the environment. Locations are based on coordinates derived from maps and GPS data. These locations represent sites, not contaminated areas.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.superfund %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://www.epa.gov/superfund/policy/cercla.htm">US EPA CERCLA Overview</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="SuperfundSites"
          info=page.SuperfundSites %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="InstitutionalControlBufferZones">Institutional Control Buffer Zones</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/enviroicbuffers.png %}" alt="NPL" />
    <p>Environment.ICBUFFERZONES contains Institutional Control Buffer Zones in Utah.</p>
    <h5>Related Resources</h5>
    <ul <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
    </ul>
  </div>
  {% include packagedata.html name="InstitutionalControlBufferZones"
          info=page.InstitutionalControlBufferZones %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UtahToxicReleaseInventoryTierII">Utah Toxic Release Inventory Tier II</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirotier2.png %}" alt="NPL" />
    <p>Environment.TIER2 contains locations of Tier II facilities under the Emergency Planning and Community Right-to-Know Act (EPCRA). Qualifying facilities report on hazardous and toxic chemicals and are labeled either tier I or tier II. Locations are based on coordinates derived from maps and GPS data. These locations represent sites, not contaminated areas. The areas of contamination will be identified at a later stage.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.toxic_release %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://www.epa.gov/epcra">EPCRA Requirements</a>
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/gismeta/TIER2.htm">Environment.TIER2 Metadata</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="UtahToxicReleaseInventoryTierII"
          info=page.UtahToxicReleaseInventoryTierII %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="ToxicReleaseInventory">Toxic Release Inventory (TRI)</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirotri.png %}" alt="NPL" />
    <p>Environment.TRI contains TRI locations in Utah. TRI is an EPA database containing data on disposal or release of toxic chemicals from U.S. facilities and information about how facilities manage those chemicals through recycling, energy recovery, and treatment. Locations are based on coordinates derived from maps and GPS data.  These locations represent sites, not contaminated areas.  The areas of contamination will be identified at a later stage.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.toxic_release %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://www.epa.gov/tri/">US EPA Toxics Release Inventory (TRI)</a>
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/gismeta/Toxic%20Release%20Inventory.htm">Environment.TRI Metadata</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="ToxicReleaseInventory"
          info=page.ToxicReleaseInventory %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="VoluntaryCleanupProgram">Voluntary Cleanup Program (VCP)</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirovcps.png %}" alt="VCP" />
    <p>Environment.VCP contains locations of Utah VCP. VCP is a program to encourage the voluntary cleanup of sites where there has been a contaminant release threatening public health and the environment. Locations are based on coordinates derived from maps and GPS data.  These locations represent sites, not contaminated areas.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.vcp %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/gismeta/Voluntary%20Cleanup%20Program.htm">Environment.VCP Metadata</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="VoluntaryCleanupProgram"
          info=page.VoluntaryCleanupProgram %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="FacilityUST">FacilityUST</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/envirofacilityusts.png %}" alt="VCP" />
    <p>Environment.FacilityUST contains the locations of facilities with underground storage tanks.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.ust %}</p>
    <h5> <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-environmental-response-remediation/">Utah Department of Environmental Quality: The Division of Environmental Response and Remediation</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
      <li><a href="https://enviro.deq.utah.gov/">DEQ Interactive Map Viewer</a>
    </ul>
  </div>
  {% include packagedata.html name="FacilityUST"
          info=page.FacilityUST %}
</div>
