---
tags:
  - data
  - districts
  - health
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-21 17:16:46 -0700
categories: []
HealthDistricts:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mUjNwXzRwby0ycFE
      label: Health Districts
  updates:
    - January 2016
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/HealthDistrictBndy.png %}" alt="HealthDistricts" />
  <figcaption class="caption__text">Health Districts 2015</figcaption>
</figure>
{% include abstract.html name="Health Districts 2015"
stewards="Utah Department of Health & AGRC"
abstract="Health.HealthDistricts2015 contains the health districts in the state of Utah.  These districts are often the main entity for reporting and tracking communicable diseases, as well as providing services to the community and state that include investigation of disease outbreaks, health education, health screenings and immunizations, and food regulation for establishments." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="HealthDistricts">
      <a href="#HealthDistricts" class="anchor--link">Healthcare Facilities</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>Health.HealthDistricts2015 contains the health districts in the state of Utah.  These districts are often the main entity for reporting and tracking communicable diseases, as well as providing services to the community and state that include investigation of disease outbreaks, health education, health screenings and immunizations, and food regulation for establishments.</p>
    <p>The <code>DISTNAME</code> field contains the district name.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://health.utah.gov/">Utah Department of Health</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="HealthDistricts" info=page.HealthDistricts %}
</div>
