---
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
tags:
  - data
  - drg
  - indices
categories: []
date: 2011-09-15 14:42:10 -0600
USGS24KDRGIndices:
  hub:
    name: USGS 24K DRG Index
    item_id: fe10115354c14260aef62a60b3137488
  updates:
    - Updates to this dataset are not planned
USGS100KDRGIndices:
  hub:
    name: USGS 100K DRG Index
    item_id: 80042c4b51a843c3b480ada0b8d68177
  updates:
    - Updates to this dataset are not planned
USGS250KDRGIndices:
  hub:
    name: USGS 250K Index 1x1
    item_id: 606d75b70d254c7e9da5785704c60369
  downloads:
    - url: https://opendata.gis.utah.gov/datasets/usgs-250k-drg-index-1x2
      label: 'USGS 250K DRG Index 1x2: SGID Open Data Downloads and APIs'
    - url: https://opendata.arcgis.com/datasets/ed39436090e8472593149659b4ed257e_0.gdb
      label: 'USGS 250K DRG Index 1x2: File Geodatabase'
    - url: https://opendata.arcgis.com/datasets/ed39436090e8472593149659b4ed257e_0.shp
      label: 'USGS 250K DRG Index 1x2: Shapefile'
  updates:
    - Updates to this dataset are not planned
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/DRG24k-Index-UT_LG.png %}" alt="DRG Sample" loading="lazy" />
  <figcaption class="caption__text">USGS Topographic Map Index</figcaption>
</figure>
{% include abstract.html name="Topographic Map Indices"
abstract="This dataset contains GIS mapping data representing the tile indices for the 24K, 100K, and 250K USGS scanned
topographic maps (DRGs)." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="USGS24KDRGIndices">USGS 24K DRG Indices</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/drg24k-index-ut.jpg %}" alt="DRG Index" loading="lazy" />
    <p>The USGS Topographic Map tile indices can be used to determine the 7.5 minute, 1:24,000 scale map boundaries for
      Utah.</p>
    <p>Each tile index contains the following attribute fields:</p>
    <ul class="dotless">
      <li><strong>Name</strong> - the name of the map
      <li><strong>OHIO_CODE</strong> - code used by USGS
      <li><strong>TILE</strong> - the image tile name
      <li><strong>PATH</strong> - the directory where the topographic map tile resides
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are
      no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to:
      State of Utah, SGID.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://utah.maps.arcgis.com/home/item.html?id=baa0bf569643469a9511e1fb753f4a60">USGS 24K Quarter Quads Index</a>
      <li><a href="{% link data/usgs-scanned-topographic-maps/index.html %}/#24K">USGS 24K Topographic Maps</a>
      <li><a href="{% link data/usgs-scanned-topographic-maps/index.html %}/#Vintage">Vintage Topographic Maps</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
  {% include packagedata.html name="USGS24KDRGIndices" info=page.USGS24KDRGIndices %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="USGS100KDRGIndices">USGS 100K DRG Indices</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/drg100k-index-ut.jpg %}" alt="DRG Index" loading="lazy" />
    <p>The USGS Topographic Map tile indices can be used to determine the 30x60 minute, 1:100,000 scale quadrangle map
      boundaries for Utah.</p>
    <p>Each tile index contains the following attribute fields:</p>
    <ul class="dotless">
      <li><strong>TILE_NAME</strong> - UGRC q number
      <li><strong>Name</strong> - the name of the map
      <li><strong>TILE</strong> - the image tile name
      <li><strong>PATH</strong> - the directory where the topographic map tile resides
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are
      no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to:
      State of Utah, SGID.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{% link data/usgs-scanned-topographic-maps/index.html %}/#100K">USGS 100K Topographic Maps</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
  {% include packagedata.html name="USGS100KDRGIndices" info=page.USGS100KDRGIndices %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="USGS250KDRGIndices">USGS 250K DRG Indices</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/drg250k-index-ut.jpg %}" alt="DRG Index" loading="lazy" />
    <p>The USGS Topographic Map tile indices can be used to determine the 1x1 and 1x2 degree, 1:250,000 scale quadrangle
      map boundaries for Utah.</p>
    <p>Each tile index contains the following attribute fields:</p>
    <ul class="dotless">
      <li><strong>TILE_NAME</strong> - UGRC q number name
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are
      no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to:
      State of Utah, SGID.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{% link data/usgs-scanned-topographic-maps/index.html %}/#250K">USGS 250K Topographic Maps</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
  {% include packagedata.html name="USGS250KDRGIndices" info=page.USGS250KDRGIndices %}
</div>
