---
title: USGS Digital Topographic Maps (DRGs) Indices
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
tags:
  - data
  - drg
  - indices
categories: []
date: 2011-09-15 14:42:10 -0600
USGS24KDRGIndices:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mWTZLZGRfdGx2b1E&export=download
      label: 'USGS 24K Quad Index: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mVDlfMndnVzMzaVU&export=download
      label: 'USGS 24K Quad Index: Shapefile'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mVnZXUlNUaUJSWFU&export=download
      label: 'USGS 24K Quarter Quad Index: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mSnpEbmhhXzB3aXc&export=download
      label: 'USGS 24K Quarter Quad Index: Shapefile'
  updates:
    - Updates to this dataset are not planned
USGS100KDRGIndices:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mdmlfbUctZXRMYjA&export=download
      label: 'USGS 100K Index: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mYUFsVEpVWmozYzg&export=download
      label: 'USGS 100K Index: Shapefile'
  updates:
    - Updates to this dataset are not planned
USGS250KDRGIndices:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mTHBEOVJpQVpPdzA&export=download
      label: 'USGS 250K Index 1x1: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mQmtkeDlzVklVZ3M&export=download
      label: 'USGS 250K Index 1x1: Shapefile'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mMF83VXVUUlBMUGM&export=download
      label: 'USGS 250K Index 1x2: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mb1ZMUTVKbFdWWjA&export=download
      label: 'USGS 250K Index 1x2: Shapefile'
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mbTNDWW5TcUNZRFk
      label: INDICES.USGS250KQuads1x1
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mMmloWWtXbjcyRkE
      label: INDICES.USGS250KQuads1x2
  updates:
    - Updates to this dataset are not planned
---
<figure class="caption caption--right">
  <img class="caption__image" src="{{ "/images/DRG24k-Index-UT_LG.png" | prepend: site.baseurl }}" alt="DRG Sample" />
  <figcaption class="caption__text">USGS Topographic Map Index</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7meG9ZM2N4QzZrM0E"
   name="Topographic Map Indices"
   abstract="This dataset contains GIS mapping data representing the tile indices for the 24K, 100K, and 250K USGS scanned topographic maps (DRGs)." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="USGS24KDRGIndices">
      <a href="#USGS24KDRGIndices" class="anchor--link">USGS 24K DRG Indices</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/drg24k-index-ut.jpg" | prepend: site.baseurl }}" alt="DRG Index" />
    <p>The USGS Topographic Map tile indices can be used to determine the 7.5 minute, 1:24,000 scale map boundaries for Utah.</p>
    <p>Each tile index contains the following attribute fields:</p>
    <ul class="dotless">
      <li><strong>Name</strong> - the name of the map
      <li><strong>OHIO_CODE</strong> - code usded by USGS
      <li><strong>TILE</strong> - the image tile name on FTP site
      <li><strong>PATH</strong> - the directory where the topographic map tile resides on the FTP site
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah, SGID.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{{ "/data/usgs-scanned-topographic-maps/" | prepend: site.baseurl }}">USGS 24K Topographic Maps</a>
      <li><a href="https://drive.google.com/drive/folders/0ByStJjVZ7c7mb1RJRmQ3ZTdPbjQ">INDICES.USGS24KQuads</a>
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.INDICES.USGS24KQuads.xml">FGDC format metadata</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
  {% include packagedata.html name="USGS24KDRGIndices" info=page.USGS24KDRGIndices %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="USGS100KDRGIndices">
      <a href="#USGS100KDRGIndices" class="anchor--link">USGS 100K DRG Indices</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/drg100k-index-ut.jpg" | prepend: site.baseurl }}" alt="DRG Index" />
    <p>The USGS Topographic Map tile indices can be used to determine the 30x60 minute, 1:100,000 scale quadrangle map boundaries for Utah.</p>
    <p>Each tile index contains the following attribute fields:</p>
    <ul class="dotless">
      <li><strong>TILE_NAME</strong> - AGRC q number
      <li><strong>Name</strong> - the name of the map
      <li><strong>TILE</strong> - the image tile name on FTP site
      <li><strong>PATH</strong> - the directory where the topographic map tile resides on the FTP site
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah, SGID.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{{ "/data/usgs-scanned-topographic-maps/" | prepend: site.baseurl }}">USGS 100K Topographic Maps</a>
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.INDICES.USGS100KQuads.xml">FGDC format metadata</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
    {% include packagedata.html name="USGS100KDRGIndices" info=page.USGS100KDRGIndices %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="USGS250KDRGIndices">
      <a href="#USGS250KDRGIndices" class="anchor--link">USGS 250K DRG Indices</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/drg250k-index-ut.jpg" | prepend: site.baseurl }}" alt="DRG Index" />
    <p>The USGS Topographic Map tile indices can be used to determine the 1x1 and 1x2 degree, 1:250,000 scale quadrangle map boundaries for Utah.</p>
    <p>Each tile index contains the following attribute fields:</p>
    <ul class="dotless">
      <li><strong>TILE_NAME</strong> - AGRC q number name on FTP site
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah, SGID.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{{ "/data/usgs-scanned-topographic-maps/" | prepend: site.baseurl }}">USGS 250K Topographic Maps</a>
      <li><a href="{{ "/data/usgs-scanned-topographic-maps/" | prepend: site.baseurl }}">USGS 500K Topographic Maps</a>
      <li><a href="{{ "/data/usgs-scanned-topographic-maps/" | prepend: site.baseurl }}">Vintage Collared USGS</a>
      <li><a href="{{ "/data/usgs-scanned-topographic-maps/" | prepend: site.baseurl }}">1:62.5K and 1:125K </a>
      <li><a href="{{ "/data/usgs-scanned-topographic-maps/" | prepend: site.baseurl }}">Topographic Maps</a>
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.INDICES.USGS250KQuads1x1.xml">View FGDC format metadata</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
  {% include packagedata.html name="USGS250KDRGIndices" info=page.USGS250KDRGIndices %}
</div>
