---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import BulletedList from '@components/page/BulletedList.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import { dataPages } from '@data/downloadMetadata';

import index from '@images/sgid/24k_index.png';

export const metadata: IMetadata = {
  pageTitle: 'USGS Topographic Map Indices',
  pageDescription: `This dataset contains GIS mapping data representing the tile indices for the 24K, 100K, and 250K USGS scanned topographic maps (DRGs).`,
  stewards: ['UGRC', 'U.S. Geological Survey'],
  type: ProductType.POLYGON,
  category: SgidCategory.INDICES,
  secondaryCategory: SgidCategory.TOPO,
};

const page: IPageMetadata = {
  ...metadata,

  updateHistory: [`Never`],
  config: { stripeDescription: true },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <div class="flex flex-wrap justify-center gap-6 lg:flex-nowrap">
      <p>
        USGS Topographic Map boundary tile indices can be used to determine the 7.5 minute - 1:24,000, 30x60 minute -
        1:100,000, 1x1 and 1x2 degree - 1:250,000 scale map boundaries for Utah.
      </p>
      <Image src={index} width="300" alt="An RGB image of the NAIP" class="w-full max-w-[300px] rounded-lg" />
    </div>
  </Fragment>

  <Section title="Use the USGS 24K quad boundaries indices" slot="downloads" titlePosition="center">
    <HubDownloads {...dataPages['Utah USGS 24K Quads']} />
  </Section>
  <Section title="Use the USGS 24K quarter quad boundaries indices" slot="downloads" titlePosition="center" stripe>
    <HubDownloads {...dataPages['Utah USGS 24K Quarter Quads']} />
  </Section>
  <Section title="Use the USGS 100K quad boundaries indices" slot="downloads" titlePosition="center">
    <HubDownloads {...dataPages['Utah USGS 100K Quads']} />
  </Section>
  <Section title="Use the USGS 250K quad boundaries 1x1 indices" slot="downloads" titlePosition="center" stripe>
    <HubDownloads {...dataPages['Utah USGS 250K Quads 1x1']} />
  </Section>
  <Section title="Use the USGS 250K quad boundaries 1x2 indices" slot="downloads" titlePosition="center">
    <HubDownloads {...dataPages['Utah USGS 250K Quads 1x2']} />
  </Section>

  <Fragment slot="description">
    <h3>The 24K tile index contains the following attribute fields:</h3>
    <BulletedList>
      <li>Name - the name of the map</li>
      <li>OHIO_CODE - code used by USGS</li>
      <li>TILE - the UGRC q number tile name</li>
    </BulletedList>
    <h3>The 100K tile index contains the following attribute fields:</h3>
    <BulletedList>
      <li>Name - the name of the map</li>
      <li>TILE - the UGRC q number tile name</li>
    </BulletedList>
    <h3>The 250K tile indices contains the following attribute fields:</h3>
    <BulletedList>
      <li>USGS_CODE - code used by USGS</li>
      <li>TILE_NAME - the UGRC q number tile name</li>
    </BulletedList>
    <p>
      The native spatial reference for these dataset are UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There
      are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content
      to: State of Utah, SGID.
    </p>
  </Fragment>

  <Section title="More resources" slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="UGRC Raster Data Discovery" href="https://raster.utah.gov/?products=5"
        >Download USGS topographic maps.</CardWithPopularLink
      >
      <CardWithPopularLink title="The National Map" href="https://apps.nationalmap.gov/downloader/"
        >Download USGS topographic GeoPDF maps.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Topographic maps" href="/products/sgid/topo/usgs-scanned-topographic-maps"
        >USGS scanned topographic maps</CardWithSmallLink
      >
      <CardWithSmallLink title="Boundaries" href="/products/sgid/boundaries">Boundaries page</CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
