  <div class="grid__col grid__col--1-of-2">
    <div class="panel">
      <i class="fas fa-pull-right fa-download fa-2x" data-fa-transform="down-2"></i>
      <h5 id="{{ include.name | replace: ' ', '' }}-downloads">Downloads and Web Services</h5>
    </div>
    <div class="panel-content">
      <ul id="{{ include.name | replace: ' ', '' }}-dlist" class="dotless no-padding">
        {% if include.info.downloads.size > 0 %}
        {%- for download in include.info.downloads -%}
        <li><a href="{{ download.url }}">{{ download.label }}</a>
        {%- endfor -%}
        {% endif %}
        {% if include.info.hub %}
        {% include downloads.html
          org=include.info.hub.org
          name=include.info.hub.name
          item_id=include.info.hub.item_id
          alias = include.info.hub.alias
        %}
        {% endif %}
        {% if include.info.opensgid %}
        {% include opensgid.html table=include.info.opensgid.table %}
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="grid__col grid__col--1-of-2">
    <div class="panel update">
      <i class="fas fa-pull-right fa-calendar fa-2x" data-fa-transform="down-2"></i>
      <h5 id="{{ include.name | replace: ' ', '' }}-updates">Updates</h5>
    </div>
    <div class="panel-content">
      <ul class="dotless no-padding">{%- for update in include.info.updates -%}
        <li>{{ update }}{%- endfor -%}
      </ul>
    </div>
  </div>
  {%- if include.info.endpoints -%}
  <div class="grid__col grid__col--1-of-2">
    <div class="panel endpoint">
      <i class="fas fa-pull-right fa-cloud fa-2x" data-fa-transform="down-2"></i>
      <h5 id="{{ include.name | replace: ' ', '' }}-web-services">Web Services</h5>
    </div>
    <div class="panel-content">
      <ul class="dotless no-padding">{%- for endpoint in include.info.endpoints -%}
        <li><a href="{{ endpoint.url }}">{{ endpoint.label }}</a>{%- endfor -%}
      </ul>
    </div>
  </div>
  {%- endif -%}
  <script>
    document.getElementById('{{ include.name | replace: ' ', '' }}-dlist').addEventListener('click', function() {
      ga('send', {
        hitType: 'event',
        eventCategory: 'data',
        eventAction: 'specific-download',
        eventLabel: 'specific-download-{{ include.name | downcase | replace: " ", "-" }}',
        transport: 'beacon'
      });
    });
  </script>
