---
tags:
  - data
  - farming
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
date: 2012-04-23 07:55:57 -0600
categories: []
GrazingImprovementAreas:
  hub:
    name: Utah Grazing Improvement Regions
    item_id: 0527832735284326980bb970495b9ee0
  updates:
    - September 2009
GrazingAllotmentAreas:
  hub:
    name: Utah Grazing Allotments
    item_id: 822d0cf8e7da44b7922f8351d7b252e5
  updates:
    - September 2009
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/GrazingAllotments.png %}" alt="Grazing" />
  <figcaption class="caption__text">Grazing Allotment Sample</figcaption>
</figure>
{% include abstract.html
  name="Grazing Improvement and Allotment Areas"
  stewards="USDA, UDAF, and AGRC"
  abstract="These datasets contain statewide Grazing Improvement Program and grazing allotment boundaries for use in planning and land management." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GrazingImprovementAreas">Grazing Improvement Areas</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/GrazingRegionsSM.png %}" alt="Grazing Improvement Areas" />
    <p>Grazing Improvement Regions contain statewide Grazing Improvement Program boundaries for use in planning and land management.  Each region is managed by a Grazing Improvement Program coordinator.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://ag.utah.gov/conservation-environmental/grazing-improvement-program.html">General Grazing Improvement Program Information</a>
    </ul>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
  </div>
  {% include packagedata.html
    name="GrazingImprovementAreas"
    info=page.GrazingImprovementAreas
  %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GrazingAllotmentAreas">Grazing Allotment Areas</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/GrazingAllotmentsSM.png %}" alt="Grazing Allotment Areas" />
    <p>Grazing Allotments contain statewide Grazing Allotment boundaries for use in planning and land management.  This dataset also contains the allotment name, number and managing agency.</p>
    <p>Each allotment is managed by the listed state or federal agency on number of domestic animals allowed on the allotment and designated as Animal Unit Months (AUMs). The dataset was compiled by Utah Department of Agriculture and Food GIS staff from multiple state and federal agencies.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
  </div>
  {% include packagedata.html name="GrazingAllotmentAreas"
    info=page.GrazingAllotmentAreas %}
</div>
