---
tags:
  - data
  - farming
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
date: 2012-04-23 07:55:57 -0600
title: Grazing Improvement and Allotment Areas
categories: []
GrazingImprovementAreas:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mYWlqMnpBdXlBUEk&export=download
      label: 'Grazing Improvement Areas: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mZTdfcHRya29xWWs&export=download
      label: 'Grazing Improvement Areas: Shapefile'
  updates:
    - September 2009
GrazingAllotmentAreas:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mLUR1RWw4bVVCMjA&export=download
      label: 'Grazing Allotment Areas: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mU2x5VUo0NFNhT1k&export=download
      label: 'Grazing Allotment Areas: Shapefile'
  updates:
    - September 2009
---
<figure class="caption caption--right">
  <img class="caption__image" src="{{ "/images/GrazingAllotments.png" | prepend: site.baseurl }}" alt="Grazing" />
  <figcaption class="caption__text">Grazing Allotment Sample</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mWkotY1RhNGxOTVE"
  name="Grazing Improvement and Allotment Areas"
  stewards="USDA, UDAF, and AGRC"
  abstract="These datasets contain statewide Grazing Improvement Program and grazing allotment boundaries for use in planning and land management." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GrazingImprovementAreas">
      <a href="#GrazingImprovementAreas" class="anchor--link">Grazing Improvement Areas</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/GrazingRegionsSM.png" | prepend: site.baseurl }}" alt="Grazing Improvement Areas" />
    <p>Farming.GrazingImprovementRegions contains statewide Grazing Improvement Program boundaries for use in planning and land management.  Each region is managed by a Grazing Improvement Program coordinator.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://ag.utah.gov/conservation-environmental/grazing-improvement-program.html">General Grazing Improvement Program Information</a>
    </ul>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
  </div>
  {% include packagedata.html
    name="GrazingImprovementAreas"
    info=page.GrazingImprovementAreas
  %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GrazingAllotmentAreas">
      <a href="#GrazingAllotmentAreas" class="anchor--link">Grazing Allotment Areas</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/GrazingAllotmentsSM.png" | prepend: site.baseurl }}" alt="Grazing Allotment Areas" />
    <p>Farming.GrazingAllotments contains statewide Grazing Allotment boundaries for use in planning and land management.  This dataset also contains the allotment name, number and managing agency.</p>
    <p>Each allotment is managed by the listed state or federal agency on number of domestic animals allowed on the allotment and designated as Animal Unit Months (AUMs). The dataset was compiled by Utah Department of Agriculture and Food GIS staff from multiple state and federal agencies.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
  </div>
  {% include packagedata.html name="GrazingAllotmentAreas"
    info=page.GrazingAllotmentAreas %}
</div>
