---
title: Public Safety
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - dispatch
  - fire
  - law enforcement
  - society
date: 2012-06-19 11:06:38 -0600
categories: []
CorrectionalFacilities:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mV0g4ZlJ1aUlMS3M&export=download
      label: 'Society.CorrectionalFacilities: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mTkZtMy12VUtodXc&export=download
      label: 'Society.CorrectionalFacilities: Shapefile'
  updates:
    - June 2013
    - August 2011
FireStations:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mR0s3VzRLeXpoblU&export=download
      label: 'Society.FireStations: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mNTJLLVpFOHVHWnM&export=download
      label: 'Society.FireStations: Shapefile:'
  updates:
    - June 2013
    - August 2011
LawEnforcement:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mMkcyWHJGWk9wUG8&export=download
      label: 'Society.LawEnforcement: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mX0VmY0ZSMzJ6ZmM&export=download
      label: 'Society.LawEnforcement: Shapefile'
  updates:
    - June 2013
    - August 2011
PSAPLocations:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mNEhMOWpHbmtiN1E&export=download
      label: 'Society.PSAPLocations: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mSUdlNWlCOWJLUGc&export=download
      label: 'Society.PSAPLocations: Shapefile'
  updates:
    - January 28, 2020 - Updated name of Central Utah 911
    - December 10, 2018
    - November 25, 2013
    - December 2004
PSAPBoundaries:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7majdDTkZWdVhNQVU&export=download
      label: 'Society.PSAPBoundaries: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mQW9HT25ISXo1LVE&export=download
      label: 'Society.PSAPBoundaries: Shapefile'
  updates:
    - January 28, 2020 - Added Centerville to Bountiful PD jurisdiction. Adjusted municipality-centric boundaries to account for recent annexations. Updated name of Central Utah 911.
    - January 4, 2019
    - December 10, 2018
    - November 25, 2013
    - October 16, 2013
StateAgencyDispatch:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mM0VDOHdnRFVjMzQ&export=download
      label: 'Society.StateAgencyDispatch: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mN1lHQ0c5RXVNbWs&export=download
      label: 'Society.StateAgencyDispatch: Shapefile'
  updates:
    - October 2013
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/PublicSafety.png %}" alt="Public Safety" />
  <figcaption class="caption__text">Locations of Law Enforcement Facilities in Utah</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mSk1mNzRyS1kwR3c"
   name="Public Safety"
   type="GIS Data Layer"
   stewards="AGRC"
   abstract="This data package has three datasets with facilities relating to public safety in Utah. Public safety facilities include correctional facilities, fire stations, and law enforcement facilities. These datasets come from different sources and therefore there might be some overlap." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="CorrectionalFacilities">
      <a href="#CorrectionalFacilities" class="anchor--link">Correctional Facilities</a></h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/Jails.png %}" alt="Locations of Law Enforcement Facilities in Utah" />
    <p>Society.CorrectionalFacilities contains locations for jails and prisons in Utah. A jail or prison defined by the Department of Justice consists of any facility or location where individuals are regularly and lawfully detained against their will. This includes Federal and State prisons, local jails, and juvenile detention facilities, as well as law enforcement temporary holding facilities. Locations which function primarily as law enforcement offices are included in this dataset if they have holding cells.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="CorrectionalFacilities"
    info=page.CorrectionalFacilities
  %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="FireStations">
      <a href="#FireStations" class="anchor--link">Fire Stations</a></h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/FireStations.png %}" alt="Firestation icon" />
    <p>Society.FireStations includes any location where fire fighters are stationed or based out of, or where fire fighting equipment is stored. This definition includes fire stations that are both private and public entities, and fire stations that primarily fight forest or grassland fires. Fire fighting training academies are also included.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="FireStations"
    info=page.FireStations %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="LawEnforcement">
      <a href="#LawEnforcement" class="anchor--link">Law Enforcement</a></h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/PoliceStations.png %}" alt="Police station icon" />
    <p>Society.LawEnforcement contains locations for law enforcement facilities in Utah. Law enforcement facilities are defined as any location where sworn officers of a law enforcement agency are regularly based or stationed. Law enforcement facilities are at least partially publicly funded. This law enforcement dataset includes federal, state, local and special jurisdiction facilities. Examples of law enforcement facilities included are municipal police, county sheriffs, state police, school police, park police, railroad police, and federal police.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="LawEnforcement"
    info=page.LawEnforcement
    %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="PSAPLocations">
      <a href="#PSAPLocations" class="anchor--link">PSAP Locations</a></h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/PSAPLocation.png %}" alt="PSAP icon" />
    <p>Society.PSAPLocations represents the primary Public Safety Answering Point (PSAP) locations in Utah. The Salt Lake County Sheriff Office PSAP is secondary. The dataset was created in December 2004 by geocoding the PSAP addresses provided by the E911 Executive Committee.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="PSAPLocations"
    info=page.PSAPLocations
  %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="PSAPBoundaries">
      <a href="#PSAPBoundaries" class="anchor--link">PSAP Boundaries</a></h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/PSAPBndy2.png %}" alt="PSAP Icon" />
    <p>Society.PSAPBoundaries represents Primary Safety Answering Point (PSAP) boundaries in Utah. Countywide PSAP jurisdiction boundaries are based on the SGID10.BOUNDARIES.Counties data layer, as of July 26, 2012. PSAP jurisdictions representing individual cities are based on the SGID10.BOUNDARIES.Municipalities data layer, as of July 26, 2012. The data also includes jurisdictional boundary representations of the Navajo Nation Tribal Lands, Hill Air Force Base, and Colorado City.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="PSAPBoundaries"
    info=page.PSAPBoundaries %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="StateAgencyDispatch">
      <a href="#StateAgencyDispatch" class="anchor--link">State Agency Dispatch</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/DispatchBoundary.png %}" alt="Dispatch Icon" />
    <p>Society.StateAgencyDispatch represents State Dispatch Boundaries.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="StateAgencyDispatch"
    info=page.StateAgencyDispatch
  %}
</div>
