.application {
    text-align: center;
    & h3 {
        margin: 0;
        padding: 0;
        padding-top: .5em;
    }
    & h2 {
        margin: 0;
        padding: 0;
    }
    &__partners {
        text-transform: uppercase;
        color: rgba(0,0,0,0.48);
    }
    &__links {
        max-width: 75%;
        padding-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    &__url {
        float: left;
    }
    &__download {
        float: right;
    }
    &-figure {
        &--align-center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        &__caption {
            color: rgba(0,0,0,0.48);
            text-align: center;
            font-size: 80%;
        }
        &__image {
            max-width: 100%;
            margin: 0 50px;
            height: auto;
            display: inline-block;
            vertical-align: top;
        }
    }
    @include media-query($on-medium) {
        &__url, &__download {
            float: none;
            display: block;
        }
        &__partners {
            font-size: .8em;
        }
        &__links {
            padding: 0;
        }
    }
}
