// Reset some basic elements
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    -webkit-font-smoothing: antialiased;
 }
* {
    box-sizing: border-box;
}
abbr {
    text-decoration: dotted underline;
    cursor: help;
}
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-text-color;
    background-color: $base-background-color;
}
caption {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}
p {
    margin: 0 0 1.5em;
}
dl {
    margin: 1.25em;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 1em;
}


// Headings
h1,h2,h3,h4,h5,h6 {
    padding-top: .5em;
    margin: 0 0 1em;
    font-size: 2.65em;
    font-weight: 300;
    color: #323232;
    text-align: center;
}
h2 {
    margin-bottom: 1em;
    font-size: 2em;
}
h3 {
    margin-bottom: .6em;
    font-size: 1.6em;
}
h4 {
    margin-bottom: .3em;
    font-size: 1.4em;
    text-align: left;
}
h5 {
    margin-bottom: .2em;
    font-size: 1.3em;
    text-align: left;
}
h6 {
    margin-bottom: .1em;
    font-size: 1.2em;
    text-align: left;
}


// Links
a {
    color: $brand-color;
    text-decoration: none;
    cursor: pointer;

    &:visited {
        color: $brand-color;
    }
    &:hover {
        color: lighten($brand-color, 25%);
        text-decoration: underline;
        &.clean {
            text-decoration: none;
        }
    }
    img {
        border: 0;
    }
    &.anchor--link {
        color: inherit;
        text-decoration: none;
    }
}


// Blockquotes
blockquote {
    padding-left: $spacing-unit / 2;
    font-size: 1.2em;
    font-style: italic;
    color: $muted-text-color;
    border-left: 4px solid $border-grey;
}


// Code formatting
pre {
    background-color: lighten($border-grey, 10%);
    border: .08em solid $border-grey;
    border-radius: 3px;
}
pre {
    padding: 10px;
    overflow: auto;
    background-color: #eee;
    border-radius: 5px;
}
code {
    padding: 1px 3px;
    background-color: #eee;
    border-radius: 2px;
}


// Wrapper
.wrapper {
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    // padding-right: $spacing-unit;
    // padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-large) {
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        // padding-right: $spacing-unit / 2;
        // padding-left: $spacing-unit / 2;
    }
}

// Clearfix
%clearfix {
    &::before,
    &::after {
        display: table; // 2
        content: " "; // 1
    }
    &::after {
        clear: both;
    }
}

.clear {
    clear: both;
}
.pointer {
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.dotless {
    list-style: none;
}
.list-inline {
    margin-left: -5px;
    > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
  }
}

.readable {
    margin: 0 100px 1.5em;
}
@include media-query($on-small) {
    .readable {
        margin: 0 0 1.5em;
    }
}
@include media-query($on-medium) {
    .readable {
        margin: 0 25px 1.5em;
    }
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.pad-left {
    padding-left: 2em;
}
