// Reset some basic elements
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    vertical-align: baseline;
    border: 0;
    outline: 0;
 }

* {
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-text-color;
    background-color: $base-background-color;
}

caption {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}
p {
    margin: 0 0 1.5em;
}
dl,dd {
    margin: 0 0 1.5em;
    font-size: 1em;
    line-height: 1.7em;
}

dt {
    font-weight: bold;
    line-height: 1.7em;
}

dd {
    margin-left: 1em;
}


// Headings
h1,h2,h3 {
    padding-top: .5em;
    margin: 0 0 1em;
    font-size: 2.65em;
    font-weight: 300;
    color: #323232;
    text-align: center;
}
h2 {
    margin-bottom: 1em;
    font-size: 2em;
}
h3 {
    margin-bottom: 15px;
    font-size: 1.6em;
}
h4 {
    margin-bottom: .3em;
    font-size: 1.4em;
    text-align: left;
}


// Links
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        color: lighten($brand-color, 25%);
        text-decoration: underline;
        &.clean {
            text-decoration: none;
        }
    }
    img {
        border: 0;
    }
}


// Blockquotes
blockquote {
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    font-style: italic;
    color: $muted-text-color;
    letter-spacing: -.08em;
    border-left: 4px solid $border-grey;

    > :last-child {
        margin-bottom: 0;
    }
}


// Code formatting
pre,
code {
    font-size: 15px;
    background-color: #eef;
    border: .08em solid $border-grey;
    border-radius: 3px;
}

code {
    padding: .08em 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        padding-right: 0;
        padding-left: 0;
        border: 0;
    }
}


// Wrapper
.wrapper {
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    // padding-right: $spacing-unit;
    // padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-large) {
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        // padding-right: $spacing-unit / 2;
        // padding-left: $spacing-unit / 2;
    }
}


// Clearfix
%clearfix {
    &::before,
    &::after {
        display: table; // 2
        content: " "; // 1
    }
    &::after {
        clear: both;
    }
}

.clear {
    clear: both;
}

.text-center {
    text-align: center;
}
