nav.breadcrumbs.bootstrap {
    line-height: 0.1;
    background: linear-gradient(to right, $border-grey, $base-background-color 60%);
    @include media-query($on-medium) {
        display: none;
    }
}
nav.breadcrumbs.bootstrap ol {
  margin-left: 0
}
nav.breadcrumbs.bootstrap .breadcrumb {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;

}
nav.breadcrumbs.bootstrap .breadcrumb::after {
  content: "";
  display: table;
  clear: both;
}
nav.breadcrumbs.bootstrap .breadcrumb-item {
  float: left;
}
nav.breadcrumbs.bootstrap .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  content: "/";
}
nav.breadcrumbs.bootstrap .breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}
nav.breadcrumbs.bootstrap .breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

nav.breadcrumbs.bootstrap .breadcrumb a.breadcrumb-item:after {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  content: "/";
  text-decoration: none;
}
nav.breadcrumbs.bootstrap .breadcrumb .icon:after {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  content: "/";
}
nav.breadcrumbs.bootstrap .breadcrumb .icon {
  display: inline-block;
}
nav.breadcrumbs.bootstrap .breadcrumb .icon svg {
  height: 0.7rem;
  width: 0.7rem;
}
