.button .white {
    background-color: #fff;
}
.button, .button span {
    display: inline-block;
    border-radius: 4px;
}
.button {
    position: relative;
    overflow: visible;
    line-height: 1em;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .1) 0%,
        rgba(0, 0, 0, .1) 100%
    );
    background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(0, 0, 0, .1)),
        to(rgba(255, 255, 255, .1))
    );
    border: 1px solid #999;
    border: rgba(0, 0, 0, .2) 1px solid;
    border-bottom: rgba(0, 0, 0, .4) 1px solid;
    outline: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
button::-moz-focus-inner {
    border: 0;
}
button.button {
    padding: 0;
    margin: 0;
}
a.button, a.button:hover {
    text-decoration: none;
}
.button.full, .button.full span {
    display: block;
}
.button:hover, .button.hover {
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .2) 0%,
        rgba(255, 255, 255, .1) 100%
    );
    background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(255, 255, 255, .1)),
        to(rgba(255, 255, 255, .2))
    );
}
.button:active, .button.active {
    top: 1px;
    background: -moz-linear-gradient(
        center top,
        rgba(0, 0, 0, .1) 0%,
        rgba(255, 255, 255, .1) 100%
    );
    background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(255, 255, 255, .1)),
        to(rgba(0, 0, 0, .1))
    );
}
.button span {
    position: relative;
    padding: .6em 1.3em;
    line-height: 1em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    white-space: nowrap;
    border-top: rgba(255, 255, 255, .2) 1px solid;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    button.button span {
        margin-top: -1px;
        margin-right: -2px;
        margin-left: -2px;
    }
}

.button .button-text {
    font-size: $base-font-size;
    color: $highlight-color;
}


a.btn {
    display: inline-block;
    min-width: 120px;
    padding: 10px 25px;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
    color: inherit;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid currentColor;
    transition: all .25s ease-in-out;
    &:hover {
        color: #000;
        background: #fff;
        border: 1px solid rgba(0,0,0,.3);
    }
    &:visted {
        color: currentColor;
    }
}
