.caption {
    text-align: center;
    background: #f5f5f5;
    border: thin solid #ddd;

    &__text {
        max-width: 350px;
        padding: .5em;
        padding-top: 0;
        margin: 0;
        font-size: $small-font-size;
        line-height: 1;
        text-align: center;
    }

    &--left {
        float: left;
        margin-right: .8em;
        margin-left: 0;
        @include media-query($on-large) {
            float: none;
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &--right {
        float: right;
        padding-top: .2em;
        margin-bottom: .8em;
        margin-left: .8em;
        @include media-query($on-large) {
            float: none;
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &--flow {
        @include media-query(1200px) {
            clear: both;
        }
        @include media-query(1000px) {
            float: right;
        }
    }
}
