.caption {
    float: right;
    padding-top: .2em;
    margin-bottom: .8em;
    margin-left: .8em;
    text-align: center;
    background: #f5f5f5;
    border: .08em solid #ddd;
}

.caption-text {
    padding: .5em;
    padding-top: 0;
    margin: 0;
    font-size: $small-font-size;
    line-height: 1;
    text-align: center;
}
