.divider {
    margin: 3em 10em;
    position: relative;
    clear: both;
    border-bottom: .3em solid $brand-color;
}

.divider-padding {
    position: relative;
    clear: both;
    display: block;
}

hr.separate {
    border: none;
    background: $highlight-color;
    margin: 0 auto 20px;
    height: 4px;
    width: 50px;
}
