.divider {
    position: relative;
    margin: 3em 10em;
    clear: both;
    border-bottom: .3em solid $brand-color;
}

.divider-padding {
    position: relative;
    display: block;
    clear: both;
}

hr.separate {
    width: 50px;
    height: 4px;
    margin: 0 auto 20px;
    background: $highlight-color;
    border: 0;
}
