.divider {
    padding-top:2px;
    margin-bottom:2px;
    position: relative;
    clear: both;
    border-bottom: 1px solid $brand-color;
}

.divider-padding {
    position: relative;
    clear: both;
    display: block;
    padding-top: 30px;
}

hr.separate {
    border: none;
    background: $highlight-color;
    margin: 0 auto 20px;
    height: 4px;
    width: 50px;
}
