figure {
    &--align-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    & figcaption {
        color: rgba(0,0,0,0.48);
        text-align: center;
        font-size: 80%;
    }
    & img {
        max-width: 100%;
        margin: 0 50px;
        height: auto;
        display: inline-block;
        vertical-align: top;
    }
}
