.flex {
    display: flex;

    &--center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        flex-flow: row wrap;
    }
    &--row {
        flex-direction: row;
    }
    &--wrap {
        flex-wrap: wrap;
    }
    &--around {
        justify-content: space-around;
    }
}
