.inner {
    position: relative;
    height: 100%;
    margin: 0 auto;

    @include media-query($on-small) {
        line-height: 0;
        text-align: center;
    }
}

.header {
    height: 75px;
    background-color: $section-header-footer;
}

.site-nav {
    position: absolute;
    right: 25px;
    bottom: 0;
    float: right;
    height: 52px;
    line-height: 51px;

    @include media-query($on-medium) {
        position: relative;
        right: auto;
        bottom: auto;
        height: auto;
    }

    .menu > li > a,
    .menu > li > a:visited {
        font-size: 17px;
        color: #f5f5f5;
        background-color: transparent;
    }

    .page-link {
        line-height: $base-line-height;
        color: $base-text-color;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-medium) {
        width: 100%;
        background-color: $section-header-footer;
    }
}

h2.logo {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: left;
    letter-spacing: .2em;
    > span {
        display: block;
        font-size: 37%;
        font-weight: normal;
        letter-spacing: normal;
    }

    @include media-query($on-small) {
        display: none;
    }
}
