.icon-text {
    padding: 0 0 0 22px;
    background-color: transparent;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.icon-globe {
    background-position: -390px 0;
}
.icon-home {
    background-position: -360px -30px;
}
.icon-email {
    background-position: -330px -60px;
}
.icon-user {
    background-position: -300px -90px;
}
.icon-multiuser {
    background-position: -270px -120px;
}
.icon-id {
    background-position: -240px -150px;
}
.icon-addressbook {
    background-position: -210px -180px;
}
.icon-phone {
    background-position: -180px -210px;
}
.icon-link {
    background-position: -150px -240px;
}
.icon-chain {
    background-position: -120px -270px;
}
.icon-calendar {
    background-position: -90px -300px;
}
.icon-tag {
    background-position: -60px -330px;
}
.icon-download {
    background-position: -30px -360px;
}
.icon-cellphone {
    background-position: 1px -390px;
}
