.inline-text-left, .outline {
    float: left;
    margin-right: .5em;
    margin-bottom: .5em;
}
.inline-text-right {
    float: right;
    margin-left: .5em;
}
.dots {
    fill: $highlight-color;
}
.land {
    fill: #e3e3e3;
}
.hills {
    fill: #0d7699;
}
.peak {
    fill: #00a5d9;
}
svg.logo {
    float: left;
    height: 60px;
    margin: 7px 10px;
    @include media-query($on-small) {
        float: none;
    }
}
.outline {
    border: 1px solid darken($brand-color, 10%);
}
.data-thumb {
    width: 90px;
    height: 90px;
}
.item-thumb {
    width: 300px;
    height: 150px;
}
.website-thumb {
    width: 300px;
    height: 222px;
}
.b-lazy {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    &.b-loaded {
        opacity: 1;
    }
}
.turngps {
    float: left;
    width: 59px;
    height: 64px;
    margin-right: 1em;
    .panel {
        fill: $brand-color;
        stroke: #d1d3d4;
        stroke-miterlimit: 10;
    }
    .dot {
        fill: #333;
    }
    .turngps-logo {
        display: none;
    }
    &:hover {
        .panel {
            fill: lighten($brand-color, 25%);
            stroke: #fff;
        }
    }
}
