.inline-text-left, .productImage-Thumb {
    float: left;
    margin-right: .5em;
}
.dots {
    fill: $highlight-color;
}
.land {
    fill: #e3e3e3;
}
.hills {
    fill: #0d7699;
}
.peak {
    fill: #00a5d9;
}
svg.logo {
    float: left;
    height: 60px;
    margin: 7px 10px;
    @include media-query($on-small) {
        float: none;
    }
}
.productImage-Thumb {
    border: .08em solid darken($brand-color, 10%);
}
