// Site footer
.site-footer {
    padding: 0 $spacing-unit;
    color: #fff;
    background-color: $section-header-footer;
    > h1, h2, h3 {
        color: #fff;
    }
}

.contact-list,
.social-media-list {
    text-align: center;
    list-style: none;
    > li {
        display: inline;
        margin: 0 $spacing-unit;
        @include media-query($on-small) {
            margin: 0;
        }
    }
}

a:hover > i {
    text-decoration: none;
}


// Page content

.post {
    margin: 0 100px;
    @include media-query($on-small) {
        margin: 0 15px;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta, .muted {
    font-size: $small-font-size;
    color: currentColor;
}

.post-meta {
    color: $highlight-color;
    color: rgba($highlight-color, .5);
}

.post-link {
    display: block;
    font-size: 24px;
}


// Posts
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    line-height: 1;
    letter-spacing: -1px;

    @include media-query($on-large) {
        font-size: 36px;
    }
}

.post-content, .page-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-large) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-large) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-large) {
            font-size: 18px;
        }
    }

    ul, ol {
        padding-left: 40px;
    }
}
