/**
 * Site header
 */

.site-nav {
    float: right;
    line-height: 51px;

    .page-link {
        color: $base-text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-medium) {
        background-color: $section-header-footer;
        width: 100%;
    }
}


/**
 * Site footer
 */
.site-footer {
    color: #fff;
    padding: 0 $spacing-unit;
    background-color: $section-header-footer;
    > h1, h2, h3 {
      color: #fff;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    text-align: center;
    > li {
        display: inline;
        margin: 0 $spacing-unit * 2;
        @include media-query($on-small) {
            margin: 0;
        }
    }
}

a:hover > i {
    text-decoration: none;
}


/**
 * Page content
 */

.post {
    margin: 0 100px;
    @include media-query($on-small) {
        margin: 0 15px;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta, .muted {
    font-size: $small-font-size;
    color: currentColor;
}

.post-meta {
    color: $highlight-color;
    color: rgba($highlight-color, 0.5);
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-large) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-large) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-large) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-large) {
            font-size: 18px;
        }
    }
}
