// Site footer
.site-footer {
    padding: 0 $spacing-unit;
    color: #fff;
    background-color: $section-header-footer;
    > h1, h2, h3 {
        color: #fff;
    }
}

.contact-list,
.social-media-list {
    text-align: center;
    list-style: none;
    > li {
        display: inline;
        margin: 0 $spacing-unit;
        @include media-query($on-small) {
            margin: 0;
        }
    }
}

a:hover > i {
    text-decoration: none;
}

.post {
    margin: 0 100px;
    @include media-query($on-small) {
        margin: 0 15px;
    }
}

.blog-list {
    padding-top: 0;
    line-height: 1.2;
}

.post-meta, .muted {
    font-size: $small-font-size;
}

.post-meta, .awesome {
    color: $c;
    font-size: $small-font-size;
}

.post-meta {
    color: $highlight-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


// Posts
.post-header, .page-header {
    margin-bottom: $spacing-unit;
}

.page-header {
    margin-top: 1em;
}

.post-title {
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
    letter-spacing: -1px;
}
.sub-title {
    padding-top: 1em;
    margin-bottom: 0;
    color: $muted-text-color;
    text-transform: uppercase;
}

.sub-title-update {
    margin-bottom: 0;
    color: $highlight-color;
    text-transform: uppercase;
}

.read-time {
    padding: 0;
    margin-top: -3em;
    font-size: 65%;
    @include media-query($on-medium) {
        margin-top: -2em;
    }
    @include media-query($on-small) {
        margin-top: -1.5em;
    }
}

.post-content {
    max-width: 1400px;
    margin: auto;
}
.post-content, .page-content {
    margin-bottom: $spacing-unit;
    h1 {
        @include media-query($on-large) {
            font-size: 2.22em;
        }
        @include media-query($on-medium) {
            font-size: 1.86em;
        }
        @include media-query($on-small) {
            font-size: 1.56em;
        }
    }
    h2 {
        @include media-query($on-large) {
            font-size: 1.67em;
        }
        @include media-query($on-medium) {
            font-size: 1.4em;
        }
        @include media-query($on-small) {
            font-size: 1.3em;
        }
    }
    h3 {
        @include media-query($on-large) {
            font-size: 1.3em;
        }
        @include media-query($on-medium) {
            font-size: 1.2em;
        }
    }
    h4 {
        @include media-query($on-medium) {
            font-size: 1.1em;
        }
    }
    h5 {
        @include media-query($on-medium) {
            font-size: 1.05em;
        }
    }
    h6 {
        @include media-query($on-medium) {
            font-size: 1em;
        }
    }

    ul, ol {
        padding-left: 40px;
        margin-bottom: 1em;
    }
}

.one-of-two {
    width: percentage(1 / 2);
    box-sizing: border-box;
    display: inline-block;
    min-height: 1px;
    padding-left: 20px;
    margin-right: -.25em;
    vertical-align: top;

    @include media-query($on-medium) {
        display: block;
        width: auto;
        margin-right: 0;
        margin-left: 0;
    }
}
