#mc_embed_signup {
    form {
        position: relative;
        display: block;
        padding: 10px 0 10px 3%;
        text-align: left;
    }
    input {
        border: 1px solid #abb0b2;
        border-radius: 3px;
     }
    input[type=checkbox]{
        -webkit-appearance: checkbox;
    }
    input:focus {
        border-color: #333;
    }
    .button {
        display: inline-block;
        width: auto;
        height: 32px;
        padding: 0 22px;
        margin: 0 5px 10px 0;
        clear: both;
        font-size: 1em;
        font-weight: normal;
        line-height: 32px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: top;
        cursor: pointer;
        background-color: #aaa;
        border: 0 none;
        border-radius: 4px;
        transition: all .23s ease-in-out 0s;
     }
    .button:hover {
        background-color: #777;
    }

    .mc-field-group {
        position: relative;
        width: 96%;
        min-height: 50px;
        clear: left;
     }

    .mc-field-group label {
        display: block;
        margin-bottom: 3px;
     }
    .mc-field-group input {
        display: block;
        width: 100%;
        padding: 8px 0;
        text-indent: 2%;
     }

    .indicates-required {
        float: right;
        margin-right: 4%;
        font-size: .8em;
        text-align: right;
     }
    .asterisk {
        position: relative;
        top: 5px;
        font-size: 150%;
        font-weight: normal;
        color: #e85c41;
     }
    .clear {
        clear: both;
    }

    .mc-field-group.input-group ul {
        margin: 0;
        list-style: none;
     }
    .mc-field-group.input-group ul li {
        display: block;
        margin: 0;
     }
    .mc-field-group.input-group label {
        display: inline;
    }
    .mc-field-group.input-group input {
        display: inline;
        width: auto;
        border: 0;
     }

    div#mce-responses {
        top: -1.4em;
        float: left;
        width: 90%;
        padding: 0 .5em;
        margin: 0 5%;
        overflow: hidden;
        clear: both;
     }
    div.response {
        top: -1.5em;
        z-index: 1;
        float: left;
        width: 80%;
        padding: 1em .5em .5em 0;
        margin: 1em 0;
        font-weight: bold;
     }
    #mce-error-response {
        display: none;
    }
    #mce-success-response {
        display: none;
        color: #529214;
     }
    label.error {
        display: block;
        float: none;
        width: auto;
        padding: .5em 0;
        margin-left: 1.05em;
        text-align: left;
     }

    #mc-embedded-subscribe-form div.mce_inline_error {
        z-index: 1;
        display: inline-block;
        padding: 5px 10px;
        margin: 2px 0 1em;
        font-size: 1em;
        font-weight: normal;
        color: #e85c41;
        background-color: rgba(255,255,255,.85);
        border-radius: 3px;
     }
    #mc-embedded-subscribe-form input.mce_inline_error {
        border: 2px solid #e85c41;
    }
}

#mc-embedded-subscribe {
    display: block;
    width: auto;
    margin: 1em 0 1em 5%;
    clear: both;
}
