$colors: $a, $b, $c, $d;

.menu-item {
    position: relative;
    display: inline;
    float: left;
    margin: 0 12px;
    list-style-type: none;

    @include media-query($on-medium) {
        margin: 0 10px;
    }
    @for $i from 1 through length($colors) {
        &.active-#{$i} {
            color: nth($colors, $i);
            text-decoration: none;
            border-bottom: .4em solid nth($colors, $i);
        }
    }
}
