.package {
    padding-bottom: $spacing-unit;

    .panel {
        padding: 0 1em;
        line-height: 2.5em;
        color: $base-background-color;
        background-color: $highlight-color;
        border-radius: 5px;
        &.update {
            background-color: $section-header-footer;
        }
        &.endpoint {
            background-color: $alternate-highlight-color;
        }
    }
    h3, h5 {
        width: 100%;
        padding: 0 .5em;
        color: currentColor;
    }
    h3 {
        color: $base-background-color;
        text-shadow: #000 .1em .1em .4em;
        text-transform: uppercase;
        background-color: $brand-color;
    }

    .package-content {
        padding: 0 3em 1em;
    }
    .panel-content {
        padding-left: $spacing-unit;
    }
}
h4 {
    &.package--header {
        font-weight: 900;
    }
}
