.pagination {
    padding-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    border-radius: .3em;
    > li {
        display: inline-block;
        > a,
        > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.4;
            color: $brand-color;
            text-decoration: none;
            background-color: $base-background-color;
            border: .1em solid $border-grey;
        }
        &:first-child {
            > a,
            > span {
                margin-left: 0;
                border-top-left-radius: .3em;
                border-bottom-left-radius: .3em;
            }
        }
        &:last-child {
            > a,
            > span {
                border-top-right-radius: .3em;
                border-bottom-right-radius: .3em;
            }
        }
    }
    > .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: $highlight-color;
            border-color: $highlight-color;
        }
    }
    > .disabled {
        > span,
        > span:hover,
        > span:focus,
        > a,
        > a:hover,
        > a:focus {
            color: $muted-text-color;
            pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
            cursor: default;
            background-color: inherit;
            border-top: 0;
            border-bottom: 0;
        }
    }
}
