.search-form {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 3em;
    &::before {
        position: absolute;
        top: 50%;
        left: .5rem;
        z-index: 1;
        font-size: 1rem;
        line-height: 1;
        opacity: .32;
        transform: translate(0, -50%);
    }
}
.search-input {
    display: block;
    width: 100%;
    min-width: 2rem;
    padding: .25rem .75rem .25rem 2rem;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    color: #333;
    white-space: nowrap;
    background: rgba(0,0,0,.12);
    border: 0;
    border-radius: 60rem;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.08);
    transition: box-shadow .2s ease 0s;
    transform: translateZ(0);
    &:focus {
        outline: 0;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.24);
    }
}
