.section {
    // position: relative;
    width: 100%;
    padding: .5em $spacing-unit 2em;
    background: radial-gradient(30em circle, ligthen($base-background-color, 10%), $base-background-color);
    background-color: $base-background-color;
    border-bottom: 1px solid darken($base-background-color, 25%);
    &.no-border {
        border: 0;
    }
    > h1, h2, h3, h4, h5, h6 {
        text-shadow: darken($base-background-color, 25%) .1em .1em .2em;
    }
    img {
        border: 1px solid #333;
    }
    a {
        img {
            border: 1px solid #333;
        }
    }
    &.featured {
        padding: 0 .5em 0 0;
        font-size: .9em;
        border-top: 1px solid $highlight-color;
        border-bottom: 0;
    }
    &.alternate {
        background: radial-gradient(30em circle, lighten($section-alternating, 10%), $section-alternating);
        background-color: $section-alternating;
        border-bottom: 1px solid darken($section-alternating, 15%);
        > h1, h2, h3, h4, h5, h6 {
            color: lighten($brand-color, 15%);
        }
    }
    &.action {
        color: #fff;
        text-align: center;
        background: radial-gradient(30em circle, lighten($section-call-for-action, 10%), $section-call-for-action);
        background-color: $section-call-for-action;
        background-repeat: no-repeat;
        background-position: center center;
        border: 0;
        border-bottom: 1px solid darken($section-call-for-action, 5%);
        > h1, h2, h3, h4, h5, h6 {
            padding-top: auto;
            margin: auto;
            color: inherit;
            text-shadow: #000 .1em .1em .4em;
            > a {
                color: lighten($brand-color, 50%);
            }
        }
        > p {
            > a {
                color: lighten($brand-color, 50%);
            }
        }

    }
    > .section-read-more {
        width: 100%;
        padding-top: 2em;
        margin-bottom: 0;
        text-align: center;
  }
}

.main {
    padding: 0 $spacing-unit;
    color: #333;
    text-shadow: 0 1px 20px rgba(0,0,0,.5);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    border-top: .08em solid $brand-color;
    border-bottom: .08em solid $highlight-color;
    .main-heading {
        font-weight: 500;
    }
}
