.section {
    position: relative;
    min-height: 30em;
    padding-top: 0.5em;
    width: 100%;
    background-color: $base-background-color;
    border-bottom: 1px solid darken($base-background-color, 25%);
  &.alternate {
    background-color: $section-alternating;
    border-bottom: 1px solid darken($section-alternating, 15%);
  }
  &.action {
    text-align: center;
    color: #fff;
    min-height: auto;
    text-shadow: black 0.1em 0.1em 0.4em;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $section-call-for-action;
    background: radial-gradient(30em circle, lighten($section-call-for-action, 10%), $section-call-for-action);
    border-bottom: 1px solid darken($section-call-for-action, 5%);
    > h1, h2, h3, h4, h5, h6 {
      color: inherit;
      margin: auto;
    }
  }
  .alternate {
    .section-read-more {
      color: #FFDC00;
    }
  }
}
.section-read-more {
  position: absolute;
  padding-top: 1em;
  bottom: 0em;
}
.main {
  border-bottom: 1px solid $highlight-color;
  padding: 0 $spacing-unit;
}
