// ======================================================= //
//                          Table                          //
// ======================================================= //
table, td, th {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    border-spacing: 0;
    border-collapse: separate;
}
caption {
    padding-bottom: .8em;
}
.search {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 1em;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &:focus {
        border-color: $brand-color;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba($brand-color,.6);
    }
}

table {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid $border-grey;
}
th {
    padding: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: $section-header-footer;
}
td {
    padding: 10px;
    text-align: left;
    border-top: 1px dashed #fff;
}
tr {
    background: #f9f9f9;
    &:nth-of-type(odd) {
        background: $base-background-color;
    }
}
tfoot {
    background-color: #f3f3f3;
    td {
        padding: 8px;
        text-align: center;
    }
}

.datatable {
    min-width: 300px; // adjust to your needs
    margin: 1em 0;
    a {
        color: $highlight-color;
        text-decoration: none;

        &:visited {
            color: $highlight-color;
        }

        &:hover {
            color: #fff;
            text-decoration: underline;
            &.clean {
                text-decoration: none;
            }
        }
    }
    table {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
        border-collapse: collapse;
        border: 1px solid $border-grey;
    }
    th {
        position: absolute;
        top: -9999px;
        left: -9999px;

        @media (min-width: $on-datatable) {
            position: relative;
            top: 0;
            left: 0;
            display: table-cell;
            padding: .25em .5em;
            font-weight: bold;
            color: #fff;
            text-align: center;
            cursor: pointer;
            background-color: $section-header-footer;
        }
    }
    td {
        display: block;
        padding-left: .5em;
        text-align: left;
        border: 0;

        &:first-child {
            padding-top: .5em;
        }
        &:last-child {
            padding-bottom: .5em;
        }
        &::before {
            display: inline-block;
            width: 10em; // magic number :( adjust according to your own content
            font-weight: bold;
            content: attr(data-th)": "; // who knew you could do this? The internet, that's who.

            @media (min-width: $on-datatable) {
                display: none;
            }
        }
        @media (min-width: $on-datatable) {
            display: table-cell;

            &:first-child {
                padding-left: .5em;
            }
            &:last-child {
                padding-right: .5em;
            }
        }
    }
    tbody {
        background: #f9f9f9;
        tr {
            border-bottom: 1px solid #ddd;

            &:nth-of-type(odd) {
                background: $base-background-color;
            }
            &:hover td {
                color: #fff;
                background: #fff;
                background-color: $brand-color;
                border: 0;
            }
        }
    }
}
