#stateheader_brand {
    display:block;
    background:url(https://secure.utah.gov/nav/images/brand.png) repeat-x top left;
    height:28px;
    width:39px;
    overflow:hidden;
    text-indent:100%;
    margin-left: 10px;
}

#utahgov_statewideheader_button_services a,
#utahgov_statewideheader_button_listings a,
#utahgov_statewideheader_button_add a,
#search_activator span {
    font-size:14px;
    text-decoration:none;
    cursor:pointer;
    line-height: 2em;
}

#utahgov_statewideheader_button_listings a {
    margin-left:20px;
}

#utahgov_statewideheader_button_add a {
    width:105px;
}

.state-footer {
    background-color: lighten($section-header-footer, 2%);
    margin: 2em 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
