// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   100%;

$base-line-height: 1.5;

$base-text-color:  #111;
$base-background-color: #fff;

$small-font-size: $base-font-size - 20%;

$highlight-color: #E87E00;
$brand-color: #0D7699;

$muted-text-color: lighten($base-text-color, 70%);

// sections
$section-call-for-action: $brand-color;
$section-alternating: darken($base-background-color, 15%);
$section-header-footer: #333;

// borders
$border-grey: #ddd;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$spacing-unit:     30px;

$fa-font-path:   "/bower_components/font-awesome/fonts";
