// Our variables
$a: #7fdbff;
$b: #01ff70;
$c: #f012be;
$d: #ffdc00;
$base-background-color: #fff;
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size: 100%;
$base-line-height: 1.7;
$base-text-color: #111;
$border-grey: #ddd;
$brand-color: #0d7699;
$content-width: 800px;
$fa-font-path: "/bower_components/font-awesome/fonts";
$highlight-color: #e67e15;
$muted-text-color: lighten($base-text-color, 50%);
$on-datatable: 900px;
$on-large: 800px;
$on-medium: 930px;
$on-small: 525px;
$section-alternating: #f5f5f5;
$section-call-for-action: $brand-color;
$section-header-footer: #333;
$small-font-size: $base-font-size - 20%;
$spacing-unit: 30px;
$toast-breakpoint-medium: 1000px;
$toast-breakpoint-small: 525px;
$toast-pushes: false;
$toast-pulls: false;
$toast-col-groups: (2, 3, 4, 12);
