---
title: Schools & Libraries
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - bookmobile
  - data
  - education
  - libraries
  - schools
categories: []
date: 2012-06-13 14:52:45 -0600
Schools:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mN1Bobk5uYmNodW8&export=download
      label: 'Society.Schools: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mOXB2NWpKaEJkMWc&export=download
      label: 'Society.Schools: Shapefile'
  updates:
    - February 2017
  endpoints:
    - url: https://utah.maps.arcgis.com/home/item.html?id=9e700ba2de90451d9c16c176d58e0b68
      label: ArcGIS Online Feature Layer
Libraries:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mdEZiSUxHM3NJajA&export=download
      label: 'Society.Libraries: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mN3ZLT0l5dk8xa2s&export=download
      label: 'Society.Libraries: Shapefile'
  updates:
    - June 2013
    - August 2011
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/SchoolsLarge.png %}" alt="Schools and Library" />
  <figcaption class="caption__text">High Schools in Salt Lake County</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mdTRGQ2JUS3BWWE0"
name="Schools & Libraries"
stewards="AGRC"
abstract="This data package contains a statewide schools dataset and a statewide libraries dataset." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Schools">
      <a href="#Schools" class="anchor--link">Schools</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/Schools.png %}" alt="Schools" />
    <p>Society.Schools represents point locations of schools in the State of Utah. Schools of all levels from pre-kindgergarten to higher education are included. The sources for the list of schools in this dataset are the Utah State Office of Education and the Utah Education Network (UEN). AGRC used a combination of geocoding and manual placement (digitizing) to identify the geographic location of each school.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://www.uen.org/">Utah Education Network</a>
      <li><a href="https://www.schools.utah.gov/main/">Utah State Office of Education</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Schools"
  info=page.Schools %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Libraries">
      <a href="#Libraries" class="anchor--link">Libraries</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/Libraries.png %}" alt="Libraries" />
    <p>Society.Libraries provides locations and information for public Libraries and their branches throughout Utah. Includes base location for bookmobile libraries. </p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://library.utah.gov/">Utah State Library Division</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Libraries"
  info=page.Libraries %}
</div>
