@tailwind base;
@layer base {
  html,
  body,
  #root {
    @apply h-full min-h-full w-full;
  }
  .stripe-background a:not(.custom-style) {
    @apply text-secondary hover:text-primary dark:text-accent hover:dark:text-accent;
  }
  .primary-background a:not(.custom-style) {
    @apply text-accent hover:bg-white/10;
  }
  a:not(.custom-style) {
    @apply font-semibold text-primary hover:bg-black/10 dark:text-accent dark:hover:bg-white/10;
  }
  .card a:not(.custom-style) {
    @apply font-semibold text-primary hover:bg-black/10 dark:text-accent dark:hover:bg-white/10;
  }
  h1 {
    @apply text-3xl font-bold md:text-4xl;
  }
  h2 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h3 {
    @apply text-xl font-bold md:text-2xl;
  }
  h4 {
    @apply text-lg font-bold md:text-xl;
  }
  h5 {
    @apply text-base font-bold md:text-lg;
  }
  h6 {
    @apply text-sm font-bold md:text-base;
  }
  kbd {
    @apply mx-px rounded-md border bg-white px-2 py-0.5 text-sm font-medium shadow-sm drop-shadow-md dark:text-zinc-700;
  }
  @font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('/fonts/SourceSans3-Regular.otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
@tailwind components;
@layer astroComponents {
  .astro-code {
    @apply rounded-lg p-3;
  }
}
@tailwind utilities;
