---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import DefinitionListItem from '@components/page/DefinitionListItem.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah Watersheds Area',
  pageDescription: `Watershed boundaries of Utah.`,
  stewards: ['UGRC', 'USGS'],
  type: ProductType.POLYGON,
  category: SgidCategory.WATER,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`November 2023`],
  hub: {
    ...dataPages[metadata.pageTitle],
  },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>Utah watershed areas represented by Hydrologic Unit Codes (HUC) 8, 10, and 12.</p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      Utah Watershed Area was built using data from the USGS Watershed Boundary Dataset (WBD). Data was downloaded from
      the download-by-state area in GDB format. HUC8, HUC10 and HUC12 datasets were merged into this dataset,
      maintaining the line work for HUC12. This allows the data to be dissolved by HUC level to obtain HUC10 and HUC8
      boundaries as the boundaries are coincident. The data contains the attributes from all 3 HUC levels.
    </p>

    <dl>
      <DefinitionListItem title="HUC_8"
        >Contains the 8 digit hydrologic unit code for the 4th level sub-basins.</DefinitionListItem
      >
      <DefinitionListItem title="HU_8_NAME">Contains the sub-basin name.</DefinitionListItem>
      <DefinitionListItem title="HUC_10"
        >Contains the 10 digit hydrologic unit code for the 5th level watersheds.</DefinitionListItem
      >
      <DefinitionListItem title="HU_10_NAME">Contains the watershed name.</DefinitionListItem>
      <DefinitionListItem title="HUG_12"
        >Contains the 12 digit hydrologic unit code for the 6th level sub-watersheds.</DefinitionListItem
      >
      <DefinitionListItem title="HU_12_NAME">Contains the sub-watershed name.</DefinitionListItem>
    </dl>

    <p>
      This data set is intended to be used as a tool for water-resource management and planning activities, particularly
      for site-specific and localized studies requiring a level of detail provided by large-scale map information.
    </p>
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink
        title="USGS NHD"
        href="https://www.usgs.gov/national-hydrography/access-national-hydrography-products"
        >National Hydrography Dataset (NHD) products and downloads.</CardWithPopularLink
      >
      <CardWithPopularLink title="USGS WBD" href="https://www.usgs.gov/national-hydrography/watershed-boundary-dataset"
        >About the Watershed Boundary Dataset (WBD).</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="NHD Lakes" href="/products/sgid/water/nhd-lakes" style="secondary"
        >National Hydrography Dataset lakes.</CardWithSmallLink
      >
      <CardWithSmallLink title="NHD Rivers" href="/products/sgid/water/nhd-streams" style="secondary"
        >National Hydrography Dataset streams/rivers.</CardWithSmallLink
      >
      <CardWithSmallLink title="NHD Springs" href="/products/sgid/water/nhd-springs" style="secondary"
        >National Hydrography Dataset spring locations.</CardWithSmallLink
      >
      <CardWithSmallLink title="Lake Bonneville" href="/products/sgid/water/historic-lake-bonneville" style="secondary"
        >Historic Lake Bonneville.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
