---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import Metadata from '@components/data/Metadata.astro';

import DirectDownloads from '@components/data/DirectDownloads.astro';
import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import Contacts from '@components/page/Contacts.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

export const metadata: IMetadata = {
  title: 'Utah Wetlands and Riparian Areas',
  description: `Wetland and riparian location and classification polygon map data from the U.S. Fish and Wildlife Service’s National Wetlands Inventory (NWI).`,
  stewards: ['Utah Geological Survey', 'Utah Department of Natural Resources, U.S. Fish and Wildlife Service'],
  type: ProductType.POLYGON,
  category: SgidCategory.WATER,
  secondaryCategory: SgidCategory.PLANNING,
};

const page: IPageMetadata = {
  ...metadata,
  application: 'https://www.fws.gov/program/national-wetlands-inventory',
  updateHistory: [`USFWS typically update the NWI data twice per year`],
  links: [
    {
      title: 'Utah as a file geodatabase',
      url: 'https://www.fws.gov/wetlands/Data/State-Downloads/UT_geodatabase_wetlands.zip',
    },
    {
      title: 'Utah as a shapefile',
      url: 'https://www.fws.gov/wetlands/Data/State-Downloads/UT_shapefile_wetlands.zip',
    },
    {
      title: 'All downloads by State',
      url: 'https://www.fws.gov/node/264847',
    },
  ],
};
---

<Layout title={page.title} subTitle={page.updateHistory[0]} category={page.category} actionUrl={page.application}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      The U.S. Fish and Wildlife Service’s (USFWS) <ExternalLink
        href="https://www.fws.gov/program/national-wetlands-inventory">National Wetlands Inventory (NWI)</ExternalLink
      > program maintains a dataset depicting wetland and water body features across the United States. All features in the
      NWI dataset are described according to the Cowardin Classification System which uses coded values to describe vegetation
      communities, water, and disturbances present at each feature; codes can be interpreted <ExternalLink
        href="https://www.fws.gov/program/national-wetlands-inventory/classification-codes">online</ExternalLink
      >. Much of the original NWI dataset in Utah was mapped using imagery from the 1980s and may no longer accurately
      reflect current wetland locations. Several organizations, including the Utah Geological Survey, are actively
      conducting new mapping projects that update the NWI dataset for parts of the state.
    </p>
  </Fragment>

  <Section title="Download the data" slot="downloads" titlePosition="center">
    <DirectDownloads title="From the U.S. Fish & Wildlife Service" links={page.links!} />
  </Section>

  <Fragment slot="description">
    <p>
      Newer mapping projects also map riparian areas, which are non-wetland areas along streams, rivers, and lakes that
      have distinct or distinctly more vigorous vegetation compared to adjacent upland areas. Riparian features are
      mapped alongside wetland features following the USFWS’s <ExternalLink
        href="https://geodata.geology.utah.gov/pages/view.php?ref=75020&"
        >A System For Mapping Riparian Areas in the United States</ExternalLink
      >.
    </p>

    <p>
      Metadata are a description of individual wetland and riparian mapping projects, including the scale at which
      mapping was conducted and the imagery year used for the mapping. Most mapping projects include a supplemental
      report describing who completed the project, mapping methods, and types of features captured. Unlike wetlands
      mapping, which is available statewide, riparian mapping is only available for certain projects that are depicted
      by the riparian metadata polygons.
    </p>

    <p>
      Wetlands and riparian features are mapped using a combination of aerial imagery examination and on-the-ground
      assessment. NWI mapping may serve as an initial screen of likely wetland locations, but is not suited or intended
      to replace field-based wetland delineations necessary for the permitting process.
    </p>
    <p>
      Questions can be directed to <Contacts contactKey="wetlands" subject="gis.utah.gov wetlands" inline />.
    </p>
  </Fragment>

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="NWI Projects Mapper" href="https://fwsprimary.wim.usgs.gov/wetland-projects-v2/"
        >Location of recent and ongoing mapping projects.</CardWithPopularLink
      >
    </GridForMoreResources>
    <CardWithPopularLink
      title="Utah Geological Survey Wetlands Mapping"
      href="https://geology.utah.gov/apps/wetlands/index.html"
      >Utah Geological Survey wetlands mapping application.</CardWithPopularLink
    >
    <CardWithPopularLink
      title="USFWS Wetland Web Mapping Services"
      href="https://www.fws.gov/program/national-wetlands-inventory/web-mapping-services"
      >USFWS wetland web mapping services.</CardWithPopularLink
    >
    <CardWithPopularLink
      title="USFWS Wetlands"
      href="https://fwspublicservices.wim.usgs.gov/wetlandsmapservice/rest/services/Wetlands/MapServer"
      >USFWS wetlands map service.</CardWithPopularLink
    >
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Geoscience" href="/products/sgid/geoscience" style="secondary"
        >Geoscience page</CardWithSmallLink
      >
      <CardWithSmallLink title="Water" href="/products/sgid/water" style="secondary">Water page</CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
