---
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - bus
  - commuter
  - light rail
  - stations
  - transit
  - transportation
  - uta
categories: []
date: 2011-11-23 14:16:26 -0700
UTARoutesAndMostRecentRidership:
  hub:
    name: UTA Routes & Most Recent Ridership
    item_id: 4347f3565fbe4d5dbb97b016768b8907
  updates:
    - February, 2021
UTAStopsAndMostRecentRidership:
  hub:
    name: UTA Stops & Most Recent Ridership
    item_id: 41a38bb40ca245fdbfcc69ab8e50d80f
  updates:
    - January, 2021
UTACommuterRailRoutes:
  hub:
    name: Utah UTA Commuter Rail Routes
    item_id: 17705e20cecf4cceab61eac6ea51343e
  updates:
    - May, 2013
UTACommuterRailStations:
  hub:
    name: Utah UTA Commuter Rail Stations
    item_id: 6fd39acf47884e1dbe6c303e40f1367a
  updates:
    - May, 2013
UTALightRail:
  hub:
    name: Utah UTA Light Rail Routes
    item_id: fd41770e917344e4adef8be71a0a6741
  updates:
    - January, 2017
UTALightRailStations:
  hub:
    name: Utah UTA Light Rail Stations
    item_id: bb8f7bc8871b4a7594bcc037631073e7
  updates:
    - May 12, 2013
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/Transit_Large.png %}" alt="Transit" loading="lazy" />
  <figcaption class="caption__text">Light Rail & Bus Routes With Stops</figcaption>
</figure>
{% include abstract.html
  name="Bus, Commuter, and Light Rail"
  stewards="Utah Transit Authority (UTA)"
  abstract="This dataset contains the UTA bus route and stop locations, commuter rail route and stop locations, and light rail route and stop locations.  The extent of these data is primarily along the Wasatch Front."
%}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTARoutesAndMostRecentRidership">UTA Routes & Most Recent Ridership</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/BusStops_Small.png %}" alt="Bus Stops" loading="lazy" />
    <p>UTA bus, Trax, and Frontrunner routes and ridership values along the Wasatch Front. Route data includes route number (UTA's short name), route name, frequency in minutes, average ridership, and all cities and counties the route services. This data is updated biannually</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-uta-bus-stops-wasatch-front">UTA Stops & Most Recent Ridership</a></li>
    </ul>
  </div>
  {% include packagedata.html
    name="UTARoutesAndMostRecentRidership"
    info=page.UTARoutesAndMostRecentRidership
  %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTAStopsAndMostRecentRidership">UTA Stops & Most Recent Ridership</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/BusStops_Small.png %}" alt="Bus Stops" loading="lazy" />
    <p>All UTA stops, including bus, Trax, and Frontrunner rail. Stop locations include Stop Name, City, Zip Code, County, UTA Stop ID and the Latitude and Longitude of the stop. Each stop displays Average Weekday Boarding and Alighting and which Routes are served at each stop. In UTA Stop ID: Numeric stops are regular bus stops, "BB" is Bus Bay, "FR" is a FrontRunner Station, "S" is Ski, "TX" is TRAX Station. This data is updated biannually.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://opendata.gis.utah.gov/datasets/rideuta::uta-routes-most-recent-ridership">UTA Routes & Most Recent Ridership</a></li>
    </ul>
  </div>
  {% include packagedata.html
    name="UTAStopsAndMostRecentRidership"
    info=page.UTAStopsAndMostRecentRidership
  %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTACommuterRailRoutes">UTA Commuter Rail Routes</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/CommuterRail_Small.png %}" alt="Commuter Rail" loading="lazy" />
    <p>Utah UTA Commuter Rail Routes depict the route of Utah Transit Authority's FrontRunner North and South commuter rail tracks as received from UTA May of 2013.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
  </div>
  {% include packagedata.html name="UTACommuterRailRoutes"
    info=page.UTACommuterRailRoutes %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTACommuterRailStations">UTA Commuter Rail Stations</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/CommuterStops_Small.png %}" alt="Commuter Stops" loading="lazy" />
    <p>Utah UTA Commuter Rail Stations depict the locations of Utah Transit Authority's FrontRunner North and South commuter rail stations as received from UTA.</p>
    <p>These data include an attribute of the address where the rail station is located.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
  </div>
  {% include packagedata.html name="UTACommuterRailStations"
    info=page.UTACommuterRailStations %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTALightRail">UTA Light Rail</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/LightRailRoutes_Small.png %}" alt="Light Rail Route" loading="lazy" />
    <p>Utah UTA Light Rail Routes represent the light rail system for the main North-South (Downtown to Sandy), University/Medical Center, West Valley, Daybreak, and Airport lines. It also depicts the Sugar House trolley extension currently under construction.</p>
    <p>UTA Light Rail Routes was digitized from aerial photographs dated August, 2016.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 coordinate precision).</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
  </div>
  {% include packagedata.html name="UTALightRail"
    info=page.UTALightRail %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTALightRailStations">UTA Light Rail Stations</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/LightRailStops_Small.png %}" alt="Light Rail Stops" loading="lazy" />
    <p>Utah UTA Light Rail Stations represent the center of the platform at all UTA light rail stations.</p>
    <p>UTA Light Rail Station locations were digitized from aerial photographs dated 2012. The 900 South station and Sandy Expo station locations were obtained by GPS.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 coordinate precision).</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
  </div>
  {% include packagedata.html name="UTALightRailStations"
    info=page.UTALightRailStations %}
</div>
