---
title: Transit
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - bus
  - commuter
  - light rail
  - stations
  - transit
  - transportation
  - uta
categories: []
date: 2011-11-23 14:16:26 -0700
UTABusRoutesStops:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mXy0wcENfR0NWN0k&export=download
      label: 'Bus Routes: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mRU9XR3FuTWhDMzA&export=download
      label: 'Bus Routes: Shapefile'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mRTJwVU52c1VCNDA&export=download
      label: 'Bus Stops: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mMF9ZUkdiMEpsb3M&export=download
      label: 'Bus Stops: Shapefile'
  updates:
    - December, 2018
UTACommuterRailRoutes:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mUWczdHRhRkRSbVk&export=download
      label: 'Commuter Rail Routes: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mOTdYaXkxMWNtYzA&export=download
      label: 'Commuter Rail Routes: Shapefile'
  updates:
    - May, 2013
UTACommuterRailStations:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mYzUtd3BFcE5LN3M&export=download
      label: 'Commuter Rail Stations: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mSmhydGg1NjVBSXM&export=download
      label: 'Commuter Rail Stations: Shapefile'
  updates:
    - May, 2013
UTALightRail:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mX0FGNGZDeTd0cXM&export=download
      label: 'Light Rail: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mNGN4aGNicnNEX3M&export=download
      label: 'Light Rail: Shapefile'
  updates:
    - January, 2017
UTALightRailStations:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mVzU3THJ4aDdrSTQ&export=download
      label: 'Light Rail Stations: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mNGpwWExjY1IwTkE&export=download
      label: 'Light Rail Staions: Shapefile'
  updates:
    - May 12, 2013
---
<div class="caption">
  <img src="{{ '/images/Transit_Large.png' | prepend: site.baseurl }}" alt="Transit" />
  <p class="caption-text">Light Rail & Bus Routes With Stops</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mcV8wS0otTmRRMWM"
  name="Bus, Commuter, and Light Rail"
  stewards="Utah Transit Authority (UTA)"
  abstract="This dataset contains the UTA bus route and stop locations, commuter rail route and stop locations, and light rail route and stop locations.  The extent of these data is primarily along the Wasatch Front."
%}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTABusRoutesStops">
      <a href="#UTABusRoutesStops" class="anchor--link">UTA Bus Routes & Stops</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ '/images/BusStops_Small.png' | prepend: site.baseurl }}" alt="Bus Stops" />
    <p>Transportation.BusRoutes_UTA includes bus stops along streets, at TRAX stations, and park & ride lots serviced by UTA buses. Transportation.BusStops_UTA includes redesigned bus routes that have been adjusted for internal monitoring purposes and ski bus routes to the Cottonwood Canyons and Sundance Ski Resort.</p>
    <p>The UTA Bus Stops dataset was digitized to the Wasatch Front counties' street base maps and then exported from Trapeze (scheduling software) in shapefile format.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li>
        <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.BusRoutes_UTA.xml">FGDC format metadata (Bus Routes)</a>
      </li>
      <li>
        <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.BusStops_UTA.xml">FGDC format metadata (Bus Stops)</a>
      </li>
    </ul>
  </div>
  {% include packagedata.html name="UTABusRoutesStops"
    info=page.UTABusRoutesStops %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTACommuterRailRoutes">
      <a href="#UTACommuterRailRoutes" class="anchor--link">UTA Commuter Rail Routes</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ '/images/CommuterRail_Small.png' | prepend: site.baseurl }}" alt="Commuter Rail" />
    <p>Transportation.CommuterRailRoutes_UTA depicts the route of Utah Transit Authority's FrontRunner North and South commuter rail tracks as received from UTA May of 2013.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li>
        <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.CommuterRailRoutes_UTA.xml">FGDC format metadata (Rail Routes)</a>
      </li>
    </ul>
  </div>
  {% include packagedata.html name="UTACommuterRailRoutes"
    info=page.UTACommuterRailRoutes %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTACommuterRailStations">
      <a href="#UTACommuterRailStations" class="anchor--link">UTA Commuter Rail Stations</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ '/images/CommuterStops_Small.png' | prepend: site.baseurl }}" alt="Commuter Stops" />
    <p>Transportation.CommuterRailStations_UTA depicts the locations of Utah Transit Authority's FrontRunner North and South commuter rail stations as received from UTA.</p>
    <p>These data include an attribute of the address where the rail station is located.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li>
        <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.CommuterRailStations_UTA.xml">FGDC format metadata (Rail Stations)</a>
      </li>
    </ul>
  </div>
  {% include packagedata.html name="UTACommuterRailStations"
    info=page.UTACommuterRailStations %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTALightRail">
      <a href="#UTALightRail" class="anchor--link">UTA Light Rail</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ '/images/LightRailRoutes_Small.png' | prepend: site.baseurl }}" alt="Light Railt Route" />
    <p>Transportation.LightRail_UTA represents the light rail system for the main North-South (Downtown to Sandy), University/Medical Center, West Valley, Daybreak, and Airport lines. It also depicts the Sugar House trolley extension currently under construction.</p>
    <p>LightRail_UTA was digitized from aerial photographs dated August, 2016.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 coordinate precision).</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li>
        <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.LightRail_UTA.xml">FGDC format metadata (Light Rail)</a>
      </li>
    </ul>
  </div>
  {% include packagedata.html name="UTALightRail"
    info=page.UTALightRail %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UTALightRailStations">
      <a href="#UTALightRailStations" class="anchor--link">UTA Light Rail Stations</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ '/images/LightRailStops_Small.png' | prepend: site.baseurl }}" alt="Light Rail Stops" />
    <p>Transportation.LightRailStations_UTA represents the center of the platform at all UTA light rail stations.</p>
    <p>LightRailStations_UTA locations were digitized from aerial photographs dated 2012. The 900 South station and Sandy Expo station locations were obtained by GPS.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 coordinate precision).</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.uta %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li>
        <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.LightRailStations_UTA.xml">FGDC format metadata (Rail Stations)</a>
      </li>
    </ul>
  </div>
  {% include packagedata.html name="UTALightRailStations"
    info=page.UTALightRailStations %}
</div>
