---
import type { IStandardPageMetadata } from '@models/products/sgid/types';

import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';
import Layout from '@layouts/FullWidth.astro';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'TURN Resources',
  pillar: 'TURN',
  section: stripeSections([
    {},
    { title: 'GNSS Network' },
    { title: 'Troubleshooting TURN' },
    { title: 'Supported Devices' },
  ]),
};
---

<Layout title={page.title} pillar={page.pillar}>
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <p>
      Here you will find resources related to our GNSS network. This includes information on how the network itself
      works, tips for troubleshooting issues that might arise, and details on some of the devices that are supported by
      our network.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <p><i>What is a GNSS network and how exactly does it work?</i></p>
    <p>
      A GNSS network consists of permanently located GPS receivers, installed across an area, that generate real-time,
      high-accuracy GPS positioning. Basically, all of the permanently installed GPS receivers send their data to a
      central system via the internet. This central system analyzes the input and adjusts and corrects the data to
      provide the most accurate locations, usually down to centimeter level. Our networks use the Trimble PIVOT VRS
      Platform. The generated data is sent from the GPS receiver to the GPS reference network through a wireless
      connection using the Networked Transport of RTCM via Internet Protocol (NTRIP).
    </p>
  </Section>
  <Section {...page.section[2]}>
    <p>
      If your having trouble connecting to the TURN Network on your device, first check to make sure that you have
      entered the correct username and password. It is important to note that subscriptions can only be used on one
      device at a time. If someone else is logged into your account, you will not be able to use it until they have
      logged out.
    </p>
    <p>
      If you're still having difficulties, you'll want to double-check to confirm that you're using the correct IP
      address and port number. For the TURN network, you'll want to be using: <b>165.239.144.5</b> and <b>2101</b>. For
      the Reno network, you'll want to be using: <b>168.179.231.11</b> and <b>port 2102</b>.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <p>Our TURN GPS Network supports a variety of devices from survey units, to drones and self-driving cars.</p>
  </Section>
</Layout>
