---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';
import UpdateHistory from '@components/data/UpdateHistory.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import Contacts from '@components/page/Contacts.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah Contours 500 Foot',
  pageDescription:
    'A statewide dataset of contour lines at a 500 foot interval for cartography and approximate elevation identification.',
  stewards: ['UGRC'],
  type: ProductType.POLYLINE,
  category: SgidCategory.ELEVATION,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: ['This dataset has not been updated recently.'],
  hub: {
    ...dataPages[metadata.pageTitle],
  },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      A statewide dataset of contour lines at a 500 foot interval for cartography and approximate elevation
      identification. Elevation information is stored in the 500 Foot contour lines in an attribute <code>ELEV</code> associated
      with each contour isoline.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Fragment slot="description">
    <p>
      The native spatial reference for this dataset is UTM Zone 12N, NAD83. There are no constraints or warranties with
      regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah, SGID. This contour
      dataset was created by UGRC.
    </p>

    <Contacts contactKey="contours" />
  </Fragment>

  <UpdateHistory slot="update-history" updates={page.updateHistory} style="secondary" />

  <Section title="More resources" slot="more-resources" titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="UGRC Raster Data Discovery" href="https://raster.utah.gov/?products=4"
        >Download contour products.</CardWithPopularLink
      >
      <CardWithPopularLink title="UGRC Terrain base map" href="/products/sgid/base-maps/terrain"
        >Download contour products.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" stripe titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Elevation" href="/products/sgid/elevation" style="secondary"
        >SGID product category.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="200 Foot"
        href="/products/sgid/elevation/200-foot-generalized-contours"
        style="secondary">200 foot generalized contours.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
