---
title: Telephone Infrastructure and Rural Telcom Boundaries
author:
  display_name: AGRC Staff
  email: agrc@utah.gov
tags:
  - data
  - telephone
  - utilities
categories: []
date: 2012-05-22 17:58:01 -0600
Telcom:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mb0hfdDRCaWtlS1U
      label: Rural Telcom Boundaries
  updates:
    - May 2012
---
<div class="caption">
  <img title="map" src="{{ "/images/RuralTelcom.png" | prepend: site.baseurl }}" alt="RuralTelcomBoundaries" />
  <p class="caption-text">Rural Telcom Boundaries</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mb0hfdDRCaWtlS1U"
name="Telephone Infrastructure and Rural Telcom Boundaries"
abstract="This dataset represents the service territories of telephone providers in Utah. These areas are regulated by the Public Service Commission." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Telcom">
      <a href="#Telcom" class="anchor--link">Rural Telcom Boundaries</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>The <code>PROVIDER</code> field contains the provider name.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://psc.utah.gov/" title="Public Service Commission">Public Service Commission</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Telcom"
  info=page.Telcom %}
</div>
