---
tags:
  - energy
author:
  display_name: JP
  email: agrc@utah.govß
date: 2011-11-18 15:46:14 -0700
title: Coal
categories: []
Coal:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mLXFFdGZwc2JtaGc
      label: Coal Deposits
  updates:
    - 1988
---
<figure class="caption caption--right">
  <img title="map" src="{{ "/images/Coal.png" | prepend: site.baseurl }}" alt="Coal Deposits" />
  <figcaption class="caption__text">Coal Deposits</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mLXFFdGZwc2JtaGc"
name="Coal Deposits"
abstract="This dataset represents areas of coal deposits in Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Coal">
      <a href="#Coal" class="anchor--link">Coal Deposits</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.ENERGY.CoalDepositAreas1988.xml">FGDC Metadata</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Coal"
  info=page.Coal %}
</div>
