---
tags:
  - energy
  - uranium
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-18 15:51:52 -0700
categories: []
PermittedUraniumMines:
  hub:
    name: Utah Permitted Uranium Mines
    item_id: 222316608b7d4f23b3e18c7bb0596c75
  updates:
    - Unknown
UraniumMills:
  hub:
    name: Utah Uranium Mills
    item_id: d49fd89f13c04a43b9b6ff0a684ad875
  updates:
    - Unknown
UraniumPastProducers:
  hub:
    name: Utah Uranium Past Producers
    item_id: bb603c7f82ad473296c0d4bef14da185
  updates:
    - Unknown
UraniumAreaBoundaries:
  hub:
    name: Utah Uranium Area Boundaries
    item_id: 3eba2c1bd5bf4165bee3caf6c1525eae
  updates:
    - Unknown
UraniumDistricts:
  hub:
    name: Utah UGS Uranium Districts
    item_id: 1b9c8a48aae84adb81294e766cbe4b3c
  updates:
    - Unknown
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/UraniumLG.png %}" alt="Uranium Data" />
  <figcaption class="caption__text">Uranium Data</figcaption>
</figure>
{% include abstract.html
name="Uranium Data"
abstract="This dateset contains the locations permitted uranium mines, current uranium mills, uranium past producers and uranium area boundaries and districts for the State of Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="PermittedUraniumMines">Permitted Uranium Mines</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/UraniumPermittedSM.png %}" alt="Uranium Permitted" />
    <p>This dataset contains the locations of permitted uranium mines in Utah in addition to a mine ID, type, status, name, operator, product and more. There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="PermittedUraniumMines"
  info=page.PermittedUraniumMines %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UraniumMills">Uranium Mills</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/UraniumMillsSM.png %}" alt="Uranium Mills" />
    <p>This dataset contains the locations of uranium mills in Utah in addition to mill ID, name, operator and more. There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="UraniumMills"
  info=page.UraniumMills %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UraniumPastProducers">Uranium Past Producers</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/UraniumPastProducersSM.png %}" alt="Uranium Past Producers" />
    <p>This dataset contains the locations of uranium past producers in Utah in addition to REC_ID, REC_TYPE, DEP_NUM, year discovered, owner, operator and much more. There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="UraniumPastProducers"
  info=page.UraniumPastProducers %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UraniumAreaBoundaries">Uranium Area Boundaries</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/UraniumAreasSM.png %}" alt="Uranium Areas" />
    <p>This dataset contains the locations of uranium areas in Utah in addition to the name of the area. There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="UraniumAreaBoundaries"
  info=page.UraniumAreaBoundaries %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UraniumDistricts">Uranium Districts (UGS)</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/UraniumDistricts_UGS_SM.png %}" alt="Uranium Districts UGS" />
    <p>This dataset contains the locations of uranium districts in Utah in addition to their name and potential. There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="UraniumDistricts"
  info=page.UraniumDistricts %}
</div>
