---
title: BLM Field Offices and Forest Service Stations
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - blm
  - bureau of land management
  - data
  - forest service
  - usfs
categories: []
date: 2012-06-15 13:13:43 -0600
BLMFieldOffices:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mY3BFT2RQWURwUjg&export=download
      label: 'Society.BLMFieldOffices: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mT1BTcTY1S1lYV3M&export=download
      label: 'Society.BLMFieldOffices: Shapefile'
  updates:
    - June 2013
    - August 2011
ForestServiceStations:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mVFM1b0VpRUVES0E&export=download
      label: 'Society.ForestServiceStations: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mblZBWFlkcV8zM28&export=download
      label: 'Society.ForestServiceStations: Shapefile'
  uploads:
    - June 2013
    - August 2011
---
<div class="caption">
  <img src="{{ "/images/FieldStations.png" | prepend: site.baseurl }}" alt="BLM Field Stationss" />
  <p class="caption-text">Forest Service Stations</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mNXZNYzRiajZPeTQ"
name="BLM Field Offices & Forest Service Stations"
stewards="AGRC & BLM"
abstract="This data package contains the locations of federal offices on BLM land and Forest Service land. The data package contains two datasets, one for the BLM and one for the Forest Service." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="BLMFieldOffices">
      <a href="#BLMFieldOffices" class="anchor--link">BLM Field Offices</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/FieldStations_blm.png" | prepend: site.baseurl }}" alt="Field Stations" />
    <p>Society.BLMFieldOffices contains locations for the Utah BLMs State Office, 11 BLM Field Offices, 5 BLM Visitor Centers and 1 BLM Field Station.</p>
    <p>The cities each office is located in are</p>
    <ul class="dotless">
      <li>Escalante Interagency Office/Visitor Center-Escalante, Utah
      <li>GSENM Field Office-Kanab, Utah
      <li>Kanab Field Office-Kanab, Utah
      <li>Cedar City Field Office-Cedar City, Utah
      <li>St. George Field Office-St. George, Utah
      <li>Kanab Visitor Center-Kanab, Utah
      <li>Cannonville Visitor Center-Cannonville, Utah
      <li>Utah State Office-Salt Lake City, Utah
      <li>Price Field Office-Price, Utah Moab Field Office-Moab, Utah
      <li>Monticello Field Office-Monticello, Utah
      <li>Salt Lake Field Office-West Valley City, Utah
      <li>Vernal Field Office-Vernal, Utah
      <li>Fillmore Field Office-Fillmore, Utah
      <li>Henry Mtn. Field Station-Hanksville, Utah
      <li>GSC-E Nat'l. Mon. Anasazi State Park GSC-E Nat'l. Mon. Big Water Visitor Center-Boulder, Utah
      <li>Richfield Field Office-Richfield, Utah
    </ul>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://www.blm.gov/wo/st/en.html">U.S. Bureau of Land Management</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="BLMFieldOffices"
  info=page.BLMFieldOffices %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="ForestServiceStations">
      <a href="#ForestServiceStations" class="anchor--link">Forest Service Stations</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/FieldStations_forest.png" | prepend: site.baseurl }}" alt="Forest Service Stations" />
    <p>Society.ForestServiceStations contains locations of forest facilities such as forest ranger stations and forest offices.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://www.fs.fed.us/">U.S. Forest Service</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="ForestServiceStations"
  info=page.ForestServiceStations %}
</div>
