---
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - blm
  - bureau of land management
  - data
  - forest service
  - usfs
categories: []
date: 2012-06-15 13:13:43 -0600
BLMFieldOffices:
  hub:
    name: Utah BLM Field Offices
    item_id: 1922b4277590438fae726e2b97c14dda
  updates:
    - June 2013
    - August 2011
ForestServiceStations:
  hub:
    name: Utah Forest Service Stations
    item_id: ea7bd97ff90f40d0b0e0acb2e03271f3
  uploads:
    - June 2013
    - August 2011
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/FieldStations.png %}" alt="BLM Field Stations" />
  <figcaption class="caption__text">Forest Service Stations</figcaption>
</figure>
{% include abstract.html
name="BLM Field Offices & Forest Service Stations"
stewards="AGRC & BLM"
abstract="This data package contains the locations of federal offices on BLM land and Forest Service land. The data package contains two datasets, one for the BLM and one for the Forest Service." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="BLMFieldOffices">BLM Field Offices</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/FieldStations_blm.png %}" alt="Field Stations" />
    <p>Society.BLMFieldOffices contains locations for the Utah BLMs State Office, 11 BLM Field Offices, 5 BLM Visitor Centers and 1 BLM Field Station.</p>
    <p>The cities each office is located in are</p>
    <ul class="dotless">
      <li>Escalante Interagency Office/Visitor Center-Escalante, Utah
      <li>GSENM Field Office-Kanab, Utah
      <li>Kanab Field Office-Kanab, Utah
      <li>Cedar City Field Office-Cedar City, Utah
      <li>St. George Field Office-St. George, Utah
      <li>Kanab Visitor Center-Kanab, Utah
      <li>Cannonville Visitor Center-Cannonville, Utah
      <li>Utah State Office-Salt Lake City, Utah
      <li>Price Field Office-Price, Utah Moab Field Office-Moab, Utah
      <li>Monticello Field Office-Monticello, Utah
      <li>Salt Lake Field Office-West Valley City, Utah
      <li>Vernal Field Office-Vernal, Utah
      <li>Fillmore Field Office-Fillmore, Utah
      <li>Henry Mtn. Field Station-Hanksville, Utah
      <li>GSC-E Nat'l. Mon. Anasazi State Park GSC-E Nat'l. Mon. Big Water Visitor Center-Boulder, Utah
      <li>Richfield Field Office-Richfield, Utah
    </ul>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://www.blm.gov/wo/st/en.html">U.S. Bureau of Land Management</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="BLMFieldOffices"
  info=page.BLMFieldOffices %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="ForestServiceStations">Forest Service Stations</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/FieldStations_forest.png %}" alt="Forest Service Stations" />
    <p>Society.ForestServiceStations contains locations of forest facilities such as forest ranger stations and forest offices.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://www.fs.fed.us/">U.S. Forest Service</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="ForestServiceStations"
  info=page.ForestServiceStations %}
</div>
