---
author:
  display_name: AGRC Office
  email: agrc@utah.gov
tags:
  - census
  - demographic
date: 2021-02-23 10:21:08 -0600
categories: []
2020Census:
  downloads:
    - url: "https://drive.google.com/uc?id=1_Gp0JVHFbjw5OqDcFGbFjo9b-lJbzRsW&export=download"
      label: 'File Geodatabase: Census Data package for Utah'
    - url: "https://drive.google.com/uc?id=1Efr1XXq5w4yTDa-KwLFL8oFrn-2Z8Afq&export=download"
      label: 'Shapefile: Census Blocks for Utah'
    - url: "https://drive.google.com/uc?id=1pSy_UwEybUFf3DFUpi1Zqhsj3LMN7gAn&export=download"
      label: 'Shapefile: Census Block Groups for Utah'
    - url: "https://drive.google.com/uc?id=1PBJg5DG95aGHGDbTff_wzWnM07SYjvRP&export=download"
      label: 'Shapefile: Census Tracts for Utah'
    - url: "https://drive.google.com/uc?id=1xgk1Jmnbl-kMSpkuoeUktX6dFgGJ1W4V&export=download"
      label: 'Shapefile: Census Places for Utah'
    - url: "https://drive.google.com/uc?id=1thr46UZOe2kZo97Pma2GOSMHQlgcYSrh&export=download"
      label: 'Shapefile: Census Counties for Utah'
    - url: "https://drive.google.com/uc?id=1WldVUwSCRgB8frB4clSf18RSG8p5uqas&export=download"
      label: 'Shapefile: Census State Boundary for Utah'
  updates:
    - February, 2021
2000Census:
  downloads:
    - url: https://drive.google.com/drive/folders/16hcPe8qHPEtwLQPPbzg6HFUTMutRY4Vq
      label: 2000 Census Data
  updates:
    - 2001
2010Census:
  downloads:
    - url: https://opendata.arcgis.com/datasets/8fa5d65451694f64b05f17d9e5f9d67e_0.gdb
      label: 'File Geodatabase: Census Block Groups'
    - url: https://opendata.arcgis.com/datasets/b92a5e772855488a9b7f9c367475d955_0.gdb
      label: 'File Geodatabase: Census Blocks'
    - url: https://opendata.arcgis.com/datasets/e36dec62351d449899bc6ca98f6263bb_0.gdb
      label: 'File Geodatabase: Census Counties'
    - url: https://opendata.arcgis.com/datasets/ad629aab2f89456c82457aac06c59601_0.gdb
      label: 'File Geodatabase: Census Tracts'
    - url: https://opendata.arcgis.com/datasets/8fa5d65451694f64b05f17d9e5f9d67e_0.zip
      label: 'Shapefile: Census Block Groups'
    - url: https://opendata.arcgis.com/datasets/b92a5e772855488a9b7f9c367475d955_0.zip
      label: 'Shapefile: Census Blocks'
    - url: https://opendata.arcgis.com/datasets/e36dec62351d449899bc6ca98f6263bb_0.zip
      label: 'Shapefile: Census Counties'
    - url: https://opendata.arcgis.com/datasets/ad629aab2f89456c82457aac06c59601_0.zip
      label: 'Shapefile: Census Tracts'
  updates:
    - January, 2011
PopulatedBlockAreas2010Approximation:
  hub:
    name: Utah Population Block Areas 2010 Approx
    item_id: 061407fed6324bcfabf1813764caef0a
  updates:
    - January, 2011
PopulatedPlacePoints2010Approximation:
  hub:
    name: Utah Population Place Points 2010 Approx
    item_id: 03158991802e4bf0b9cc3234eddd0e76
  updates:
    - January, 2011
UrbanAreasCensus2010:
  hub:
    name: Utah Urban Areas Census 2010
    item_id: 5fefbcf3e7a5499c845872d0be11b1c2
  updates:
    - January, 2011
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/censusmain_2.png %}" alt="2010 Demographic Data" loading="lazy" />
  <figcaption class="caption__text">2010 Demographic Census Data</figcaption>
</figure>
{% include abstract.html
name="Demographic Data"
stewards="AGRC and U.S. Census Bureau"
abstract="This page contains boundary and demographic data collected by the U.S. Census Bureau for 2020, 2010 and 2000 censuses. Demographic data includes population counts, household counts, ethnicity counts, etc. The data available on this page is filtered, geographically, to the state of Utah. This data follows the format released by the Census Bureau, with just a few modifications for usability." %}
<p>Read about <a href="{% link data/demographic/census/index.html %}#Commonly-Used Census Bureau Geography">commonly-used census bureau geography</a> including blocks, block groups, tracts, and places.</p>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
      <h3 id="2020Census">2020 U.S. Census Bureau Data</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
      <img class="inline-text-left outline" src="{% link images/censussmall.png %}" alt="2020 U.S. Census Bureau Data" loading="lazy" />
      <p>The data in this section contains census blocks, census block groups, census tracts, census places, census counties, and the state boundary from the census bureau.</p>
      <p>Utah’s 2020 census geographic boundaries became available in February 2021. The Census Bureau will release the first set of corresponding demographic data in September 2021 (the 2020 Census Redistricting P.L. 94-171 Summary Files). Following that release, AGRC will append the demographic data to the existing 2020 geographies served on this page.</p>
      <p>The 2020 data available on this page was downloaded from the <a href="https://www.census.gov/programs-surveys/decennial-census/about/rdo/summary-files.html#P2">2020 Census Redistricting Data (P.L. 94-171)</a> page. All 2020 census boundaries are current to January 1, 2020. Additional GIS files and support products are available on the <a href="https://www.census.gov/programs-surveys/decennial-census/about/rdo/summary-files.html#P2">census redistricting data</a> page.</p>
      <p>Geography is a fundamental aspect of the census, providing the framework for the once-a-decade count of population and housing. Read about some of the key geography changes in the Kem C. Gardner Policy Institute's <a href="https://gardner.utah.edu/blog-2020-census-geographic-support-products-available/">2020 census geography blog</a>.</p>
      <p class="pop">Note: AGRC is currently loading the 2020 census data into the SGID where it will be available to consume as web map services or direct database access. In the meantime, this data is available for download now as individual shapefiles or packaged in a file geodatabase. See the download links below.</p>
      <p>There are no constraints or warranties with regard to the use of this dataset.</p>
      <h5>Related Resources</h5>
      <ul class="dotless">
        <li><a href="https://www.census.gov/programs-surveys/decennial-census/about/rdo/summary-files.html">2020 Census Redistricting Data
        (P.L. 94-171)</a>      
        <li><a href="https://www2.census.gov/geo/pdfs/maps-data/data/tiger/tgrshp2020pl/TGRSHP2020PL_TechDoc.pdf">2020 Census Redistricting Data
        (P.L. 94-171) TIGER/Line - Technical Documentation</a>
      <li><a href="https://www2.census.gov/programs-surveys/decennial/2020/technical-documentation/complete-tech-docs/summary-file/2020Census_PL94_171Redistricting_StatesTechDoc_English.pdf">2020 Census State Redistricting Data Summary File - Technical Documentation</a>
      <li><a href="https://www.census.gov/programs-surveys/decennial-census/about/rdo/program-management.html">The Census Redistricting Data Program</a>
      <li><a href="https://www.census.gov/">U.S. Census Bureau</a>
      </ul>
      <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="2020Census"
  info=page.2020Census %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="2010Census">2010 U.S. Census Bureau Data</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/censussmall.png %}" alt="2010 U.S. Census Bureau Data" loading="lazy" />
    <p>The Census Bureau creates different sized geographic areas to organize this demographic information, the smallest unit of area being a "census block" and the biggest being counties. The data in this section contains census blocks, census block groups, census tracts, and counties.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="ftp://ftp.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_metc/society_census2010tiger/metadata/metadata.html#Entity_and_Attribute_Information">Metadata</a>
      <li><a href="https://www.census.gov/">U.S. Census Bureau</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="2010Census"
  info=page.2010Census %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="2000Census">2000 U.S. Census Bureau Data</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>This dataset contains demographic information collected by the Census Bureau in 2000 for the census block, census block group, census tract, and county levels. Demographic population includes population counts, household counts, ethnicity counts, etc. The Census Bureau creates different sized geographic areas to organize this demographic information, the smallest unit of area being a "census block" and the biggest being counties.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset.
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://www.census.gov/programs-surveys/decennial-census/technical-documentation/complete-technical-documents.2000.html#par_textimage_4">Census Summary Files</a>
    </ul>
    <p>Summary File 1 and 2 focus on the information collected on the census short form – namely on age, sex, race, Hispanic/Latino origin, households, families, housing units, and owner/renter status.</p>
    <p>Summary File 3 and 4 focus on social, economic and housing characteristics compiled from a sample of approximately 19 million housing units (about 1 in 6 households) that received the Census 2000 long-form questionnaire. Topics include income, education, occupation, ancestry, disability, foreign birth, commuting, household financial arrangements, year housing structure built and many other population and housing subjects.</p>
  </div>
  {% include packagedata.html name="2000Census"
  info=page.2000Census %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="PopulatedBlockAreas2010Approximation">Populated Block Areas 2010 Approximation</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/censussmall_3.png %}" alt="Populated Block Areas 2010 Approximation" loading="lazy" />
    <p>PopBlockAreas2010_Approx contains areas of census blocks that only represent populated areas. This dataset was created by AGRC using the original 2010 census blocks. The blocks were cut when necessary to only cover residential areas. This was done using aerial imagery and is an approximation.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset. This data was created by AGRC using U.S. Census Bureau 2010 Census data.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://www.census.gov/">U.S. Census Bureau</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.census %}</p>
  </div>
  {% include packagedata.html name="PopulatedBlockAreas2010Approximation"
  info=page.PopulatedBlockAreas2010Approximation %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="PopulatedPlacePoints2010Approximation">Populated Place Points 2010 Approximation</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/censussmall_2.png %}" alt="Populated Place Points 2010 Approximation" loading="lazy" />
    <p>PopPlacePts2010_Approx represents populated places and their approximate population. Incorporated municipality populations were determined by the U.S. Census Bureau. The population of unincorporated places were approximated by AGRC using a given place's surrounding census blocks and their 2010 census population counts.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset. This data was created by AGRC using U.S. Census Bureau 2010 Census data.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://www.census.gov/">U.S. Census Bureau</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.census %}</p>
  </div>
  {% include packagedata.html name="PopulatedPlacePoints2010Approximation"
    info=page.PopulatedPlacePoints2010Approximation %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UrbanAreasCensus2010">Urban Areas Census 2010</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/UrbanAreas.png %}" alt="Urban Areas Census 2010" loading="lazy" />
    <p>UrbanAreasCensus2010 represents Census Bureau delineated urban areas that represent densely developed territory, encompassing residential, commercial, and other nonresidential urban land uses. In general, this territory consists of areas of high population density and urban land use resulting in a representation of the "urban footprint." There are two types of urban areas: urbanized areas (UAs) that contain 50,000 or more people and urban clusters (UCs) that contain at least 2,500 people, but fewer than 50,000 people (except in the U.S. Virgin Islands and Guam which each contain urban clusters with populations greater than 50,000). Each urban area is identified by a 5-character numeric census code that may contain leading zeroes.</p>
    <p>There are no constraints or warranties with regard to the use of this dataset.  This data was created by AGRC using U.S. Census Bureau 2010 Census data.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://www.census.gov/">U.S. Census Bureau</a></li>
      <li><a href="https://www.census.gov/programs-surveys/decennial-census/technical-documentation/complete-technical-documents.2010.html">2010 Summary Files</a></li>
    </ul>
    <p>Summary File 1 (SF 1) and Summary File 2 (SF 2) focus on the information collected on the census short form – namely on age, sex, race, Hispanic/Latino origin, households, families, housing units, and owner/renter status.</p>
    <P>The SF3 and SF4 products are not available for the 2010 census as the 'long form' was not gathered.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.census %}</p>
  </div>
  {% include packagedata.html name="UrbanAreasCensus2010"
  info=page.UrbanAreasCensus2010 %}
</div>
<h2 id="Commonly-Used Census Bureau Geography">Definitions for Commonly-Used Geography</h2>
<p>The Census Bureau provides data within two types of boundaries: statistical and legal. Statistical boundaries depend on population thresholds and typically follow features like roads, power lines, and rivers. Legal boundaries are more familiar, such as city, county, and state boundaries.</p>
<h5>Census tracts (statistical)</h5>
<p>Census tracts are small, relatively permanent subdivisions of a county designed to present and compare statistical data for areas of roughly equal population. Census tracts generally contain between 1,200 and 8,000 people, with an optimum population of 4,000. A census tract is spatially smaller in a higher-density
area and larger in a more sparsely populated area. In higher-density areas, tracts can be considered approximately “neighborhood” sized.</p>
<h5>Block groups (statistical)</h5>
<p>Block groups are divisions of census tracts that generally contain between 600 and 3,000 people. A block group consists of a cluster of census blocks within the same census tract.</p>
<h5>Census blocks (statistical)</h5>
<p>Blocks are the smallest geographic areas and the basis for all tabulated census data. Blocks are statistical areas bounded by visible features, such as streets, road, streams, and railroad tracks, and by nonvisible boundaries, such as selected property lines and city, township, school district, and county limits. A block often represents a typical city block area, however, as with other statistical geographies, rural-area blocks may be very large in spatial size.</p>
<h5>Places (legal or statistical)</h5>
<p>In Utah, “places” include cities, towns, metro townships, and census-designated places (CDPs). The first three are legal boundaries in Utah, representing incorporated places that provide governmental functions for a concentration of people. CDPs are statistical boundaries delineated by the Census Bureau. They provide data for recognizable places that are not legally incorporated.</p>
<p>Visit the <a href="https://www.census.gov/programs-surveys/geography/about/glossary.html">Census Bureau Geography Glossary</a> to learn more about census geographies.</p>
