---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Cemeteries',
  description: `Cemetery locations in Utah.`,
  stewards: ['UGRC'],
  type: ProductType.POINT,
  category: SgidCategory.SOCIETY,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`2011`],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout
  title={page.title}
  subTitle={page.updateHistory[0]}
  category={page.category}
  actionUrl={page.application}
  config={{ skipInDepth: true }}
>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      This dataset contains over 400 cemeteries and their locations in Utah. Some of the cemeteries in this database are
      inactive, and may be in poor condition. Cemetery information contains year of first burial, number of burials,
      contact and owner information, and directions. The main source of this dataset is the <ExternalLink
        href="https://ushpo.utah.gov/cemetery/"
        >Utah State Historic Preservation Office Cemetery and Burial Database</ExternalLink
      >.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Section title="More resources" slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Utah Historical Society" href="https://history.utah.gov/utah-cemeteries-burials/"
        >Utah Historical Society cemeteries and burials website.</CardWithPopularLink
      >
      <CardWithPopularLink title="Utah State Historic Preservation Office" href="https://ushpo.utah.gov/"
        >Utah State Historic Preservation Office website.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Society" href="/products/sgid/society">Society page</CardWithSmallLink>
      <CardWithSmallLink title="Location" href="/products/sgid/location">Location page</CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
