---
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - railroads
  - transportation
categories: []
date: 2011-11-23 13:15:10 -0700
Railroads:
  hub:
    name: Utah Railroads
    item_id: fe20e5c6bb4240919d0cd5ba4116d106
  updates:
    - July, 2017
RailroadMps:
  hub:
    name: Utah Railroad Mileposts
    item_id: 894928d3d26b44a9b71ebdd99bb05650
  updates:
    - Created October 1, 2017
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/Railroad25k_256.png %}" alt="railroad" loading="lazy" />
  <figcaption class="caption__text">Railroad Data</figcaption>
</figure>
{% include abstract.html name="Railroads"
  stewards="AGRC, U.S. Geological Survey, Federal Railroad Administration (FRA)"
  abstract="Utah Railroads portray the location of railroads in the state of Utah derived from the most recent high resolution imagery available, including 1 foot resolution color imagery, NAIP, 1 meter resolution imagery, and 1 meter USGS DOQs. The dataset has been updated to include cartographic attribution for fine scale representations and also a differentiation between light, heavy, transit, and electrified tracks."
%}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Railroads">Railroads</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>This dataset was developed for many uses, including but not limited to, emergency planning.  There are no constraints or warranties with regard to the use of this data.</p>
  </div>
  {% include packagedata.html name="Railroads"
    info=page.Railroads %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="RailroadMPs">Railroad Mileposts</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img src="images/railroadmps.png" class="inline-text-left outline" loading="lazy" />
    <p>Railroad mileposts are used to reference locations along railroads by the closest quarter milepost number and railroad division name. The points are intended to improve dispatch of emergency services along mainline railroads.</p>
    <p>The statewide roads dataset is maintained by AGRC and created from distances along Utah Railroads in combination with railroad mileposts provided by the Federal Railway Administration.</p>
  </div>
  {% include packagedata.html name="RailroadMPs"
    info=page.RailroadMps %}
</div>
