---
import Layout from '@layouts/FullWidth.astro';

import ExternalLink from '@components/page/ExternalLink.astro';
import NumberedList from '@components/page/NumberedList.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import myBackground from '../images/404.webp';
---

<Layout pageTitle="null island">
  <Section>
    <Image src={myBackground} alt="null island" width="454" slot="image" class="rounded-lg dark:invert" />
    <h2>We're sorry but...</h2>
    <div class="space-y-5">
      <p class="font-black">{Astro.url.pathname}</p>
      <p>was not found or has not been created yet – or someone forgot to set the spatial reference...</p>
    </div>
    <h3>Now what</h3>
    <NumberedList>
      <li>Make sure the above URI has no spelling mistakes.</li>
      <li>Try the search icon in the top right for the page and</li>
      <li>
        Finally, notify us <ExternalLink href="https://github.com/agrc/gis.utah.gov/issues/new"
          >by creating an issue</ExternalLink
        >.
      </li>
    </NumberedList>
  </Section>
</Layout>
