---
import Layout from '@layouts/FullWidth.astro';

import type { IStandardPageMetadata } from '@models/types';

import Blockquote from '@components/page/Blockquote.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import aboutUsPhoto from '@images/about/about-us.svg';

import { YouTube } from '@astro-community/astro-embed-youtube';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'About the UGRC',
  pageDescription:
    'The Utah Geospatial Resource Center (UGRC) provides a wide range of Geographic Information System (GIS) and other geospatial support services.',
  section: stripeSections([
    { title: 'Who is the UGRC' },
    { title: 'What we do', titlePosition: 'center' },
    { title: 'Our vision', actionText: 'Explore our history', actionUrl: '/about/history/' },
    { title: 'Accessibility' },
    { title: 'You might also like', titlePosition: 'center' },
  ]),
};
---

<Layout pageTitle={page.pageTitle}>
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={aboutUsPhoto}
      loading="eager"
      alt="a person sitting in a char using a computer to work with maps and data"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC is the state's map technology coordination office. We aggregate and make available important statewide data
      sets (e.g. roads, address points) to the public and for government systems; engage and advise on GIS
      implementations and best practices; and build custom tools, services, and applications for all levels of
      government throughout the state to improve their business processes by integrating spatial data.
    </p>
    <h2>Our Mission</h2>
    <p>
      The mission of UGRC is to encourage and facilitate the effective use of geospatial information and technology for
      Utah. The Utah Geospatial Resource Center (UGRC) provides a wide range of Geographic Information System (GIS) and
      other geospatial support services. UGRC strives to ensure a high level of coordination among Utah GIS users and
      effective, efficient use of GIS resources. Other services include stewardship of the State Geographic Information
      Datasource (SGID), facilitation of programs and activities to implement GIS technology across the state, and
      coordination of GIS policy development and implementation activities. UGRC also provides consulting services to
      federal, state, and local government and other organizations, including GIS analysis and application development,
      and map and web service development and hosting.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <div class="mx-auto w-full max-w-4xl">
      <YouTube
        class="aspect-video max-w-full rounded-lg border-2 border-black shadow-xl"
        id="QOd54USXL8A"
        playlabel="Hear Matt explain what we do"
      />
    </div>
  </Section>
  <Section {...page.section[2]}>
    <Blockquote>
      UGRC is a source for reliable and authoritative geospatial data and provider of seamless GIS integrations
      throughout state government and the Utah GIS community.
    </Blockquote>
    <h2>Our History</h2>
    <p>
      UGRC was one of the first geospatial information offices in the country, established a few years before its formal
      adoption in code in 1984. After many years, our storefront remains located at the intersection of geography,
      technology, and the quest for enterprise-wide efficiency.
    </p>
  </Section>
  <Section {...page.section[3]}>
    <p>
      UGRC is committed to ensuring digital accessibility for all users, including those interacting with our geospatial
      information systems. We believe that location-based data should be inclusive. We strive to provide an equitable
      experience that aligns with <ExternalLink
        href="https://www.ada.gov/resources/2024-03-08-web-rule/"
        >WCAG 2.1 Level AA</ExternalLink
      > standards for all websites and applications that we maintain. If a UGRC website or application does not meet your
      accessibility needs, please contact us at <a href="mailto:ugrc@utah.gov">ugrc@utah.gov</a>.
    </p>
    <p>
      We created the <ExternalLink
        href="https://docs.google.com/document/d/e/2PACX-1vS-Y54mTB9D7H1rVk4xmZa-8TrCitVwrE0HihpTdlQ_y6k7na45mixr9CQhMrf7R4ZxvIWQ2fLeUUWI/pub"
        >Accessibility Action Plan</ExternalLink
      > to serve as our formal roadmap for identifying and remediating digital barriers across our websites and GIS applications.
      We maintain this as a living document to outline our testing procedures and remediation workflows, ensuring a consistently
      inclusive experience for you.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <GridForYouMightLike>
      <CardWithSmallLink title="GIS-related Utah Statute" href="/about/code/">
        State of Utah statute and administrative rules pertaining to Geographic Information Systems & Mapping
      </CardWithSmallLink>
      <CardWithSmallLink title="Historical documents" href="/about/history/">
        Maybe our wikipedia page that was never approved?
      </CardWithSmallLink>
      <CardWithSmallLink title="Staff presentations" href="/collaboration/knowledge/presentations/">
        A collection of talks given by UGRC staff
      </CardWithSmallLink>
      <CardWithSmallLink title="Logos and Media" href="/about/media/">
        UGRC logos and media to use in your projects and maps
      </CardWithSmallLink>
    </GridForYouMightLike>
  </Section>
</Layout>
