---
import Layout from '../layouts/Prose.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort((b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Layout>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <img width={720} height={360} src={post.data.heroImage} alt="" />
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} style="long" />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
