---
import type { ImageMetadata } from 'astro';

import Layout from '../layouts/FullWidth.astro';
import Section from '../components/page/Section.astro';
import StaffMember from '../components/page/StaffMember.astro';

import { Image } from 'astro:assets';

import { staff } from '../data/staff';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/pillar-contact/*.svg');
---

<Layout title="Contact">
  <Section title="General Office Information" actionUrl="/contact/visiting" actionText="Get directions">
    <Image
      slot="image"
      loading="eager"
      src={images['/src/images/pillar-contact/office.svg']()}
      alt="people at a desk"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <div>
      <div>Utah Geospatial Resource Center</div>
      <div>Division of Technology Services</div>
      <div>4th Floor</div>
      <div>4315 South 2700 West</div>
      <div>Taylorsville, UT 84129</div>
      <div>USA</div>
    </div>
    <div>
      <div><span class="font-bold">Telephone</span>: 801-538-3665</div>
      <div><span class="font-bold">Office Email</span>: ugrc@utah.gov</div>
      <div>
        <span class="font-bold">Office Hours</span>: By appointment—We are teleworking and are ready to assist Monday -
        Friday 8AM - 5PM Mountain Time
      </div>
    </div>
  </Section>
  <Section stripe title="Meet our team">
    <ul role="list" class="mx-auto grid grid-cols-1 gap-8 sm:gap-y-16 lg:grid-cols-2 xl:grid-cols-2">
      {staff.map((member) => <StaffMember {...member} />)}
    </ul>
  </Section>
  <Section title="UGRC Social Media" actionUrl="https://twitter.com/MapUtah" actionText="Check us out">
    <Image
      slot="image"
      src={images['/src/images/pillar-contact/social-media.svg']()}
      alt="social media"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Twitter is a low commitment social media tool that can be great for professional collaboration and sharing. It
      allows users to quickly search and scan recent posts for relevant information. UGRC posts to Twitter using the
      handle <a href="https://twitter.com/MapUtah">@MapUtah</a>. We post about achievements, GIS events, SGID
      modifications, and service outages as they happen. It is the best way to say in touch with UGRC.
    </p>
    <p>
      UGRC would like to encourage Utah GIS and map users to both consume and contribute posts pertaining to anything
      GIS, mapping, or otherwise geospatial using the hash tag #utmap and following other UGRC-specific hashtags such as
      #ugrcporter (SGID changes) and #ugrcstatus (UGRC service outages).
    </p>
    <p>
      Every twitter posts is duplicated to Facebook with the handle UtahAGRC if you would like to follow along there. We
      understand social media is not for everyone, so if you choose not to use these platforms, sign up for our
      newsletter to stay up to date.
    </p>
  </Section>
  <Section
    stripe
    title="UGRC quarterly newsletter"
    actionUrl="https://cdn.forms-content.sg-form.com/61e82d28-f0d5-11ec-847c-a26809937a38"
    actionText="Sign up"
  >
    <Image
      slot="image"
      src={images['/src/images/pillar-contact/newsletter.svg']()}
      alt="UGRC quarterly newsletter"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      UGRC combines all of the latest GIS news into a quarterly newsletter. If you work in the GIS industry, use our
      services, are are generally interested in GIS and mapping we encourage you to sign up
    </p>
  </Section>
</Layout>
