---
import Layout from '../layouts/FullWidth.astro';

import CardWithTopImage from '../components/page/CardWithTopImage.astro';
import CardWithSmallLink from '../components/page/CardWithSmallLink.astro';
import GridForPillars from '../components/page/GridForPillars.astro';
import GridForLatestNews from '../components/page/GridForLatestNews.astro';
import GridForYouMightLike from '../components/page/GridForYouMightLike.astro';
import Section from '../components/page/Section.astro';

import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import CardWithDate from '../components/page/CardWithDate.astro';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/landing/*.{svg,png}');

const posts = (await getCollection('blog'))
  .filter((post) => post.data.published)
  .sort((b, a) => a.data.date.valueOf() - b.data.date.valueOf())
  .slice(0, 3);

const regex: RegExp = /(^#.*| {2,4}-.*|^-.*|\[(?=.*\])|](?<=\])\(.*\))/gm;
---

<Layout title="UGRC">
  <Section>
    <GridForPillars>
      <CardWithTopImage title="Products" actionUrl="/products">
        <Image
          src={images['/src/images/landing/products.svg']()}
          slot="image"
          loading="eager"
          alt="an assembly line of people making products"
          class="block h-64 rounded-t-2xl bg-primary"
        />
        For decades, UGRC's foundational GIS and GPS products have provided access to reliable and free spatial data that
        are incorporated into important business practices and processes of government, private, and public entities. Explore
        our products and imagine how you and your team can use them to implement and enhance your mission and goals. Reach
        out to us for implementation questions, tips, and best practices.
      </CardWithTopImage>
      <CardWithTopImage title="Solutions" actionUrl="/solutions">
        <Image
          src={images['/src/images/landing/solutions.svg']()}
          slot="image"
          loading="eager"
          alt="a person standing in front of a chalkboard with a solution written on it"
          class="block h-64 rounded-t-2xl bg-primary"
        />
        In addition to our main products, UGRC provides a wide range of GIS and geospatial solutions and support services
        such as: Data aggregation, management, and analysis; process automation; application and software development; GIS
        best practices; facilitating programs and activities to implement GIS technology throughout the state; and coordination
        of GIS policy development and implementation activities.
      </CardWithTopImage>
      <CardWithTopImage title="Collaboration" actionUrl="/collaboration" class="sm:col-span-2 xl:col-span-1">
        <Image
          src={images['/src/images/landing/collaboration.svg']()}
          slot="image"
          loading="eager"
          alt="people pulling a rope together"
          class="block h-64 rounded-t-2xl bg-primary"
        />
        Collaboration is the key element of GIS in Utah, and UGRC strives to ensure a high level of collaboration among Utah
        GIS users and aims to promote effective, efficient use of GIS resources. Here you will find information and links
        to the GIS community in Utah as well as resources on user groups, events, and partnerships.
      </CardWithTopImage>
    </GridForPillars>
  </Section>
  <Section stripe primary title="Latest News" actionText="Read more news" actionUrl="/blog">
    <GridForLatestNews>
      {
        posts.map((post) => (
          <CardWithDate
            title={post.data.title}
            description={post.body.replaceAll(regex, '').slice(0, 160) ?? 'a blot post'}
            date={post.data.date}
            slug={post.slug}
          />
        ))
      }
    </GridForLatestNews>
  </Section>
  <Section title="You might also like">
    <GridForYouMightLike>
      <CardWithSmallLink title="Explore Utah data on ArcGIS Hub" href="https://opendata.gis.utah.gov/"
        >description</CardWithSmallLink
      >
      <CardWithSmallLink title="UGRC Projects" href="https://github.com/agrc"
        >Check out our GitHub org and all of our code</CardWithSmallLink
      >
      <CardWithSmallLink title="What we do" href="https://youtu.be/QOd54USXL8A"
        >Watch Matt Peters describe the role UGRC plays</CardWithSmallLink
      >
      <CardWithSmallLink title="What can we help you solve" href="/contact"
        >We are smart. Let us help you.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
