---
title: U.S. National Grid Index
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
tags:
  - data
  - indices
  - national grid
categories: []
date: 2011-09-15 14:02:33 -0600
UnitedStatesNationalGrid:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mV1BJcnVrWEJQU3c&export=download
      label: 'US National Grid: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mdHUxVmhJc3NDZVE&export=download
      label: 'US National Grid: Shapefile'
  updates:
    - No updates are planned for this dataset.
    - June 2009
---
<figure class="caption caption--right">
  <img src="{{ "/images/gallery/sgid/usng-indexlg-ut.jpg" | prepend: site.baseurl }}" alt="USNG Index Sample" />
  <figcaption class="caption__text">U.S. National Grid Index</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mRmVnWkhTYTdxNEE"
  name="United States National Grid (USNG)"
  stewards="AGRC in partnership with the Center for Interdisciplinary Geospatial Information Technologies, Delta State University, Cleveland Mississippi 38733"
  abstract="This dataset contains GIS mapping data representing the 1000m X 1000m United States National Grid (USNG) for Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UnitedStatesNationalGrid(USNG)">
      <a href="#UnitedStatesNationalGrid(USNG)" class="anchor--link">United States National Grid (USNG)</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/usng-index-ut.jpg" | prepend: site.baseurl }}" alt="USNG Index Sample" />
    <p>INDICES.NationalGrid is a polygon dataset of United States National Grid 1000 meter x 1000 meter grid polygons constructed by the Center for Interdisciplinary Geospatial Information Technologies at Delta State University with support from the US Geological Survey under the Cooperative Agreement 07ERAG0083. For correct display, please set the base coordinate system and projection such that it matches the UTM zone for which these data were constructed using the NAD 83 datum. Further information about the US National Grid is available from <a href="https://www.fgdc.gov/usng">https://www.fgdc.gov/usng</a> and a viewing of these layers as applied to local geography may be seen at the <a href="http://www.nationalmap.gov">National Map</a>.</p>
    <p>Each polygon contains the following attribute fields:</p>
    <ul class="dotless">
      <li><strong>USNG</strong> - the fully qualified U.S. National Grid number coordinate describing the lower left corner of a 1000m x 1000m polygon
      <li><strong>GRID1MIL</strong> - USNG Grid Zone Designator (GZD)
      <li><strong>Grid100K</strong> - 100,000 meter USNG square ID
      <li><strong>Easthing</strong> - lower left Easting of the 1000 meter USNG box
      <li><strong>Northing</strong> - lower left Northing of the 1000 meter USNG box
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83. There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah, SGID and The Center for Interdisciplinary Geospatial Information Technologies, Delta State University, Cleveland Mississippi 38733.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.INDICES.NationalGrid.xml">FGDC format metadata</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
  {% include packagedata.html name="UnitedStatesNationalGrid" info=page.UnitedStatesNationalGrid %}
<div>
