---
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - air
  - data
  - transportation
categories: []
date: 2011-11-23 11:54:49 -0700
AirportLocations:
  hub:
    name: Utah Airport Locations
    item_id: ae01b2d088f64c0fb989c2592e7e4f89
  updates:
    - 'Updates to this dataset are published periodically.<br> Last Update: January
      23, 2003'
Airports:
  hub:
    name: Utah Airports
    item_id: 32f010985c754fd288896c5aa28599bc
  updates:
    - 'Updates to this dataset are published periodically.<br> Last Update: September
      16, 2009'
Heliports:
  downloads:
    - url: https://utah.maps.arcgis.com/home/item.html?id=0530510d90234ecbb7d032b29a727900
      label: 'Heliports'
  updates:
    - 'Updates to this dataset are published periodically.<br> Last Update: January
      23, 2003'
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/Air_Large.png %}" alt="Air and Heliport Locations" />
  <figcaption class="caption__text">Airport and Heliport Locations</figcaption>
</figure>
{% include abstract.html
  name="Airport and Heliport Locations"
  stewards="Bureau of Transportation Statistics (BTS)"
  abstract="This data contains GIS mapping data representing airport locations, aircraft landing facilities, and heliport locations throughout the state of Utah."%}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="AirportLocations">Airport Locations</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/AirPtWithLine_90x90.png %}" alt="airport thumbnail" />
    <p>Utah Airport Locations is a statewide point dataset that contains data from the Geographic Names Information System (GNIS). Attribute information include feature name, feature type, elevation, and USGS 24K scale quadrangle name in which the feature resides. Airport Locations consists of 111 point features that are categorized by feature type and are representative of airport locations found in the general GNIS dataset. For regional display at 1:100,000.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 coordinate precision).</p>
    <p>Questions can be directed to the BTS at (202) 366-DATA.</p>
  </div>
  {% include packagedata.html name="AirportLocations"
     info=page.AirportLocations %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Airports">Airports</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/AirportsOutline_90x90.png %}" alt="airport" />
    <p>Utah Airportss is a 'public use' linear dataset of aircraft landing facilities throughout the state of Utah. Attribute information includes site number, facility type, location id, city and county in which the facitlity is located, full name of facility, owner type, and elevation. Airports can be used for regional analysis applications. There are currently 185 airport landing facilities in this dataset. The data was derived from the FAA's National Airspace Resource Aeronautical Data Product, January 23, 2003. The Airports dataset is maintained by the Bureau of Transportation Statistics.</p>
    <p>Questions can be directed to the BTS at (202) 366-DATA.</p>
  </div>
  {% include packagedata.html name="Airports"
     info=page.Airports %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Heliports">Heliports</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/HeliPoint_90x90.png %}" alt="helipoint" />
    <p>Utah Heliports is a 'public use' point dataset of heliport landing facilities throughout the state of Utah. Attribute information includes site number, facitity type, location id, FAA region, FAA district, city and county in which the facitlity is located, full name of facility, facility use type, and more. Heliports can be used for regional analysis applications. There are currently 49 heliport landing facilities in this dataset. The data was derived from the FAA's National Airspace Resource Aeronautical Data Product, January 23, 2003.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 coordinate precision).</p>
    <p>Questions can be directed to the BTS at (202.366.DATA).</p>
  </div>
  {% include packagedata.html name="Heliports"
     info=page.Heliports %}
</div>
