---
status: publish
layout: page
title: Airport and Heliport Locations
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - data
  - air
  - transportation
categories: []
published: true
date: 2011-11-23 11:54:49 -0700
AirportLocations:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mV1JSSy1sUmlWRlU&export=download
      label: "Airport Locations: File Geodatabase"
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mZGZ5LUlBNlRJRHc&export=download
      label: "Airport Locations: Shapefile"
  updates:
    - "Updates to this dataset are published periodically.<br>
      Last Update: January 23, 2003"
Airports:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mWGlxcGJndTlWY0k&export=download
      label: "Airports: File Geodatabase"
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7manpWN040cFFIMEE&export=download
      label: "Airports: Shapefile"
  updates:
    - "Updates to this dataset are published periodically.<br>
      Last Update: September 16, 2009"
Heliports:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mWHdSdUJJakxOVUk&export=download
      label: "Heliports: File Geodatabase"
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mblZMTkw2RnEzWEk&export=download
      label: "Heliports: Shapefile"
  updates:
    - "Updates to this dataset are published periodically.<br>
      Last Update: January 23, 2003"
---
<div class="caption">
  <img title="map" src="{{ '/images/Air_Large.png' | prepend: site.baseurl }}" alt="Air and Heliport Locations" />
  <p class="caption-text">Airport and Heliport Locations</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mRU90UWh6NEdwVHc"
  name="Airport and Heliport Locations"
  stewards="Bureau of Transportation Statistics (BTS)"
  abstract="This data contains GIS mapping data representing airport locations, aircraft landing facilities, and heliport locations throughout the state of Utah."%}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="AirportLocations">
      <a href="#AirportLocations" class="anchor--link">Airport Locations</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="outline" src="{{ '/images/AirPtWithLine_90x90.png' | prepend: site.baseurl }}" alt="airport thumbnail" />
    <p>Transportation.AirportLocations is a statewide point dataset that contains data from the Geographic Names Information System (GNIS). Attribute information include feature name, feature type, elevation, and USGS 24K scale quadrangle name in which the feature resides. Transportation.AirportLocations consists of 111 point features that are categorized by feature type and are representative of airport locations found in the general GNIS dataset. For regional display at 1:100,000.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 coordinate precision).</p>
    <p>Questions can be directed to the BTS at (202) 366-DATA.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li>
        <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.AirportLocations.xml">View FGDC format metadata</a>
      </li>
    </ul>
  </div>
  {% include packagedata.html name="AirportLocations"
     info=page.AirportLocations %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Airports">
      <a href="#Airports" class="anchor--link">Airports</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="outline" src="{{ '/images/AirportsOutline_90x90.png' | prepend: site.baseurl }}" alt="airport" />
    <p>Transportation.Airports is a 'public use' linear dataset of aircraft landing facilities throughout the state of Utah. Attribute information includes site number, facility type, location id, city and county in which the facitlity is located, full name of facility, owner type, and elevation. Transportation.Airports can be used for regional analysis applications. There are currently 185 airport landing facilities in this dataset. The data was derived from the FAA's National Airspace Resource Aeronautical Data Product, January 23, 2003. The Airports dataset is maintained by the Bureau of Transportation Statistics.</p>
    <p>Questions can be directed to the BTS at (202) 366-DATA.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li>
        <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.Airports.xml">View FGDC format metadata</a>
      </li>
    </ul>
  </div>
  {% include packagedata.html name="Airports"
     info=page.Airports %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Heliports">
      <a href="#Heliports" class="anchor--link">Heliports</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="outline" src="{{ '/images/HeliPoint_90x90.png' | prepend: site.baseurl }}" alt="helipoint" />
    <p>Transportation.Heliports is a 'public use' point dataset of heliport landing facilities throughout the state of Utah. Attribute information includes site number, facitity type, location id, FAA region, FAA district, city and county in which the facitlity is located, full name of facility, facility use type, and more. Transportation.Heliports can be used for regional analysis applications. There are currently 49 heliport landing facilities in this dataset. The data was derived from the FAA's National Airspace Resource Aeronautical Data Product, January 23, 2003.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 coordinate precision).</p>
    <p>Questions can be directed to the BTS at (202.366.DATA).</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li>
        <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.TRANSPORTATION.Heliports.xml">View FGDC format metadata</a>
      </li>
    </ul>
  </div>
  {% include packagedata.html name="Heliports"
     info=page.Heliports %}
</div>
