---
title: Retail Culinary Water Suppliers
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - data
  - utilities
  - water
date: 2016-07-12 18:14:11 -0700
categories: []
RetailCulinaryWater:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mYTlnNFRhaFNfNEk
      label: 'Culinary Water Suppliers: File Geodatabase'
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mSDhmeUw3OThuWEk
      label: 'Culinary Water Suppliers: Shapefile'
  updates:
    - December 2015
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/CulinaryWater255x255.png %}" alt="Culinary Water" />
  <figcaption class="caption__text">Culinary Water Supplier Boundaries</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mVEYzSFhyWEY5bEE"
name="Retail Culinary Water Suppliers Dataset"
stewards="Utah Division of Water Resources, Utah Department of Natural Resources"
abstract="This dataset attempts to represent the retail culinary water suppliers service area boundaries for the State of Utah, with a small selection of suppliers in Idaho and Wyoming represented as well.  Data sources include the Utah Division of Water Resources, Utah Division of Drinking Water, Utah Division of Water Rights, Utah Division of Public Utilities, and the Utah Automated Geographic Reference Center. Boundaries were derived from a combination of the following data layers available in the State Geographic Information Database (SGID): Counties, various county parcels, Municipalities, PLSSSections, and TaxEntities2013." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="RetailCulinaryWater">
      <a href="#RetailCulinaryWater" class="anchor--link">Retail Culinary Water</a></h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/CulinaryWater90x90.png %}" alt="Culinary Water Thumb" />
    <p>Utilities.RetailCulinaryWaterServiceAreas represents public community water suppliers. Eventually, public non-community (transient) and self-supplied industry (non-transient) suppliers will be added. This feature class includes system boundaries that are historical and no longer active. It also includes some systems that are outside the state. Historical and outside the state systems can be filtered using the <code>ENDYEAR</code> and <code>STATE</code> fields, respectively.These boundaries are derived from many different sources. They include spatial data received directly from the supplier, municipal boundaries, phone call descriptions of service areas, printed maps that had hand drawn boundaries that were then digitized, etc.</p>
  </div>
  {% include packagedata.html name="RetailCulinaryWater"
   info=page.RetailCulinaryWater %}
</div>
