---
import { Pillar, type IStandardPageMetadata } from '@models/types';

import Layout from '@layouts/FullWidth.astro';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import BulletedList from '@components/page/BulletedList.astro';
import Contacts from '@components/page/Contacts.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { YouTube } from '@astro-community/astro-embed-youtube';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'Getting connected',
  pageDescription: 'Information on how to get connected to the TURN and Nevada GPS networks.',
  pillar: Pillar.DOCUMENTATION,
  section: stripeSections([
    { title: 'Managing your subscriptions' },
    { title: 'Connecting to the TURN GPS network' },
    { title: 'Connecting to the Nevada GPS network' },
    { title: 'Mount point formats' },
    { title: 'Rinex file downloads' },
    { title: 'Support contacts' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <p>
      Connecting to our GPS networks requires a <ExternalLink href="https://id.utah.gov/">Utah ID</ExternalLink>, and
      one or more subscriptions on the <ExternalLink href="https://turngps-billpay.ugrc.utah.gov/"
        >TURN GPS Bill Pay system</ExternalLink
      >. Each subscription costs $600 for one year and currently gives you access to both the TURN and Nevada GPS
      networks (though in the future, each region may require their own subscription). The system only accepts payments
      by credit card. Your subscriptions are manged in the <kbd>Subscriptions</kbd> tab of the Bill Pay site.
    </p>
    <p>
      To create a new subscription, select <kbd>Add Subscription</kbd>. You'll need to provide the following information
      for each subscription:
    </p>
    <BulletedList>
      <li>The name of your organization (avoid punctuation)</li>
      <li>A unique username</li>
      <li>A password (8 character minimum)</li>
      <li>A contact name</li>
      <li>The email address you use with your UtahID</li>
      <li>Your mailing address</li>
      <li>Your phone number</li>
    </BulletedList>
    <p>
      Once you've created your subscription, it will show up under the <kbd>Pending Subscriptions</kbd> list. This is also
      where any subscriptions that are within 30 days of expiring will show up.
    </p>
    <p>
      To pay for a new subscription or renew an existing one, toggle the <kbd>Renew</kbd> switch for each subscription you
      want to pay for and then click <kbd>Pay</kbd> at the bottom of the page to go to the payment page.
    </p>
    <p>
      After you have paid for your subscription, be sure to take a screenshot of the receipt. Your subscription will be
      active and ready for use.
    </p>
    <p>Check out this video for a demonstration of the registration and payment process:</p>
    <div class="mx-auto w-full max-w-4xl">
      <YouTube
        class="aspect-video max-w-full rounded-lg border-2 border-black shadow-xl"
        id="T4Q2eqrrbXQ"
        playlabel="TURN Bill Pay System tutorial video"
      />
    </div>
  </Section>
  <Section {...page.section[1]}>
    <p>
      The TURN GPS network serves Utah and some areas of Idaho, Wyoming, and southern Nevada with over 100 permanently
      located GPS receivers that provides both real time corrections and data for post processing. The TURN network runs
      on the Trimble Pivot Platform.
    </p>
    <BulletedList>
      <li><strong>The Coordinate Reference Frame for this network is NAD83(2011)(EPOCH:2010.0000.)</strong></li>
      <li><strong>Connections: IP address - 165.239.144.5 Port - 2101</strong></li>
    </BulletedList>
    <p>The following is a list of the new Source Table Mountpoints with a brief definition:</p>
    <BulletedList>
      <li>
        GNSS-VRS-NAD83-RTCM32 (Full GNSS network solution including GPS, Glonass, Galileo, BeiDou with RTCM32 output
        format) (<strong>Recommended for the majority of all users</strong>)
      </li>
      <li>GNSS-VRS-NAD83-CMRx (Full GNSS network solution including GPS, Glonass, Galileo with CMRx output format)</li>
      <li>VRS-NAD83-CMRp (Full network solution including GPS, Glonass with CMRp output format)</li>
      <li>VRS-NAD83-CMRx (Full network solution including GPS, Glonass with CMRx output format)</li>
      <li>VRS-NAD83-RTCM31 (Full network solution including GPS, Glonass with RTCM31 output format)</li>
      <li>VRS-NAD83-RTCM32 (Full network solution including GPS, Glonass with RTCM32 output format)</li>
      <li>
        MS-NAD83-CMRp (Single base solution from the closest base, determined by the system, including GPS, Glonass with
        CMRp output format)
      </li>
      <li>
        MS-NAD83-CMRx (Single base solution from the closest base, determined by the system, including all available
        satellite constellations from that receiver with CMRx output format)
      </li>
      <li>
        MS-NAD83-RTCM31(Single base solution from the closest base, determined by the system, including all available
        satellite constellations from that receiver with RTCM31 output format)
      </li>
      <li>
        MS-NAD83-RTCM32 (Single base solution from the closest base, determined by the system, including all available
        satellite constellations from that receiver with RTCM32 output format)
      </li>
    </BulletedList>
    <p>
      Mountpoints that begin with MS are single base line solutions with the system automatically choosing the closest
      base station.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <p>
      The Nevada GPS Network (formerly Washoe County GPS Network) is now being managed by the State of Utah. The Nevada
      GPS Network provides users in the Reno area with real time corrections and data for post processing (users in the
      Las Vegas area can connect to the TURN GPS network instead). The Coordinate Reference Frame for this network is
      NAD83/94 (HARN). The Latitude, Longitude and Ellipsoidal Height of each reference station was calculated by
      processing 24 hour files using the National Geodetic Survey (NGS) Online Positioning User Service (OPUS) Projects
      application.
    </p>
    <p>
      The Nevada GPS Network has two different connections with different Coordinate Reference Frames to choose from:
    </p>
    <BulletedList>
      <li>
        <strong>NAD83/94 (HARN)</strong>: set your GPS unit's VRS connection address to <strong>168.179.231.11</strong> and
        <strong>port 2102</strong> and then enter your new device-specific username and password.
      </li>
      <li>
        <strong> NAD83(2011)(EPOCH:2010.0000.)</strong>: set your GPS unit's VRS connection address to <strong
          >165.239.144.7</strong
        > and
        <strong>port 2101</strong> and then enter your new device-specific username and password.
      </li>
    </BulletedList>
  </Section>
  <Section {...page.section[3]}>
    <p>Our networks support multiple mount point formats. These first three are Trimble-specific:</p>
    <BulletedList>
      <li>VRS_CMR works older Trimble unit</li>
      <li>VRS_CMRp works with Trimble units that are newer but may not have the latest updates to the firmware</li>
      <li>VRS_CMRx works with the newest up to date Trimble units</li>
    </BulletedList>
    <p>These next three formats should work on any device:</p>
    <BulletedList>
      <li>VRS_RTCM23 works older non-Trimble unit</li>
      <li>VRS_RTCM31 works with non-Trimble units</li>
      <li>VRS_RTCM3.2 works with non-Trimble units, gives a full GNSS solution (all available satellites)</li>
    </BulletedList>
    <p>
      Any formats beginning with MS (MS_CMR, MS_CMRP, MS_RTCM3.2, etc) are for connecting to single base when you are on
      the edge of the network or not getting a strong network solution. The system will automatically find the closest
      station and connect you.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <p>
      Our GPS networks provide 24 hour Rinex files with 5 second epoch available for users with an active subscription
      at <ExternalLink href="https://turngps.utah.gov">turngps.utah.gov</ExternalLink> under <kbd
        >Reference Data Shop</kbd
      >. Due to storage limits, files can only be stored for a 90 day period, then they are permanently deleted. You can
      download multiple versions of Rinex, from the earliest to the latest. Versions 3 and later allow
      multi-constellation processing.
    </p>
  </Section>
  <Section {...page.section[5]}>
    <p>
      If you have questions or require help contact the <Contacts
        contactKey="turn"
        subject="Connecting to TURN"
        inline
      />.
    </p>
  </Section>
</Layout>
