---
author:
  display_name: UGRC Office
  email: ugrc@utah.gov
date: 2020-06-25 13:58:58 -0600
layout: page_nocrumb
categories: []
tags:
  - training
---
<h1 class="text-3xl caps">What to know about GIS in Utah</h1>
<p>As Utah’s map technology coordination office, the Utah Geospatial Resource Center (UGRC) provides a wide range
  of GIS and other geospatial support services, including providing training on Utah GIS. As part of that educational
  role, UGRC has developed this document to provide links to relevant Utah GIS websites and information. View the
  printable <a href="{% link training/download/AGRC-Training-Guide.pdf %}">PDF version</a> of this guide.</p>
<article class="training_container">
  <section class="training">
    <h2 class="text-2xl text-left caps">General UGRC Resources</h2>
    <ul class="fa-ul">
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="{% link index.html %}">UGRC</a>: The UGRC website is Utah’s GIS data clearinghouse.</li>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="{% link sgid/open-sgid/index.md %}">Open SGID</a>: The Open SGID is a publicly available PostGIS
        database containing State Geographic Information Database (SGID) (i.e., all Utah vector data).</li>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="https://opendata.gis.utah.gov" rel="noopener noreferrer" target="_blank">Open Data</a>: UGRC’s Open Data
        site is the SGID served as ArcGIS Online feature services.</li>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="https://raster.utah.gov" rel="noopener noreferrer" target="_blank">Raster Discovery Application</a>:
        UGRC’s Raster Discovery Application allows users to search and download aerial photography, elevation data, and
        USGS topographic maps for a user-defined area of interest.</li>
    </ul>
    <h3 class="text-xl text-left ml-1">UGRC’s Discover Imagery and Base Map Server Resources</h3>
    <ul class="fa-ul">
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="{% link discover/index.html %}">UGRC’s Base Map and Imagery Services</a>: Discover provides imagery and
        base maps services in Open Geospatial Consortium (OGC) standard Web Map Tile Service (WMTS) and Web Map Service
        (WMS) in the Web Mercator WGS84 projection (wkid: 3857). This page provides general background information on
        Discover and explains how to <a href="{% link discover/index.html %}#sign-up">sign up for access to
          Discover</a>.</li>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="{% link discover/resources/index.md %}">Discover Server Resources and Information</a>: Once users have
        signed up for Discover, they can check out this page to learn everything there is to know about consuming the
        services available from Discover.</li>
    </ul>
  </section>
  <section class="training-next">
    <h2 class="text-2xl text-left caps">Training</h2>
  </section>
  <section class="training-left">
    <h3 class="text-xl text-left"><a href="https://esri.com/training" rel="noopener noreferrer" target="_blank">Online
        Esri Training</a></h3>
    <p> Esri has many online courses that are included in the annual software maintenance cost. They also have several
      basic free courses that are a good introduction to GIS and ArcMap/ ArcGIS Pro.</p>
    <h3 class="text-xl text-left">Free Esri Courses</h3>
    <ul class="fa-ul">
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span>Intro
        to GIS</li>
      <ul class="fa-ul">
        <li><span class="fa-li text-blue">{% include fa_icon.html compass=true class="svg-inline--fa fa-w-16"
            %}</span><a href="https://www.esri.com/training/catalog/5d9cd7de5edc347a71611ccc/gis-basics/"
            rel="noopener noreferrer" target="_blank">GIS Basics</a> (ArcGIS Pro)</li>
        <li><span class="fa-li text-blue">{% include fa_icon.html compass=true class="svg-inline--fa fa-w-16"
            %}</span><a href="https://www.esri.com/training/catalog/57630434851d31e02a43ef28/getting-started-with-gis/"
            rel="noopener noreferrer" target="_blank">Getting Started with GIS</a> (ArcMap)</li>
      </ul>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="https://www.esri.com/training/catalog/57630435851d31e02a43f007/getting-started-with-arcgis-pro/"
          rel="noopener noreferrer" target="_blank">Getting Started with ArcGIS Pro</a> (Intro ArcGIS Pro)</li>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="https://www.esri.com/training/catalog/596e584bb826875993ba4ebf/cartography./" rel="noopener noreferrer"
          target="_blank">Cartography MOOC</a> (This is a great introduction to cartographic design principles and
        applications.)</li>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="https://www.esri.com/training/catalog/5b733e9d2fad23092c930883/arcgis-online-fundamentals/"
          rel="noopener noreferrer" target="_blank">AGOL Fundamentals</a> (This includes short intro videos; one intro
        course; and several advanced, maintenance required courses.)</li>
    </ul>
    <h3 class="text-xl text-left">AGOL Basics and Essentials</h3>
    <ul class="fa-ul">
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12"
          %}</span>Esri’s <a href="https://doc.arcgis.com/en/arcgis-online/get-started/get-started.htm"
          rel="noopener noreferrer" target="_blank">getting started</a> page</li>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span>*<a
          href="https://doc.arcgis.com/en/arcgis-online/administer/credits.htm#ESRI_SECTION1_709121D2C7694DCAB9B8592F36F7A5BA"
          rel="noopener noreferrer" target="_blank">Credit usage by capability</a></li>
      <ul class="fa-ul">
        <li><span class="fa-li text-blue">{% include fa_icon.html compass=true class="svg-inline--fa fa-w-16"
            %}</span>Credits can be <a
            href="https://www.esri.com/en-us/arcgis/products/credits/buy?rmedium=www_esri_com_EtoF&rsource=/en-us/store/arcgis-online/arcgis-online-credits"
            rel="noopener noreferrer" target="_blank">purchased</a> in blocks of 1,000, usually for $100 (i.e., 10
          cents/credit).</li>
      </ul>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
          href="https://www.esri.com/en-us/arcgis/products/arcgis-online/buy?rmedium=esri_com_regex&rsource=arcgis-online"
          rel="noopener noreferrer" target="_blank">AGOL subscription types and pricing</a></li>
      <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span>AGOL
        user account control: <a href="https://doc.arcgis.com/en/arcgis-online/reference/roles.htm"
          rel="noopener noreferrer" target="_blank">types, roles, and privileges</a></li>
    </ul>
  </section>
  <img src="{% link training/images/base-map.png %}" style="width:100%;border:1px solid #347596" class="filler"
    loading="lazy" />
  <section class="training-right">
    <div>
      <h3 class="text-xl text-left"><a href="https://www.qgis.org/en/site/forusers/trainingmaterial/index.html"
          rel="noopener noreferrer" target="_blank">QGIS Training</a></h3>
      <ul class="fa-ul">
        <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
            href="https://docs.qgis.org/3.4/en/docs/gentle_gis_introduction/index.html" rel="noopener noreferrer"
            target="_blank">A Gentle Introduction to GIS</a></li>
        <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
            href="https://docs.qgis.org/3.4/en/docs/training_manual/index.html" rel="noopener noreferrer"
            target="_blank">QGIS Training Manual</a></li>
        <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12" %}</span><a
            href="https://www.qgistutorials.com/en/" rel="noopener noreferrer" target="_blank">QGIS Tutorials and Tips:
            Step-by-step guides for common QGIS tasks</a></li>
        <li><span class="fa-li text-orange">{% include fa_icon.html pin=true class="svg-inline--fa fa-w-12"
            %}</span>Baruch College’s <a href="https://www.baruch.cuny.edu/confluence/display/geoportal/GIS+Practicum"
            rel="noopener noreferrer" target="_blank">Introduction to GIS Using Open Source Software</a></li>
      </ul>
    </div>
    <img src="{% link training/images/monument.png %}" style="width:100%;border:1px solid #347596" loading="lazy" />
  </section>
  <aside class="aside text-white bg-dark">
    <h3 class="text-xl text-center caps text-white">Local GIS User Groups</h3>
    <ul class="fa-ul">
      <li><span class="fa-li">{% include fa_icon.html users=true class="svg-inline--fa fa-w-20" %}</i></span><a
          href="https://ugic.org/" class="text-white" rel="noopener noreferrer" target="_blank">Utah Geographic
          Information Council</a> (UGIC)</li>
      <li><span class="fa-li">{% include fa_icon.html users=true class="svg-inline--fa fa-w-20" %}</i></span><a
          href="http://www.slug-gis.info/home" class="text-white" rel="noopener noreferrer" target="_blank">Salt Lake
          User Group (SLUG)</a></li>
      <li><span class="fa-li">{% include fa_icon.html users=true class="svg-inline--fa fa-w-20" %}</i></span><a
          href="https://community.esri.com/t5/uvgis-utah-valley-gis-users/gh-p/uvgis-utah-valley-gis-users-group"
          class="text-white" rel="noopener noreferrer" target="_blank">Utah Valley GIS</a> (UVGIS)</li>
      <li><span class="fa-li">{% include fa_icon.html users=true class="svg-inline--fa fa-w-20" %}</i></span>Northern
        Utah GIS (NUGIS)</li>
      <li><span class="fa-li">{% include fa_icon.html users=true class="svg-inline--fa fa-w-20" %}</i></span><a
          href="https://thespatialcommunity.org/" class="text-white" rel="noopener noreferrer" target="_blank">The
          Spatial Community</a> Slack channel</li>
    </ul>
    <h3 class="text-xl text-center caps text-white">Annual Utah GIS Events</h3>
    <ul class="fa-ul">
      <li><span class="fa-li">{% include fa_icon.html calendar=true class="svg-inline--fa fa-w-14" %}</span><a
          href="https://ugic.org/" class="text-white" rel="noopener noreferrer" target="_blank">UGIC Annual
          Conference</a> (Typically held in April or May each year)</li>
      <li><span class="fa-li">{% include fa_icon.html calendar=true class="svg-inline--fa fa-w-14" %}</span><a
          href="{% link about/maps-on-the-hill/index.md %}" class="text-white">Maps On The Hill</a> (Held during each
        Utah General Session at the Utah State Capitol Rotunda)</li>
      <li><span class="fa-li">{% include fa_icon.html calendar=true class="svg-inline--fa fa-w-14" %}</span><a
          href="https://www.esri.com/en-us/about/events/uc/save-date" class="text-white" rel="noopener noreferrer"
          target="_blank">Esri User Conference</a> (Typically held in July each year)</li>
    </ul>
  </aside>
  <aside class="aside-note text-white">
    <h4 class="text-lg text-left text-white">* <a href="https://doc.arcgis.com/en/arcgis-online/administer/credits.htm"
        class="text-white" rel="noopener noreferrer" target="_blank">A Note on Figuring out AGOL Credits</a></h4>
    <p>(This is a quick summary of how UGRC understands AGOL credit accounting. For the official Esri position, check
      out Esri’s <a href="https://doc.arcgis.com/en/arcgis-online/administer/credits.htm" class="text-white"
        rel="noopener noreferrer" target="_blank">Understand credits</a> page.</p>
    <p> Esri gives credit costs per month and billing is calculated each hour. For example, a 10 MB hosted feature
      service that was hosted for one month would use 2.4 credits. That same dataset hosted for an hour would be 2.4 /
      30 / 24 = 0.00333 credits and hosted for one year would be 28.8 credits.</p>
    <p>Tile layers (and other non-feature storage categories) are currently significantly cheaper (1/200th) than hosted
      feature layers—1.2 credits per 1 GB vs 2.4 credits per 10 MB.</p>
    <p>All your credits sit in a common pool regardless of where they come from. You’ll get a certain number of credits
      from different sources—various AGOL subscription levels, Business Analyst, or purchasing them outright. Some of
      these have different expiration dates, and right now there’s no good way in AGOL to tell how many will expire
      when. Good accounting is your only tool.</p>
  </aside>
  <section class="training-footer bg-dark text-white">
    <svg id="svg-logo" class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 410 155" style="width:150px">
      <title>UGRC</title>
      <g id="peak">
        <path class="peak"
          d="M204.37,37.51l51.91,51.85c14.12,0.71,27.68,1.7,40.52,2.95L204.37,0,111.8,92.45c12.85-1.27,26.43-2.29,40.59-3Z">
        </path>
      </g>
      <g id="hills">
        <path class="hills" d="M149.78,39.37L131.09,20.7,50,101.71c13.38-2.9,28.72-5.41,45.59-7.47Z"></path>
        <path class="hills" d="M278.92,20.7l-18.7,18.67,54.21,54.86c16.88,2.06,32.22,4.58,45.59,7.47Z"></path>
      </g>
      <g id="land">
        <path class="land"
          d="M370.39,114.15c-30.68-7.7-74.28-13.22-124.17-15.21L203.88,56.66,161.46,99c-50.24,2.12-93.95,7.83-124.26,15.74-17,4.43-29.84,9.57-37.19,15.15,22.44-5.19,52.15-9.49,86.72-12.5,23.16-2,48.51-3.46,75.31-4.22L203.88,155l41.92-41.87c27.61,0.74,53.7,2.2,77.48,4.28,34.57,3,64.28,7.31,86.72,12.5-7.7-5.84-21.38-11.19-39.61-15.77M220.9,107.92l-14.55,14.54-2.43,19.6-2.62-19.71-14.06-14-21.4-2.65,22-2.91L201.5,89.12,203.88,70l2.56,19.33,13.21,13.19,21.86,2.71Z">
        </path>
      </g>
      <g id="dots">
        <path class="dots"
          d="M8.36,133.81l1.09,7.44,13.35-1.94-1.09-7.44Zm22.16-3.17,0.9,7.46,13.39-1.62L43.91,129Zm22.12-2.51,0.72,7.48,13.43-1.3-0.72-7.48ZM74.73,126l0.61,7.49,13.45-1.1-0.61-7.49ZM97,124.24l0.53,7.5,13.46-1-0.53-7.5Zm22.2-1.54,0.38,7.51,13.48-.68-0.38-7.5ZM155,121.07l-13.48.47,0.27,7.51,13.48-.47Z">
        </path>
        <path class="dots"
          d="M385.76,131.87l-1.08,7.44L398,141.25l1.09-7.44ZM363.55,129l-0.9,7.46L376,138.11l0.91-7.46Zm-22.15-2.19-0.72,7.48,13.43,1.3,0.73-7.48Zm-22.12-2-0.61,7.49,13.46,1.1,0.61-7.49ZM297,123.29l-0.53,7.5,13.46,1,0.54-7.5ZM274.83,122l-0.38,7.5,13.48,0.68,0.38-7.51Zm-22.61,6.56L265.71,129l0.27-7.51-13.48-.47Z">
        </path>
      </g>
    </svg>
    <div>
      <div>Created by UGRC</div>
      <div>June 2020</div>
    </div>
  </section>
  <img src="{% link training/images/arches.png %}" width="100%" class="training-footer-img" />
</article>
<h1 class="text-3xl text-center caps">Public Land Survey System at a Glance</h1>
<article class="plss_container">
  <img class="image" src="images/section.png" />
  <img class="image2" src="images/section-numbers.png" />
  <img class="image3" src="images/township-and-range.png" />
  <section class="distance bg-dark text-white">
    <h2 class="text-xl caps text-white text-center">Distance Conversions</h2>
    <div class="split">
      <div class="left">
        <ul class="dotless">
          <li class="text-lg text-left">1 Mile</li>
          <li>= 80 chains</li>
          <li>= 320 rods</li>
          <li>= 320 perches</li>
          <li>= 320 poles</li>
          <li>= 5,280 feet</li>
          <li>= 8,000 links</li>
          <li>= 1,609.2655 meters</li>
        </ul>
        <ul class="dotless">
          <li class="text-lg text-left">1 Chain</li>
          <li>= 4 rods</li>
          <li>= 4 perches</li>
          <li>= 4 poles</li>
          <li>= 66 feet</li>
          <li>= 100 links</li>
          <li>= 20.1168 meters</li>
        </ul>
        <ul class="dotless">
          <li class="text-lg text-left">1 inch</li>
          <li>= 0.0254 meters</li>
        </ul>
      </div>
      <div class="right">
        <ul class="dotless">
          <li class="text-lg text-left">1 Link</li>
          <li>= 0.66 feet</li>
          <li>= 7.92 inches</li>
          <li>= 0.2017 meters</li>
        </ul>
        <ul class="dotless">
          <li class="text-lg text-left">1 Meter</li>
          <li>= 39.370 inches</li>
          <li>= 3.281 feet</li>
        </ul>
        <ul class="dotless">
          <li class="text-lg text-left">1 Rod</li>
          <li>= 16.5 feet</li>
        </ul>
        <ul class="dotless">
          <li class="text-lg text-left">1 Perch</li>
          <li>= 25 links</li>
        </ul>
        <ul class="dotless">
          <li class="text-lg text-left">1 Pole</li>
          <li>= 5.0292 meters</li>
        </ul>
        <ul class="dotless">
          <li class="text-lg text-left">1 Foot</li>
          <li>= 0.3048 meters</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="description">
    <p>Example Description: A parcel of land situated in the south half of the southeast
      quarter of the northeast quarter of Section 31, Township 2 South, Range 2 West, Salt
      Lake Base and Meridian.</p>
  </section>
  <h3 class="title text-2xl text-left">Geographic Coordinate Data Base (GCDB) Point IDs</h3>
  <section class="conversion bg-light text-white">
    <h2 class="caps text-xl text-center text-white" style="padding: 2px 6px;margin:6px 8px;border:1px white dashed">Area
      Conversions</h2>
    <ul class="dotless ul-unindent">
      <li class="text-lg text-left">1 Sq. Mile</li>
      <li>= Nominal Section</li>
      <li>= 640 acres</li>
      <li>= 2.590 sq. km.</li>
      <li>= 259 hectares</li>
    </ul>
    <ul class="dotless ul-unindent">
      <li class="text-lg text-left">1 Acre</li>
      <li>= 10 sq. chains</li>
      <li>= 160 sq. rods</li>
      <li>= 160 perches</li>
      <li>= 160 poles</li>
      <li>= 43,560 sq. feet</li>
      <li>= 0.4047 hectare</li>
      <li>= 4,047 sq. meters</li>
    </ul>
    <ul class="dotless ul-unindent">
      <li class="text-lg text-left">1 Hectare</li>
      <li>= 2.47 acres</li>
    </ul>
    <ul class="dotless ul-unindent">
      <li class="text-lg text-left">1 Sq. Meter</li>
      <li>= 10.764 sq. ft.</li>
    </ul>
  </section>
  <section class="point-ids text-md">
    <p>XxxYyy, where Xxx = the following range of values</p>
    <ul class="dotless ul-unindent">
      <li>711 - 719 Town Sites, City Boundaries</li>
      <li>720 - 739 County Boundaries</li>
      <li>740 - 769 State Boundaries</li>
      <li>770 - 799 Forest Service, Parks Service, Reservations,</li>
      <li>Grant, Other Boundaries with Mileposts.</li>
      <li>800 - 836 Meanders (right bank even #, left bank odd #.)</li>
      <li>837 - 879 Tracts</li>
      <li>880 - 899 Right of Ways</li>
      <li>900 - 999 Mineral Surveys, Homestead Entries, etc.</li>
    </ul>
    <p>Yyy - Numbered sequentially along the survey in increments of 10. The prefix</p>
    <p>Xxx - may be the same for all points in a similar survey.</p>
  </section>
  <section class="id-irregularities text-md">
    <p>Irregularities of Townships for ones places of Xxx and Yyy.</p>
    <p>1, 2, 8 or 9 -> offset corners along interior section lines and section subdivision lines where +/- 2 is the
      recommended naming scheme and THE GRAPGICS RULE MUST BE FOLLOWED.</p>
    <p>3 or 7 -> offset corners along township boundaries, angle points, witness corners, and witness points.</p>
    <p>4 or 6 -> intersections of rectangular/special surveys and 1/16th corners of elongated sections.</p>
    <p>0 -> all regular aliquot corners down to 1/16th.</p>
    <p>5 -> all regular aliquot corners down to 1/256th.</p>
  </section>
  <img class="township-img" src="images/township.png" />
  <img class="section-img" src="images/quarter-section.png" />
  <img class="corner-img" src="images/quarter-quarter-section.png" />
  <section class="blm-label bg-gray text-right grid--center text-xl" style="padding-right: .5em;line-height:1.3em;">
    <div>Bureau of Land</div>
    <div>Management (BLM)</div>
    <div>Point IDs</div>
  </section>
  <section class="blm-id bg-gray grid--center" style="margin-left: -.5em;padding:0 .5em;">
    <img src="images/blm-point-id.png" style="width: 100%;border: 1px solid gray;" loading="lazy" />
  </section>
  <section class="foot-img bg-dark" style="margin-right: -.25em;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 108.59 141.67" class="logo">
      <path d="M82.55 121.08a32.3 32.3 0 01-2-3.9 34.17 34.17 0 01-2.36-8.37c-1.17-7.78.28-15.48 3.99-21.12a22.92 22.92 0 012.82-3.5l.16-.17c6-5.99 13.19-8.28 20.15-10.5 1.1-.35 2.2-.7 3.28-1.06V53.48c-1.24.31-2.48.66-3.7 1.07-5 1.7-10.83 5-16 9.04-18.16 14.3-27.96 43.04-13.57 63.04 5.2 7.23 12.4 12.13 17.68 15.04h10.1a5.48 5.48 0 005.14-3.62c-4.78-1-18.35-4.79-25.7-16.97m-74.05-1.3a69.29 69.29 0 01-.15-12.14c.53-6.83 2.69-13.08 4.77-19.12 1.66-4.78 3.22-9.3 4.02-14.07.24-1.4.36-2.74.37-3.96 0-1.82-.25-3.41-.77-4.74-2.35-6.1-10.66-6.49-16.72-5.88v76.32a5.5 5.5 0 005.48 5.48h8.78a73.48 73.48 0 01-5.78-21.9" class="u"/>
      <path d="M26.3 101.76c-.73-10.3 1.93-20.02 4.5-29.4 1.37-4.97 2.66-9.66 3.46-14.38.3-1.8.63-4.52.49-7.39-.32-6.47-4.08-11-10.6-12.73-1.2-.32-2.48-.56-3.82-.7a33.58 33.58 0 00-4.32-.18c-5.24.1-10.56 1.2-16 2.53v13.9c7.87-.68 18.92.28 22.69 10.04.8 2.07 1.2 4.44 1.2 7.06a32.05 32.05 0 01-.46 5c-.9 5.3-2.62 10.28-4.28 15.1-2.05 5.92-3.98 11.51-4.44 17.52a60.52 60.52 0 00-.17 3.53c-.05 2.47.05 4.99.3 7.48.9 8.9 3.6 16.56 6.48 22.53h18.44c-6.47-10.5-12.35-24.11-13.47-39.91" class="t"/>
      <path d="M44.64 104.65c.33-3.5.98-7.1 1.94-10.7.73-2.77 1.65-5.6 2.74-8.38 1.02-2.63 2.1-5.15 3.17-7.59 3.8-8.79 7.1-16.38 6.28-26.14-.2-2.37-.55-4.7-1.03-6.91a47.82 47.82 0 00-1.18-4.47C50 19.96 30.66 8.73 0 7.31v25.63c5.18-1.22 10.56-2.25 15.87-2.35 1.78-.04 3.5.03 5.14.21 1.67.18 3.28.48 4.8.88 9.13 2.44 14.86 9.4 15.3 18.6.19 3.44-.2 6.66-.56 8.76-.85 5.04-2.24 10.1-3.58 15-2.44 8.88-4.96 18.06-4.3 27.27 1.15 16.22 7.9 30.15 14.76 40.36h7.6c-9.72-12.77-11.44-26.18-10.4-37.02" class="a"/>
      <path d="M102.4 96.44c-4.53 3.12-6.08 6.45-5.02 10.8 1.02 4.17 4.5 7.07 7.24 8.76 1.28.78 2.62 1.46 3.97 2.05v-25a38.22 38.22 0 00-6.2 3.39M62.66 38.52a60.34 60.34 0 012.49 12.79c.95 11.35-2.8 20.03-6.78 29.21-1.04 2.38-2.1 4.85-3.1 7.37-1 2.56-1.83 5.15-2.5 7.7a60.12 60.12 0 00-1.76 9.67c-1.34 13.98 2.83 26.14 12.34 36.4h18.6a54.06 54.06 0 01-11.5-11.52c-14.28-34.11.84-70.28 32.54-81.27 1.83-.62 3.7-1.14 5.6-1.56v-8.74a5.5 5.5 0 00-5.48-5.48H70.42a5.5 5.5 0 01-5.48-5.48V5.5A5.5 5.5 0 0059.46 0H5.49C4.3 0 3.23.39 2.33 1.03c39.8 2.4 54.95 20.65 60.32 37.5" class="h"/>
      <path d="M101.47 121.1c-5.3-3.27-8.72-7.57-9.91-12.44-1.67-6.83.83-12.6 7.44-17.16a48.27 48.27 0 019.59-4.96v-7.78l-1.46.48c-6.56 2.09-12.77 4.07-17.73 9.03l-.12.12a17 17 0 00-2.1 2.59c-2.9 4.43-4.01 10.6-3.06 16.94a28.09 28.09 0 001.95 6.89 26.11 26.11 0 001.62 3.17c5.67 9.43 16.34 12.9 20.9 13.99v-7.45c-2.36-.88-4.82-2-7.12-3.42" class="is"/>
      <path class="u" d="M4.15 141.35a5.86 5.86 0 01-3.68-3.22c-.33-.7-.36-3.42-.41-39.5L0 59.9l1.92-.07c2.65-.09 6.24.17 7.74.55 3.31.86 6.02 2.98 6.94 5.42 1 2.69 1.03 5.6.08 10.26-.65 3.18-1.38 5.63-4.02 13.42-2.13 6.32-3.42 11.03-4.07 14.9-.55 3.24-.55 13.58 0 17.23a78.22 78.22 0 005.2 19.24l.33.78-4.51-.01c-2.88-.01-4.86-.1-5.46-.27z"/>
      <path class="t" d="M20.8 140.23a71.25 71.25 0 01-5.48-18.17c-.41-2.57-.47-3.71-.47-9.07 0-8.37.34-10.13 4.27-21.88 3.4-10.2 4.34-13.82 4.75-18.52.37-4.12-.18-7.34-1.8-10.64a13.76 13.76 0 00-6.25-6.3c-3.6-1.8-6.74-2.42-12.23-2.42H0V39.6l2.95-.66c7.03-1.58 12.37-2.13 16.58-1.72 3.3.32 5.44.88 7.84 2.03 3.34 1.61 5.52 4.21 6.7 7.96.43 1.38.48 1.95.47 5.08-.02 4.81-.67 8.27-3.52 18.78-4.19 15.4-5 20.22-4.82 28.43.3 13.15 4.27 26.3 12.01 39.79a30.53 30.53 0 011.22 2.23c0 .06-4.05.11-9 .11h-9z"/>
      <path class="a" d="M46.34 139.71c-8.64-13.4-13.6-28.55-13.6-41.45.01-6.07.92-11.42 3.7-21.76 3.5-12.99 4.56-18.04 4.79-22.94.24-5.22-.65-9.22-2.92-13.09a22.99 22.99 0 00-5.92-6.03c-6.74-4.34-16.67-5.08-29.74-2.2l-2.64.58V7.36l1.3.1 3.99.34c19.8 1.64 35.02 8.26 43.8 19.08 4.7 5.79 7.6 12.47 9.05 20.85.68 3.9.67 10.63 0 13.8-1.04 4.81-2.08 7.75-5.9 16.7-2.83 6.65-4.26 10.4-5.22 13.74-5.08 17.69-3.05 33.6 6.01 47.09l1.74 2.57h-7.2z"/>
      <path class="h" d="M62.93 141.05c-3.53-4.18-5.54-7.1-7.28-10.58-4.61-9.2-5.85-18.86-3.84-29.93 1.15-6.33 2.24-9.6 6.82-20.33 1.28-3.03 2.81-6.78 3.4-8.34 3.44-9.26 4.13-16.95 2.4-26.53-3.25-17.8-14.15-30.93-31.6-38.07-7.31-3-16.45-5.1-25.56-5.92a158.4 158.4 0 01-3.52-.34L2.8.89l.62-.34C4 .24 6.43.21 32.48.21h28.43l.86.46c1.11.6 2.43 2.1 2.74 3.13.17.58.24 4.1.24 12.35 0 7.52.08 11.9.23 12.58a5.97 5.97 0 002.56 3.64l1.02.63 17.86.1 17.87.1.97.48c.53.27 1.31.86 1.73 1.32 1.37 1.52 1.43 1.8 1.51 7.27l.07 4.92-.58.14c-7.48 1.7-15.64 5.71-21.97 10.82a66.33 66.33 0 00-9.28 9.62c-8.08 10.79-12.06 23.59-11.7 37.65a65.36 65.36 0 004.3 22.2c1.11 2.91 1.75 3.86 5.08 7.5a67.07 67.07 0 006.52 5.94l.73.57-9.13-.01-9.14-.01-.47-.56z"/>
      <path class="is" d="M90.96 140.33c-12.2-7.43-19.33-16.6-21.63-27.79-2.22-10.81.29-23.24 6.9-34.2 5.66-9.41 13.57-16.57 23.85-21.6a46.2 46.2 0 017.9-2.97l.56-.14-.05 9.37-.05 9.37-4.88 1.61c-5.68 1.88-8.65 3.1-11.48 4.7-5.04 2.85-9.07 6.8-11.18 10.96a31.43 31.43 0 00-3.08 16.6c.92 10.89 5.94 19.46 14.94 25.47 3.78 2.53 9.4 5 13.85 6.07l1.5.37-.3.57a6.8 6.8 0 01-3.28 2.6c-.8.24-2.23.31-6.25.3h-5.2l-2.12-1.29z"/>
      <path class="super" d="M106.78 131.35c-7.27-2.1-13.72-6.27-17.5-11.29-6.58-8.73-7.17-22.2-1.31-29.92 3.5-4.62 9.3-7.8 20.1-11.07l.47-.14v3.76c0 3.39-.04 3.77-.36 3.88a53.1 53.1 0 00-9.8 5.23c-5.14 3.65-7.87 8.87-7.37 14.12.67 7.16 5.24 12.9 13.47 16.93 1.5.72 2.97 1.39 3.3 1.47.32.08.63.25.68.38.05.13.06 1.8.03 3.69l-.05 3.44z"/>
      <path class="rad" d="M106.53 116.92c-2.3-1.21-4.7-2.98-6.12-4.53-2.23-2.44-3.53-5.93-3.2-8.62.33-2.58 2.32-5.21 5.59-7.4 1.6-1.07 5.28-3.1 5.63-3.1.06 0 .1 5.52.1 12.25 0 7.62-.07 12.25-.19 12.25-.1 0-.92-.39-1.81-.85z"/>
    </svg>
  </section>
  <section class="foot-text bg-dark text-white text-md" style="margin-left:-.3em;">
    <p>Township and Range<br />(5 characters each)</p>
    <ul class="dotless ul-unindent">
      <li>3 digits for Township or Range number</li>
      <li>1 digit for fraction (0 for no fraction, 1 for 1/4 township, 2 for 1/2 township, 3 for 3/4 township)</li>
      <li>1 letter for direction</li>
    </ul>
  </section>
</article>
<style rel="style">
    .u {
      fill: #331c38
    }
    .t {
      fill: #4d2a54
    }
    .a {
      fill: #2a515e
    }
    .h {
      fill: #386b7d
    }
    .is {
      fill: #bd9955
    }
    .super {
      fill: #eaca00
    }
    .rad {
      fill: #f7ea99
    }
    svg.logo {
      height: 60px;
      margin: 7px 10px
    }
  </style>
<style type="text/css">
  p {
    padding-left: .5em;
  }

  .post-content ul.ul-unindent {
    padding-left: .75em;
  }

  .ml-1 {
    margin-left: .5em;
  }

  .fa-ul {
    margin-left: 0;
  }

  .caps {
    text-transform: uppercase;
  }

  .text-3xl {
    color: #347596;
    font-size: 300%;
    margin: 0;
  }

  .text-2xl {
    color: #347596;
    background-color: #C9D0D7;
    padding: 5px;
    margin: 0;
  }

  .text-xl {
    font-size: 1.5em;
    margin: 0;
  }

  .text-lg {
    margin: 0;
    font-size: 1.25em;
  }

  .text-md {
    font-size: .9em;
  }

  .text-right {
    text-align: right;
  }

  .text-white {
    color: #fff;
  }

  .text-blue {
    color: #347596;
  }

  .text-orange {
    color: #DD6B41;
  }

  a.text-white:visited {
    color: rgb(208, 208, 208);
  }

  a.text-white:hover {
    color: #DD6B41;
  }

  .bg-dark {
    background-color: #163746;
  }

  .bg-gray {
    background-color: #D9D9D9;
  }

  .bg-light {
    background-color: #347596;
  }

  @media screen and (max-width: 750px) {
    .post {
      margin: 0 25px;
    }

    .training_container {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "a""b""g""c""d""f""h";
      grid-gap: .5em;
    }

    .plss_container {
      display: grid;
      height: 100%;
      grid-template-areas: "img img""img2 img3""desc desc""title title""text text""text2 text2""conversion conversion""distance distance""township township""section corner""blm id""foot-text foot-text";
      grid-gap: .5em;
      margin-left: auto;
      margin-right: auto;
    }

    .foot-img,
    .filler,
    .training-footer-img {
      display: none;
    }
  }

  @media screen and (min-width: 751px) and (max-width: 1000px) {
    .training_container {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "a a""b b""g g""c d""f f""h h";
      grid-gap: .5em;
    }

    .plss_container {
      display: grid;
      height: 100%;
      grid-template-areas: "img img img img2""img img img img3""desc desc desc desc""title title title title""text text text2 text2""distance distance distance conversion""township township township township""section section corner corner""blm id id id""foot-img foot-text foot-text foot-text";
      grid-gap: .5em;
      margin-left: auto;
      margin-right: auto;
    }

    .filler,
    .training-footer-img {
      display: none;
    }
  }

  @media screen and (min-width: 1001px) {
    .training_container {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "a a b""g g b""c d e""c f f""h i i";
      grid-gap: .5em;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    .plss_container {
      display: grid;
      height: 100%;
      grid-template-areas: "img img img2 distance distance""img img img3 distance distance""desc desc desc distance distance""title title title title conversion""text text text2 text2 conversion""township township section corner conversion""township township blm id id""foot-img foot-text foot-text foot-text foot-text";
      grid-gap: .5em;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .left {
    grid-column: 1/2;
  }

  .right {
    grid-column: 2/2;
  }

  .grid--center {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .training {
    grid-area: a;
  }

  .training-next {
    grid-area: g;
  }

  .aside {
    grid-area: b;
    padding: .5em;
  }

  .training-left {
    grid-area: c;
  }

  .training-right {
    grid-area: d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .filler {
    grid-area: e;
  }

  .aside-note {
    grid-area: f;
    background-color: #347596;
    padding: .5em;
  }

  .training-footer {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    padding: 10px;
    height: 82px;
  }

  .training-footer-img {
    grid-area: i;
  }

  .image {
    grid-area: img;
    width: 100%;
  }

  .image2 {
    grid-area: img2;
    width: 100%;
  }

  .image3 {
    grid-area: img3;
    width: 100%;
  }

  .distance {
    grid-area: distance;
  }

  .description {
    grid-area: desc;
  }

  .title {
    grid-area: title;
  }

  .conversion {
    grid-area: conversion;
  }

  .point-ids {
    grid-area: text;
  }

  .id-irregularities {
    grid-area: text2;
  }

  .township-img {
    grid-area: township;
    width: 100%;
  }

  .section-img {
    grid-area: section;
    width: 100%;
  }

  .corner-img {
    grid-area: corner;
    width: 100%;
  }

  .blm-label {
    grid-area: blm;
  }

  .blm-id {
    grid-area: id;
  }

  .foot-img {
    grid-area: foot-img;
  }

  .foot-text {
    grid-area: foot-text;
    display: flex;
  }
</style>
