---
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - boundaries
  - flood plains
  - hydrography
  - water
categories: []
date: 2011-11-22 18:14:11 -0700
Floodplains:
  hub:
    name: Utah Floodplains
    item_id: fc6745b0508a4b1aa0a39084511bf100
  updates:
    - April 2014
    - <a href="https://drive.google.com/a/utah.gov/uc?id=1AXUUjMxXaXP6IDYUsUdOVf6PZTWYLtRM&export=download">January
      2017 (Morgan County)</a>
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/DFIRMs.jpg %}" alt="Flood Areas" loading="lazy" />
  <figcaption class="caption__text">Floodplains</figcaption>
</figure>
{% include abstract.html
name="Floodplains"
stewards="AGRC, FEMA and UDEM"
abstract="The Floodplains data contains the Digital Flood Insurance Rate Map (DFIRM) Database depicting flood risk information and supporting data used to develop the risk data. The primary risk classifications used are the 1-percent-annual-chance flood event, the 0.2-percent-annual-chance flood event, and areas of minimal flood risk. The DFIRM Database is derived from Flood Insurance Studies (FISs), previously published Flood Insurance Rate Maps (FIRMs), flood hazard analyses performed in support of the FISs and FIRMs, and new mapping data, where available. The FISs and FIRMs are published by the Federal Emergency Management Agency (FEMA). The file is georeferenced to earth's surface using the UTM projection and coordinate system.  The specifications for the horizontal control of DFIRM data files are consistent with those required for mapping at a scale of 1:12000." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Floodplains">Floodplains</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/DFIRMsSM.jpg %}" alt="Flood Areas" loading="lazy" />
    <p>Floodplains represents the mapped areas in Utah that are prone to flooding. This layer was creating using criteria as defined by the Flood Insurance Rate Maps (FIRM) and produced by the Federal Emergency Management Agency (FEMA).</p>
    <p>The FIRM is the basis for floodplain management, mitigation, and insurance activities for the National Flood Insurance Program (NFIP). Insurance applications include enforcement of the mandatory purchase requirement of the Flood Disaster Protection Act, which "... requires the purchase of flood insurance by property owners who are being assisted by Federal programs or by Federally supervised, regulated or insured agencies or institutions in the acquisition or improvement of land facilities located or to be located in identified areas having special flood hazards," Section 2 (b) (4) of the Flood Disaster Protection Act of 1973. In addition to the identification of Special Flood Hazard Areas (SFHAs), the risk zones shown on the FIRMs are the basis for the establishment of premium rates for flood coverage offered through the NFIP.</p>
    <p>The DFIRM Database presents the flood risk information depicted on the FIRM in a digital format suitable for use in electronic mapping applications. The DFIRM database is a subset of the Digital FIS database that serves to archive the information collected during the FIS.</p>
    <p>Floodplains Zone information can be found at the <a href="http://msc.fema.gov/portal"> FEMA Map Service Center (MSC)</a> and in the <a href="http://fema.maps.arcgis.com/home/webmap/viewer.html?webmap=cbe088e7c8704464aa0fc34eb99e7f30">FEMA National Flood Hazard Layer.</a></p>
    <p>One thing to keep in mind with the zone designations is the difference between "Shaded X" and "Unshaded X".  In the link above, Shaded X represents the 0.2% annual chance floodplain (the 500-year flood).  In almost all of the DFIRMs, the ZONE field will read: 0.2 PCT ANNUAL CHANCE FLOODPLAIN or something like that, and in some DFIRMs it will just read: Shaded X.  Confusingly, when the ZONE field is just "X", that means Unshaded X, which is outside of the 500-year floodplain.</p>
    <p>LiDAR can be used to support FEMA Map Amendments. <a href="https://drive.google.com/file/d/1BknlXf5J2PqEkuFk_GWcfMcg7b2k--gb">This fact sheet</a> describes the information and process necessary to use LIDAR data when applying for FEMA Map Amendments.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://snmapmod.snco.us/fmm/document/fema-flood-zone-definitions.pdf">Definitions of FEMA Flood Zone Designations</a>
    </ul>
   <p>{% include contact.html subject=page.title contact=site.data.contacts.flood_areas %}</p>
  </div>
  {% include packagedata.html name="Floodplains"
  info=page.Floodplains %}
</div>
