---
status: publish
layout: page
tags:
  - data
author:
  display_name: JP
  email: agrc@utah.gov
published: true
date: 2011-11-21 17:25:17 -0700
title: Health Small Statistical Areas
categories: []
2014SmallHealthStatisticalAreas:
  downloads:
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mYzR2TEdaTHIwa0E&export=download"
      label: "2014 Small Statistical Areas: File Geodatabase"
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mNlNPZU5SRVFJcVU&export=download"
      label: "2014 Small Statistical Areas: Shapefile"
  updates:
    - January 2014
2012SmallHealthStatisticalAreas:
  downloads:
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mWkFMd2RzVVVKdDg&export=download"
      label: "2012 Small Statistical Areas: File Geodatabase"
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mYjZqLU00b1A3a2M&export=download"
      label: "2012 Small Statistical Areas: Shapefile"
  updates:
    - October 2012
---
<div class="caption">
  <img src="{{ "/images/StatisticalAreas_Large.png" | prepend: site.baseurl }}" alt="SmallStatisticalAreas" />
  <p class="caption-text">Small Health Statistical Areas</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mel9xaXZWVEp2Ykk"
name="Small Health Statistical Areas"
stewards="AGRC and Utah Department of Health"
abstract="Small health statistical areas provide a means of geographically analyzing and presenting health statistics at the community level. Producing information at this level provides community planners and others with information that is specific to the populations living in their communities. Small area analysis allows an investigator to explore ecologic relationships between health status, lifestyle, the environment and the health system." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="2014SmallHealthStatisticalAreas">
      <a href="#2014SmallHealthStatisticalAreas" class="anchor--link">2014 Small Health Statistical Areas</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/SmallStatAreas_2009_small.png" | prepend: site.baseurl }}" alt="Small Health Areas" />
    <p>The feature layer was developed in 1997 by the Office of Public Health Assessment. There are the 63 small health statistical areas in Utah. These boundaries were developed by the Utah Department of Health by combining neighboring ZIP code areas within a county to create 63 small areas of approximately 33,500 persons.</p>
    <ul class="dotless">
      <li>The <code>Area_Code</code> field contains the statistical area code.
      <li>The <code>Area_Name</code> field contains the statistical area name.
    </ul>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://health.utah.gov/">Utah Department of Health</a>
      <li><a href="https://drive.google.com/drive/folders/0ByStJjVZ7c7mTEVKZ1VMbnJIdXc">2008 Small Statistical Areas</a>
    </ul>
    <p>For questions, contact <a href="mailto:agrc@utah.gov">AGRC</a>.</p>
  </div>
  {% include packagedata.html name="2014SmallHealthStatisticalAreas"
  info=page.2014SmallHealthStatisticalAreas %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="2012SmallHealthStatisticalAreas">
      <a href="#2012SmallHealthStatisticalAreas" class="anchor--link">2012 Small Health Statistical Areas</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/SmallStatAreas_2009_small.png" | prepend: site.baseurl }}" alt="Small Health Areas" />
    <p>Health.HealthSmallStatisticalAreas2012 are the 62 small health statistical areas in Utah. These boundaries were developed by the Utah Department of Health by combining neighboring ZIP code areas to create 62 small areas of approximately 33,500 persons.</p>
    <ul class="dotless">
      <li>The <code>Area_Code</code> field contains the statistical area code.
      <li>The <code>Area_Name</code> field contains the statistical area name.
    </ul>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://health.utah.gov/">Utah Department of Health</a>
      <li><a href="https://drive.google.com/drive/folders/0ByStJjVZ7c7mTEVKZ1VMbnJIdXc">2008 Small Statistical Areas</a>
    </ul>
    <p>For questions, contact <a href="mailto:agrc@utah.gov">AGRC</a>.</p>
  </div>
  {% include packagedata.html name="2012SmallHealthStatisticalAreas"
    info=page.2012SmallHealthStatisticalAreas %}
</div>
