---
tags:
  - planning
author:
  display_name: Jacob Adams
  email: ugrc@utah.gov
date: 2022-04-22 17:00:00 -0700
categories: [Planning]
HousingUnitInventory:
  hub:
    name: Utah Housing Unit Inventory
    item_id: bbdc62867c2340949f530a71666223ab
  updates:
    - January 2024 - Initial load for Washington County
    - May 2022 - Initial load for Salt Lake, Davis, and Weber Counties
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/utah-housing-unit-inventory-thumbnail.png %}" alt="Housing Unit Inventory in the Avenues"
    loading="lazy" />
  <figcaption class="caption__text">Housing Unit Inventory</figcaption>
</figure>
{% include abstract.html name="Housing Unit Inventory"
stewards="WFRC, MAG, UGRC"
abstract="The Housing Unit Inventory (HUI) is a derivative dataset that, per <a href='https://le.utah.gov/xcode/Title63A/Chapter16/63A-16-S506.html'>UCA 63A-16-S506(4)</a>, adds additional housing characteristics to the County Assessors' tax parcel data for Utah's most urban counties. It is not a substitute for the excellent datasets maintained by the Assessors but instead presents additional, standardized information about the type and number of housing units, associated grounds and common areas, and related short-term and long-term trends. The HUI is a best-effort product of a resource-limited analysis — users are encouraged to do their own quality assessment, share their findings, and cite this metadata describing how the HUI was produced." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="HousingUnitInventory">Housing Unit Inventory</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/utah-housing-unit-inventory-small.png %}"
      loading="lazy" />
    <p>WFRC, MAG, and UGRC are creating this dataset from the <a href="{% link data/cadastre/parcels/index.html %}#UtahLIRParcels">Land Information Record (LIR)</a> parcel datasets published by UGRC. The LIR datasets are made possible by the county assessors voluntary sharing their annual tax assessment data. The tax roll data are frozen as of midnight Jan 1st for the specified year, finalized in late May, and typically loaded into the SGID later that summer.</p>
    <p>WFRC, the metropolitan planning organization for the urban portions of Salt Lake County, Davis County, and Weber county, updated the Housing Inventory dataset for their counties (currency date = January 1, 2022) and defined the inventory process laid out below. MAG will be providing data for their counties, and UGRC is working with other counties to create inventories as requested.</p>
    <ul>
      <li>The inventory applies apartment unit counts to multi-family rental properties that do not have individually-owned and platted units (traditional apartment buildings, quadplexes, triplexes, mixed use buildings etc). These unit counts come from the <a href="{% link data/address/index.html %}">address point</a> data layer, with some counts being assigned manually using information from recent aerial photography and other sources.</li>
      <li>For cases where individual condos, townhomes, and single family homes have associated common areas, the inventory aggregates and combines the geometries and attributes of the individual units and common areas into a single composite parcel feature called an "owned unit grouping". This sums, averages, and counts the appropriate attributes of the contributing parcels to better characterize the density of these residential land uses (dwelling units per acre or DUA). </li>
      <li>Every county uses a slightly different set of designations when defining residential parcel types. The inventory attempts to standardize all the different classifications into the following categories:
        <ul>
          <li>Townhome><li>
          <li>Condo</li>
          <li>Apartment</li>
          <li>Single family</li>
          <li>Single family with Accessory Dwelling Units (ADUs, currently only for Salt Lake County)</li>
          <li>Duplex</li>
          <li>Mixed townhome / single family</li>
          <li>Mobile home</li>
          <li>Pud (mixed)</li>
          <li>Group quarters</li>
        </ul>
      </li>
      <li>The inventory doesn't include the following types of residential properties:
        <ul>
          <li>Nursing, rehabilitation, or assisted living centers</li>
          <li>Extended stay hotels</li>
          <li>Incarceration facilities</li>
          <li>Student housing or dormitories</li>
          <li>ADUs outside Salt Lake County</li>
        </ul>
      </li>
    </ul>
    <p>The inventory uses the following fields to provide data on each parcel or owned unit grouping:</p>
    <ul>
      <li><code>TYPE</code>: General housing type, single- or multi-family</li>
      <li><code>SUBTYPE</code>: More detailed housing type classification</li>
      <li><code>IS_OUG</code>: 1 for features that are owned unit groupings, 0 for single-parcel homes or apartments</li>
      <li><code>UNIT_COUNT</code>: The number of dwelling units, based on address point data</li>
      <li><code>DUA</code>: Density in dwelling units per acre</li>
      <li><code>ACRES</code>: Total acreage</li>
      <li><code>TOT_BD_FT2</code>: Total building(s) square footage</li>
      <li><code>TOT_VALUE</code>: Total market value</li>
      <li><code>APX_BLT_YR</code>: Approximate year built</li>
      <li><code>BLT_DECADE</code>: The decade the structure(s) were built</li>
      <li><code>CITY</code>: The features' city based on the SGID's <a href="{% link data/boundaries/citycountystate/index.html %}">municipal boundaries</a> data</li>
      <li><code>COUNTY</code>: The features' county</li>
      <li><code>SUBCOUNTY</code>: If provided in the analysis, this groups the features into predefined areas for later grouping and analysis</li>
      <li><code>EVAL_DATE</code>: The date the feature was evaluated</li>

    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.housing_unit_inventory %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://github.com/WFRCAnalytics/Housing-Unit-Inventory">WFRC GitHub repository</a> (for WFRC/MAG counties)</li>
      <li><a href="https://github.com/agrc/housing-unit-inventory/">UGRC GitHub repository</a> (used for non WFRC/MAG counties)</li>
    </ul>
  </div>
  {% include packagedata.html name="HousingUnitInventory"
  info=page.HousingUnitInventory %}
</div>
