---
tags:
  - parks
  - recreation
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-22 15:04:53 -0700
title: Local Parks
categories: []
LocalParks:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mdm1nUTl5dVFodXM
      label: Local Park Package
  updates:
    - January 2020
  endpoints:
    - url: https://utah.maps.arcgis.com/home/item.html?id=818536733987486b8082e4c5dec0a1dd
      label: ArcGIS Online Feature Layer
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{{ "/images/LocalParks.png" | prepend: site.baseurl }}" alt="Local Parks" />
  <figcaption class="caption__text">Local Parks Sample</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mdm1nUTl5dVFodXM"
name="Local Parks"
stewards="AGRC"
abstract="This dataset shows the locations of local parks excluding State and Federally owned parks. This dataset also contains the name, county, city, acres, type and construction status of the parks." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="LocalParks">
      <a href="#LocalParks" class="anchor--link">Local Parks</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="LocalParks"
    info=page.LocalParks
  %}
</div>
