---
tags:
  - parks
  - recreation
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-22 15:04:53 -0700
categories: []
LocalParks:
  hub:
    name: Utah Parks Local
    item_id: 818536733987486b8082e4c5dec0a1dd
  updates:
    - January 2020
  endpoints:
    - url: https://utah.maps.arcgis.com/home/item.html?id=818536733987486b8082e4c5dec0a1dd
      label: ArcGIS Online Feature Layer
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/LocalParks.png %}" alt="Local Parks" />
  <figcaption class="caption__text">Local Parks Sample</figcaption>
</figure>
{% include abstract.html name="Local Parks"
stewards="AGRC"
abstract="This dataset shows the locations of local parks excluding State and Federally owned parks. This dataset also contains the name, county, city, acres, type and construction status of the parks." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="LocalParks">Local Parks</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="LocalParks"
    info=page.LocalParks
  %}
</div>
