---
tags:
  - recreation
  - trails
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
date: 2012-04-16 12:36:13 -0600
title: Urban Trails
categories: []
UrbanTrails:
  downloads:
    - url: ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/RECREATION/PackagedData/_Statewide/UrbanTrails/
      label: Urban Trails Package
  updates:
    - February 2008
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{{ "/images/UrbanTrails.png" | prepend: site.baseurl }}" alt="Urban Trails" />
  <figcaption class="caption__text">Urban Trails Sample</figcaption>
</figure>
{% include abstract.html download="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/RECREATION/PackagedData/_Statewide/UrbanTrails/"
name="Urban Trails"
stewards="AGRC"
abstract="This dataset contains the location of urban trails in Utah. Currently the dataset only contains portions for the Jordan River Parkway throughout Salt Lake County." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="UrbanTrails">
      <a href="#UrbanTrails" class="anchor--link">Urban Trails</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="UrbanTrails"
    info=page.UrbanTrails
  %}
</div>
