---
tags:
  - address
  - address grid
  - address point
  - location
author:
  display_name: Data Queen
  email: agrc@utah.gov
date: 2012-08-15 16:09:42 -0600
title: Address Data
categories: []
AddressPoints:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mT3lEdGdtS01YeGs&export=download
      label: 'Statewide Address Points: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mUlFsVlBoSTFhS3M&export=download
      label: 'Statewide Address Points: Shapefile'
  updates:
    - September 2018 - Carbon, Davis, Salt Lake, Tooele, Utah, Washington
    - July 2018 - Beaver, Box Elder, Davis, Emery, Salt Lake, Utah Counties
    - June 2018 - Cache, Daggett, Davis, Morgan, Salt Lake, Summit, Tooele, Utah, Wasatch, Washington Counties
    - May 2018 - Davis, Salt Lake, Utah, Washington, Weber Counties
    - April 2018 - Davis, Salt Lake, Utah, Washington Counties
    - March 2018 - Box Elder, Carbon, Davis, Morgan, Salt Lake, Utah, Washington, Wayne, Weber Counties
    - February 2018 - Cache, Davis, Piute, Salt Lake, Sevier, Summit, Tooele, Utah,
      Washington, Weber Counties
    - January 2018 - Box Elder, Davis, Garfield, Iron, Salt Lake, Utah, Wasatch, Washington,
      Weber Counties
    - December 2017 - Davis, Rich, Salt Lake, Summit, Utah, Washington, Weber Counties
    - November 2017 - Davis, Tooele, Utah, Washington Counties
    - October 2017 - Carbon, Salt Lake, Utah, Washington Counties
    - September 2017 - Cache, Davis, Kane, Morgan, Salt Lake, Washington, Weber, Utah
      Counties
    - August 2017 - Davis, Salt Lake, Summit, Washington, Weber Counties
    - July 2017 - Cache, Davis, Iron, Wasatch, Washington, Wayne, Weber Counties
    - Address Points were made public by AGRC on June 27, 2013
AddressSystemQuadrants:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mSmFPLVlUcG9hWkk&export=download
      label: 'Address System Quadrants: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7maVBEcE1xR2FING8&export=download
      label: 'Address System Quadrants: Shapefile'
  updates:
    - November 2015 - Improvements were made to the Hyrum and Logan address system
      boundaries
    - October 2015 - Updated the American Fork address system boundary to reflect
      recent annexations
    - August 2015 - Improvements were made to the Brigham City, Fishlake, Fremont,
      Garland, Loa, Lyman, Mantua, Tremonton, and Willard address system boundaries;
      Updated the Lehi and Santa Clara address system boundaries to reflect recent
      annexations
    - July 2015 - Improvements were made to the Price and Wellington address system
      boundaries; updated the Lehi and Provo address system boundaries to reflect
      recent annexations
    - June 2015 - Improvements were made to the Layton and HAFB address system boundaries;
      updated the Provo and Spanish Fork address system boundaries to match recent
      annexations
    - May 2015 - Updated address system boundaries to reflect annexations in Lehi,
      Lewiston, and Snowville
    - February 2015 - Improvements were made to the Orderville address system boundary
      to match the municipal boundary
    - January 2015 - Updated address system boundaries to match annexations in American
      Fork, Farmington, Elk Ridge, Grantsville, Lehi, Mendon, Mount Pleasant, Payson,
      Provo, Spanish Fork, and Washington
    - December 2014 - Improvements to the Elmo/Cleveland boundary
    - July 2014 - Improvements the Wellington/Price boundary
    - June 2014 - Improvements were made to the NSL (North Salt Lake) and Bountiful
      address system boundaries
    - May 2014 - Changed address system name East Carbon-Sunnyside to East Carbon
      City
    - April 2014 - Updated address system boundaries to match recent annexations in
      northern Utah County; misc improvements in Davis County; adjusted  - Laketown/Garden
      City boundary
    - February 2014 - Merged East Carbon and Sunnyside to create the East Carbon-Sunnyside
      address system
    - January 2014 - Improvements were made to the Iron County address system quadrant
      boundaries and topological errors were corrected statewide
    - August, 2013 - Improvements were made to Garfield County and Washington County
      address system quadrant boundaries
---
<div class="caption">
  <img src="{{ "/images/AddSys_AddPoints1.png" | prepend: site.baseurl }}" alt="Address point map" />
  <p class="caption-text">Address Points and Grid Areas</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mcVFBanVmTXlOQkU"
name="Address Data"
stewards="AGRC, Local Government Partners"
webapp="https://addressediting.utah.gov/"
abstract="This dataset contains GIS mapping data representing address point locations (near complete) and the address grid system quadrant boundaries (NE, SE, SW, NW) in Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="AddressPoints">
      <a href="#AddressPoints" class="anchor--link">Address Points</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/AddPts_Small.png" | prepend: site.baseurl }}" alt="Address Points" />
    <p>Location.AddressPoints is a statewide dataset that contains address point data from all 29 Utah Counties. This dataset is a work in progress and some counties are more complete than others. One person in each county has been identified as the <a href="https://docs.google.com/spreadsheet/ccc?key=0AkScYXX9W5INdFFRVHZkcWFYczd5MXhZYS1WTVN1elE&usp=sharing">Master Address List</a> (MAL) Authority to eliminate duplication of address point data and to clarify the main person of contact. AGRC is working with each MAL Authority to continually improve this data and work toward monthly updates.</p>
    <h5>Address Points in Action</h5>
    <p>The statewide address point layer is used as reference data for the <a href="{{site.baseurl}}{% post_url 2013-05-10-utah-statewide-address-geocoding-web-service-upgrade %}">api.mapserv.utah.gov</a> address locators. You can also find the address points in many <a href="https://atlas.utah.gov">web mapping applicaitons</a>.</p>
    <h5>Address Points as a Service</h5>
    <p>The address points are published as an <a href="https://utah.maps.arcgis.com/home/item.html?id=5b92021338f64f5ba77765d6fc47cbc9">ArcGIS Online service</a> as well as a <a href="{{ "/discover" | prepend: site.baseurl }}">Discover service</a>.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.address_points %} For county specific questions, see the <a href="https://docs.google.com/spreadsheet/ccc?key=0AkScYXX9W5INdFFRVHZkcWFYczd5MXhZYS1WTVN1elE&usp=sharing">contact list</a> for the Master Address Authority at each county.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://docs.google.com/document/d/1eTgknNbA0UNXnyMDR5q9gFAm0-XtNYQpLLYPSZtCLTU/edit?usp=sharing">Utah Address Point Schema Definitions</a>
      <li><a href="https://utah.maps.arcgis.com/home/item.html?id=3f4f7a8efcd147febeca8bacaea67a14">AGRC's ArcGIS Online site</a>
    </ul>
  </div>
  {% include packagedata.html name="AddressPoints"
  info=page.AddressPoints %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="AddressSystemQuadrants">
      <a href="#AddressSystemQuadrants" class="anchor--link">Address System Quadrants</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/AddSysQuads2.png" | prepend: site.baseurl }}" alt="Address System Quadrants" />
    <p>Location.AddressSystemQuadrants represents the local and countywide address system quadrants (NE, SE, SW, NW) throughout Utah. Addresses are assigned by local government addressing authorities using a defined addressing system, or grid. An addressing system consists of an origin point (0,0), a north-south axis, and an east-west axis, and a boundary within which addresses are assigned using this particular grid. This convention governs the assignment of addresses and is typically expressed as 100 address ranges per block or 800 address ranges per mile. Updates to this dataset are published periodically.</p>
    <p>For additional information regarding Address System Quadrants dataset, read the <a href="https://docs.google.com/document/d/1bMoBR_CZMjdIkZvOWFg0LI6-UokgqkUPSE-Ezp-ovas/edit">Utah Local Address Systems document</a></p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="AddressSystemQuadrants"
  info=page.AddressSystemQuadrants %}
</div>
