---
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - buildings
  - entities
  - facilities
  - society
  - state government
categories: []
date: 2012-06-22 13:04:15 -0600
Facilities:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mbGN6YWlxRWJKcUU
      label: State Facilities
  updates:
    - 2017
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/StateFacilities.png %}" alt="State Facility Points" />
  <figcaption class="caption__text">Locations of State Facilities</figcaption>
</figure>
{% include abstract.html name="State Facilities"
stewards="AGRC & Other State Agencies"
webapp="https://utah.maps.arcgis.com/apps/webappviewer/index.html?id=dad9d8f66e974748bbc371cb214e31f1"
abstract="Society.StateFacilities contains locations for state owned or leased buildings." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Facilities">State Facilities</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>This dataset contains a wide and varied collection, some schools in the k-12 system and also higher education buildings, Office buildings, port of entries, rest areas and fish hatcheries. It also contains many other facilities such as UDOT sheds, restrooms, and other smaller facilities. The web application showing this data, shows other facility data to give context.</p>
    <p>For users wanting a full Schools data layer please see Society.Schools.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{% link data/society/schools-libraries/index.html %}" title="Schools data page">Society.Schools</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Facilities"
  info=page.Facilities %}
</div
