---
tags:
  - recreation
  - ski
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-22 15:09:02 -0700
categories: []
SkiAreas:
  hub:
    name: Utah Ski Area Boundaries
    item_id: b84f9467fff5430b8a2fca157f45a5cd
  updates:
    - October 2014
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/SkiArea.png %}" alt="Ski Areas" loading="lazy" />
  <figcaption class="caption__text">Ski Area Sample</figcaption>
</figure>
{% include abstract.html name="Ski Areas"
stewards="AGRC"
abstract="This data package contains ski area boundaries and ski lifts for Alta, Beaver Mountain, Brian Head, Brighton, The Canyons, Deer Valley, Eagle Point, Park City, Snowbird, Solitude, Sundance, Nordic Valley, and Cherry Peak. It also contains some cross country ski trail systems." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="SkiAreas">Ski Areas</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-ski-area-resort-locations">Utah Ski Area Resort Locations</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-ski-lifts">Utah Ski Lifts</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah-ski-trails-xc">Utah Cross-Country Ski Trails</a></li>
    </ul>
  </div>
  {% include packagedata.html
    name="SkiAreas"
    info=page.SkiAreas
  %}
</div>
