---
interface Props {
  title: string;
}

import { getImage } from 'astro:assets';
import image from '../images/hero/banner.png';

const { title = 'UGRC' } = Astro.props;

const banner = await getImage({ src: image, format: 'webp' });
---

<div
  class="relative z-[1] flex h-[150px] w-full justify-end border-b-2
    border-primary
    bg-cover
    before:absolute
    before:inset-0
    before:bg-gradient-to-r
    before:from-primary
    before:via-secondary
    before:to-transparent
    before:opacity-60
    dark:border-zinc-900/85"
  style={{
    backgroundImage: `url(${banner.src})`,
  }}
>
  <div class="relative h-[150px] basis-11/12 lg:basis-1/2">
    <div class="absolute bottom-0 left-0 flex w-full flex-col flex-wrap content-end items-end justify-start">
      <div class="absolute bottom-[2px] left-0 h-full w-full shrink grow-0 basis-auto overflow-hidden">
        <svg class="h-full fill-black/70" viewBox="0 0 8000 400">
          <g>
            <path d="M0,400H8000V0H268L0,400Z"></path>
          </g>
        </svg>
      </div><div
        class="relative flex w-11/12 shrink grow-0 basis-auto flex-col flex-wrap content-end items-end justify-start border-0 p-6"
      >
        <div class="relative min-w-px border-0">
          <div class="flex">
            <div class="block min-w-px max-w-full grow">
              <p class="text-right text-3xl font-bold text-zinc-50 md:text-4xl">{title}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
