---
interface Props {
  date: Date;
  style: 'long' | 'short' | 'short-with-year';
}

const { date, style } = Astro.props;
---

<time datetime={date.toISOString()}>
  {
    style === 'long' && (
      <div class="text-center font-medium text-primary/80 dark:text-accent">
        {date.toLocaleDateString('en-us', {
          month: 'short',
          year: 'numeric',
          day: 'numeric',
        })}
      </div>
    )
  }
  {
    style.startsWith('short') && (
      <div class="flex flex-col items-center justify-center">
        <div class="text-center font-medium text-primary/80 dark:text-accent">
          {date.toLocaleDateString('en-us', {
            month: 'short',
          })}
        </div>
        <div class="w-16 text-center text-3xl font-bold text-primary/80 dark:text-accent">
          {date.toLocaleDateString('en-us', {
            day: 'numeric',
          })}
        </div>
        {style === 'short-with-year' && (
          <div class="text-center font-medium text-primary/80 dark:text-accent">
            {date.toLocaleDateString('en-us', {
              year: 'numeric',
            })}
          </div>
        )}
      </div>
    )
  }
</time>
