---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class:list={[
    'rounded-full font-semibold text-primary transition-all duration-300 hover:bg-zinc-300 hover:p-1 dark:text-accent dark:hover:bg-zinc-700',
    className,
  ]}
  {...props}
>
  <slot />
</a>
