---
title: State Fuel Sites
author:
  display_name: JP
  email: agrc@utah.gov
tags:
  - fuel sites
  - society
categories: []
date: 2011-11-23 15:24:53 -0700
FuelSites:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mMzd6VGQxenN6Z0k
      label: State Fuel Sites
  updates:
    - 2009
  endpoints:
    - url: https://utah.maps.arcgis.com/home/item.html?id=bbad0291cb754be48ae91dc7d82f6f5c
      label: ArcGIS Online Feature Layer
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{{ "/images/StateFuelSites.png" | prepend: site.baseurl }}" alt="State Fuel Sites" />
  <figcaption class="caption__text">State Fuel Sites</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mMzd6VGQxenN6Z0k"
name="State Fuel Sites"
abstract="This dataset contains fuel sites for the State Of Utah and contains the site name and number, address, number of fuel tanks and type, facility type, status and more." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="FuelSites">
      <a href="#FuelSites" class="anchor--link">State Fuel Sites</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>This dataset contains fuel sites for the State Of Utah and contains the site name and number, address, number of fuel tanks and type, facility type, status and more.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="FuelSites"
  info=page.FuelSites %}
</div
