---
author:
  display_name: AGRC
  email: agrc@utah.gov
tags:
  - fuel sites
  - society
categories: []
date: 2011-11-23 15:24:53 -0700
FuelSites:
  hub:
    name: Utah State Fuel Sites
    item_id: 8d9bc67285fb421fb15d55342148ac1e
  updates:
    - December 2020
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/StateFuelSites.png %}" alt="State Fuel Sites" />
  <figcaption class="caption__text">State Fuel Sites</figcaption>
</figure>
{% include abstract.html name="State Fuel Sites"
abstract="This dataset contains fueling locations operated by the State Of Utah" %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="FuelSites">State Fuel Sites</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>This dataset contains state-run fuel sites in the State Of Utah and contains the site name, site status, address and whether it offers gas and/or diesel. The dataset receives periodic updates and is maintained in collaboration with the <a href="https://fleet.utah.gov">Utah Division of Fleet Operations</a>.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="FuelSites"
  info=page.FuelSites %}
</div
