---
author:
  display_name: UGRC Staff
  email: ugrc@utah.gov
tags:
  - history
  - lakes
  - water
  - gsl
categories: []
date: 2022-05-03 12:00:00 -0600
GSL2016:
  hub:
    name: Utah Great Salt Lake Water Level 2016
    item_id: 015723bdb92447f788471450c8fcab16
  updates:
    - 2016
Bonneville:
  hub:
    name: Utah Historic Lake Bonneville
    item_id: fb95503ddf904428af3f308eca0eff6e
  updates:
    - 2007
---
<figure class="caption caption--right">
 <a href="{% link images/GSL2016_lg.png %}">
  <img class="caption__image" title="map" src="{% link images/GSL2016.png %}"
    alt="UtahGreatSaltLakeWaterLevel2016" loading="lazy" /></a>
  <figcaption class="caption__text">GSL Water Level 2016</figcaption>
</figure>
{% include abstract.html
name="Great Salt Lake Resources"
stewards="UGRC"
abstract="Various resources related to the Great Salt Lake." %}

<div>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://wasatchweatherweenies.blogspot.com/2022/04/the-great-salt-finger-lake.html">The Great Salt Finger Lake (2022)</a></li>
      <li><a href="https://www.hydroshare.org/resource/582060f00f6b443bb26e896426d9f62a/">Great Salt Lake Bathymetry (2017)</a></li>
      <li><a href="https://wildlife.utah.gov/gslep/about/water-levels.html">Great Salt Lake Water Levels Viewer</a></li>
      <li><a href="https://utahdnr.hub.arcgis.com/datasets/utahDNR::great-salt-lake-lakebed-contours">Great Salt Lake Lakebed Contours</a></li>
      <li><a href="https://utahdnr.hub.arcgis.com/datasets/utahDNR::great-salt-lake-lakebed-contours">Utah Geoligical Survey - Great Salt Lake, Lake Bonneville, & Bear Lake articles</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah::utah-great-salt-lake-shoreline">Great Salt Lake Shoreline</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah::utah-great-salt-lake-flooding">Great Salt Lake Flooding</a></li>
      <li><a href="https://opendata.gis.utah.gov/datasets/utah::utah-great-salt-lake-shoreline-flooding">Great Salt Lake Shoreline Flooding</a></li>
    </ul>
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GSL2016">Utah Great Salt Lake Water Level 2016</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>This dataset was derived from the 
    <a href="https://storage.googleapis.com/state-of-utah-sgid-downloads/lidar/great-salt-lake-2016/GSL_shps.zip">breakline features</a> 
    associated with the <a href="{% link data/elevation-and-terrain/2016-lidar-gsl/index.md %}">2016 Great Salt Lake LiDAR project</a>. 
    To create this dataset the <code>Lake Pond</code> features were extracted from the <code>GreatSaltLake_Breaklines</code> shapefile and converted 
    into polygons. All polygons outside of the main north and south arms of the lake were removed. The <Code>Elevation_m (elev_m)</code> & <code>Elevation_ft (elev_ft)</code> 
    values represent the elevation of the water when the LiDAR was acquired.</p>

    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="GSL2016"
  info=page.GSL2016 %}
</div>

<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Bonneville">Historic Lake Bonneville</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>Historic Lake Bonneville represents the geographic extent of the historic Lake Bonneville shoreline. 
      This data set was derived from classified shoreline polylines found in the publication Revisiting the deformed
      high shoreline of Lake Bonneville, by Christine Y. Chen and Adam C. Maloof. More information and other Lake
      Bonneville related data can be found on <a href="https://doi.org/10.1016/j.quascirev.2016.12.019">Science
        Direct</a>.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Bonneville"
  info=page.Bonneville %}
</div>
