---
tags:
  - contours
  - data
  - dem
  - elevation
  - lidar
  - ned
  - terrain
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
date: 2011-08-23 22:19:55 -0600
title: Elevation and Terrain Data
categories: []
USGS-3DEP-DEM:
  downloads:
    - url: https://raster.utah.gov/?cat=10%20Meter%20%7BDEM%7D
      label: 'Raster App: 10 meter USGS DEMs'
    - url: https://raster.utah.gov/?cat=30%20Meter%20%7BDEM%7D
      label: 'Raster App: 30 meter USGS DEMs'
    - url: ftp://ftp.agrc.utah.gov/NED/
      label: 'Download OLD USGS NED DEMs from FTP site'
    - url: ftp://ftp.agrc.utah.gov/DEM/
      label: 'Download OLD USGS DEMs from FTP site'
  updates:
    - January 2018
---
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="USGS-3DEP-DEM">
      <a href="#USGS-3DEP-DEM" class="anchor--link">USGS 3DEP Elevation Products</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a title="Slope" href="{{ "/images/gallery/sgid/ned_lg.jpg" | prepend: site.baseurl }}" class="inline-text-left">
      <img src="{{ "/images/gallery/sgid/thumbs/thumbs_ned.jpg" | prepend: site.baseurl }}" class="inline-text-left outline" alt="dem"/>
    </a>
    <p>The USGS <a href="https://nationalmap.gov/3DEP/">3DEP</a> elevation products from <a href="https://nationalmap.gov/index.html">The National Map</a> are the primary elevation datasets available from the USGS. These elevation products are continually updated by the USGS with LiDAR collected through the 3DEP program as part of the <a href="https://nationalmap.gov/3DEP/neea.html">National Enhanced Elevation Assessment</a>. <a href=https://elevation.nationalmap.gov/arcgis/rest/services/3DEPElevation/ImageServer>Imagery services</a> of these elevation products are also avalable.</p>
    <p>The AGRC has a statewide collection of the 10 and 30 meter bare-earth DEMs. The boundaries of the elevation models can be viewed in the <a href="https://storage.googleapis.com/state-of-utah-sgid-downloads/usgs-3dep-dems/10meter/USGS_DEM_10meter_TileIndex.zip">10 meter</a> and <a href="https://storage.googleapis.com/state-of-utah-sgid-downloads/usgs-3dep-dems/30meter/USGS_DEM_30meter_TileIndex.zip">30 meter</a> tile index shapefiles.</p>
    <p>This dataset was reprojected to UTM NAD83 Zone12 meters. The vertical datum is NAVD88.</p>
    <p>For information about working with elevation data in the Pro/ArcMap environment take a look at <a href="https://docs.google.com/document/d/188M11SoXovnHeg3J8RwEb89FsWBJQJEwFB5SWyXwask/edit?usp=sharing">Working with Mosaic and Reference Datasets</a>.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://www.usgs.gov/faqs/what-vertical-accuracy-seamless-3dep-dems">What is the vertical accuracy of the seamless 3DEP DEMs?</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.elevation %}</p>
  </div>
  {% include packagedata.html name="USGS-3DEP-DEM"
    info=page.USGS-3DEP-DEM %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="LiDAR">
      <a href="#LiDAR" class="anchor--link">LiDAR</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a title="First Return" href="{{ "/images/gallery/sgid/lidar_lg.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/thumbs/thumbs_lidar.jpg" | prepend: site.baseurl }}" alt="lidar"/>
    </a>
    <p>Light Detection and Ranging (LiDAR) elevation data is an optical remote sensing technology that can measure the distance to, or other properties of a target by illuminating the target with light often using pulses from a laser. Currently this is the most accurate elevation dataset AGRC has but it is only available for some areas of the state. In addition to the bare-earth DEMs/DTMs and first-return DSMs, most LiDAR data also has point clouds available {% include contact.html subject=page.title contact=site.data.contacts.elevation text='by request from' %} Visit <a href="https://raster.utah.gov/">Raster.utah.gov</a> to explore all available LiDAR collections. For more information about LiDAR visit <a href="{{ "/data/elevation-and-terrain/exploring-lidar/" | prepend: site.baseurl }}">Exploring LiDAR</a>.</p>
    <p>AGRC has partnered with different agencies over the years to acquire LiDAR data.</p>
    <table>
      <thead>
        <th>Year</th>
        <th>Resolution</th>
        <th>Areas</th>
        <th>Information</th>
      </thead>
      <tbody>
        <tr>
          <td>2017</td>
          <td>.5 meter</td>
          <td>Millsite Reservoir</td>
          <td><a href="{{ "/data/elevation-and-terrain/2017-lidar-millsite-res/" | prepend: site.baseurl }}">View</a></td>
        </tr>
        <tr>
          <td>2017</td>
          <td>.5 meter</td>
          <td>Washakie and Whites Valley</td>
          <td><a href="{{ "/data/elevation-and-terrain/2017-lidar-wvw/" | prepend: site.baseurl }}">View</a></td>
        </tr>
        <tr>
          <td>2017</td>
          <td>1 meter</td>
          <td>Washington County</td>
          <td><a href="{{ "/data/elevation-and-terrain/2017-lidar-washington-co/" | prepend: site.baseurl }}">View</a></td>
        </tr>
        <tr>
          <td>2016</td>
          <td>.5 meter</td>
          <td>Bear Lake, Bear River, Cache Valley & Upper Weber Valley</td>
          <td><a href="{{ "/data/elevation-and-terrain/2016-lidar-blbrcvuwv/" | prepend: site.baseurl }}">View</a></td>
        </tr>
        <tr>
          <td>2016</td>
          <td>.5 & 1 meter</td>
          <td>Great Salt Lake & Utah Lake</td>
          <td><a href="{{ "/data/elevation-and-terrain/2016-lidar-gsl/" | prepend: site.baseurl }}">View</a></td>
        </tr>
        <tr>
          <td>2016</td>
          <td>.5 meter</td>
          <td>Monroe Mountain</td>
          <td><a href="{{ "/data/elevation-and-terrain/2016-lidar-monroe-mtn/" | prepend: site.baseurl }}">View</a></td>
        </tr>
        <tr>
          <td>2016</td>
          <td>.5 meter</td>
          <td>FORGE</td>
          <td><a href="{{ "/data/elevation-and-terrain/2016-lidar-forge/" | prepend: site.baseurl }}">View</a></td>
        </tr>
        <tr>
          <td>2015</td>
          <td>.5 meter</td>
          <td>Colorado, Green & Yampa Rivers</td>
          <td><a href="{{ "/data/elevation-and-terrain/2015-lidar-rivers/" | prepend: site.baseurl }}">View</a></td>
        </tr>
        <tr>
          <td>2013-2014</td>
          <td>.5 meter</td>
          <td>Wasatch Front and the Wasatch Fault</td>
          <td><a href="{{ "/data/elevation-and-terrain/2013-2014-lidar/" | prepend: site.baseurl }}">View</a></td>
        </tr>
        <tr>
          <td>2011</td>
          <td>1 meter</td>
          <td>Great Salt Lake, Cedar Valley, Hurricane Fault</td>
          <td><a href="{{ "/data/elevation-and-terrain/2011-lidar/" | prepend: site.baseurl }}">View</a></td>
        </tr>
      <tr>
        <td>2006</td>
        <td>1 meter</td>
        <td>Wasatch Front, Iron County, Heber Valley</td>
        <td><a href="{{ "/data/elevation-and-terrain/2-meter-lidar/" | prepend: site.baseurl }}">View</a></td>
      </tr>
    </table>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{{ "/data/elevation-and-terrain/contours/#500FootContours" | prepend: site.baseurl }}">500 Foot Contours</a>
      <li><a href="{{ "/data/elevation-and-terrain/contours/#2Meter" | prepend: site.baseurl }}">2 Meter Contours from LiDAR (Salt Lake County Only)</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.elevation %}</p>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="AutoCorrelatedDEM">
      <a href="#AutoCorrelatedDEM" class="anchor--link">Auto-Correlated DEM</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a title="Hillshade" href="{{ "/images/gallery/sgid/auto-corr_dem_lg.jpg" | prepend: site.baseurl }}">
      <img src="{{ "/images/gallery/sgid/thumbs/thumbs_auto-corr_dem.jpg" | prepend: site.baseurl }}" class="inline-text-left outline" alt="auto-corr_dem"/>
    </a>
    <p>AGRC has a statewide coverage of 5 meter Auto-Correlated DEMs in addition to some 2 meter areas. The DEMs were created from the imagery collected during the 2006 NAIP and HRO aerial photography flights. <strong>The auto-correlation process is not as rigorous as other methods of elevation modeling such as photogrammetry, lidar mapping, radar mapping, etc, and therefore end-users should be aware that anomalies are expected within the elevation dataset.</strong> In comparison to the USGS DEM datasets, the 2 and 5-meter DEMs in some areas provides higher resolution and horizontal accuracy but anomalies are present within the data.</p>
    <p>The DEM files are stored as <code>.asc</code> formatted files and are ~10MB per 2,000 X 2,000 meter block. This data is in a UTM NAD83 meters projection. The 2 meter DEMs have a Vertical Accuracy of RMSE 4.27' - NSSDA 95% 8.4' and a Horizontal Accuracy NSSDA, radial RMSE of 4.4', 95% confidence 7.6'. The 5 meter DEMs have a have a Vertical Accuracy of RMSE 4m - NSSDA 95% of 9.8m and a Horizontal Accuracy RMSE 3m, NSSDA 95% of 5.2m. For more information about the stated accuracy of the datasets please refer to the metadata and quality assurance reports below.</p>
    <div class="grid__col grid__col--1-of-2">
      <div class="panel update">
        <h5>2 meter DEM</h5>
      </div>
      <div class="panel-content">
        <ul class="dotless no-padding">
          <li><strong>Web Application:</strong> <a href="https://raster.utah.gov/?cat=2%20Meter%20%7BDEM%7D">Download 2 meter DEMs</a>
          <li><strong>Quality Assurance:</strong> <a href="https://storage.googleapis.com/state-of-utah-sgid-downloads/auto-correlated-dems/2-meter/UT_2m_DEMs_QA_report.doc">Report</a>
          <li><strong>Metadata:</strong> <a href="https://storage.googleapis.com/state-of-utah-sgid-downloads/auto-correlated-dems/2-meter/2m_AutoCorr_from_12_5cm_GSD_Imagery_Metadata.XML">From 12.5cm Metadata</a>, <a href="https://storage.googleapis.com/state-of-utah-sgid-downloads/auto-correlated-dems/2-meter/2m_AutoCorr_from_25cm_GSD_Imagery_Metadata.XML">From 25cm Metadata</a>
          <li><strong>Availability:</strong> <a href="https://storage.googleapis.com/state-of-utah-sgid-downloads/auto-correlated-dems/2-meter/Available_DEM_2m_GSD.jpg">Available 2 Meter DEM Map</a>
        </ul>
      </div>
    </div>
    <div class="grid__col grid__col--1-of-2">
      <div class="panel update">
        <h5>5 meter DEM</h5>
      </div>
      <div class="panel-content">
        <ul class="dotless no-padding">
          <li><strong>Web Application:</strong> <a href="https://raster.utah.gov/?cat=5%20Meter%20%7BDEM%7D">Download 5 meter DEMs</a>
          <li><strong>Quality Assurance:</strong> <a href="https://storage.googleapis.com/state-of-utah-sgid-downloads/auto-correlated-dems/5-meter/UT_5m_DEMs_QA_report.doc">Report</a>
          <li><strong>Metadata:</strong> <a href="https://storage.googleapis.com/state-of-utah-sgid-downloads/auto-correlated-dems/5-meter/5m_Autocorr_from_1m_GSD_Imagery_Metadata.XML">From 1m Metadata</a>
        </ul>
      </div>
    </div>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{{ "/downloads/DEM_Auto-correlation.doc" | prepend: site.baseurl }}">Auto-Correlated DEM information</a></li>
      <li><a href="{{ "/downloads/ASCII_Elevation_Data.doc" | prepend: site.baseurl }}">How to Work With ASCII Format Elevation Data in ArcMap</a></li>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.elevation %}</p>
  </div>
</div>
