---
tags:
  - data
  - economic development
  - economy
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-18 15:32:05 -0700
categories: []
EnterpriseZones:
  hub:
    name: Utah Enterprise Zones
    item_id: dc4539cb9d1548e1a1f31cf5b63e3ad5
  updates:
    - November 2020
    - March 2020
    - December 2019
    - November 2019
    - October 2019
---
<figure class="caption caption--right">
  <img title="map" class="caption__image" src="{% link images/enterprisezones_big.png %}" alt="Enterprise Zones" loading="lazy" />
  <figcaption class="caption__text">Enterprise Zones</figcaption>
</figure>
{% include abstract.html
  name="Enterprise Zones"
  stewards="AGRC and GOED"
  abstract="Enterprise Zones are areas created by the Utah Governors Office of Economic Development to encourage economic growth and development in specified areas by providing tax breaks to development projects within these boundaries." %}
<div class="grid package">
    <div class="grid__col grid__col--12-of-12">
      <h3 id="EnterpriseZones">Enterprise Zones</h3>
    </div>
    <div class="grid__col grid__col--12-of-12 package-content">
      <p>Enterprise Zones was originally created to be used in a web application that allows the public to search by address and be informed whether or not a property is located within an Enterprise Zone. There are no constraints or warranties with regard to the use of this dataset.</p>
      <h5>Related Resources</h5>
      <ul class="dotless">
        <li><a href="http://business.utah.gov/">Utah Governor's Office of Economic Development</a>
      </ul>
      <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
    </div>
    {% include packagedata.html name="EnterpriseZones"
      info=page.EnterpriseZones %}
</div>
