---
tags:
  - data
  - economic development
  - economy
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-18 15:32:05 -0700
title: Enterprise Zones
categories: []
EnterpriseZones:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mT1NnNlJrWkNWMGs
      label: Enterprise Zones
  updates:
    - October 2019
    - August 2019
    - April 2019
    - December 2018
---
<figure class="caption caption--right">
  <img title="map" class="caption__image" src="{{ "/images/gallery/sgid/enterprisezones_big.png" | prepend: site.baseurl }}" alt="Enterprise Zones" />
  <figcaption class="caption__text">Enterprise Zones</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mT1NnNlJrWkNWMGs"
  name="Enterprise Zones"
  stewards="AGRC and GOED"
  webapp="https://utah.maps.arcgis.com/apps/SimpleViewer/index.html?webmap=967621d926014900ab075692dfc80056"
  abstract="Enterprise Zones are areas created by the Utah Governors Office of Economic Development to encourage economic growth and development in specified areas by providing tax breaks to development projects within these boundaries." %}
<div class="grid package">
    <div class="grid__col grid__col--12-of-12">
      <h3 id="EnterpriseZones">
        <a href="#EnterpriseZones" class="anchor--link">Enterprise Zones</a>
      </h3>
    </div>
    <div class="grid__col grid__col--12-of-12 package-content">
      <p>Economy.EnterpriseZones was originally created to be used in a web application that allows the public to search by address and be informed whether or not a property is located within an Enterprise Zone. There are no constraints or warranties with regard to the use of this dataset.</p>
      <h5>Related Resources</h5>
      <ul class="dotless">
        <li><a href="http://business.utah.gov/">Utah Governor's Office of Economic Development</a>
      </ul>
      <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
    </div>
    {% include packagedata.html name="EnterpriseZones"
      info=page.EnterpriseZones %}
</div>
