---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah Agricultural Protection Areas',
  pageDescription: `Statewide Agricultural Protection Area boundaries for use in planning and land management.`,
  stewards: ['UDAF'],
  type: ProductType.POLYGON,
  category: SgidCategory.FARMING,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`July 2022`],
  hub: {
    ...dataPages[metadata.pageTitle],
  },
  config: { skipInDepth: true },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      This layer compiles Utah property parcels that have been included in an Agriculture Protection Area (APA)
      resolution. APAs are approved by the county in which they are located, and catalogued by Utah Department of
      Agriculture and Food. APAs provide legal protection for agricultural land uses and activities, it also provides
      notice to neighboring landowners that they border an APA and should expect normal agricultural activities to take
      place. Not every county has created APAs; Sanpete and Sevier Counties have created APAs, but they are currently
      not included in this dataset.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Section title="More resources" slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink
        title="General Agricultural Protection Areas Information"
        href="https://ag.utah.gov/farmers/conservation-division/ag-land-preservation/"
        >The Utah Department of Agriculture and Food is working to raise public awareness about the values of protecting
        critical lands such as farmland, wetlands, and other open spaces.
      </CardWithPopularLink>
      <CardWithPopularLink
        title="Utah Code Title 17, Chapter 41"
        href="https://le.utah.gov/xcode/Title17/Chapter41/17-41.html"
        >Details for how Agriculture Protection Areas are created.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Water Related Land Use" href="/products/sgid/planning/water-related-land-use/"
        >Water usage-related polygon map data that depicts the types and extent of irrigated crops.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="Utah Grazing Improvement Program"
        href="https://ag.utah.gov/?s=grazing+improvement+program">Utah grazing allotments.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
