---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/types';
import { ProductType, SgidCategory } from '@models/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  pageTitle: 'Utah Grazing Improvement Regions',
  pageDescription: `The Utah Grazing Improvement Program (GIP) provides cost-share grants to rangers for rangeland improvements. Eligible projects include any restoration work that will improve rangeland health, productivity and management.`,
  stewards: ['USDA', 'UDAF', 'UGRC'],
  type: ProductType.POLYGON,
  category: SgidCategory.FARMING,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`September 2009`],
  hub: {
    ...dataPages[metadata.pageTitle],
  },
  config: { skipInDepth: true },
};
---

<Layout {...page} subTitle={page.updateHistory[0]}>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      Grazing Improvement Regions contain statewide Grazing Improvement Program boundaries for use in planning and land
      management. Each region is managed by a Grazing Improvement Program coordinator.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Section title="More resources" slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink
        title="Utah Grazing Improvement Program"
        href="https://ag.utah.gov/?s=grazing+improvement+program"
        >Utah Department of Agriculture and Food Grazing Improvement Program page.</CardWithPopularLink
      >
      <CardWithPopularLink title="Grazing Allotments" href="/products/sgid/farming/grazing-allotments/"
        >Utah grazing allotments.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Water Related Land Use" href="/products/sgid/planning/water-related-land-use/"
        >Water usage-related polygon map data that depicts the types and extent of irrigated crops.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="Agricultural Protection Areas"
        href="/products/sgid/farming/agricultural-protection-areas/"
        >Statewide Agricultural Protection Area boundaries.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
