---
import Layout from '@layouts/DataPage.astro';

import type { IMetadata, IPageMetadata } from '@models/products/sgid/types';
import { ProductType, SgidCategory } from '@models/products/sgid/types';

import HubDownloads from '@components/data/HubDownloads.astro';
import Metadata from '@components/data/Metadata.astro';

import CardWithPopularLink from '@components/page/CardWithPopularLink.astro';
import CardWithSmallLink from '@components/page/CardWithSmallLink.astro';
import GridForMoreResources from '@components/page/GridForMoreResources.astro';
import GridForYouMightLike from '@components/page/GridForYouMightLike.astro';
import Section from '@components/page/Section.astro';

import { dataPages } from '@data/downloadMetadata';

export const metadata: IMetadata = {
  title: 'Utah Grazing Allotments',
  description: `Grazing allotment areas.`,
  stewards: ['USDA', 'UDAF', 'UGRC'],
  type: ProductType.POLYGON,
  category: SgidCategory.FARMING,
};

const page: IPageMetadata = {
  ...metadata,
  updateHistory: [`September 2009`],
  hub: {
    ...dataPages[metadata.title],
  },
};
---

<Layout
  title={page.title}
  subTitle={page.updateHistory[0]}
  category={page.category}
  actionUrl={page.application}
  config={{ skipInDepth: true }}
>
  <Metadata slot="metadata" {...page} />

  <Fragment slot="summary">
    <p>
      Grazing Allotments contain statewide Grazing Allotment boundaries for use in planning and land management. This
      dataset also contains the allotment name, number and managing agency. Each allotment is managed by the listed
      state or federal agency on number of domestic animals allowed on the allotment and designated as Animal Unit
      Months (AUMs). The dataset was compiled by Utah Department of Agriculture and Food GIS staff from multiple state
      and federal agencies.
    </p>
  </Fragment>

  <Section title="Use the data" slot="downloads" titlePosition="center">
    <HubDownloads {...page.hub} />
  </Section>

  <Section title="More resources" slot="more-resources" stripe titlePosition="center">
    <GridForMoreResources>
      <CardWithPopularLink title="Utah Grazing Improvement Regions" href="/products/sgid/farming/grazing-improvements/"
        >Grazing Improvement Regions contain statewide Grazing Improvement Program boundaries for use in planning and
        land management.
      </CardWithPopularLink>
      <CardWithPopularLink
        title="Utah Grazing Improvement Program"
        href="https://ag.utah.gov/?s=grazing+improvement+program"
        >Utah Department of Agriculture and Food Grazing Improvement Program page.</CardWithPopularLink
      >
    </GridForMoreResources>
  </Section>

  <Section title="You might also like" slot="you-might-also-like" titlePosition="center">
    <GridForYouMightLike>
      <CardWithSmallLink title="Water Related Land Use" href="/products/sgid/planning/water-related-land-use-use/"
        >Water usage-related polygon map data that depicts the types and extent of irrigated crops.</CardWithSmallLink
      >
      <CardWithSmallLink
        title="Agricultural Protection Areas"
        href="/products/sgid/farming/agricultural-protection-areas/"
        >Statewide Agricultural Protection Area boundaries.</CardWithSmallLink
      >
    </GridForYouMightLike>
  </Section>
</Layout>
