---
status: publish
layout: page
tags:
  - data
  - health
  - regions
author:
  display_name: JP
  email: agrc@utah.gov
published: true
date: 2011-11-21 17:54:44 -0700
title: Emergency Regions
categories: []
EmergencyRegions:
  downloads:
    - url: "https://drive.google.com/drive/folders/0ByStJjVZ7c7mX21VVGtBRkdaTlE"
      label: "Emergency Regions"
  updates:
    - January 2012
---
<div class="caption">
  <img title="map" src="{{ "/images/EmergencyRegions_Large.png" | prepend: site.baseurl }}" />
  <p class="caption-text">Emergency Regions</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mX21VVGtBRkdaTlE"
  name="Emergency Regions"
  stewards="AGRC and Utah Division of Emergency Management"
  abstract="This dataset represents the Emergency Management Regions of Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="EmergencyRegions">
      <a href="#EmergencyRegions" class="anchor--link">Emergency Regions</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/GNISsmall.png" | prepend: site.baseurl }}" alt="GNIS" />
    <p>This dataset represents the Emergency Management Regions of Utah. This layer contains the 29 counties in Utah with the REGION field containing the district name.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://www.dem.utah.gov/">Utah Department of Public Safety</a>
    </ul>
  </div>
  {% include packagedata.html
    name="EmergencyRegions"
    info=page.EmergencyRegions
  %}
</div>
