---
author:
  display_name: AGRC Staff
  email: agrc@utah.gov
tags:
  - history
  - lakes
  - water
categories: []
date: 2012-07-11 13:55:32 -0600
Bonneville:
  hub:
    name: Utah Historic Lake Bonneville
    item_id: fb95503ddf904428af3f308eca0eff6e
  updates:
    - 2007
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/HistoricLakeBonneville.png %}" alt="HistoricLakeBonneville" />
  <figcaption class="caption__text">Historic Lake Bonneville</figcaption>
</figure>
{% include abstract.html
name="Historic Lake Bonneville"
stewards="AGRC"
abstract="Historic Lake Bonneville represents the geographic extent of the historic Lake Bonneville shoreline." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Bonneville">Historic Lake Bonneville</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>This data set was derived from classified shoreline polylines found in the publication Revisiting the deformed high shoreline of Lake Bonneville, by Christine Y. Chen and Adam C. Maloof. More information and other Lake Bonneville related data can be found on <a href="https://doi.org/10.1016/j.quascirev.2016.12.019">Science Direct</a>.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Bonneville"
  info=page.Bonneville %}
</div>
