---
import type { IStandardPageMetadata } from '@models/products/sgid/types';

import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';
import Layout from '@layouts/FullWidth.astro';

import { Image } from 'astro:assets';

import resourcesPhoto from '@images/collaboration/resources.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'GIS resources',
  section: stripeSections([
    {},
    {
      title: 'Demonstration heading',
      actionUrl: '/collaboration/somewhere',
      actionText: 'Link text... can be empty for default value',
    },
  ]),
};
---

<Layout title={page.title}>
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={resourcesPhoto}
      loading="eager"
      alt="a person searches a manilla folder containing a lot of documents "
      class="w-full max-w-[400px] rounded-2xl"
    />
    UGRC has a myriad of blog posts that may be of great assistance to users, they can be found here. Staff from UGRC also
    present at various conferences in the United States, all this information is to be found here. UGRC also keeps resources
    for the media and our colleagues that need our logo etc.
  </Section>
  <Section {...page.section[1]}>
    <ul>
      <li>Links to posts</li>
      <li>Logos</li>
      <li>Other info as appropriate</li>
    </ul>
  </Section>
</Layout>
