---

---

<p>
  The demand for geospatial and location-based information has increased dramatically as many disciplines realize the
  power of spatial data. A customer's address stored as text in a database has only so many uses. Our API opens the door
  to many spatial opportunities, from visualizing customer locations on a map to spatially analyzing their relationship
  or patterns in conjunction with other geographic phenomena such as demographic data, disease patterns, or areas
  affected by natural disasters. Our API has two main endpoints to help with this: geocoding address and searching SGID
  data.
</p>
<p>
  Geocoding allows you to find the geographic locations (i.e., the latitude and longitude) of addresses. UGRC's
  geocoding philosophy is unique in that we would rather give you no match than the wrong match. But rest assured, we
  will have the best match rates for Utah addresses. How can we be so sure? Because we're the experts in Utah geospatial
  data.
</p>
<p>
  Searching allows you to explore more than 1,000,000 rows of spatial SGID data. With over 300 layers of real-world data
  in the SGID, the possibilities can be a little overwhelming. You need a way to find what you need in all that data,
  and our search endpoint helps you do that. It opens up the opportunity for serious information gathering to enhance
  your application and workflows.
</p>
