---

---

<p>
  This data is developed with coordinate geometry (COGO) from legal descriptions. When necessary the data is adjusted to
  conform to known physical features. This dataset does not represent exact legal boundaries, but, rather a set of
  boundaries used for the administrative purposes that conforms to logical & administrative rules (e.g. no two cities or
  township areas may cover the same geographic extent).
</p>
<p>
  The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no
  constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State
  of Utah, SGID. The metro townships boundary dataset is maintained by UGRC in partnership with state and local
  government.
</p>
<p>The boundaries are revised as documents are filed with the Lt. Governor's Office.</p>
