---

---

<p>
  Geography is a fundamental aspect of the census, providing the framework for the once-a-decade count of population and
  housing. Utah's 2010 census geographic boundaries and basic demographic files for the redistricting process became
  available in January 2011. UGRC used these datasets to create the basic census 2010 layers.
</p>
<p>
  The 2010 Census marked the end of the long-form questionnaire and the beginning of the American Community Survey
  (ACS). The 2010 geographies are used for the ACS estimates available before the 2020 Census, after which the ACS uses
  the 2020 geographies.
</p>
