---
import ExternalLink from '@components/page/ExternalLink.astro';
---

<p>
  Utah's 2020 census geographic boundaries became available in February 2021 and the demographic redistricting legacy
  files (the 2020 Census Redistricting P.L. 94-171 Summary Files) became available on August 12, 2021. The Census Bureau
  will release a more user-friendly version of the 2020 Census Redistricting P.L. 94-171 Summary Files on September 30,
  2021. In the meantime, UGRC, with collaboration from the Analytics Group at <ExternalLink href="https://wfrc.org/"
    >WFRC</ExternalLink
  >, has worked with the August 12 release and has created ready-to-use GIS data in several formats that hopefully make
  the 2020 redistricting data easier to use. Read more about these offerings in the blog post, <a
    href="/blog/2021-08-31-census-2020-redistricting-data">2020 Census Redistricting Data in Easy to Use GIS Formats</a
  >
</p>
<p>
  The 2020 data available on this page was downloaded from the <ExternalLink
    href="https://www.census.gov/programs-surveys/decennial-census/about/rdo/summary-files.html#P2"
    >2020 Census Redistricting Data (P.L. 94-171)</ExternalLink
  > page. All 2020 census geographies reflect boundaries as of January 1, 2020. Additional GIS files and support products
  are available on the <ExternalLink
    href="https://www.census.gov/programs-surveys/decennial-census/about/rdo/summary-files.html#P2"
    >census redistricting data</ExternalLink
  > page.
</p>
<p>
  Geography is a fundamental aspect of the census, providing the framework for the once-a-decade count of population and
  housing. Read about some of the key geography changes in the Kem C. Gardner Policy Institute's 2020 census geography <ExternalLink
    href="https://gardner.utah.edu/blog-whats-new-in-utahs-census-2020-geography/">blog</ExternalLink
  > and <ExternalLink href="https://gardner.utah.edu/wp-content/uploads/Geog-FS-Mar2021.pdf">fact sheet</ExternalLink>.
</p>
