---
import DefinitionListItem from '@components/page/DefinitionListItem.astro';
import RightArrow from '@components/page/RightArrow.astro';
---

<div class="flex flex-wrap justify-around gap-2">
  <div>
    <h2>Distance Conversions</h2>
    <div class="mt-4 flex flex-wrap justify-around gap-10">
      <dl>
        <DefinitionListItem title="1 Mile">
          <ul>
            <li><RightArrow /> 80 chains</li>
            <li><RightArrow /> 320 rods</li>
            <li><RightArrow /> 320 perches</li>
            <li><RightArrow /> 320 poles</li>
            <li><RightArrow /> 5,280 feet</li>
            <li><RightArrow /> 8,000 links</li>
            <li><RightArrow /> 1,609.2655 meters</li>
          </ul>
        </DefinitionListItem>
        <DefinitionListItem title="1 Chain">
          <ul>
            <li><RightArrow /> 4 rods</li>
            <li><RightArrow /> 4 perches</li>
            <li><RightArrow /> 4 poles</li>
            <li><RightArrow /> 66 feet</li>
            <li><RightArrow /> 100 links</li>
            <li><RightArrow /> 20.1168 meters</li>
          </ul>
        </DefinitionListItem>
        <DefinitionListItem title="1 inch">
          <ul>
            <li><RightArrow /> 0.0254 meters</li>
          </ul>
        </DefinitionListItem>
      </dl>
      <dl>
        <DefinitionListItem title="1 Link">
          <ul>
            <li><RightArrow /> 0.66 feet</li>
            <li><RightArrow /> 7.92 inches</li>
            <li><RightArrow /> 0.2017 meters</li>
          </ul>
        </DefinitionListItem>
        <DefinitionListItem title="1 Meter">
          <ul>
            <li><RightArrow /> 39.370 inches</li>
            <li><RightArrow /> 3.281 feet</li>
          </ul>
        </DefinitionListItem>
        <DefinitionListItem title="1 Rod">
          <ul>
            <li><RightArrow /> 16.5 feet</li>
          </ul>
        </DefinitionListItem>
        <DefinitionListItem title="1 Perch">
          <ul>
            <li><RightArrow /> 25 links</li>
          </ul>
        </DefinitionListItem>
        <DefinitionListItem title="1 Pole">
          <ul>
            <li><RightArrow /> 5.0292 meters</li>
          </ul>
        </DefinitionListItem>
        <DefinitionListItem title="1 Foot">
          <ul>
            <li><RightArrow /> 0.3048 meters</li>
          </ul>
        </DefinitionListItem>
      </dl>
    </div>
  </div>

  <div>
    <h2>Area Conversions</h2>
    <dl class="mt-4">
      <DefinitionListItem title="1 Sq. Mile">
        <ul>
          <li><RightArrow /> Nominal Section</li>
          <li><RightArrow /> 640 acres</li>
          <li><RightArrow /> 2.590 sq. km.</li>
          <li><RightArrow /> 259 hectares</li>
        </ul>
      </DefinitionListItem>
      <DefinitionListItem title="1 Acre">
        <ul>
          <li><RightArrow /> 10 sq. chains</li>
          <li><RightArrow /> 160 sq. rods</li>
          <li><RightArrow /> 160 perches</li>
          <li><RightArrow /> 160 poles</li>
          <li><RightArrow /> 43,560 sq. feet</li>
          <li><RightArrow /> 0.4047 hectare</li>
          <li><RightArrow /> 4,047 sq. meters</li>
        </ul>
      </DefinitionListItem>
      <DefinitionListItem title="1 Hectare">
        <ul>
          <li><RightArrow /> 2.47 acres</li>
        </ul>
      </DefinitionListItem>
      <DefinitionListItem title="1 Sq. Meter">
        <ul>
          <li><RightArrow /> 10.764 sq. ft.</li>
        </ul>
      </DefinitionListItem>
    </dl>
  </div>
</div>
