---

---

<p>
  The Utah Reference Network (TURN) is a high-precision global navigation satellite system (GNSS) Continuously Operating
  Reference System (CORS) providing real-time corrections and data for post processing. Our network consists of
  permanently located GPS receivers installed across Utah and portions of Idaho, Wyoming, and southern Nevada that
  generate real-time, high-accuracy GPS positioning. These receivers send their data via the Networked Transport of RTCM
  via Internet Protocol (NTRIP) to a central system that analyzes the input to adjust and correct the data to provide
  the most accurate locations, usually down to centimeter level. Our network uses the Trimble Pivot VRS Platform.
</p>
