---
tags:
  - data
  - deq
  - environment
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-12-08 14:25:57 -0700
title: DEQ Water-Related Monitoring
categories: []
AssessmentUnits:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mNWRvTzA1ZnRwaUE&export=download
      label: 'DWQAssesmentUnits: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mdGtHaXVEVGE5Wk0&export=download
      label: 'DWQAssesmentUnits: Shapefile'
  updates:
    - 2010
MonitoredLakes:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mSHN6R19xX1VRbkE&export=download
      label: 'DWQMonitoredLakes: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7meWhHeDZKdHpZcVE&export=download
      label: 'DWQMonitoredLakes: Shapefile'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mc1Z0ZlZWS0RfT0E&export=download
      label: 'LakeMonitoring: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mSGJ0MFdvdE4zSUU&export=download
      label: 'LakeMonitoring: Shapefile'
  updates:
    - 2010
GroundWaterPermits:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mbG5PU05qZ3FIeTA&export=download
      label: 'DWQGroundWaterPermits: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7maXd1S0M3WmdJa2M&export=download
      label: 'DWQGroundWaterPermits: Shapefile'
  updates:
    - 2010
StreamMonitoredSites:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mTXJiN0g3YnpJaUk&export=download
      label: 'StreamMonitoredSites: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mZFNNbVJ4SzVRNGM&export=download
      label: 'StreamMonitoredSites: Shapefile'
  updates:
    - 2007
---
<figure class="caption caption--right">
  <img class="caption__image" src="{{ "/images/EnviroWaterLarge.png" | prepend: site.baseurl }}" alt="DEQ Water-Related Data Graphic" />
  <figcaption class="caption__text">DEQ Water-Related Data</figcaption>
</figure>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mVFFHQ1VWU3pHWjA"
  name="DEQ Water-Related Monitoring"
  stewards="Utah Department of Environmental Quality"
  webapp="https://enviro.deq.utah.gov/"
  abstract="The DEQ's Division of Water Quality is responsible for safe drinking water and monitoring water quality. Below are DEQ datasets related to protection zones for drinking water. To view all DEQ geographic data online, see the <a href='https://enviro.deq.utah.gov/'>DEQ Interactive Map Viewer</a>" %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="AssessmentUnits">
      <a href="#AssessmentUnits" class="anchor--link">Assessment Units</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/enviromonitoredlakes.png" | prepend: site.baseurl }}" alt="Lakes" />
    <p>Environment.DWQAssessmentUnits contains areas of water quality assessment units in Utah.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.drinking_water %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-water-quality/">DEQ: Division of Water Quality</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
    </ul>
  </div>
  {% include packagedata.html name="AssessmentUnits"
     info=page.AssessmentUnits %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="MonitoredLakes">
      <a href="#MonitoredLankes" class="anchor--link">Monitored Lakes</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/enviromonitoredlakes.png" | prepend: site.baseurl }}" alt="Lakes" />
    <p>Environment.DWQMonitoredLakes132 contains locations of the 132 lakes in Utah monitored for water quality by the Division of Water Quality (Department of Environmental Quality). Environment.LakeMonitoring contains 729 Monitored Lakes. Each location is a point, which is located within the lake's high water level shoreline.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.drinking_water %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-water-quality/">DEQ: Division of Water Quality</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
    </ul>
  </div>
  {% include packagedata.html name="MonitoredLakes"
     info=page.MonitoredLakes %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
      <h3 id="GroundWaterPermits">
        <a href="#GroundWaterPermits" class="anchor--link">Ground Water Permits</a>
      </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/enviromowaterpermits.png" | prepend: site.baseurl }}" alt="Ground Water Permits" />
    <p>Environment.DWQGroundWaterPermits contains the location, permittee, permitted activity or facility for groundwater permits, and the Utah Division of Water Quality (DWQ) staff personnel handling the permit.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.drinking_water %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-water-quality/">DEQ: Division of Water Quality</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
    </ul>
  </div>
  {% include packagedata.html name="GroundWaterPermits"
     info=page.GroundWaterPermits %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="StreamMonitoredSites">
      <a href="#StreamMonitoredSites" class="anchor--link">Stream Monitored Sites</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/enviromowaterpermits.png" | prepend: site.baseurl }}" alt="Stream Monotord Sites" />
    <p>Environment.StreamMonitoredSites contains locations for stream water quality monitoring sites in Utah</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.drinking_water %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://deq.utah.gov/division-water-quality/">DEQ: Division of Water Quality</a>
      <li><a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a>
    </ul>
  </div>
  {% include packagedata.html name="StreamMonitoredSites"
     info=page.StreamMonitoredSites %}
</div>
