---
import ButtonLink from './ButtonLink.astro';

interface Props {
  title: string;
  actionUrl: string;
  actionText?: string;
  class?: string;
}

const { title, actionText = 'See more', actionUrl, class: className } = Astro.props;
---

<section class:list={['flex min-w-80 max-w-lg grow-0 flex-col xl:w-80', className]}>
  <div
    class="flex max-h-80 justify-center overflow-hidden rounded-t-2xl border border-b-0 border-zinc-400 bg-primary xl:max-h-44 dark:border-white/20 dark:bg-black/40"
  >
    <slot name="image" />
  </div>
  <div
    class="flex flex-1 flex-col rounded-b-2xl border border-t-0 border-zinc-400 bg-white px-7 py-6 leading-tight shadow dark:border-white/20 dark:bg-black/40"
  >
    <header>
      <h3 class="text-primary dark:text-zinc-300">{title}</h3>
    </header>
    <p class="card grow text-zinc-600 dark:text-zinc-400">
      <slot />
    </p>
    <footer class="flex flex-row-reverse pt-4">
      <ButtonLink href={actionUrl} decorate="arrow">
        {actionText}
      </ButtonLink>
    </footer>
  </div>
</section>
