---
interface Props {
  href: string;
  code: string;
  title: string;
}
const { href, code, title } = Astro.props;
---

<div class="flex rounded-lg border border-zinc-400 bg-primary px-6 py-3 dark:border-white/20">
  <div class="flex grow flex-col">
    <h4 class="uppercase text-zinc-50">{title}</h4>
    <p class="font-semibold uppercase text-accent">{code}</p>
    <div class="primary-background pr-2 text-sm text-zinc-50">
      <slot />
    </div>
  </div>
  <a href={href} class="custom-style -mr-4 self-center justify-self-end text-2xl text-zinc-50">&#x2192;</a>
</div>
