---
interface Props {
  title: string;
  href: string;
  class?: string;
}

const { title, href, class: className } = Astro.props;
---

<a
  href={href}
  class:list={[
    'custom-style flex h-24 rounded-lg border border-zinc-400 bg-primary px-6 py-3 text-zinc-50 shadow dark:border-white/20',
    className,
    style === 'secondary' && 'dark:bg-secondary',
  ]}
>
  <div class="flex grow flex-col">
    <h3 class="text-sm font-bold uppercase md:text-base">{title}</h3>
    <p class="line-clamp-2 pr-2 text-sm text-zinc-300"><slot /></p>
  </div>
  {href.startsWith('/') && <span class="-mr-4 self-center justify-self-end text-2xl">&#x2192;</span>}
  {
    href.startsWith('http') && (
      <span class="-mr-4 self-center justify-self-end text-2xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          />
        </svg>
      </span>
    )
  }
</a>
