---
import ButtonLink from './ButtonLink.astro';

interface Props {
  title: string;
  actionText?: string;
  class?: string;
  actionUrl?: string;
}

const { title, actionText = 'See more', actionUrl } = Astro.props;
---

<div class="grid grid-cols-150 rounded-lg shadow">
  <div class="flex h-full rounded-l-lg border border-r-0 border-zinc-400 px-2 dark:border-white/20 dark:bg-zinc-900/70">
    <slot name="image" />
  </div>
  <div
    class="flex flex-auto flex-col rounded-r-lg border border-zinc-400 bg-white px-7 py-6 leading-tight dark:border-white/20 dark:bg-zinc-900/50"
  >
    <h3 class="text-primary dark:text-zinc-200">{title}</h3>
    <div class="card text-zinc-500 lg:min-w-72 dark:text-zinc-300">
      <slot />
    </div>
    {
      actionUrl && (
        <div class="flex flex-row-reverse pt-4 align-baseline">
          <ButtonLink href={actionUrl} decorate="arrow">
            {actionText}
          </ButtonLink>
        </div>
      )
    }
  </div>
</div>
