---

---

<!-- <div class="grid grid-cols-1 justify-around justify-items-center gap-[1.7em] xl:max-w-none xl:grid-cols-3 xl:gap-10"> -->
<div class="grid grid-cols-1 justify-items-center gap-6 px-4 lg:grid-cols-3 lg:px-0 xl:gap-10">
  <slot />
</div>
