---
type Props = {
  id: number;
};

const { id } = Astro.props;
const url = `https://www.buzzsprout.com/${id}.js?container_id=podcast-${id}&player=small&limit=1`;
---

<div id={`podcast-${id}`}></div>

<script is:inline async src={url}></script>
