---
interface Props {
  links: {
    [key: string]: {
      sectionTitle: string;
    };
  };
}

const { links } = Astro.props;
---

<div class="my-6 flex flex-col items-center gap-2 border-b border-black/30 pb-6 dark:border-white/30">
  <p class="text-lg dark:text-white">Quick Links</p>
  <ul class="flex w-full flex-wrap justify-center gap-x-8 gap-y-2 whitespace-pre">
    {
      Object.entries(links).map(([key, value]) => (
        <li>
          <a href={'#' + value.sectionTitle.toLowerCase().replaceAll(' ', '-')}>{key}</a>
        </li>
      ))
    }
  </ul>
</div>
