---
interface Links {
  name: string;
  anchor: string;
}

interface Props {
  links: Links[];
}

const { links } = Astro.props;
---

<div class="mb-6 flex flex-col items-center gap-2 border-b border-black/30 pb-6">
  <p class="text-lg">Quick Links</p>
  <ul class="flex w-full flex-wrap justify-center gap-x-8 gap-y-2 whitespace-pre">
    {
      links.map((link) => (
        <li>
          <a href={'#' + link.anchor.toLowerCase().replaceAll(' ', '-')}>{link.name}</a>
        </li>
      ))
    }
  </ul>
</div>
