---
import ButtonLink from '@components/page/ButtonLink.astro';
import SectionTitle from '@components/page/supporting/SectionTitle.astro';
interface Props {
  actionUrl?: string;
  actionText?: string;
  title?: string;
  subTitle?: string;
  stripe?: boolean;
  primary?: boolean;
}
const { actionUrl, actionText, title, subTitle, stripe, primary } = Astro.props;
const hasImage = await Astro.slots.render('image');
---

<section
  class:list={[
    'w-full pb-16 pt-10',
    stripe
      ? primary
        ? 'primary-background bg-primary text-zinc-50'
        : 'stripe-background bg-white dark:bg-primary dark:text-zinc-300'
      : 'bg-zinc-200 dark:bg-zinc-900 dark:text-zinc-300',
  ]}
>
  {title && <SectionTitle title={title} subTitle={subTitle} />}
  <div class="flex justify-center px-6">
    <div
      class:list={[
        'grid max-w-prose grow grid-cols-1 gap-12 md:max-w-screen-lg lg:px-8 2xl:px-0',
        hasImage ? 'lg:grid-cols-2' : null,
      ]}
    >
      <div class="flex flex-1 flex-col gap-6 self-center">
        <slot />
        {
          actionUrl && (
            <div class="max-w-fit">
              <ButtonLink href={actionUrl} decorate="arrow" color="secondary">
                {actionText}
              </ButtonLink>
            </div>
          )
        }
      </div>
      {
        hasImage?.length && (
          <div class:list={['flex items-start justify-center', stripe ? 'order-first' : 'order-last']}>
            <slot name="image" />
          </div>
        )
      }
    </div>
  </div>
</section>
