---
tags:
  - faults
  - geoscience
author:
  display_name: Zach Beck
  email: zbeck@utah.gov
date: 2015-07-07 16:53:14 -0600
categories: []
QuaternaryFaults:
  hub:
    name: Utah Quaternary Faults
    item_id: 23479a1b2118464faf4d410f436d83b4
  updates:
    - March 2020
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/faults.png %}" alt="Quaternary Faults" />
  <figcaption class="caption__text">Quaternary Faults</figcaption>
</figure>
{% include abstract.html
name="Quaternary Faults"
stewards="AGRC"
abstract="The mapped Quaternary faults and folds in the State of Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="QuaternaryFaults">Quaternary Faults</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/faults_sml.png %}" alt="Quaternary Fault Lines" />
    <p>Quaternary Faults represent The Utah Geological Survey Quaternary Fault and Fold Database and Map of Utah. This data is a compilation of existing information on faults and fault-related folds considered to be potential earthquake sources (i.e., “active” faults and folds). The faults and folds contained in the database are those considered to have been sources of large earthquakes (about magnitude 6.5 or greater) during the Quaternary Period (past 2.6 million years); these geologic structures are the most likely sources of large earthquakes in the future. The data set is intended to be a comprehensive source of the most current information available for characterizing active faults and folds in Utah for seismic-hazard analysis. This version of the data incorporates fault data from geologic maps and other documents formally published through 2013.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://geology.utah.gov/hazards/earthquakes-faults/utah-faults">Geology.utah.gov fault information</a>
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: Utah Geological Survey, State of Utah, SGID. Quaternary faults were created and maintained by the Utah Geological Survey.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.faults %}</p>
  </div>
  {% include packagedata.html name="QuaternaryFaults"
  info=page.QuaternaryFaults %}
</div>
