---
status: publish
layout: page
tags:
  - geoscience
  - faults
author:
  display_name: Zach Beck
  email: zbeck@utah.gov
published: true
date: 2015-07-07 16:53:14 -0600
title: Quaternary Faults
categories: []
QuaternaryFaults:
  downloads:
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mV0wwbDRsVG5UdGs&export=download"
      label: "Quaternary Faults: File Geodatabase"
    - url: "https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mUHVuQkgtbG4wZG8&export=download"
      label: "Quaternary Faults: Shapefile"
  updates:
    - January 2017
---
<div class="caption">
  <img src="{{ "/images/faults.png" | prepend: site.baseurl }}" alt="Quaternary Faults" />
  <p class="caption-text">Quaternary Faults</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mUVFWSVNEOTViN0k"
name="Quaternary Faults"
stewards="AGRC"
abstract="The mapped Quaternary faults and folds in the State of Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="QuaternaryFaults">
      <a href="#QuaternaryFaults" class="anchor--link">Quaternary Faults</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/faults_sml.png" | prepend: site.baseurl }}" alt="Quaternary Fault Lines" />
    <p>Geoscience.QuaternaryFaults represents The Utah Geological Survey Quaternary Fault and Fold Database and Map of Utah. This data is a compilation of existing information on faults and fault-related folds considered to be potential earthquake sources (i.e., “active” faults and folds). The faults and folds contained in the database are those considered to have been sources of large earthquakes (about magnitude 6.5 or greater) during the Quaternary Period (past 2.6 million years); these geologic structures are the most likely sources of large earthquakes in the future. The data set is intended to be a comprehensive source of the most current information available for characterizing active faults and folds in Utah for seismic-hazard analysis. This version of the data incorporates fault data from geologic maps and other documents formally published through 2013.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://geology.utah.gov/hazards/earthquakes-faults/utah-faults">Geology.utah.gov fault information</a>
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: Utah Geological Survey, State of Utah, SGID. Quaternary faults were created and maintained by the Utah Geological Survey.</p>
    <p>Questions can be direction to <a href="mailto:gdouglass@utah.gov">Gordon Douglass</a> (801.538.4810) at UGS.</p>
  </div>
  {% include packagedata.html name="QuaternaryFaults"
  info=page.QuaternaryFaults %}
</div>
