---
title: USGS DEM and NED Indices
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
tags:
  - data
  - dem
  - indices
categories: []
date: 2011-09-15 14:40:08 -0600
USGSDigitalElevationModel:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mZ29KeWlRMmlOOVE
      label: 'USGS 10, 30 and 90 Meter DEM Index: File Geodatabase'
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mUlM2dm0wMFo3ZEE
      label: 'USGS 10, 30 and 90 Meter DEM Index: Shapefile'
  updates:
    - No planned updates
USGSNationalElevationDataset:
  downloads:
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mMTZoYXU2WHVVN0E
      label: 'USGS 10 and 30 Meter NED DEM Index: File Geodatabase'
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mR3Q5azJIRDFHOW8
      label: 'USGS 10 and 30 Meter NED DEM Index: Shapefile'
  updates:
    - No planned updates
---
<div class="caption">
  <img src="{{ "/images/DEM-Index-UT_LG.png" | prepend: site.baseurl }}" alt="DEM Index" />
  <p class="caption-text">USGS DEM Index</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mRHpHSWdFWkwtTGs"
    name="DEM and NED Indices"
    abstract="This dataset contains GIS mapping data representing the tile indices for the USGS DEM and NED elevation datasets for Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="USGSDigitalElevationModel(DEM)Indices">
      <a href="#USGSDigitalElevationModel(DEM)Indices" class="anchor--link">USGS Digital Elevation Model (DEM) Indices</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/thumbs/thumbs_dem-index-ut.jpg" | prepend: site.baseurl }}" alt="DEM Index" />
    <p>The USGS 24K tile index can be used to determine the 7.5 minute, 1:24,000 scale boundaries of the 10, 30, and 90 meter USGS DEMs for Utah.</p>
    <p>Each tile index contains the following attribute fields. The 10 and 30 meter USGS DEMs are named according the OHIO_CODE attribute:</p>
    <ul class="dotless">
      <li><strong>Name</strong> - the name of the map
      <li><strong>OHIO_CODE</strong> - code used by USGS
      <li><strong>TILE</strong> - the image tile name on FTP site
      <li><strong>PATH</strong> - the directory where the topographic map tile resides on the FTP site
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision).</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{{ "/data/elevation-and-terrain/#USGSDEM" | prepend: site.baseurl }}">10, 30 and 90 meter USGS DEMs</a>
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.INDICES.USGS24KQuads.xml">FGDC format metadata</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
  {% include packagedata.html name="USGSDigitalElevationModel" info=page.USGSDigitalElevationModel %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="USGSNationalElevationDataset(NED)Indices">
      <a href="#USGSNationalElevationDataset(NED)Indices" class="anchor--link">USGS National Elevation Dataset (NED) Indices</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/thumbs/thumbs_ned-index-ut.jpg" | prepend: site.baseurl }}" alt="NED Index" />
    <p>The USGS 24K tile index can be used to determine the 7.5 minute, 1:24,000 scale boundaries of the 10 and 30 meter USGS NED tiles for Utah.</p>
    <p>Each tile index contains the following attribute fields. The 10 meter USGS NED tiles are named according the TILE attribute:</p>
    <ul class="dotless">
      <li><strong>TILE</strong> - the image tile name on FTP site
      <li><strong>PATH</strong> - the directory where the topographic map tile resides on the FTP site
    </ul>
    <p>In addition to 10 meter NED available by 24K quad, there are county mosaics of the 10 and 30 meter datasets.</p>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). Changes and updates are not planned to this dataset. There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah, SGID.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{{ "/data/elevation-and-terrain/#USGSNED" | prepend: site.baseurl }}">Download 10 and 30 meter USGS NED DEMs</a>
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.INDICES.NED10_Quads.xml">View FGDC format metadata</a><br />
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
  {% include packagedata.html name="USGSDigitalElevationModel" info=page.USGSDigitalElevationModel %}
</div>
