---
tags:
  - geoscience
  - soil
author:
  display_name: JP
  email: ugrc@utah.gov
date: 2011-11-21 10:47:27 -0700
categories: []
Soil:
  downloads:
    - url: https://opendata.gis.utah.gov/datasets/utah-soils
      label: Soils
  updates:
    - 2022
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/Soils.png %}" alt="soil types" loading="lazy" />
  <figcaption class="caption__text">Soils</figcaption>
</figure>
{% include abstract.html name="Soils"
stewards="U.S. Department of Agriculture, Natural Resources Conservation Service"
abstract="Soil types and characteristics of Utah derived from the SSURGO database." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Soil">Soils</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>Utah Soils is a subset of the more comprehensive Natural Resources Conservation Service (NRCS) SSURGO database. 
      The SSURGO database is a collection of 6 feature classes, one raster, 76 tables, and 69 relationship classes that 
      represent over a century's worth of soil data collected by the National Cooperative Soil Survey. 
      Utah Soils is a collection of the more widely used SSURGO soil attributes and SSURGO MUPOLYGON geometry to provide 
      users an overview of Utah soils data without the complexity of the SSURGO database itself. Users are encouraged to 
      explore the SSURGO database found <a href="https://nrcs.app.box.com/v/soils">here</a> 
      for a more detailed description of the soils of Utah. More information about NRCS and SSURGO can also be found 
      <a href="https://www.nrcs.usda.gov/wps/portal/nrcs/site/soils/home/">here.</a></p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Soil" info=page.Soil %}
