---
status: publish
layout: page
tags:
  - geoscience
  - soil
author:
  display_name: JP
  email: agrc@utah.gov
published: true
date: 2011-11-21 10:47:27 -0700
title: Soil Types
categories: []
Soil:
  downloads:
    - url: "https://drive.google.com/drive/folders/0ByStJjVZ7c7mSDFxRU8waXdBQ28"
      label: "Soil Types"
  updates:
    - 2008
---
<div class="caption">
  <img title="map" src="{{ "/images/Soils.png" | prepend: site.baseurl }}" alt="soil types" />
  <p class="caption-text">Soil Types</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mSDFxRU8waXdBQ28"
name="Soil Types"
stewards="U.S. Department of Agriculture, Natural Resources Conservation Service"
abstract="Geoscience.Soils represents the extent of defined soil types throughout Utah. The dataset was created by digitizing maps, compiling information onto a planimetric correct base and digitizing or revising digitized maps using remotely sensed and other information. It is generally the most detailed level of soil geographic data developed by the National Cooperative Soil Survey." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Soil">
      <a href="#Soil" class="anchor--link">Soil Types</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>All surveys areas have their own tables which are not interchangeable.  All sets of tables are found at the <a href="http://www.nrcs.usda.gov/wps/portal/nrcs/main/ut/soils/surveys/">NRCS Soil Mart</a>.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.GEOSCIENCE.Soils.xml">FGDC Metadata</a>
    </ul>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="Soil"
  info=page.Soil %}
