---
status: publish
layout: page
tags:
  - dem
  - elevation
  - las
  - lidar
  - raster
  - terrain
  - topographic
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
published: true
date: 2013-02-20 17:29:07 -0700
title: 2011 1 Meter LiDAR Elevation Data
categories: []
1Meter:
  downloads:
    - url: "http://opentopo.sdsc.edu/gridsphere/gridsphere?gs_action=lidarDataset&cid=geonlidarframeportlet&opentopoID=OTLAS.042013.26912.1"
      label: "All available 2011 LiDAR products from Open Topography"
  updates:
    - 2011
---
{% include abstract.html
name="2011 1 Meter LiDAR Elevation Data"
stewards=""
type="img and las format LiDAR"
webapp="http://raster.utah.gov/?cat=1%20Meter%20%7B2011%20LiDAR%7D"
abstract="AGRC has 1 meter LiDAR in <code>.img</code> and <code>.las</code> format for various areas of the state collected during 2011." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="1Meter">
      <a href="#1Meter" class="anchor--link">1 Meter LiDAR</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>The DEMs are available from our <a href='ftp://ftp.agrc.utah.gov/LiDAR/'>FTP site</a> but the DSM and .85 meter classified point clouds are available <a href='mailto:rkelson@utah.gov'>by request</a> or from <a href='http://opentopo.sdsc.edu/gridsphere/gridsphere?gs_action=lidarDataset&cid=geonlidarframeportlet&opentopoID=OTLAS.042013.26912.1'>Open Topography</a>. The areas include the north, east, and south sides of the Great Salt Lake, Cedar Valley, Hurricane Fault, and more.</p>
    <p>Use this <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/INDICES/UnpackagedData/LiDAR2011_1m/LiDAR2011_1m_TileIndices.gdb.zip">geodatabase</a> or this collection of <a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/INDICES/UnpackagedData/LiDAR2011_1m/LiDAR2011_1m_TileIndices.shp.zip">shapefiles</a> containing the tile indices and boundaries to determine what imagery files to download. The <strong>LiDAR DEM</strong> files are in a <code>.img</code> format and are around 10 mb per 2,000x2,000 meter block. This data has a UTM NAD83 NAVD88 Meters zone 12 Geoid 08 projection.</p>
    <p> If you have any trouble contact <a href="mailto:rkelson@utah.gov">Rick Kelson</a> at (801-538-3237) </p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="http://geology.utah.gov/resources/data-databases/lidar-elevation-data/">Utah Geologic Survery (UGS) article</a>
    </ul>
  </div>
  {% include packagedata.html name="1Meter"
  info=page.1Meter %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="BearRiver">
      <a href="#BearRiver" class="anchor--link">Bear River</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Bear River" href="{{ "/downloads/BearRiver.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/BearRiver_sm.jpg" | prepend: site.baseurl }}" alt="Bear River" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/BearRiver_2011/BearRiver_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/BearRiver_2011/BearRiver_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/BearRiver_2011/GSL_BearRiver_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/BearRiver_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="CederValley">
      <a href="#CederValley" class="anchor--link">Cedar Valley</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Cedar Valley" href="{{ "/downloads/CedarValley.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/CedarValley_sm.jpg" | prepend: site.baseurl }}" alt="Cedar Valley" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/CedarValley_2011/CedarValley_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/CedarValley_2011/CedarValley_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/CedarValley_2011/CedarValley_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/CedarValley_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GSL-North">
      <a href="#GSL-North" class="anchor--link">Great Salt Lake (North)</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Great Salt Lake (North)" href="{{ "/downloads/GSL_North.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/GSL_North_sm.jpg" | prepend: site.baseurl }}" alt="Great Salt Lake (North)" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_North_2011/GSL_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_North_2011/GSL_North_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_North_2011/GSL_North_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_North_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GSL-Middle">
      <a href="#GSL-Middle" class="anchor--link">Great Salt Lake (Middle)</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Great Salt Lake (Middle)" href="{{ "/downloads/GSL_Middle.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/GSL_Middle_sm.jpg" | prepend: site.baseurl }}" alt="Great Salt Lake (Middle)" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_Middle_2011/GSL_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_Middle_2011/GSL_Middle_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_Middle_2011/GSL_Middle_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_Middle_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GSL-South">
      <a href="#GSL-South" class="anchor--link">Great Salt Lake (South)</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Great Salt Lake (South)" href="{{ "/downloads/GSL_South.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/GSL_South_sm.jpg" | prepend: site.baseurl }}" alt="Great Salt Lake (South)" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_South_2011/GSL_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_South_2011/GSL_South_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_South_2011/GSL_South_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_South_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GSL-Tooele">
      <a href="#GSL-Tooele" class="anchor--link">Great Salt Lake (Tooele)</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Great Salt Lake (Tooele)" href="{{ "/downloads/GSL_Tooele.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/GSL_Tooele_sm.jpg" | prepend: site.baseurl }}" alt="Great Salt Lake (Tooele)" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_Tooele_2011/GSL_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_Tooele_2011/GSL_Tooele_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_Tooele_2011/GSL_Tooele_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/GSL_Tooele_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="HurricaneFault">
      <a href="#HurricaneFault" class="anchor--link">Hurricane Fault</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Hurricane Fault" href="{{ "/downloads/HurricaneFault.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/HurricaneFault_sm.jpg" | prepend: site.baseurl }}" alt="Hurricane Fault" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/HurricaneFault_2011/HurricaneFault_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/HurricaneFault_2011/HurricaneFault_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/HurricaneFault_2011/HurricaneFault_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/HurricaneFault_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Ogden">
      <a href="#Ogden" class="anchor--link">Ogden</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Ogden" href="{{ "/downloads/OgdenFEMA.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/OgdenFEMA_sm.jpg" | prepend: site.baseurl }}" alt="Ogden" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/OgdenFEMA_2011/OgdenFEMA_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/OgdenFEMA_2011/OgdenFEMA_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/OgdenFEMA_2011/OgdenFEMA_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/OgdenFEMA_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="OgdenValley">
      <a href="#OgdenValley" class="anchor--link">Ogden Valley (Weber County Upper Valley)</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Ogden Valley (Weber County Upper Valley)" href="{{ "/downloads/OgdenValley.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/OgdenValley_sm.jpg" | prepend: site.baseurl }}" alt="Ogden Valley (Weber County Upper Valley)" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/OgdenValley_2011/OgdenValley_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/OgdenValley_2011/OgdenValley_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/OgdenValley_2011/OgdenValley_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/OgdenValley_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="Lowry">
      <a href="#Lowry" class="anchor--link">Lowry Water</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <a alt="Lowry Water" href="{{ "/downloads/LowryWater.jpg" | prepend: site.baseurl }}">
      <img class="inline-text-left outline" src="{{ "/images/LowryWater_sm.jpg" | prepend: site.baseurl }}" alt="Lowry Water" />
    </a>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/LowryWater_2011/LowryWater_CompletionReport.docx">Information and Specifications</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/LowryWater_2011/LowryWater_2011_QA_Report.pdf">QA Report</a> and <a href="ftp://ftp.agrc.utah.gov/LiDAR/LowryWater_2011/LowryWater_DEM_Metadata.xml">Metadata</a>
      <li><a href="ftp://ftp.agrc.utah.gov/LiDAR/LowryWater_2011/DEM/">Retrieve Bare Earth LiDAR DEMs via FTP site</a>
    </ul>
  </div>
</div>
