---
tags:
  - boating
  - recreation
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-22 15:00:17 -0700
categories: []
BoatRamps:
  hub:
    name: Utah Boat Ramps
    item_id: 0d12b74c39eb453088e992bf089d9890
  updates:
    - March 2009
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/BoatRamps.png %}" alt="Boat Ramps Sample" />
  <figcaption class="caption__text">Boat Ramps Sample</figcaption>
</figure>
{% include abstract.html name="Boat Ramps"
stewards="AGRC and DNR"
abstract="This dataset contains Utah Boat Ramps including State Parks, some National Park Service and other ramps. This dataset also contains the name of the boat ramp, the water body it is on, the type of vessels that can be launched, and the owner, agency, and administrator of the ramp." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="BoatRamps">Boat Ramps</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
    name="BoatRamps"
    info=page.BoatRamps
  %}
</div>
