---
import Layout from '../../layouts/Pillar.astro';
import Section from '../../components/page/Section.astro';
import CardWithPopularLink from '../../components/page/CardWithPopularLink.astro';
import CardWithSideImage from '../../components/page/CardWithSideImage.astro';
import CardWithSmallLink from '../../components/page/CardWithSmallLink.astro';
import CardWithTopImage from '../../components/page/CardWithTopImage.astro';
import GridForMoreResources from '../../components/page/GridForMoreResources.astro';
import GridForPillars from '../../components/page/GridForPillars.astro';
import GridForYouMightLike from '../../components/page/GridForYouMightLike.astro';
import GridForPopularResources from '../../components/page/GridForPopularResources.astro';

import { Image } from 'astro:assets';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/pillar-api/*.{svg,png}');
---

<Layout title="Discover base maps">
  <Fragment slot="popular-level-ones">
    <Section>
      <Fragment slot="title">Discover imagery and base maps</Fragment>
      <Image
        src={images['/src/images/pillar-api/api-logo.svg']()}
        slot="image"
        loading="eager"
        alt="wavy gravy api logo"
        class="w-full rounded-2xl dark:brightness-200 dark:grayscale"
      />
      <p>
        Elevate your GIS, CAD, and web applications with Discover, a cloud-based platform serving aerial imagery and
        base maps. These services are available in both WMTS and WMS formats from the Open Geospatial Consortium (OGC)
        for broad compatibility and are provided in the Web Mercator WGS84 projection (wkid/EPSG 3857).
      </p>
      <p>Discover offers over 20 services that are free to use (however, a few require a signed license agreement).</p>
    </Section>

    <Section stripe>
      <GridForPillars>
        <CardWithTopImage title="Sign up" actionText="Get started" actionUrl="/products/discover/access">
          <Image
            slot="image"
            src={images['/src/images/pillar-api/sign-up.svg']()}
            alt="a person using a search engine"
            class="block h-64 rounded-t-2xl bg-primary dark:bg-zinc-900/70"
          />
          The UGRC API is a free service that allows you to geocode and search SGID data. To use the API, you need to have
          an account and create API keys. These key are used to authenticate requests and to give you usage analytics. Click
          the link below to get started.
        </CardWithTopImage>
        <CardWithTopImage title="Services" actionText="View services" actionUrl="/products/discover/services">
          <Image
            slot="image"
            src={images['/src/images/pillar-api/documentation.svg']()}
            alt="a person connected to a database"
            class="block h-64 rounded-t-2xl bg-primary dark:bg-zinc-900/70"
          />
          There are many ways to use the UGRC API. We have created documentation to help you get started. Click the link
          below to learn more about the API and how to use it.
        </CardWithTopImage>
        <CardWithTopImage
          title="Title"
          actionText="See more"
          actionUrl="/products/discover/resources"
          class="lg:col-span-2 xl:col-span-1"
        >
          <Image
            slot="image"
            src={images['/src/images/pillar-api/api-client-install.svg']()}
            alt="people connected to a network through geography"
            class="block h-64 rounded-t-2xl bg-primary dark:bg-zinc-900/70"
          />
          The API Client is a desktop tool to thoughtfully guide you through the process of using the UGRC API to geocode
          your data. It allows you to geocode your data without any knowledge of the API. It requires no license and is free
          to use. Click the link below to download the application and visualize your data.
        </CardWithTopImage>
      </GridForPillars>
    </Section>
  </Fragment>

  <Fragment slot="popular-resources">
    <Section title="Popular Discover Resources">
      <GridForPopularResources>
        <CardWithPopularLink title="Raster discovery app" href="https://raster.utahgov">
          A web application for discovering and downloading aerial imagery and elevation data.
        </CardWithPopularLink>
        <CardWithPopularLink title="Best practices" href="/products/discover">
          Learn about best practices for using the Discover service.
        </CardWithPopularLink>
      </GridForPopularResources>
    </Section>
  </Fragment>

  <Fragment slot="more-resources">
    <Section title="More Discover Resources" stripe>
      <GridForMoreResources>
        <CardWithSideImage title="Privacy Policy" actionUrl="https://ut-dts-agrc-web-api-dev.web.app/privacy/">
          <Image
            slot="image"
            src={images['/src/images/pillar-api/privacy.svg']()}
            alt="a computer with a lock on the screen"
            class="self-center"
          />
          UGRC's data license and general data disclaimer.
        </CardWithSideImage>
        <CardWithSideImage title="API Self Service" actionUrl="https://ut-dts-agrc-web-api-dev-self-service.web.app/">
          <Image
            slot="image"
            src={images['/src/images/pillar-api/self-service.svg']()}
            alt="a person checking out at the grocery store"
            class="self-center"
          />
          The self service website to create, manage, and view analytics for your API keys.
        </CardWithSideImage>
      </GridForMoreResources>
    </Section>
  </Fragment>

  <Fragment slot="you-might-also-like">
    <Section title="You might also like">
      <GridForYouMightLike>
        <CardWithSmallLink title="Base maps" href="/products/data/base-maps-and-imagery">Content.</CardWithSmallLink>
        <CardWithSmallLink title="SGID" href="/products/sgid">
          View the data from the base maps in the SGID.
        </CardWithSmallLink>
      </GridForYouMightLike>
    </Section>
  </Fragment>
</Layout>
