---
title: Contour Line Extents and Indices
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
tags:
  - contour
  - data
  - indices
categories: []
date: 2011-09-15 13:27:33 -0600
ContourLineExtents:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mN1RSVlNHVWNSYUU&export=download
      label: 'Contour Line Extents: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mZTR4aFNqNjhpVlU&export=download
      label: 'Contour Line Extents: Shapefile'
  updates:
    - July 2011
SaltLakeCounty2MeterContourLineIndex:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mc29oNmE3SWVFYTA&export=download
      label: '2006 Salt Lake County 2 Meter Contours Index: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mMDVIakhMNzVQWFk&export=download
      label: '2006 Salt Lake County 2 Meter Contours Index: Shapefile'
    - url: ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/ELEVATION/UnpackagedData/Contours_2Meter_SLCounty/_Statewide/Contours_2Meter_SLCounty_gdb.zip
      label: '2006 Salt Lake County 2 meter Contours: File Geodatabase'
  updates:
    - No updates planned
---
<div class="caption">
  <img src="{{ "/images/gallery/sgid/contour-line-extents-index-ut.jpg" | prepend: site.baseurl }}" alt="Contour Sample" />
  <p class="caption-text">Contour Line Extent and Index</p>
</div>
{% include abstract.html
  download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mTjRWQjY4c1g2REk"
  name="Contour Lines and Extents"
  abstract="This dataset contains GIS mapping data representing the contour lines available in the State of Utah. The 'Extents' and the boundaries of the contour lines while the 'Indices' are the individual contour line tiles covered by the 'Extents'." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="ContourLineExtents">
      <a href="#ContourLineExtents" class="anchor--link">Contour Line Extents</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/contour-line-extents-ut.jpg" | prepend: site.baseurl }}" alt="Contour Extent Sample" />
    <p>INDICES.Contour_Line_Extents is a polygon dataset of the areas where contour line data is available in the State of Utah.</p>
    <p>INDICES.Contour_Line_Extents is intended to be used to determine what contour line datasets are available for areas across the State of Utah.</p>
    <div>Each polygon extent contains the following attribute fields when available or applicable:</div>
    <ul class="dotless">
      <li><strong>Interval</strong> - the interval of the contour lines
      <li><strong>Year_Collected</strong> - the year collected
      <li><strong>Description</strong> - a short description
      <li><strong>File_Format</strong> - the file format
      <li><strong>File_Extension</strong> - the file extension
      <li><strong>Average_File_Size</strong> - the average file size of an individual image tile
      <li><strong>Total_Size</strong> - the total file size of the entire product collection
      <li><strong>Horizontal_Accuracy</strong> - the horizontal positional accuracy
      <li><strong>Vertical_Accuracy</strong> - the vertical positional accuracy
      <li><strong>Total_Square_Miles</strong> - the total square miles of the dataset
      <li><strong>Contact</strong> - contact information
      <li><strong>In_House</strong> - whether or not it is distributed from AGRC's FTP site
      <li><strong>FTP_Path</strong> - the FTP directory to download the data from
      <li><strong>Product</strong> - a generalize product name
      <li><strong>Category</strong> - a generalized product category name
      <li><strong>Estimated_Date</strong> - an estimated date the data was collected
      <li><strong>HTML_Page</strong> - the URL to a webpage for the product
      <li><strong>REST_Endpoint</strong> - the REST end point URL
      <li><strong>LYR_File</strong> - a layer pointer and symbology
      <li><strong>FlightDate_Location</strong> - where to find the exact flight date for each individual tile of data
      <li><strong>Tile_Index</strong> - the tile index in the SGID for each product
      <li><strong>Upload_Date</strong> - the date the polygon extent was loaded into the dataset
    </ul>
    <p>Changes and updates are made as new contour lines are acquired in Utah. The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
  {% include packagedata.html name="ContourLineExtents" info=page.ContourLineExtents %}
</div>
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="SaltLakeCounty2MeterContourLineIndex">
      <a href="#SaltLakeCounty2MeterContourLineIndex" class="anchor--link">Salt Lake County 2 Meter Contour Line Index</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ "/images/gallery/sgid/contour-line-index-ut.jpg" | prepend: site.baseurl }}" alt="Contour Line" />
    <p>INDICES.Contours_2meter_SLCounty tile index can be used to determine the boundaries of contour line data in Salt Lake County, UT. These contours were derived from 2 meter LiDAR collected in 2006. No smoothing has been applied to these contours.</p>
    <div>Each tile index contain the following attribute fields</div>
    <ul class="dotless">
      <li><strong>TILE</strong> - the shapefile tile name
      <li><strong>PATH</strong> - the directory where the contour tile resides on the FTP site
      <li><strong>SIZE</strong> - the average file size of each tile
      <li><strong>Interval</strong> - the contour interval of the contour lines
    </ul>
    <p>The native spatial reference for this dataset is UTM Zone 12N, NAD83 (0.01 meter coordinate precision). There are no constraints or warranties with regard to the use of this dataset. Users are encouraged to attribute content to: State of Utah, SGID.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.indices %}</p>
  </div>
    {% include packagedata.html name="SaltLakeCounty2MeterContourLineIndex" info=page.SaltLakeCounty2MeterContourLineIndex %}
</div>
