---
author:
  display_name: Greg Bunce
  email: gbunce@utah.gov
tags:
  - '911'
  - dispatch
  - ems
  - fire
  - law enforcement
  - next generation 911
  - psap
date: 2017-12-27 11:06:38 -0600
categories: []
NG911:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=1Sp6v4FmNV5fhdfEWPTxPGHMbnz-yeY47&export=download
      label: 'UtahNG911GIS: File Geodatabase'
  updates:
    - December 07, 2020
  endpoints:
    - url: https://opendata.gis.utah.gov/datasets/utah-public-safety-answering-point-boundaries
      label: Open Data Feature Layer (PSAP Boundaries)
    - url: https://opendata.gis.utah.gov/datasets/utah-public-safety-answering-point-locations
      label: Open Data Feature Layer (PSAP Locations)
---
<figure class="caption caption--right">
  <img class="caption__image" src="{% link images/utah-911-gis-database-thumbnail.png %}" alt="NG911 Sample" loading="lazy" />
  <figcaption class="caption__text">Sample of NG911 Dataset</figcaption>
</figure>
{% include abstract.html
   name="911"
   exclude_parent=true
   type="GIS Database"
   stewards="AGRC"
   abstract="This data package contains datasets relating to 911 data in Utah. The data provided in this package conforms to the National Emergency Number Association (NENA) standards for the NG9-1-1 Data Model. The primary source for these datasets is the SGID." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="NG911">Next Generation 911</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{% link images/PSAPBndy2.png %}" alt="PSAP Map" loading="lazy" />
    <p>The Utah NG911 GIS Database contains datasets conforming to the National Emergency Number Association (NENA) standards for the NG9-1-1 Data Model. In addition to the required Road Centerlines, Address Points, PSAP Boundary, Law Enforcement, Fire, and Emergency Medical Service datasets, the database also contains many of the recommended datasets including: Cell Towers, Counties, Hydrology Line, Streams, Lakes, Incorporated Municipalities, Mile Markers, Railroads, States, and Unincorporated Communities. This database also contains the recommended Road Centerlines’ Alias Names table and the Address Points’ Landmark Names Alias tables.</p>
    <p>At first, AGRC will update the Utah NG911 GIS Database on a monthly cycle - in conjunction with our <a href="{% link data/transportation/roads-system/index.html %}">road update cycle</a>. This dataset has been updated on this cycle since December 2017. Updates will become more frequent when AGRC finalizes a mechanism to receive direct edits from the authoritative data editors (ex: PSAPs, jurisdictions, sheriff’s office, etc.). This mechanism will ensure up-to-date, accurate data that AGRC will push into the Utah NG911 GIS Database. Updates to this NG911 database will become much more frequent when that mechanism becomes operational. It is our goal to keep these datasets as up-to-date and accurate as possible.</p>
    <p>Follow us on <a href="https://twitter.com/maputah?lang=en">Twitter</a>, where you will get information about updates. </p>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.roads %}</p>
  </div>
  {% include packagedata.html
    name="NG911"
    info=page.NG911
  %}
</div>
