---
status: publish
layout: page
tags:
  - recreation
  - golf
author:
  display_name: JP
  email: agrc@utah.gov
published: true
date: 2011-11-22 15:02:38 -0700
title: Golf Courses
categories: []
GolfCourses:
  downloads:
    - url: "https://drive.google.com/drive/folders/0ByStJjVZ7c7mZmdhbVRUdnlBeHc"
      label: "Golf Course Package"
  updates:
    - October 2016
---
<div class="caption">
  <img title="map" src="{{ "/images/GolfCourse.png" | prepend: site.baseurl }}" alt="Golf Course" />
  <p class="caption-text">Golf Course Sample</p>
</div>
{% include abstract.html download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mZmdhbVRUdnlBeHc"
name="Golf Courses"
stewards="AGRC"
abstract="This dataset represents golf course locations within the State of Utah. It should be noted that this is based on the Utah Golf Association's website list of golf corses in Utah and may be incomplete. This dataset also contains the name, city, number of holes, par, and type of gold course." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GolfCourses">
      <a href="#GolfCourses" class="anchor--link">Golf Courses</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>Contact <a href="mailto:agrc@utah.gov">AGRC</a></p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="ftp://ftp.agrc.utah.gov/UtahSGID_Vector/UTM12_NAD83/Metadata/SGID10.RECREATION.GolfCourses.xml">FGDC Metadata</a>
    </ul>
  </div>
  {% include packagedata.html
    name="GolfCourses"
    info=page.GolfCourses
  %}
</div>
