---
tags:
  - golf
  - recreation
author:
  display_name: JP
  email: ugrc@utah.gov
date: 2011-11-22 15:02:38 -0700
categories: []
GolfCourses:
  hub:
    name: Utah Golf Courses
    item_id: d1f957478ea24659a7badb754a22b91c
  updates:
    - September 2022 - removed 5 closed courses, added 7 new courses
    - October 2016
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/GolfCourse.png %}" alt="Golf Course" loading="lazy" />
  <figcaption class="caption__text">Golf Course Sample</figcaption>
</figure>
{% include abstract.html name="Golf Courses"
stewards="UGRC"
abstract="This polygon dataset represents golf course locations within the state of Utah. It should be noted that this is based on the Utah
Golf Association's list of golf courses, individual golf course websites, and other public data, and may be incomplete. This dataset contains
the name, city, number of holes, par, and type of golf course." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="GolfCourses">Golf Courses</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html
  name="GolfCourses"
  info=page.GolfCourses
  %}
</div>
