---
import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import Layout from '@layouts/FullWidth.astro';

import Blockquote from '@components/page/Blockquote.astro';
import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import NumberedList from '@components/page/NumberedList.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import policyPhoto from '@images/documentation/policy.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'Data license and disclaimer policy',
  pillar: Pillar.DOCUMENTATION,
  section: stripeSections([{}, { title: 'License' }, { title: 'Disclaimer' }]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      src={policyPhoto}
      slot="image"
      loading="eager"
      alt="A person agreeing to a terms of service agreement on a screen"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      The following applies to all services and content created or hosted by the Utah Geospatial Resource Center (UGRC),
      including SGID data hosted or aggregated by UGRC.
    </p>
    <p>There are two exceptions to this coverage:</p>
    <NumberedList>
      <li>
        The high-resolution imagery from Google and Hexagon, which have their own license and <a
          href="/documentation/discover/licensed-imagery#citation-and-logos">attribution requirements</a
        >.
      </li>
      <li>
        External data hosted by other organizations and included in the SGID by reference, which are subject to the
        licenses and disclaimers specified by their owners.
      </li>
    </NumberedList>
  </Section>
  <Section {...page.section[1]}>
    <p>
      Unless otherwise stated in a dataset's metadata, UGRC licenses our data and services under a <a
        href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a
      >.
    </p>
    <p>
      <a href="https://creativecommons.org/licenses/by/4.0/"
        ><Image
          src="https://i.creativecommons.org/l/by/4.0/88x31.png"
          alt="Creative Commons License"
          width="88"
          height="31"
        /></a
      >
    </p>
    <h3>License attribution</h3>
    <p>
      You should include <strong>appropriate attribution</strong> when using data or services provided by UGRC in your maps,
      web applications, or other content. This includes providing credit to UGRC and indicating if you made any changes to
      the data. We may consider exceptions to this requirement on a case-by-case basis.
    </p>
    <p>
      For referenced data hosted by other organizations (such as data from the Utah Geological Survey), please contact
      the owner for attribution guidelines.
    </p>
    <p>
      <strong>Detailed references</strong> in a paper or book should follow your particular style guide. Please include the
      last updated date if it is available in the metadata or the date you accessed/downloaded the data if not. For example,
      this is what it could look like in an MLA-esque format:
    </p>
    <Blockquote>
      <ul>
        <li>
          State Geographic Information Database. <em>Utah Address Points</em>. (Feature class). Salt Lake City, UT: Utah
          Geospatial Resource Center, July 2021. Geospatial point data. 27 July 2021.
          https://gis.utah.gov/data/location/address-data/.
        </li>
      </ul>
    </Blockquote>
    <p>
      <strong>Maps</strong> and <strong>web apps</strong> should include a reference to both UGRC and the SGID in the & "Sources"
      attribution:
    </p>
    <Blockquote>
      <ul>
        <li>Data Sources: ESRI, US Census Bureau, UGRC SGID (data modified), ...</li>
      </ul>
    </Blockquote>
    <p>
      Any <strong>data distributions</strong> (databases, web services, etc.) that contain SGID data must include credit
      to UGRC, a link to the <ExternalLink href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</ExternalLink> license,
      and a note of any changes made to the data. They should also include the disclaimer below and relevant metadata as
      outlined in our
      <a href="/documentation/policy/metadata">metadata policy</a>. The dataset's description could include the
      following line:
    </p>
    <Blockquote>
      <ul>
        <li>
          County boundary data derived from the UGRC SGID under the CC BY 4.0 license
          (https://creativecommons.org/licenses/by/4.0/). Several new fields were calculated from US Census Bureau data.
        </li>
      </ul>
    </Blockquote>
    <p>
      If you are using <strong>logos</strong> as part of your attribution, you can download our current logos in <code
        >.png</code
      >, <code>.ai</code>, and <code>.psd</code> formats from our <a href="/about/media">media resources</a> page.
    </p>
  </Section>
  <Section {...page.section[2]}>
    <p>
      We created the following standard disclaimer for all hosted SGID data with input from the State Attorney General's
      office:
    </p>
    <Blockquote style="secondary">
      <p>
        The data, including but not limited to geographic data, tabular data, and analytical data, are provided “as is”
        and “as available”, with no guarantees relating to the availability, completeness, or accuracy of data, and
        without any express or implied warranties.
      </p>
      <p>
        These data are provided as a public service for informational purposes only. You are solely responsible for
        obtaining the proper evaluation of a location and associated data by a qualified professional. UGRC reserves the
        right to change, revise, suspend or discontinue published data and services without notice at any time.
      </p>
      <p>
        Neither UGRC nor the State of Utah are responsible for any misuse or misrepresentation of the data. UGRC and the
        State of Utah are not obligated to provide you with any maintenance or support. The user assumes the entire risk
        as to the quality and performance of the data. You agree to hold the State of Utah harmless for any claims,
        liability, costs, and damages relating to your use of the data. You agree that your sole remedy for any
        dissatisfaction or claims is to discontinue use of the data.
      </p>
    </Blockquote>
    <p>
      We created this disclaimer with the hope that it could provide inspiration if you are looking for an example
      disclaimer. However, we are not lawyers. Please work with your own legal counsel before adopting a disclaimer. Any
      republished UGRC data should include this disclaimer in it's unmodified form.
    </p>
  </Section>
</Layout>
