---
tags:
  - alluvial
  - fans
  - geoscience
author:
  display_name: Rick Kelson
  email: rkelson@utah.gov
date: 2019-02-20 16:53:14 -0600
title: Alluvial Fans
categories: []
AlluvialFans:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=1Ngbke3E0JMF5YZb_XsfSGJFitsIaWt0A&export=download
      label: 'Alluvial Fans: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=1LpFkYmn-RIL1YXW-Ckn9PmvMj0_R9EoD&export=download
      label: 'Alluvial Fans: Shapefile'
    - url: https://drive.google.com/a/utah.gov/uc?id=1VbWmRBQrDsyYjvfgZYWlox618zI718zi&export=download
      label: 'Alluvial Fans: Field Photos: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=1GOA72L6zj1h7YLSgOdv4xWhvqhCrye3p&export=download
      label: 'Alluvial Fans: Field Photos: Shapefile'
  updates:
    - 2017
---
<div class="caption">
  <img src="{{ "/images/alluvialfans.png" | prepend: site.baseurl }}" alt="Alluvial Fans" />
  <p class="caption-text">Alluvial Fans</p>
</div>
{% include abstract.html download="???????????"
name="Alluvial Fans"
stewards="Utah Division of Emergency Management (DEM)"
abstract="Active Alluvial Fan designations for Utah. Data represents a combination of existing geologic mapping 1964 – 2013, USGS Quadrangles 1:24,000, 2-ft contour data, historical and modern aerial photography 1937 – 2017, UGS flood and landslide hazard mapping, FEMA National Flood Hazard Layer, and field investigation with photos. The primary risk classification used are high and medium based on the presence of population at risk. Data is supported by a full study report. More detailed information on alluvial fan hazards in Utah is available from the Division of Emergency Management." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="AlluvialFans">
      <a href="#AlluvialFans" class="anchor--link">Alluvial Fans</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>Alluvial fan landforms pose unique flooding hazards that are not present on non-fan landforms (e.g. rivers, streams, whose flooding hazards are commonly defined through Federal Emergency Management Agency (FEMA) regulatory floodplains). FEMA defines alluvial fan flooding as “Flooding occurring on the surface of an alluvial fan or similar landform which originates at the apex and is characterized by high-velocity flows; active processes of erosion, sediment transport, and deposition; and unpredictable flowpaths. Alluvial fan flooding is depicted on a Flood Insurance Rate Map (FIRM) as Zone AO, with a flood depth and velocity” (FEMA, 2003). Alluvial fans are generally located at a topographic apex between a mountain front and the adjacent piedmont landform. Properly identifying alluvial fan landforms is a critical first step in understanding flood risk to downstream development.</p>

      <p>Active alluvial fan landforms are defined by location, composition, and flooding characteristics. They are located at a topographic break between a mountain front and the piedmont, they are composed of unconsolidated alluvium, and exhibit flooding characteristics described previously. Inactive alluvial fan landforms are geologically older and are no longer subject to active fan flooding processes. As they age, inactive alluvial fans develop their own internal, tributary drainage networks that exhibit riverine flooding characteristics.</p>

      <p>It is recommended that the alluvial fan landform GIS layer and supporting data be used by regulatory officials (federal, state, local, and tribal) when evaluating development and flooding hazards in their jurisdictions.</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="{{"https://drive.google.com/open?id=18J-3_GPHHGFo_TGosRuiPGWU0ktCq4AD"}}">Active Alluvial Fan Landform Inventory Report - Wasatch and Oquirrh Ranges</a>
    </ul>
    <p>There are no constraints or warranties with regard to the use of this dataset.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.alluvial_fans %}</p>
  </div>
  {% include packagedata.html name="AlluvialFans"
  info=page.AlluvialFans %}
</div>
