---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import developmentPhoto from '@images/solutions/development.svg';
import rocketPhoto from '@images/solutions/rocket.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'Emergency response',
  pageDescription:
    'Discover resources and solutions for emergency response, including 911 resources and temporary solutions.',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    { title: 'Resources for 911' },
    { title: 'Service area boundaries' },
    { title: 'Civic Location data' },
    { title: 'Additional resources and services' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={developmentPhoto}
      loading="eager"
      alt="a person with a prototype on an easel and the app partially built on a phone"
      class="w-full max-w-[400px] rounded-2xl"
    />
    <p>
      Every second counts in an emergency. Accurate and precise GIS data is the backbone for a swift and effective 911
      response. That is where the Utah Geospatial Resource Center (UGRC) comes in.
    </p>
    <p>
      UGRC empowers Public Safety Answering Points (PSAPs) by providing access to a comprehensive suite of accurate and
      up-to-date geospatial data. This includes vital infrastructure layers such as service area boundaries and civic
      location data. With this data, PSAPs can pinpoint caller location, ensuring emergency responders are dispatched to
      the appropriate scene.
    </p>
    <p>
      UGRC goes beyond data provision, offering technical assistance and fostering collaboration between PSAPs. By
      ensuring all players have access to the same high-quality GIS data, UGRC plays a critical role in streamlining
      emergency response and potentially saving lives.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <Image slot="image" src={rocketPhoto} alt="a rocket ship launching off a screen" class="w-full max-w-[400px]" />
    <p>lorem</p>
  </Section>
  <Section {...page.section[2]}>
    <p>lorem</p>
  </Section>
  <Section {...page.section[3]}>
    <p>lorem</p>
  </Section>
</Layout>
