---
import BulletedList from '@components/page/BulletedList.astro';
import DataCategory from '@components/page/DataCategory.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import Section from '@components/page/Section.astro';
import Layout from '@layouts/FullWidth.astro';
---

<Layout title="SGID data categories">
  <Section title="SGID data categories">
    <div class="grid grid-cols-3 gap-4 lg:grid-cols-5 lg:gap-16">
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/911">
        <DataCategory element="9" name="11" label="911" key="emergency" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/address">
        <DataCategory element="Ad" name="Address" key="address" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/aerial-photography">
        <DataCategory element="Ae" name="Aerial imagery" key="aerial" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/bioscience">
        <DataCategory element="Bi" name="Bioscience" key="bioscience" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/boundaries">
        <DataCategory element="Bo" name="Boundaries" key="boundaries" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/cadastre">
        <DataCategory element="Ca" name="Cadastre" key="cadastre" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/climate">
        <DataCategory element="Ci" name="Climate" label="Climate/Weather" key="climate" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/demographic">
        <DataCategory element="De" name="Demographics" key="demographic" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/economy">
        <DataCategory element="Ec" name="Economy" key="economy" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/elevation">
        <DataCategory element="El" name="Elevation" label="Elevation" key="elevation" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/energy">
        <DataCategory element="En" name="Energy" key="energy" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/environment">
        <DataCategory element="Ev" name="Environment" key="environment" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/farming">
        <DataCategory element="Fa" name="Farming" key="farming" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/geoscience">
        <DataCategory element="Ge" name="Geoscience" key="geoscience" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/health">
        <DataCategory element="He" name="Health" key="health" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/history">
        <DataCategory element="Hi" name="History" key="history" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/indices">
        <DataCategory element="In" name="Indices" key="indices" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/location">
        <DataCategory element="Lo" name="Location" key="location" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/planning">
        <DataCategory element="Pl" name="Planning" key="planning" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/political">
        <DataCategory element="Po" name="Political" key="political" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/recreation">
        <DataCategory element="Re" name="Recreation" key="recreation" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/society">
        <DataCategory element="So" name="Society" key="society" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/transportation">
        <DataCategory element="Tr" name="Transportation" key="transportation" />
      </a>
      <a
        class="inline-flex flex-col items-center justify-self-center p-2"
        href="/products/sgid/usgs-scanned-topographic-maps"
      >
        <DataCategory element="To" name="Topo Maps" label="USGS Topo maps" key="topo" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/utilities">
        <DataCategory element="Ut" name="Utilities" key="utilities" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/water">
        <DataCategory element="Wa" name="Water" key="water" />
      </a>
    </div>
  </Section>
  <Section title="Choosing a data source" stripe>
    <p>
      With so many ways to access SGID Data, how do you you know which one to use? We created a guide to help you
      understand the best ways to access the data based on your use case.
    </p>
    <h4>Browsing for data</h4>
    <BulletedList>
      <li>Use the <a href="/products/sgid/sgid-index">SGID Index</a>.</li>
      <li>Search the <ExternalLink href="https://opendata.gis.utah.gov">SGID Open Data site</ExternalLink>.</li>
      <li>
        Browse the Utah SGID groups in our <ExternalLink href="https://utah.maps.arcgis.com/home/groups.html"
          >ArcGIS Online organization</ExternalLink
        >.
      </li>
    </BulletedList>
    <h4>Desktop mapping (ArcGIS, QGIS, etc)</h4>
    <BulletedList>
      <li>
        Connect directly to the <a href="/documentation/sgid/open-sgid">Open SGID</a> to load UGRC-curated vector data.
      </li>
      <li>
        Consume feature services from <ExternalLink href="https://utah.maps.arcgis.com/home/groups.html"
          >ArcGIS Online</ExternalLink
        > or <ExternalLink href="https://opendata.gis.utah.gov">Open Data</ExternalLink>.
      </li>
      <li>
        Download shapefiles or geodatabases from <ExternalLink href="https://opendata.gis.utah.gov"
          >Open Data</ExternalLink
        > or from the steward's website.
      </li>
      <li>
        Add a raster base map or imagery from <a href="/products/discover">Discover</a>.
      </li>
      <li>
        Download raster data from the <ExternalLink href="https://raster.utah.gov"
          >Raster Discovery web app</ExternalLink
        >.
      </li>
    </BulletedList>
    <h4>ArcGIS Online webmaps and storymaps</h4>
    <BulletedList>
      <li>
        Consume feature services from <ExternalLink href="https://utah.maps.arcgis.com/home/groups.html"
          >ArcGIS Online</ExternalLink
        > or <ExternalLink href="https://opendata.gis.utah.gov">Open Data</ExternalLink>.
      </li>
      <li>
        Add a raster base map or imagery from <a href="/products/discover">Discover</a>.
      </li>
    </BulletedList>
    <h4>Custom web app development</h4>
    <BulletedList>
      <li>
        Consume feature services from <ExternalLink href="https://utah.maps.arcgis.com/home/groups.html"
          >ArcGIS Online</ExternalLink
        > or <ExternalLink href="https://opendata.gis.utah.gov">Open Data</ExternalLink>.
      </li>
      <li>
        Zoom to an address and search for a boundary or nearby feature with the <ExternalLink
          href="https://developer.mapserv.utah.gov/StartupGuide">UGRC Web API</ExternalLink
        >.
      </li>
      <li>
        Add a raster base map or imagery from <a href="/products/discover">Discover</a>.
      </li>
    </BulletedList>
    <h4>Geocoding Addresses</h4>
    <BulletedList>
      <li>
        Geocode individual addresses with the <ExternalLink href="https://developer.mapserv.utah.gov/StartupGuide"
          >UGRC Web API</ExternalLink
        >.
      </li>
      <li>
        Download our <a href="/blog/2021-11-29-introducing-the-official-ugrc-api-client">API Client</a> to geocode a table
        of addresses with the UGRC Web API.
      </li>
      <li>
        Use our <ExternalLink href="https://github.com/agrc/masquerade?tab=readme-ov-file#masquerade"
          >Masquerade service
        </ExternalLink> to geocode within Esri products..
      </li>
    </BulletedList>
  </Section>
</Layout>
