---
import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import Layout from '@layouts/FullWidth.astro';

import DataCategory from '@components/page/DataCategory.astro';
import Section from '@components/page/Section.astro';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  pageTitle: 'SGID data categories',
  pageDescription:
    'The SGID Index is a comprehensive list of data available from the SGID. The index is organized by data category and includes a description of each dataset and the organization that maintains the data.',
  pillar: Pillar.PRODUCTS,
  section: stripeSections([
    { title: 'SGID Index', actionText: 'Find data', actionUrl: '/products/sgid/sgid-index' },
    { title: 'SGID data categories' },
  ]),
};
---

<Layout {...page}>
  <Section {...page.section[0]}>
    <p>
      The SGID Index is a comprehensive list of data available from the SGID. The index is organized by data category
      and includes a description of each dataset and the organization that maintains the data. The index is updated
      regularly as new data becomes available. The SGID Index is a valuable resource for anyone looking for GIS data in
      Utah.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <div class="grid grid-cols-3 gap-4 lg:grid-cols-5 lg:gap-16">
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/address">
        <DataCategory element="Ad" name="Address" key="address" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/aerial-photography">
        <DataCategory element="Ae" name="Aerial imagery" key="aerial" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/base-maps">
        <DataCategory element="Ba" name="Base maps" label="Base maps" key="basemaps" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/bioscience">
        <DataCategory element="Bi" name="Bioscience" key="bioscience" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/boundaries">
        <DataCategory element="Bo" name="Boundaries" key="boundaries" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/cadastre">
        <DataCategory element="Ca" name="Cadastre" key="cadastre" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/climate">
        <DataCategory element="Ci" name="Climate" label="Climate/Weather" key="climate" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/demographic">
        <DataCategory element="De" name="Demographics" key="demographic" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/economy">
        <DataCategory element="Ec" name="Economy" key="economy" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/elevation">
        <DataCategory element="El" name="Elevation" label="Elevation" key="elevation" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/energy">
        <DataCategory element="En" name="Energy" key="energy" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/environment">
        <DataCategory element="Ev" name="Environment" key="environment" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/farming">
        <DataCategory element="Fa" name="Farming" key="farming" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/geoscience">
        <DataCategory element="Ge" name="Geoscience" key="geoscience" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/health">
        <DataCategory element="He" name="Health" key="health" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/history">
        <DataCategory element="Hi" name="History" key="history" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/indices">
        <DataCategory element="In" name="Indices" key="indices" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/location">
        <DataCategory element="Lo" name="Location" key="location" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/planning">
        <DataCategory element="Pl" name="Planning" key="planning" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/political">
        <DataCategory element="Po" name="Political" key="political" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/recreation">
        <DataCategory element="Re" name="Recreation" key="recreation" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/society">
        <DataCategory element="So" name="Society" key="society" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/transportation">
        <DataCategory element="Tr" name="Transportation" key="transportation" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/topo">
        <DataCategory element="To" name="Topo Maps" label="Topographic maps" key="topo" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/utilities">
        <DataCategory element="Ut" name="Utilities" key="utilities" />
      </a>
      <a class="inline-flex flex-col items-center justify-self-center p-2" href="/products/sgid/water">
        <DataCategory element="Wa" name="Water" key="water" />
      </a>
    </div>
  </Section>
</Layout>
