---
import Layout from '@layouts/FullWidth.astro';

import Section from '@components/page/Section.astro';
import SgidIndexSearch from '@components/react/SgidIndexSearch';

import { getStewardshipRecords } from '@utils/sgid.ts';

const records = await getStewardshipRecords();
---

<Layout title={`SGID index`}>
  <Section>
    <SgidIndexSearch records={records} astroSite={Astro.site} client:idle />
  </Section>
</Layout>
