---
import type { CollectionEntry } from 'astro:content';
import Layout from '../layouts/Prose.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, date: pubDate, updated } = Astro.props;
---

<Layout title={title}>
  <article>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={pubDate} style="long" />
          {
            updated && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updated} style="long" />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />
    </div>
  </article>
</Layout>
