---
import Layout from '@layouts/FullWidth.astro';
import type { IStandardPageMetadata } from '@models/types';
import GridForBlogs from '../components/page/GridForBlogs.astro';

interface Props extends Omit<IStandardPageMetadata, 'section'> {
  category: string;
}

const { category, pageTitle, pageDescription } = Astro.props;
const hasPagination = await Astro.slots.render('pagination');
const hasCategories = await Astro.slots.render('categories');
---

<Layout bannerHeading="From the blog" pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="mt-3 text-center dark:text-white">
    <h3>{pageTitle}</h3>
  </div>

  <div class="text-center">
    <p class="text-xs uppercase text-zinc-600 dark:text-white">
      Currently displaying: <span class="font-bold">{category}</span>
    </p>
  </div>

  <div class="mt-4 flex flex-wrap justify-center space-x-6">
    <slot name="categories" />
  </div>

  {!(hasPagination && hasCategories) && <div class="pt-10" />}
  <slot name="pagination" />

  <GridForBlogs>
    <slot />
  </GridForBlogs>

  <slot name="pagination" />
  {!hasPagination && <div class="pb-14" />}
</Layout>
