---
import type { Props as ChromeProps } from './Chrome.astro';

import Layout from './Chrome.astro';

interface Props extends ChromeProps {}
const props = Astro.props;
---

<Layout {...props}>
  <main id="main" class="dark:bg-primary-950 w-full self-center text-zinc-700">
    <section class="flex flex-1 flex-col">
      <slot name="crumbs" />
      <div class="px-6">
        <slot name="quick-links" />
      </div>
      <slot />
    </section>
  </main>
</Layout>
