---
import type { IStandardPageMetadata } from '@models/products/sgid/types';

import Layout from './Chrome.astro';

const props = Astro.props as IStandardPageMetadata;
---

<Layout {...props}>
  <main id="main" class="w-full self-center text-zinc-700 dark:bg-primary">
    <section class="flex flex-1 flex-col">
      <slot name="crumbs" />
      <slot name="quick-links" />
      <slot />
    </section>
  </main>
</Layout>
