---
import type { Props as ChromeProps } from './Chrome.astro';

import Layout from './Chrome.astro';

interface Props extends ChromeProps {}
const props = Astro.props;
---

<Layout {...props}>
  <main id="main" class="w-full self-center text-zinc-700 dark:bg-primary">
    <section class="flex flex-1 flex-col">
      <slot name="crumbs" />
      <slot name="quick-links" />
      <slot />
    </section>
  </main>
</Layout>
