---
author:
  display_name: M Heagin
  email: mheagin@utah.gov
tags:
  - boundaries
  - school districts
  - schools
date: 2011-11-18 11:59:47 -0700
categories: []
SchoolDistricts:
  hub:
    name: Utah School District Boundaries
    item_id: 3e69ecf5c46a492aa9974f6fa03d1378
  updates:
    - March, 2017
    - September 2017
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{% link images/SchoolDistricts_2015Web.png %}" alt="School District Boundaries" loading="lazy" />
  <figcaption class="caption__text">School District Boundaries</figcaption>
</figure>
{% include abstract.html
name="School Districts"
stewards="AGRC"
webapp="https://www.arcgis.com/home/webmap/viewer.html?webmap=f776908620be4604bfa5f96f5df5ebcb"
abstract="School Districts represents external school district boundaries in Utah." %}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="SchoolDistricts">School District Boundaries</h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <p>School Districts in Utah.</p>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.agrc %}</p>
  </div>
  {% include packagedata.html name="SchoolDistricts"
  info=page.SchoolDistricts %}
</div>
