---
import Layout from '@layouts/FullWidth.astro';

import { Pillar, type IStandardPageMetadata } from '@models/products/sgid/types';

import BreadCrumbs from '@components/page/BreadCrumbs.astro';
import BulletedList from '@components/page/BulletedList.astro';
import ExternalLink from '@components/page/ExternalLink.astro';
import QuickLinks from '@components/page/QuickLinks.astro';
import Section from '@components/page/Section.astro';

import { Image } from 'astro:assets';

import developmentPhoto from '@images/solutions/development.svg';

import { stripeSections } from '@utils/page';

const page: IStandardPageMetadata = {
  title: 'Application portfolio highlights',
  pillar: Pillar.SOLUTIONS,
  section: stripeSections([
    {},
    {
      title: 'Roadkill reporter',
      actionUrl: 'https://s.utah.gov/roadkill',
    },
    { title: 'PLSS monument records', actionText: 'Visit the application', actionUrl: 'https://plss.utah.gov' },
    { title: 'Atlas', actionText: 'Visit the application', actionUrl: 'https://atlas.utah.gov' },
    {
      title: 'Watershed restoration initiative',
      actionText: 'Visit the application',
      actionUrl: 'https://wri.utah.gov',
    },
    {
      title: 'Environmental interactive map',
      actionText: 'Visit the application',
      actionUrl: 'https://enviro.deq.utah.gov',
    },
    { title: 'State parcel map', actionUrl: 'https://parcels.utah.gov' },
  ]),
};
---

<Layout {...page}>
  <BreadCrumbs path={Astro.url.pathname} slot="crumbs" />
  <QuickLinks links={page.section} slot="quick-links" />
  <Section {...page.section[0]}>
    <Image
      slot="image"
      src={developmentPhoto}
      loading="eager"
      alt="a person with a prototype on an easel and the app partially built on a phone"
      class="w-full max-w-[400px] rounded-2xl"
    />

    <p>
      UGRC has been building successful and innovative web, mobile, and desktop solutions for a long time. We have a
      history and reputation for delivering high-quality, user-friendly, and reliable applications. We have a team of
      experienced developers who are passionate about creating solutions that solve real-world problems. Here are some
      examples of applications that range from simple to complex and display our ability to work with modern web
      development, target mobile devices, and take advantage of AI with computer vision.
    </p>
  </Section>
  <Section {...page.section[1]}>
    <p>
      The Roadkill Reporter native mobile app allows people to easily report dead animals on or near roads, so those
      animals can be removed more quickly from highways and freeways by <ExternalLink href="https://wildlife.utah.gov"
        >DWR</ExternalLink
      > and
      <ExternalLink href="https://udot.utah.gov">UDOT</ExternalLink> employees who have access to the data.
    </p>
    <h3>Technology</h3>
    <p>
      This Android and iOS application was built using <ExternalLink href="https://reactnative.dev/"
        >React Native</ExternalLink
      > and <ExternalLink href="https://expo.dev/">Expo</ExternalLink>.
    </p>
    <h3>More resources</h3>
    <BulletedList>
      <li>
        <ExternalLink href="https://github.com/agrc/roadkill-mobile">GitHub repository</ExternalLink>
      </li>
    </BulletedList>
  </Section>
  <Section {...page.section[2]}>
    <p>
      Section corners in the Public Land Survey System (PLSS) form the foundation for all descriptions of private
      property and public land boundaries in Utah. All legal property descriptions start from PLSS section corner
      markers, also known as monuments. If you've ever seen a legal description of a parcel, a subdivision development,
      or even a service district or municipality, you may have noticed that the description and map always starts with a
      reference to a PLSS section corner. Keeping the correct, precise location of these corners accessible greatly
      reduces boundary discrepancies and disputes.
    </p>

    <p>
      This web application allows surveyors to create an account to submit monument record sheets electronically. A
      standard form was created to unify the information collected. The application then notifies the county of the
      submission and the data is reviewed and subsequently incorporated into the PLSS data.
    </p>
    <h3>Data Origination</h3>
    <p>
      Licensed land surveyors perform the section corner location and monumentation, typically by setting a brass cap.
      The surveyor also completes a formal monument record sheet (a.k.a. a 'tie sheet') that is submitted to the
      appropriate county and state entities that preserve the record. Field notes from the survey may also be part of
      the required record.
    </p>
    <h3>Challenges</h3>
    <p>
      Each year hundreds of section corners that are used to determine property locations are in danger of being
      destroyed from land disturbances like new road projects, property development, and even conservation projects that
      rehabilitate vegetation after wild land and forest fires.
    </p>

    <p>
      Urban development is expanding into many areas in Utah that have not been surveyed since the early 1900's.
      Historically, it has been difficult to quickly identify and protect the section corners that may be impacted,
      while not slowing down the desired pace of development.
    </p>
    <h3>Technology</h3>
    <p>
      This web application was written using React and <ExternalLink href="https://github.com/agrc/kitchen-sink"
        >UGRC Components</ExternalLink
      >. The mapping uses the ArcGIS Maps SDK for JavaScript with <a href="/products/discover/">Discover base maps</a>.
      The <ExternalLink href="https://api.mapserv.utah.gov">UGRC API</ExternalLink> is used to auto populate information
      based on location. It is deployed using GitHub Actions to the Google cloud and firebase.
    </p>
    <h3>More resources</h3>
    <BulletedList>
      <li>
        <ExternalLink href="https://github.com/agrc/plss">GitHub repository</ExternalLink>
      </li>
      <li>
        <a href="/products/sgid/cadastre/plss-points">Download the data</a>
      </li>
    </BulletedList>
  </Section>
  <Section {...page.section[3]}>
    <p>
      UGRC offers many online services to facilitate the use of GIS and Atlas is a combination of most of those
      services. Atlas contains the complete and most current <a href="/products/discover">Discover base maps</a>. Atlas
      also uses most of the <ExternalLink href="https://github.com/agrc/kitchen-sink">UGRC Components</ExternalLink>.
      Clicking anywhere on the map makes http requests to the <a href="/products/api">UGRC Web API</a> to reverse geocode,
      search for the city, county, land ownership, elevation, and US National Grid of the point clicked; and display the
      results in the left panel. For UGRC developers, Atlas is a code base to keep improving its usage of React and the ArcGIS
      Maps SDK for JavaScript.
      <ExternalLink href="https://github.com/agrc/atlas">Atlas</ExternalLink> is a GitHub template that you can use to create
      your own website.
    </p>
  </Section>
  <Section {...page.section[4]}>
    <p>
      WRI is a partnership among state and federal government agencies, private and public landowners, and non-profit
      organizations with the purpose of actively restoring and rehabilitating Utah's diverse landscape and waters to
      promote healthy and resilient ecosystem function and biodiversity. Project origination and implementation occur at
      a local level, where there is the most direct knowledge of both the challenges facing an area of need, and the
      solutions to correct them. Five regional teams elect their own leaders; develop proposals across administrative
      boundaries; review, score and rank project proposals using a comprehensive prioritization score sheet; and assist
      their members with project implementation and management.
    </p>
    <p>
      To facilitate this cooperative effort, a web application was developed to track the lifecycle of projects,
      summarize program metrics, and enable participation from team members throughout the state. UGRC's development
      team was a natural fit for the application due to the spatial nature of WRI project data.
    </p>
    <h3>Project Highlights</h3>
    <p>
      The WRI application was the first project to match UGRC and Utah Division of Technology Services (DTS) software
      engineers. UGRC built and integrated map functionality into DTS's Java, forms-over-data application by
      incorporating browser-based, desktop GIS style spatial data editing and analysis with complex business and
      topology rules. The partnership among the Division of Wildlife Resources, DTS, and UGRC to build and deploy the
      application proved to be successful, and award-winning.
    </p>
    <h3>Technology</h3>
    <p>
      This web application was written using Dojo. The mapping uses the ArcGIS Maps SDK for JavaScript with <a
        href="/products/discover/">Discover base maps</a
      >.
    </p>
  </Section>
  <Section {...page.section[5]}>
    <p>
      One of the critical missions of the <ExternalLink href="https://deq.utah.gov/"
        >Utah Department of Environmental Quality (DEQ)</ExternalLink
      > is to provide access to government records as conveniently as possible. The DEQ Interactive Map allows users to search
      for and download data regarding sites regulated by DEQ. This application is used by a wide audience of citizens and
      professionals and has proven to be of much value to DEQ to handle environmental information requests of basic to intermediate
      complexity.
    </p>
    <p>
      The overall concept of the DEQ Interactive Map is to organize the data geographically and to integrate the data
      across divisions and programs. The interface was designed to allow searches by address, city, site name, DEQ
      program ID number or by zooming in on a map location of interest. The results are displayed on the map and allow
      access to site specific details. The search results return feature information for programs of DEQ and each of its
      divisions.
    </p>
    <h3>Data Challenges</h3>
    <p>
      The main challenge for this project has been trying to gather and standardize the wide variety of data sources so
      that they can be presented in a consistent manner within the application.
    </p>
    <h3>Technology</h3>
    <p>
      This web application was written using React. The mapping uses the ArcGIS Maps SDK for JavaScript with <a
        href="/products/discover/">Discover base maps</a
      >. It is deployed using GitHub Actions to the Google cloud and firebase.
    </p>
    <h3>More resources</h3>
    <BulletedList>
      <li>
        <ExternalLink href="https://github.com/agrc/deq-enviro">GitHub repository</ExternalLink>
      </li>
      <li>
        <a href="/products/sgid/environment/">Download the data</a>
      </li>
    </BulletedList>
  </Section>
  <Section {...page.section[6]}>
    <p>
      The parcel GIS data that UGRC standardizes are the most popular vector downloads on this website. The parcel
      viewer makes this data accessible to anyone with a web browser. In turn, it is one of the most popular web
      applications that UGRC offers. Not every county has their own parcel viewing application, so this application
      fills in the gaps. When a county does have their own web application, the parcel viewer displays a link to it.
    </p>
    <h3>Data Origination</h3>
    <p>
      The Recorders Office at the county level creates and maintains parcel data. The counties share the parcel data
      with UGRC on a schedule. UGRC standardizes the data into a common schema across all 29 counties.
    </p>
    <h3>Challenges</h3>
    <p>
      Utah contains 29 counties that uniquely handle parcel data. In order to create a statewide data set UGRC <acronym
        title="Extract, transfer, load">ETL</acronym
      >'s the county data into a common schema with common fields.
    </p>
    <h3>Technology</h3>
    <p>
      This web application was written using React and <ExternalLink href="https://github.com/agrc/kitchen-sink"
        >UGRC Components</ExternalLink
      >. The mapping uses the ArcGIS Maps SDK for JavaScript with <a href="/products/discover/">Discover base maps</a>.
      It is deployed using GitHub Actions to the Google cloud and firebase.
    </p>
    <h3>More resources</h3>
    <BulletedList>
      <li>
        <ExternalLink href="https://github.com/agrc/parcels">GitHub repository</ExternalLink>
      </li>
      <li>
        <a href="/products/sgid/cadastre/parcels">Download the data</a>
      </li>
    </BulletedList>
  </Section>
</Layout>
