---
tags:
  - political
  - polling location
  - precinct
  - vote
author:
  display_name: JP
  email: agrc@utah.gov
date: 2011-11-18 11:11:58 -0700
title: Voting Precincts
categories: []
VotingPrecincts:
  downloads:
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7mdGdWV0NxYWtRejA&export=download
      label: 'Voting Precincts: File Geodatabase'
    - url: https://drive.google.com/a/utah.gov/uc?id=0ByStJjVZ7c7meTJMRGZkYnRoOFE&export=download
      label: 'Voting Precincts: Shapefile'
    - url: https://drive.google.com/drive/folders/0ByStJjVZ7c7mdzJtVk1sdGhWNjA
      label: Archive dataset of 2011 Voting Precincts <strong>(no longer in use)</strong>
  updates:
    - January 12,2017<br>Check attribute <code>RECEIVEDDATE</code> to identify latest
      updates to specific precinct features.
---
<figure class="caption caption--right">
  <img class="caption__image" title="map" src="{{ '/images/gallery/sgid/voterprecincts.png' | prepend: site.baseurl }}" alt="JudicialDistricts" />
  <figcaption class="caption__text">Voting Precincts</figcaption>
</figure>
{% include abstract.html
  name="Voting Precincts"
  download="https://drive.google.com/drive/folders/0ByStJjVZ7c7mX2FlbjZvXzNtYkU"
  abstract="Voting precincts determine a voter's ballot composition and polling location. Voting precinct boundaries take their shape from the boundaries of all political districts, including U.S Congress, State Senate, State House, School Board District, local council districts, special districts etc. However voter precincts must be drawn so that they contain less than maximum number of voters as specified by state law. Voting precincts are a critical part of the VISTA application, which is the statewide framework, overseen by the Lt. Governor's Office, for managing voters and elections."
%}
<div class="grid package">
  <div class="grid__col grid__col--12-of-12">
    <h3 id="VotingPrecincts">
      <a href="#VotingPrecincts" class="anchor--link">Voting Precincts</a>
    </h3>
  </div>
  <div class="grid__col grid__col--12-of-12 package-content">
    <img class="inline-text-left outline" src="{{ '/images/VoterPrecinctsSmall.png' | prepend: site.baseurl }}" alt="VotingPrecinctsSmall" />
    <p>Political.VistaBallotAreas are voting precincts for all 29 counties in Utah. Precincts boundaries are submitted by County Clerk offices. Where precincts are split into formal subprecincts, only the subprecincts are included in this dataset. A 'Dissolve' operation on the PRECINCTID field will produce precinct polygons without subprecinct lines.</p>
    <dl>
      <dt>VISTAID</dt>
      <dd>A 11 character field that contains the precinct ID and optional subprecinct ID (separated by a colon).</dd>
      <dt>PRECINCTID</dt>
      <dd>The precinct component of VISTAID.</dd>
      <dt>SUBPRECINCTID</dt>
      <dd>The subprecinct component, where applicable, of VISTAID.</dd>
      <dt>VERSIONNBR</dt>
      <dd>An optional version reference name assigned by the county.</dd>
      <dt>EFFECTIVEDATE</dt>
      <dd>The date the precinct boundary took effect. A date of 1/1/2011 is the default effective date.</dd>
      <dt>RECEIVEDDATE</dt>
      <dd>Indicate the date the precinct boundary was sent from the county to the AGRC.</dd>
    </dl>
    <p>{% include contact.html subject=page.title contact=site.data.contacts.voting %}</p>
    <h5>Related Resources</h5>
    <ul class="dotless">
      <li><a href="https://elections.utah.gov/">Lieutenent Governor's Office: Elections</a></li>
    </ul>
  </div>
  {% include packagedata.html
    name="VotingPrecincts"
    info=page.VotingPrecincts
    %}
</div>
